<template>
  <div class="container">
    <div class="overview_table_div">
      <v-simple-table
        class="table"
        fixed-header
        height="500px"
        v-model="resources"
      >
        <template v-slot:default>
          <thead>
            <tr>
              <th class="text-left">Menu</th>
              <th>View</th>
              <th>Create</th>
              <th>Edit</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(item, index) in allowedResources" :key="index">
              <td>{{ item.name }}</td>
              <td>
                <v-checkbox
                  v-if="item.view"
                  v-model="item.actions"
                  :value="item.view"
                />
              </td>
              <td>
                <v-checkbox
                  v-if="item.create"
                  v-model="item.actions"
                  :value="item.create"
                />
              </td>
              <td>
                <v-checkbox
                  v-if="item.edit"
                  v-model="item.actions"
                  :value="item.edit"
                />
              </td>
              <td>
                <v-checkbox
                  v-if="item.remove"
                  v-model="item.actions"
                  :value="item.remove"
                />
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
    </div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  middleware: "user-authenticated",
  data() {
    return {
      selected: null,
      isSending: false,
      resources: [],
    };
  },
  computed: {
    ...mapGetters("permission", ["permissions", "allowedResources"]),
  },
  created() {
    this.setTitle("การจัดการบทบาท");
  },
  async mounted() {
    this.resources = [...this.allowedResources]
    await this.getPermissions();
    this.selected = this.permissions[0].permissionId;
    this.setButton({
      type: "back",
      target: { name: "setup-role" },
    });
  },
  methods: {
    ...mapActions(["logout", "setTitle", "setButton"]),

    ...mapActions("permission", {
      getPermissions: "get",
    }),
    ...mapActions(["setTitle"]),
    submit() {},
  },
  watch: {
    selected() {
      const permission = this.permissions.find(
        ({ permissionId }) => permissionId === this.selected
      );
      this.resources.forEach((resource) => {
        resource.actions = permission.actions
          .filter(({ code }) =>
            [
              resource.view,
              resource.create,
              resource.edit,
              resource.remove,
            ].includes(code)
          )
          .map(({ code }) => code);
      });
    },
  },
};
</script>
