<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า-บทบาท</v-toolbar-title>
          <v-card>
            <v-card-title class="text-h4"
              >ต้องการลบทิ้งใช่หรือไม่</v-card-title
            >
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete"
                >Cancel</v-btn
              >
              <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                >OK</v-btn
              >
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-btn color="#e79918" :to="{ name: 'setup-role-id', params: { id: item.id } }"
        ><v-icon small class="mr-2">
          mdi-pencil</v-icon
        ></v-btn
      >
      <v-btn color="#e79918"
        ><v-icon small class="mr-2" @click="deleteItem(item)">
          mdi-delete
        </v-icon></v-btn
      >
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: "user-authenticated",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "บทบาท",
        align: "start",
        align: "center",
        sortable: false,
        value: "nameperminssions",
      },
      // { text: "", value: "" },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      nameCompany: "",
      status: 0,
    },
    defaultItem: {
      nameCompany: "",
      status: 0,
    },
  }),
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "แก้ไขข้อมูล";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions(["dateFormat", "logout", "setTitle", "setButton"]),

    initialize() {
      this.desserts = [
        {
          nameperminssions: "SupperAdmin",
          status: 0,
        },
        {
          nameperminssions: "Admin Company",
          status: 1,
        },
        {
          nameperminssions: "User",
          status: 2,
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
<style>
.elevation-1 {
  margin: 50px 6px 50px;
  width: 1500px;
}
</style>
