<template>
  <div class="col-12">
    <!-- <v-container class="bg-surface-variant"> -->
      <v-row justify="end">
        <v-col >
          <v-select
            style="max-width: 30%;"
            dense
            outlined
            hide-details
            :value="itemsPerPage"
            @change="itemsPerPage = parseInt($event, 10)"
            :items="perPageChoices"
          >
          </v-select>
        </v-col>
        <v-col >
          <v-pagination v-model="page" :length="max_page" :total-visible="6"> </v-pagination>
        </v-col>
      </v-row>
    <!-- </v-container> -->
  </div>
</template>
<style>
  .v-pagination {
    justify-content: right !important;
  }
</style>
<script>
export default {
  props: {
    itemsPerPage_in: {
      type: Number,
      required: true
    },
    perPageChoices_in: {
      type: Array,
      required: true
    },
    page_in: {
      type: Number,
      required: true
    },
    max_page_in: {
      type: Number,
      required: true
    }
  },
  data: () => ({
    itemsPerPage: 0,
    perPageChoices: [],
    page: 0,
    max_page: 0
  }),
  methods: {},
  mounted() {
    this.itemsPerPage = this.itemsPerPage_in;
    this.perPageChoices = this.perPageChoices_in;
    this.page = this.page_in;
    this.max_page = this.max_page_in;
  },
  watch: {
    page(data) {
      this.$emit('page', data)
    },
    itemsPerPage(data) {
      this.$emit('itemsPerPage', data)
    }
  }
};
</script>
