<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - สัญญา</v-toolbar-title>
    </v-toolbar>
    <FormSetupContract @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  middleware: "user-authenticated",
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-contract" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("contract", ["create"]),
    async onSubmit(form) {
      try {
        await this.create(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสัญญาสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-contract" });
      } catch (e) {}
    },
  },
};
</script>
