<template>
  <span class="teal lighten-4 px-2 py-1 rounded text-caption teal--text text--draken-5" v-if="item.order.statusId == 2">
    {{ item.order | orderStatus }}
  </span>
  <span class="amber lighten-4 px-2 py-1 rounded text-caption amber--text text--darken-3" v-else-if="item.order.isApproved == 0">
    {{ item.order | orderStatus }}
  </span>
  <span class="grey lighten-4 px-2 py-1 rounded text-caption grey--text text--darken-1" v-else-if="item.order.isApproved == 2">
    {{ item.order | orderStatus }}
  </span>
  <span class="grey lighten-4 px-2 py-1 rounded text-caption grey--text text--darken-1" v-else-if="item.order.isApproved == 3">
    {{ item.order | orderStatus }}
  </span>
  <span class="blue lighten-4 px-2 py-1 rounded text-caption blue--text text--darken-3" v-else-if="!item.order.isArrangeOrder">
    {{ item.order | orderStatus }}
  </span>
  <span class="green lighten-1 px-2 py-1 rounded text-caption white--text" v-else>
    {{ item.order | orderStatus }}
  </span>
</template>
<script>
export default {
  props:{
    item: [],
    orderStatus:null,
  }
}
</script>
