<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" md="10">
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - สาขา</v-toolbar-title>
        </v-toolbar>
      </v-col>
    </v-row>
    <FormSetupBranch v-if="branch" :data="branch" @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  computed: {
    ...mapGetters("branch", ["branch"]),
  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-branch" },
    });

    this.find(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("branch", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({
          id: this.branch.branchId,
          ...form,
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสาขาสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-branch" });
      } catch (e) {}
    },
  },
};
</script>
