<template>
  <v-data-table :headers="headers" :items="branches" :mobile-breakpoint="0">
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สาขา</v-toolbar-title>
        <v-spacer />
        <v-btn color="warning" class="orange lighten-5"  outlined :to="{ name: 'setup-branch-create' }">
          <v-icon>add</v-icon> สร้าง
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="warning"
        outlined
        class="orange lighten-5 mr-2"
        :to="{ name: 'setup-branch-id', params: { id: item.branchId } }"
      >
        <v-icon left>edit</v-icon>
        แก้ไข
      </v-btn>
      <v-btn color="error" outlined @click="onRemove(item)"><v-icon>delete</v-icon> ลบ </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: "user-authenticated",
  data: () => ({
    dataBranch: [],
    search: "",
    headers: [
      {
        text: "ชื่อ",
        value: "name",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("branch", ["branches"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
    localStorage.companyId = this.$auth.user.companyId;
    this.get();
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("branch", ["get", "remove"]),
    async onRemove(branch) {
      if (confirm(`คุณต้องการที่จะลบสาขา ${branch.name} ใช่ไหม`)) {
        try {
          this.remove(branch.branchId);
          this.$toast.global.success({
            message: "ทำการลบข้อมูล สาขา สำเร็จเรียบร้อย",
          });

          this.get();
        } catch (e) {}
      }
    },
  },
};
</script>

<style scope>
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (max-device-width: 2000px) {
  td {
    text-align: LEFT;
  }
  .row.d-flex.flex-row-reverse {
    padding-right: 14px;
    padding-top: 12px;
  }
}
</style>
