<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col><h1>รายงานการซ่อมบำรุง</h1></v-col>
          <v-col cols="12" md="4" class="ml-auto">
            <v-autocomplete
              v-if="cars"
              v-model="autocompleteCar"
              :items=cars
              item-text="plateNumber"
              item-value="carId"
              label="ทะเบียน"
              dense
              outlined
              class="ma-2"
              @change="filterCar"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-data-table
        v-if="maintenances"
        :headers="headers"
        :items="maintenances"
        item-key="carId"

      >
        <template #item.plateNumber="{item}">
          {{item.plateNumber}}
        </template>
        <template #item.brand="{item}">
          {{item.brand }}
        </template>
        <template #item.model="{item}">
          {{item.model }}
        </template>
        <template #item.actions="{item}">
            <!-- <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  outlined
                  class="mr-2 "
                  color="blue"
                  v-bind="attrs"
                  v-on="on"
                  :to="{
                    name: 'reports-maintenance-id',
                    params: { id: item.carId },
                  }"
                >
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>รายละเอียด</span>
            </v-tooltip> -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  outlined
                  class="mr-2 orange lighten-4"
                  color="warning"
                  v-bind="attrs"
                  v-on="on"
                  @click.prevent="downloadExport(item.carId)"
                >
                  <v-icon>download</v-icon>
                </v-btn>
              </template>
              <span>ดาวน์โหลดรายงาน</span>
            </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    selectCar:false,
    autocompleteCar:false,
    headers:[
      {
        text: 'เลขที่คำขอ',
        align: "left",
        sortable: false,
        value: 'plateNumber'
      },
      {
        text: 'จังหวัด',
        align: "left",
        sortable: false,
        value: 'plateProvince'
      },

      {
        text: 'ยี่ห้อ',
        align: "left",
        sortable: false,
        value: 'brand'
      },
      {
        text: 'รุ่น',
        align: "left",
        sortable: false,
        value: 'model'
      },
      {
        text: 'Actions',
        align: "left",
        sortable: false,
        value: 'actions'
      }
    ]
  }),
  computed:{
    ...mapGetters("report",['maintenances']),
    ...mapGetters("car", ["cars"]),

  },
  methods:{
    ...mapActions("report",['getMaintenance']),
    ...mapActions("car",{
      getCar: "get"
    }),
    ...mapActions([
      "setButton",
    ]),
    filterCar(){
      this.getMaintenance({carId:this.selectCar})
    },
    downloadExport(carId,label){
      this.$axios.get(`export/maintenance/`+carId)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    }
  },
  mounted(){
    this.getMaintenance();
    this.getCar();
    this.setButton({
      type: "back",
      target: { name: "reports" },
    });
  }
}
</script>
