<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="onSubmit"
  >
    <v-row>
      <v-col cols="12" md="12" lg="10" class="mx-auto">
        <v-card class="mb-4">
          <v-card-title>
            ใบคำขอใช้รถยนต์
          </v-card-title>
          <v-card-text class="border-bottom">
            <v-row class="justify-content-center">
              <v-col cols="12">
                <v-radio-group
                  v-model="form.typeFormId"
                  :rules="registration"
                  row
                  required
                >
                  <v-radio
                    color="#E79918"
                    :value="1"
                  >
                    <template #label>จองแบบระบุทะเบียนรถ</template>
                  </v-radio>
                  <v-radio
                    color="#E79918"
                    :value="2"
                  >
                    <template #label>จองแบบไม่ระบุทะเบียน</template>
                  </v-radio>
                </v-radio-group>
              </v-col>
              <v-col
                cols="12"
                md="6"
                lg="6"
              >
                <template v-if="form.typeFormId === 1">
                  <v-autocomplete
                    v-model="form.carId"
                    :items="cars"
                    :rules="form.typeFormId === 1 ? carId : []"
                    :label="form.carId ? '* หมายเลขรถ' : '* กรุณาระบุหมายเลขรถ'"
                    :disabled="form.typeFormId === 1 ? false : true"
                    item-text="plateNumber"
                    item-value="carId"
                    color="#e79918"
                    outlined
                    dense
                    required
                  >
                    <template #selection="{ item }">
                      {{ item.plateNumber }}
                    </template>
                    <template #item="{ item }">
                      {{ item | carName }}
                    </template>
                  </v-autocomplete>
                </template>
                <v-autocomplete
                  v-else-if="form.typeFormId === 2"
                  v-model="form.typeId"
                  :items="types"
                  :rules="form.typeFormId === 2 ? typeId : []"
                  :label="
                    form.typeId ? '* ประเภทรถยนต์' : '* กรุณาระบุประเภทรถยนต์ที่ต้องการ'
                  "
                  :disabled="form.typeFormId === 2 ? false : true"
                  item-text="name"
                  item-value="typeId"
                  color="#e79918"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                lg="6"
              >
                <v-text-field
                  v-model="form.passengerNo"
                  :rules="numberTraveler"
                  type="text"
                  placeholder="* จำนวนผู้เดินทาง"
                  outlined
                  dense
                  required
                  @keypress="validateNumber"
                />
              </v-col>
              <v-col
                cols="6"
                lg="6"
                class="date-picker py-0"
              >
                <div class="border-picker">
                  <DatePickerDialog
                    v-model="form.dateStart"
                    :min="$dayjs().toISOString()"
                    label="* วันที่ขอใช้"
                    format="DD/MM/YYYY"
                    required
                    :input="setDateStart"
                  />
                </div>
              </v-col>
              <v-col cols="6" lg="6">
                <v-text-field
                  v-model="form.timeStart"

                  placeholder="* เริ่มเวลา"
                  :value="`${this.$dayjs(this.order.startTime).format('H:i')}`"
                  outlined
                  dense
                  required
                >
                  <template #append>
                    <div class="icon-picker">
                      <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                    </div>
                  </template>
                </v-text-field>
              </v-col>
              <v-col
                cols="6"
                lg="6"
                class="date-picker py-0"
              >
                <DatePickerDialog
                  v-model="form.endDate"
                  :min="
                    form.dateStart
                      ? $dayjs(form.dateStart).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="* ขอใช้ถึงวันที่"
                  format="DD/MM/YYYY"
                  required
                  :input="setEndDate"
                />
              </v-col>
              <v-col cols="6" lg="6">
                <v-text-field
                  v-model="form.endTime"
                  placeholder="* ถึงเวลา"
                  outlined
                  dense
                  required
                  :value="`${this.$dayjs(this.order.endTime).format('HH:mm')}`"
                >
                  <template #append>
                    <div class="icon-picker">
                      <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                    </div>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12" lg="12" >
                <v-text-field
                  v-for="(input, index) in order.locations"
                  :key="`place-${index}`"
                  v-model="input.location"
                  :rules="place"
                  placeholder="* สถานที่"
                  type="text"
                  outlined
                  dense
                  required
                >
                  <template #append>
                    <v-icon
                      v-if="form.places.length > 1"
                      color="#e79918"
                      @click.prevent="removeField(index, form.places)"
                    >
                      mdi-minus
                    </v-icon>
                    <v-icon
                      v-if="index === 0"
                      color="#e79918"
                      @click.prevent="addField"
                    >
                      mdi-plus
                    </v-icon>
                  </template>
                </v-text-field>
              </v-col>
              <v-col cols="12" lg="12">
                <v-text-field
                  v-model="form.note"
                  name="detail"
                  placeholder="หมายเหตุ (ไม่จำเป็นต้องกรอก)"
                  outlined
                  dense
                  required
                  auto-grow
                />
              </v-col>
              <v-col cols="12">
                <v-checkbox
                  v-model="form.typeRequestId"
                  :true-value="1"
                  :false-value="2"
                  label="ต้องการคนขับรถ"
                  color="#E79918"
                  class="m-0"
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card>
          <v-card-title>
            ผู้ใช้งานรถยนต์
          </v-card-title>
          <v-card-text class="border-bottom ">
            <v-row class="mt-2">
              <v-col
                cols="12"
                md="6"
                lg="4"
              >
                <v-text-field
                  v-model="form.travelerName"
                  :rules="traveler"
                  placeholder="* ชื่อ-นามสกุล ผู้เดินทาง (หลัก)"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                lg="4"
              >
                <v-text-field
                  v-model="form.tel"
                  :rules="numberPhone"
                  type="text"
                  placeholder="* เบอร์มือถือที่ใช้ติดต่อผู้เดินทาง"
                  outlined
                  dense
                  required
                  maxlength="10"
                  @keypress="validateNumber"
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                lg="4"
              >
                <v-text-field
                  v-model="form.telInternalNumber"
                  type="text"
                  placeholder="เบอร์ภายใน"
                  outlined
                  dense
                  required
                  @keypress="validateNumber"
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text class="text-center">
            <v-btn
              color="error"
              class="mx-2"
              outlined
              @click.prevent="reset"
            > ยกเลิก </v-btn>
            <v-btn
              :disabled="!valid"
              color="warning"
              class="orange lighten-5 mx-2"
              outlined
              type="submit"
              elevation="2"
              @click="validate"
            >
              <v-icon left>save</v-icon>
              บันทึกการข้อใช้รถยนต์
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default {
  middleware: [
    async ({ params, store, redirect }) => {
      const request = await store.dispatch("order/find", params.id);
    },
  ],
  filters: {
    carName(car) {
      const title = [car.brand?.name, car.model?.name]
        .filter((i) => i && i.length)
        .join(" ");

      return `${car.plateNumber} ${title}`;
    },
  },
  data: () => ({
    valid: true,
    traveler: [(v) => !!v || "กรุณากรอกชื่อผู้เดินทาง"],
    numberTraveler: [(v) => !!v || "กรุณากรอกจำนวนผู้เดินทาง"],
    numberPhone: [(v) => !!v || "กรุณากรอกเบอร์มือถือที่ใช้ติดต่อ"],
    useCar: [(v) => !!v || "กรุณาเลือกการขอใช้รถ"],
    registration: [(v) => !!v || "กรุณาเลือกรูปแบบการจองรถ"],
    carId: [(v) => !!v || "กรุณากรอกข้อมูลทะเบียนรถยนต์"],
    typeId: [(v) => !!v || "กรุณาระบุประเภทรถยนต์"],
    place: [(v) => !!v || "กรุณากรอกสถานที่"],
    icons: {
      mdiCalendarMonth,
      mdiAlarm,
    },
    user: {
      companyId: null,
      branchId: null,
      agencyId: null,
      userId: null,
    },
    form: {
      places: [
        {
          location: "",
        },
      ],
      order_types: 1,
      typeFormId: 1,
      carId: null,
      typeId: null,
      travelerName: null,
      passengerNo: null,
      timeStart: null,
      endTime: null,
      dateStart: null,
      endDate: null,
      typeRequestId: 2,
      tel: null,
      telInternalNumber: null,
      note: null,
    },
    colors: globals.COLORS,
    minDateStartDate: null,
    dateFormatString: "yyyy-MM-dd",
    disabledHours: [],
  }),
  computed: {
    ...mapGetters("car", ["cars", "types"]),
    ...mapGetters("order", ["order"]),
    selectedCar() {
      return this.cars.find(({ carId }) => carId === this.form.carId);
    },
    setDateStart() {
      return this.form.dateStart  = this.order.startTime;
    },
    setEndDate() {
      let dateStart = this.order.startTime
      let dateEnd = this.order.endTime
      if (new Date(dateStart) > new Date(dateEnd)) {
        return null;
      }
      this.form.endDate = this.order.endTime;
      return this.order.endTime;
    }
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "request" },
    });
    this.getCars();
    this.init();
    this.user.companyId = this.$auth.user.companyId;
    this.user.branchId = this.$auth.user.branchId;
    this.user.agencyId = this.$auth.user.agencyId;
    this.user.userId = this.$auth.user.userId;
  },
  methods: {
    ...mapActions([
      "setTitle",
      "setButton",
      "dateFormat",
      "disabledHoursLessThanHour",
    ]),
    ...mapActions("car", {
      getCars: "get",
    }),
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {

      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });

      this.form.order_types = this.order.orderTypeId;
      this.form.typeId = this.order.typeId
      this.form.typeFormId = this.order.typeFormId;
      this.form.passengerNo = this.order.passengerNo;
      this.form.travelerName = this.order.travelerName
      this.form.tel = this.order.tel
      this.form.dateStart = this.$dayjs(this.order.startTime).format("YYYY-MM-DD");
      this.form.endDate = this.$dayjs(this.order.endTime).format("YYYY-MM-DD");

      this.form.timeStart = this.$dayjs(this.order.startTime).format("HH:mm")
      this.form.endTime = this.$dayjs(this.order.endTime).format("HH:mm")

      this.form.carId = this.order.carId
      this.form.places = this.order.locations
      this.form.telInternalNumber = this.order.telInternalNumber
      this.form.note = this.order.note
      this.form.typeRequestId = this.order.typeRequestId

    },
    validateNumber: (event) => {
      let keyCode = event.keyCode;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.form.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async timeStart() {
      // สร้างฟังก์ชัน validation เวลาขอใช้รถ
      if (!this.form.timeStart) {
        this.$refs.timeStart.innerText = "กรุณาระบุเวลาขอใช้รถ";
        this.$refs.timeStart.style.display = "block";
      } else {
        this.$refs.timeStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.form.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endTime() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเวลาไหน
      if (!this.form.endTime) {
        this.$refs.endTime.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endTime.style.display = "block";
      } else {
        this.$refs.endTime.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async calcDisabledEndTime() {
      if (this.form.dateStart === this.form.endDate) {
        this.disabledHours = await this.disabledHoursLessThanHour(
          this.form.timeStart
        );
      } else {
        this.disabledHours = [];
      }
    },
    addField() {
      //ฟังก์ชัน สำหรับเพิ่ม text input ชื่อ places
      this.form.places.push({ location: "" });
    },
    removeField(index, fieldType) {
      //ฟังก์ชัน สำหรับลบ text input ชื่อ places
      fieldType.splice(index, 1);
    },
    async validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      this.validate();
      const body = {
        places: this.form.places,
        order_types: 1,
        typeFormId: this.form.typeFormId,
        carId: this.form.carId,
        typeId: this.form.typeId ?? this.order.typeId,
        travelerName: this.form.travelerName,
        passengerNo: this.form.passengerNo,
        startTime: `${this.form.dateStart} ${this.form.timeStart}`,
        endTime: `${this.form.endDate} ${this.form.endTime}`,
        typeRequestId: this.form.typeRequestId ?? this.order.typeRequestId,
        tel: this.form.tel,
        telInternalNumber: this.form.telInternalNumber,
        note: this.form.note,
      };
      let orderId = this.$route.params.id;

      try {
        const response = await this.$axios
          .post(`/orders/${orderId}/update`, body)
          .catch(({ response }) => {
            switch (response.status) {
              case 400:
                if (response.data.message === "cant_selected_this_car_on_time") {
                  this.$toast.global.error({
                    message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                  });
                  return;
                }
                break;
              case 401:
                if (response.data.message === "check_date") {
                  this.$toast.global.error({
                    message: "ท่านระบุวันที่ขอใช้รถไม่ถูกต้อง",
                  });
                  return;
                }
                break;
              default:
                break;
            }
          });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูลการขอใช้รถสำเร็จเรียบร้อย",
          });
          this.$router.push({ name: "request" });
        }
      } catch (e) {
        console.log("An error has occurred." + error);
      }
    },
    goBack() {
      this.$router.push({ name: "request" });
    },
  },
  watch: {
    setEndDate() {
      // if (this.form.endDate < this.form.dateStart) {
        return this.form.endDate = null;
      // }
      // return this.form.endDate = this.order.endTime;
    },
    setDateStart() {
      dateEnd();
      // console.log(this.form.endDate);
      // console.log(this.$ref.form);
      if ($dayjs(this.form.endDate) < $dayjs(this.form.dateStart)) {
        dateEnd();
      }
      return this.form.dateStart = this.order.startTime;
    },

  }
};
</script>

<style scoped>
.v-input--selection-controls{
  margin-top: 0 !important;
}
.v-text-field__details {
  margin-bottom: 0 !important;
}
</style>
