<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - พนักงานขับรถ</v-toolbar-title>
    </v-toolbar>
    <FormSetupDriver v-if="driver" :data="driver" @onSubmit="onSubmit" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  computed: {
    ...mapGetters("driver", ["driver"]),
  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-driver" },
    });

    this.find(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("driver", ["find", "update", "upload"]),
    async onSubmit({ form, file }) {
      try {
        await this.update({
          id: this.driver.driverId,
          ...form,
        });

        if (file) {
          await this.upload({ id: this.driver.driverId, file })
        }

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าพนักงานขับรถสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-driver" });
      } catch (e) {}
    },
  },
};
</script>
