<template>
  <v-card>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - พนักงานขับรถ</v-toolbar-title>
    </v-toolbar>
    <FormSetupDriver @onSubmit="onSubmit" />
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-driver" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("driver", ["create", "upload"]),
    async onSubmit({ form, file }) {
      try {
        const { data } = await this.create(form);

        if (file) {
          await this.upload({ id: data.id, file: file })
        }

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าพนักงานขับรถสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-driver" });
      } catch (e) {}
    },
  },
};
</script>
