<template>
    <v-data-table :headers="headers" :items="drivers">
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - พนักงานขับรถ</v-toolbar-title>
          <v-spacer />
          <v-btn color="warning" outlined class="orange lighten-5" :to="{ name: 'setup-driver-create' }">
            <v-icon>add</v-icon>  <strong>สร้าง</strong>
          </v-btn>
        </v-toolbar>
      </template>
      <template #item.avatar="{item}">
        <v-avatar v-if="item.photoUrl"  class="d-block mx-auto my-1" width="50px" height="50px">
          <img :src=item.photo_path alt="">
        </v-avatar>
      </template>
      <template #item.fullname="{ item }">
        {{ item.firstName }} {{ item.lastName }}
      </template>
      <template #item.branchAgency="{ item }">
        {{ item.branch ? item.branch.name || "ทุกสาขา" :'-' }} / {{ item.agency ? item.agency.name || "ทุกแผนก" : '' }}
      </template>
      <template #item.actions="{ item }">
        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 mr-2"
          :to="{ name: 'setup-driver-id', params: { id: item.driverId } }"
        >
          <v-icon left>edit</v-icon>
          <strong>แก้ไข</strong>
        </v-btn>
        <v-btn color="error" outlined @click="onRemove(item)">
          <v-icon left>delete</v-icon> ลบ
        </v-btn>
      </template>
    </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    search: "",
    headers: [
      {
        text:"img",
        align:"center",
        value:"avatar"
      },
      {
        text: "ชื่อ",
        align: "center",
        sortable: false,
        value: "fullname",
      },
      {
        text: "สาขา / แผนก",
        align: "center",
        value: "branchAgency",
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });

    this.get();
  },
  computed: {
    ...mapGetters('driver', ['drivers']),
    isAllowDriver() {
      return this.$auth?.user?.permission?.isAdmin || ["driver_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions('driver', ['get','remove']),
    async onRemove(driver) {
      console.log("driver", driver);
      if (confirm(`คุณต้องการที่จะลบพนักงานขับรถ ${driver.firstName + " " + driver.lastName} ใช่ไหม`)) {
        try {
          this.remove(driver.driverId);
          this.$toast.global.success({
            message: "ทำการลบข้อมูลพนักงานขับรถ สำเร็จเรียบร้อย",
          });

          this.get();
          window.location.reload();

        } catch (e) {
        }
      }
    },
  },
};
</script>
