<template>
  <v-container class="my-12 page">
    <div v-if="orderCarData" class="mx-auto">
      <!-- <v-card class="mx-auto box " max-width="500"> -->
      <v-card-text>
        <v-row>
          <v-col
            class="d-flex justify-end"
            cols="12"
            sm="12"
            md="12"
            lg="12"
            v-if="orderCarData.order_types === 1"
          >
            ประเภทการอนุมัติ : ขอใช้รถยนต์
          </v-col>
        </v-row>
        <v-row>
          <v-col
            class="d-flex justify-end container-page"
            cols="12"
            sm="12"
            md="12"
            lg="12"
          >
            เลขที่เอกสารการขอ : {{ orderCarData.requestNo }}
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" sm="12" md="12" lg="12" class="container-page">
            <b>
              ประเภทการจอง:
              {{
                orderCarData.typeFormId === 1
                  ? 'จองแบบระบุทะเบียนรถ'
                  : 'จองแบบระบุประเภทรถ'
              }}
            </b>
          </v-col>
        </v-row>
        <v-row v-if="orderCarData.typeFormId === 1" class="container-page">
          <v-col cols="4" sm="4" md="4" lg="4">
            <b>ทะเบียนรถ: {{ orderCarData.regisNumber }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b>ยี่ห้อ: {{ orderCarData.namebrand }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b>รุ่น: {{ orderCarData.carModel }}</b>
          </v-col>
        </v-row>
        <v-row v-else class="container-page">
          <v-col cols="12" sm="12" md="4" lg="4">
            <b>ประเภทรถ: {{ orderCarData.carType }}</b>
          </v-col>
        </v-row>
        <v-row class="container-page">
          <v-col cols="8" sm="8" md="8" lg="8">
            <b>วันที่ขอใช้: {{ orderCarData.startDateFormat }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b v-if="this.order_types == 2">
              เลขไมล์ก่อนใช้ {{ orderCarData.startmile }}
            </b>
            <b v-else>เวลา {{ orderCarData.startTimeFormat }}</b>
          </v-col>
        </v-row>
        <v-row class="container-page">
          <v-col cols="8" sm="8" md="8" lg="8">
            <b>ขอใช้ถึงวันที่: {{ orderCarData.endDateFormat }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b v-if="this.order_types == 2">
              เลขไมล์หลังใช้ {{ orderCarData.endmile }}
            </b>
            <b v-else>เวลา {{ orderCarData.endTimeFormat }}</b>
          </v-col>
        </v-row>
        <v-row class="container-page">
          <v-col cols="8" sm="8" md="8" lg="8">
            <b>ผู้ขอใช้: {{ orderCarData.name }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b>เบอร์มือถือ: {{ orderCarData.telUser }}</b>
          </v-col>
        </v-row>
        <v-row class="container-page">
          <v-col cols="8" sm="8" md="8" lg="8">
            <b>ผู้เดินทาง: {{ orderCarData.travelerName }}</b>
          </v-col>
          <v-col cols="4" sm="4" md="4" lg="4">
            <b>เบอร์มือถือ: {{ orderCarData.tel }}</b>
          </v-col>
        </v-row>
        <div
          class="container-page"
          style="width: 100%;"
          v-if="this.order_types == 2"
        >
          <v-row>
            <v-col cols="12" sm="12" md="12" lg="12">
              <b>สำรวจข้อมูลหลังการใช้รถยนต์ :</b>
            </v-col>
          </v-row>
          <div
            v-for="(item, index) in orderCarData.question_numbers"
            :key="index"
            class="borderAnswer"
          >
            <v-row style="padding: 10px;">
              <v-col
                v-if="item.questionTypeId == 1"
                cols="12"
                sm="12"
                md="12"
                lg="12"
              >
                <b>{{ item.question }}</b>
              </v-col>
              <v-col v-else cols="12" sm="12" md="12" lg="12">
                <b>
                  {{ item.question }}
                </b>
                - {{ orderCarData.answers[index].answerText }}
              </v-col>
            </v-row>
            <div
              v-for="(answer, i) in item.options"
              :key="i"
              class="borderAnswer-item"
            >
              <v-row
                style="
                  margin-top: 5px;
                  margin-bottom: 5px;
                  padding-left: 10px;
                  padding-right: 10px;
                "
              >
                <v-col
                  class="d-flex justify-center"
                  cols="2"
                  sm="2"
                  md="2"
                  lg="2"
                >
                  <v-icon
                    color="#e79918"
                    v-if="
                      orderCarData.answers[index].answerChoice ==
                      answer.optionId
                    "
                  >
                    mdi-check
                  </v-icon>
                </v-col>
                <v-col cols="10" sm="10" md="10" lg="10">
                  <b>
                    {{ answer.name }}
                  </b>
                </v-col>
              </v-row>
            </div>
          </div>
        </div>
        <div v-else>
          <v-row class="container-page">
            <v-col cols="2" sm="2" md="2" lg="2">สถานที่ :</v-col>
            <v-col cols="10" sm="10" md="10" lg="10"></v-col>
          </v-row>
          <v-row v-for="item in orderCarData.locations" :key="item.reqId">
            <v-col cols="2" sm="2" md="2" lg="2"></v-col>
            <v-col cols="10" sm="10" md="10" lg="10">{{ item.location }}</v-col>
          </v-row>
          <v-row class="container-page">
            <v-col cols="2" sm="2" md="2" lg="2">ลักษณะการขอ:</v-col>
            <v-col
              cols="10"
              sm="10"
              md="10"
              lg="10"
              v-if="orderCarData.typeRequestId === 1"
            >
              ขอใช้รถยนต์พร้อมคนขับรถ
            </v-col>
            <v-col cols="10" sm="10" md="10" lg="10" v-else>
              ขอใช้รถยนต์อย่างเดียว
            </v-col>
          </v-row>
        </div>
        <v-row class="container-page">
          <v-col cols="2" sm="2" md="2" lg="2"><b>หมายเหตุ:</b></v-col>
          <v-col cols="10" sm="10" md="10" lg="10">
            <b>{{ orderCarData.note }}</b>
          </v-col>
        </v-row>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
        >
          <!-- <v-simple-table>
              <template v-slot:default>
                <thead>
                  <tr>
                    <th class="text-left" colspan="2">
                      มีปัญหาในการใช้รถยนต์หรือไม่
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><v-icon>mdi-check</v-icon></td>
                    <td>รถยนต์ใช้งานได้ในสภาพเรียบร้อยไม่มีปัญหาใด</td>
                  </tr>
                  <tr>
                    <td><v-icon>mdi-check</v-icon></td>
                    <td>รถยนต์ใช้งานได้ แต่มีปัญหาบางส่วน</td>
                  </tr>
                  <tr>
                    <td><v-icon>mdi-check</v-icon></td>
                    <td>รถยนต์ใช้งานไม่ได้ ไม่สามารถปฏิบัติงานได้ต่อ</td>
                  </tr>
                </tbody>
              </template>
            </v-simple-table> -->
          <br />
          <v-radio-group v-model="forms.isApproved" :rules="approveRule" row>
            <v-row>
              <v-col cols="12" sm="12" md="6" lg="6">
                <v-radio color="#e79918" label="อนุมัติ" value="1"></v-radio>
              </v-col>
              <v-col cols="12" sm="12" md="6" lg="6">
                <v-radio color="#e79918" label="ไม่อนุมัติ" value="2"></v-radio>
              </v-col>
            </v-row>
          </v-radio-group>
          <!-- <v-radio-group
              v-model="forms.problemUseCar"
              :rules="problemUseCarRule"
            >
              <template v-slot:label>
                <div><strong>มีปัญหาในการใช้รถยนต์หรือไม่</strong></div>
              </template>
              <v-radio value="1">
                <template v-slot:label>
                  <div>
                    <strong>รถยนต์ใช้งานได้ในสภาพเรียบร้อยไม่มีปัญหาใด</strong>
                  </div>
                </template>
              </v-radio>
              <v-radio value="2">
                <template v-slot:label>
                  <div>
                    <strong>รถยนต์ใช้งานได้ แต่มีปัญหาบางส่วน</strong>
                  </div>
                </template>
              </v-radio>
              <v-radio value="3">
                <template v-slot:label>
                  <div>
                    <strong
                      >รถยนต์ใช้งานไม่ได้ ไม่สามารถปฏิบัติงานได้ต่อ</strong
                    >
                  </div>
                </template>
              </v-radio>
            </v-radio-group> -->
          <v-text-field
            clearable
            v-model="forms.reasonDisapproval"
            outlined
            dense
            height="50"
            clear-icon="mdi-close-circle"
            label="ระบุหมายเหตุที่ไม่อนุมัติ"
            value="This is clearable text."
          ></v-text-field>

          <div class="between">
            <v-col cols="12" sm="12" md="5" lg="5">
              <v-btn
                color="#e79918"
                :disabled="!valid"
                @click="validate"
                height="50"
                block
                class="white--text"
                rounded
                type="submit"
              >
                บันทึกข้อมูล
              </v-btn>
            </v-col>
          </div>
        </v-form>
      </v-card-text>
      <!-- </v-card> -->
    </div>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../../assets/globals'

export default {
  layout: 'admin',
  middleware: 'user-authenticated',
  data: () => ({
    carId: null,
    valid: true,
    order_types: null,
    approveRule: [(v) => !!v || 'กรุณากระบุการอนุมัติ'],
    forms: {
      userId: null,
      orderId: null,
      isApproved: null,
      companyId: null,
      branchId: null,
      agencyId: null,
      reasonDisapproval: null,
    },
    startTime: null,
    endTime: null,
    startDate: null,
    endDate: null,
    orderCarData: null,
  }),
  created() {
    this.setTitle(this.$route.query.setTitle)
  },
  // async mounted() {
  //   this.userId = this.$route.params.id;
  //   if (this.userId) {
  //     const apiUrl = "/users/" + this.userId;
  //     const res = await this.$axios.get(apiUrl);
  //     console.log("res => ", res);
  //     this.dataUser = res.data;
  //     this.forms = { ...this.forms, ...this.dataUser };
  //   }
  // },
  mounted() {
    this.order_types = Number(this.$route.query.order_types)
    this.getData()
    this.setForms()
    // console.log('this.orderCarData', this.$route.query)
  },
  methods: {
    ...mapActions([
      'dateFormat',
      'timeFormat',
      'logout',
      'numberWithCommas',
      'setTitle',
    ]),
    linkOil(id) {
      this.$router.push(`/cars/oil/${id}?type=return`)
    },
    async getData() {
      let { orderTypeId, orderId } = this.$route.query
      orderTypeId = orderTypeId ? Number(orderTypeId) : null
      orderId = orderId ? Number(orderId) : null

      const apiUrl = `/orders/${orderId}?orderTypeId=${orderTypeId}`

      const res = await this.$axios.get(apiUrl)

      const data = res.data
      // console.log('res++=>', data)
      data.startDateFormat = await this.dateFormat({
        date: new Date(data.startTime),
      })
      data.endDateFormat = await this.dateFormat({
        date: new Date(data.endTime),
      })
      data.startTimeFormat = await this.timeFormat({
        time: new Date(data.startTime),
      })
      data.endTimeFormat = await this.timeFormat({
        time: new Date(data.endTime),
      })
      this.orderCarData = data
    },
    async validate() {
      this.$refs.form.validate()
    },
    setForms() {
      ;(this.forms.userId = this.$route.query.userId),
        (this.forms.orderId = this.$route.query.orderId),
        (this.forms.companyId = this.$route.query.companyId),
        (this.forms.branchId = this.$route.query.branchId),
        (this.forms.agencyId = this.$route.query.agencyId)
    },
    async reset() {
      this.$refs.form.reset()
    },
    async onSubmit() {
      const body = this.forms
      // console.log('body => ', body)
      const { orderId } = this.$route.query
      const apiUrl = `/orders/approve/${orderId}`
      const $d = this
      await this.$axios
        .post(apiUrl, body)
        .then(function (respone) {
          // console.log(respone.data)
          $d.$toast.global.success({
            message: 'บันทึกข้อมูล - รายการอนุมัติ สำเร็จเรียบร้อย',
          })
          $d.$router.push('/dashboardApprove')
        })
        .catch(function (error) {
          console.log('An error has occurred.' + error)
        })
      console.log('submit')
    },
  },
}
</script>

<style scope>
.page {
  width: 70%;
}
.container-page {
  font-size: 14px;
}
.borderAnswer {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}
.borderAnswer-item {
  border-top: 1px solid #aaa;
}
.between {
  display: flex;
  justify-content: space-between;
}
.container {
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}
@media only screen and (max-width: 770px) {
  .page {
    width: 90%;
  }
}
@media only screen and (max-width: 521px) {
  .container-page {
    font-size: 12px;
  }
  .page {
    width: 100%;
  }
}
@media only screen and (max-width: 415px) {
  .container-page {
    font-size: 11px;
  }
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
