<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        :to="{
          name: routeLink,
          params: { id: requestId },
        }"
        icon
        outlined
        class="mr-2"
        color="warning"
        v-bind="attrs"
        v-on="on"
        {{action}}
      >
        <v-icon>{{icon}}</v-icon>
      </v-btn>
    </template>
    <span>{{msg}}</span>
  </v-tooltip>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props:{
    msg: null,
    routeLink: null,
    requestId: null,
    icon: null,
    action: null
  }
}
</script>
