<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        :href=link
        icon
        outlined
        class="mr-2 orange lighten-4"
        color="warning"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>{{icon}}</v-icon>
      </v-btn>
    </template>
    <span>{{msg}}</span>
  </v-tooltip>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  props:{
    msg: null,
    link: [],
    requestId: null,
    icon: null,
    action: null
  }
}
</script>
