<template>
    <v-btn
      class="orange lighten-5"
      color="warning"
      :href=link
      outlined
      download
    >
      <v-icon left>download</v-icon>
      Export
    </v-btn>
</template>
<script>
export default({
  props:{
    link: null
  }
})
</script>
<style lang="scss" scoped>

</style>
