<template>
  <div>
    <v-card>
       <v-toolbar
        outlined
        elevation="0"
        class=""
      >
        <v-toolbar-title>รายงานการขอใช้รถยนต์รายบุคคล</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 border-warning"
          @click.prevent="downloadExport()"
          download
          >
            <v-icon>download</v-icon>
            export
        </v-btn>
      </v-toolbar>
      <v-card-text>

        <p class="mb-0 mr-2"> <strong>ชื่อพนักงาน : </strong>{{user ? user.name :'-'}}</p>
        <div class="d-flex">
          <p class="mb-0 mr-2"> <strong>สาขา : </strong>{{user ? user.branch ? user.branch : '-' :'-'}}</p>
          <p class="mb-0 mr-2"> <strong>แผนก : </strong>{{user ? user.agency ? user.agency : '-' :'-'}}</p>
          <p class="mb-0 mr-2"> <strong>Tel : </strong>{{user ? user.tel ? user.tel : '-' : '-'}}</p>
        </div>
      </v-card-text>
      <v-data-table
        :headers=headers
        :items=request
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >

        <template #item.requestStart="{item}">
          {{ $dayjs(item.request_date_start).format("DD/MM/YYYY HH:mm") }}
        </template>
        <template #item.returnDate="{item}">
          {{ item.request_date_end ? $dayjs(item.request_date_end).format("DD/MM/YYYY HH:mm") : '-' }} <br/>
        </template>
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import paginate from "~/components/pagination/footer";
export default {
  data: () => ({
    headers:[
      {
        text: 'เลขที่ใบขอ',
        align: "left",
        sortable: false,
        value: 'request_no'
      },
      {
        text: "ยี่ห้อ",
        align: "left",
        sortable: false,
        value: "brand"
      },
      {
        text: "หมายเลขทะเบียน",
        align: "left",
        sortable: false,
        value: "regisNumber"
      },
      {
        text: "ออกเดินทาง",
        align: "left",
        sortable: false,
        value: "requestStart"
      },
      {
        text: "ผู้ใช้รถ",
        align: "left",
        sortable: false,
        value: "travelerName"
      },
      {
        text: "สถานที่ไป",
        align: "left",
        sortable: false,
        value: "locations"
      },
      {
        text: "ไมล์เริ่มต้น",
        align: "left",
        sortable: false,
        value: "startMile"
      },
      {
        text: "กลับถึงสำนักงาน (วันที่)",
        align: "left",
        sortable: false,
        value: "returnDate"
      },
      {
        text: "ไมล์สิ้นสุด",
        align: "left",
        sortable: false,
        value: "endMile"
      },
      {
        text: "ระยะทาง",
        align: "left",
        sortable: false,
        value: "totalMile"
      },
      {
        text: "พนักงานขับรถ",
        align: "left",
        sortable: false,
        value: "driver"
      },
      {
        text: "หมายเหตุ",
        align: "left",
        sortable: false,
        value: "remark"
      },
    ],
    request: [],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
    exportPaht: null
  }),
  components: {
    paginate
  },
  computed:{
    ...mapGetters("report",[
      'user',
      "max_page",
      "loading"
    ]),

  },
  methods:{
    ...mapActions("report",['getUser']),
    ...mapActions([
      "setButton",
    ]),
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    changePage(data) {
      this.page = data;
    },
    goBack() {
      this.$router.push({ name: "reports-users" });
    },
    downloadExport(contractId,label){
      this.$axios.get(`report/users/export/`+this.$route.params.id)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    },
    setDataPage(){
        this.name = this.user.name
    },
    dataGetUser(userId, page, itemsPerPage) {
      return {
        id: userId == null ? this.$route.params.id : userId,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      }
    }
  },
  async mounted(){
    await this.getUser(this.dataGetUser(this.$route.params.id, null, null));
    this.request = await this.user.request.data;
    this.setButton({
      type: "back",
      target: { name: "reports-users" },
    });
  },
  watch: {
    async page(data) {
      this.request = await [];
      await this.getUser(this.dataGetUser(null, data, null));
      this.request = await this.user.request.data;
    },
    async itemsPerPage(data) {
      this.page = await 1
      this.request = await [];
      await this.getUser(this.dataGetUser(null, null, data));
      this.request = await this.user.request.data;
    },
  }
}
</script>
