<template>
  <div>
    <v-card>
      <v-toolbar
        outlined
        elevation="0"
        class="mb-4"

      >
        <v-toolbar-title>รายงานการขอใช้รถยนต์รายบุคคล</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-autocomplete
          v-model="filterUsers"
          :items="users"
          item-text="name"
          item-value="userId"
          class="mt-4"
        >

        </v-autocomplete>
      </v-toolbar>
      <v-data-table
        v-if="users"
        :headers=headers
        :items="(filterUsers)? users.filter(item => item.userId == filterUsers): users"
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >
      <template #item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mr-2"
              color="primary"
              icon
              v-bind="attrs"
              v-on="on"
              outlined
              :to="{
                name: 'reports-users-id',
                params: { id: item.userId },
              }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>

      </template>
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import paginate from "~/components/pagination/footer";
export default {
  data: () => ({
    filterUsers : false,
    headers:[
      {
        text: 'ชื่อ นามสกุล',
        align: "left",
        sortable: false,
        value: 'name'
      },
      {
        text: 'ติดต่อ',
        align: "left",
        sortable: false,
        value: 'tel'
      },
      {
        text: 'สาขา',
        align: "left",
        sortable: false,
        value: 'branch'
      },
      {
        text: 'แผนก',
        align: "left",
        sortable: false,
        value: 'agency'
      },
      {
        text: 'Actions',
        align: "center",
        sortable: false,
        value: 'actions'
      },
    ],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
    exportPaht:'http://localhost:9900/api/export/contract/'
  }),
  components: {
    paginate
  },
  computed:{
    ...mapGetters("report",[
      'users',
      "max_page",
      "loading"
    ])
  },
  methods:{
    ...mapActions("report",['getUsers']),
    ...mapActions([
      "setButton",
    ]),
    changePage(data) {
      this.page = data;
    },
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    goBack() {
      this.$router.push({ name: "reports" });
    },
    downloadExport(contractId,label){
      this.$axios.get(`export/contract/`+contractId)
        .then(response => {
          // console.log(response.data.fileName)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    },
    dataGetUser(userId, page, itemsPerPage) {
      return {
        userId: userId == null ? null : userId,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      }
    }
  },
  mounted(){
    this.getUsers();
    this.setButton({
      type: "back",
      target: { name: "reports" },
    });
  },
  watch: {
    page(data) {
      this.getUsers(this.dataGetUser(null, data, null))
    },
    itemsPerPage(data) {
      this.page = 1
      this.getUsers(this.dataGetUser(null, null, data));
    },
  }
}
</script>
