<template>
  <div v-if="approval">
    <RequestInfo :request="approval" class="mx-auto box mt-6">
      <template #prepend>
          <v-card-text>
            <p class="mb-0 text-right">
              <b>ประเภทการอนุมัติ:</b>&nbsp;
              <template v-if="approval.order.orderTypeId === 1">
                ขอใช้รถยนต์
              </template>
            </p>
            <p class="mb-0 text-right">
              <b>เลขที่เอกสารการขอ:</b> {{ approval.requestNo }}
            </p>
          </v-card-text>
      </template>
    </RequestInfo>
    <v-row>
      <v-col v-if="approval.order.isApproved === 0" cols="12" md="12" lg="8" class="mx-auto text-center">
        <v-card class="mt-6">
          <v-card-text>
             <v-form
                ref="form"
                v-model="valid"
                lazy-validation
                @submit.prevent="onSubmit"
              >
                <div class="align-center">
                  <v-radio-group v-model="forms.isApproved" :rules="approveRule" row class="text-center justify-center">
                    <v-radio label="อนุมัติ" value="1" color="#feb959"  />
                    <v-radio label="ไม่อนุมัติ" value="2" color="#feb959" />
                  </v-radio-group>
                </div>
                <div class="input-bg" v-if="forms.isApproved == 2">
                  <v-text-field
                    v-model="forms.reasonDisapproval"
                    :required="forms.isApproved == 2"
                    label="กรุณากรอกเหตุผลที่ไม่อนุมัติ"
                    flat
                    solo
                    dense
                  />
                </div>
                <v-btn
                  :disabled="!valid"
                  ref="btnSubmit"
                  color="warning"
                  class="orange lighten-5 font-weight-bold"
                  type="submit"
                  outlined
                  large
                  @click="validate"
                >
                  <v-icon left>save</v-icon>
                  บันทึกข้อมูล
                </v-btn>
              </v-form>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    carId: null,
    valid: true,
    approveRule: [(v) => !!v || "กรุณากระบุการอนุมัติ"],
    forms: {
      isApproved: null,
      reasonDisapproval: null,
    },
  }),
  computed: {
    ...mapGetters("approval", ["approval"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "approval" },
    });
    this.getApproval(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("approval", { getApproval: "find", approve: "approve" }),
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {

      this.valid = false;
      this.$toast.global.warning({
        message: "ระบบกำลังทำงานกรุณารอสักครู๋",
      });

      try {
        await this.approve({
          id: this.$route.params.id,
          data: this.forms,
        }).then((res) => {
          if(res.data.status == 'success'){
            this.$toast.global.success({
              message: "บันทึกข้อมูล - รายการอนุมัติ สำเร็จเรียบร้อย",
            });
            this.$router.push({ name: "approval" });
          }else{
            this.$toast.global.error({
              message: "บันทึกข้อมูล - ไม่สำเร็จ กรุณาติดต่อผู้ดูแลระบบ",
            });
          }
        });
      } catch (e) {
        this.$toast.global.error({
          message: "ไม่สามารถบันทึกข้อมูล - รายการอนุมัติได้",
        });
      }
    },
  },
};
</script>

<style scope>
.container {
  padding-top: 0;
  padding-bottom: 0;
  color: black;
}
.v-input--radio-group__input{
  justify-content: center;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
