<template>
<v-card>
  <v-data-table
    :headers="headers"
    :items="approvals"
    item-key="orderId"
    class="pa-4"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>รายการอนุมัติ</v-toolbar-title>
      </v-toolbar>
    </template>
    <template #item.licensePlate="{item}">
      <template v-if="item.typeFormId == 2">
        ไม่ระบุทะเบียน
      </template>
      <template v-else>
        {{ item.car ? item.car.plateNumber : '-' }}
      </template>
    </template>
    <template #item.orderType="{ item }">
      {{ item.car ? item.car.type ? item.car.type.name : '-' :'-' }}
    </template>
    <template #item.requestName="{ item }">
      {{ item.user ? item.user.name : "-" }}
    </template>
    <template #item.startTime="{ item }">
      {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm") }}
    </template>
    <template #item.endTime="{ item }">
      {{ $dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
    </template>
    <template #item.createdAt="{ item }">
      {{ $dayjs(item.createdAt).format("DD/MM/YYYY") }}
    </template>
    <template #item.actions="{ item }">
      <v-tooltip bottom  v-if="isAllowApproval">
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            outlined
            class="mr-2"
            color="warning"
            v-bind="attrs"
            v-on="on"
            :to="{
              name: 'approval-id',
              params: { id: item.requestId },
            }"
          >
            <v-icon>mdi-clipboard-check-outline</v-icon>
          </v-btn>
        </template>
        <span>อนุมัติ</span>
      </v-tooltip>
    </template>
  </v-data-table>
</v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  middleware: "user-authenticated",
  data: () => ({
    search: "",
    headers: [
      {
        text: "ทะเบียน",
        align: "left",
        sortable: true,
        value: "licensePlate",
      },
      {
        text: "ประเภท",
        align: "left",
        sortable: false,
        value: "orderType",
      },
      { text: "ผู้ขอใช้", align: "left", value: "requestName" },
      { text: "ขอใช้วันที่", align: "left", value: "startTime", width: 200 },
      { text: "ถึงวันที่", align: "left", value: "endTime", width: 200 },
      {
        text: "วันที่สร้างคำขอ",
        align: "left",
        value: "createdAt",
        width: 200,
        sortable: true,

      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("approval", ["approvals"]),
    isAllowApproval() {
      return this.$auth?.user?.permission?.isAdmin || ["approval_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
  },
  mounted() {
    this.getApprovals();
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "isActionAllowed",
    ]),
    ...mapActions("approval", { getApprovals: "get" }),
  },
};
</script>

<style lang="scss" scope>
#reture {
  width: 100%;
}
#reture tr:nth-child(even) {
  background-color: #e5e5e5;
}

#reture tr:hover {
  background-color: #ddd;
}

.font-size-status {
  font-size: 10px;
}
.font-color {
  color: #e79918 !important;
}

.profile-wrapper-approve {
  height: 200px;
  background-color: #c4c4c4;
  box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;

  .profile {
    margin-right: 16px;
  }

  .image-border {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  }

  .image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    //   width: calc(100% - 5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detail {
    flex-grow: 1;

    .name {
      font-weight: bold;
      font-size: 14px;
      color: #262828;
    }

    .icon-wrapper {
      margin-top: -4px;
      margin-right: 7px;
    }

    .location {
      font-weight: 500;
      font-size: 14px;
      color: var(--main-ci);
    }
  }
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style lang="scss">
.title-approve .v-card__subtitle {
  padding: 0px !important;
}
</style>
