<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-data-table
      :headers="headers"
      :items="colors"
      :hide-default-footer="true"
      :item-class="({ isDeleted }) => (isDeleted ? 'grey' : '')"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - สี</v-toolbar-title>
        </v-toolbar>
      </template>
      <template #item.color="{ item }">
        <v-text-field
          v-model="item.name"
          :rules="nameColorRules"
          outlined
          dense
          required
          class="mt-7"
        />
      </template>
      <template #item.actions="{ item, index }">
        <v-btn v-if="!item.isDeleted" color="error" outlined @click="onDelete(index)">
          <v-icon left>delete</v-icon>
          ลบ
        </v-btn>
        <v-btn v-else color="success" @click="onRestore(index)">
          <v-icon left>settings_backup_restore</v-icon>
          นำกลับ
        </v-btn>
      </template>
    </v-data-table>
    <v-card>
      <v-card-text class="text-center">
        <v-btn class="white--text" color="success" outlined @click="addColor">
          <v-icon left>add</v-icon>
          เพิ่มข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card class="mt-4">
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  data: () => ({
    valid: true,
    nameColorRules: [(v) => !!v || "กรุณากรอกสี"],
    typesColor: [],
    headers: [
      {
        text: "สี",
        align: "center",
        value: "color",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
    colors: [],
  }),
  computed: {
    isAllowColor() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["color_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  mounted() {
    this.get().then((colors) => {
      // solving reference value
      this.colors = [...colors.map((b) => ({ ...b }))];
    });

    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },

  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("color", ["get", "update"]),
    addColor() {
      this.colors.push({
        name: null,
      });
    },
    onDelete(index) {
      const color = this.colors[index];

      if (!color) {
        return false;
      }

      if (color.colorId) {
        color.isDeleted = true;
      } else {
        this.colors.splice(index, 1);
      }
    },
    onRestore(index) {
      const color = this.colors[index];

      if (!color) {
        return false;
      }

      if (color.colorId) {
        color.isDeleted = false;
      }
    },
    async onSubmit() {
      if (!this.$refs.form.validate()) {
        this.$toast.global.warning({
          message: "กรุณากรอกข้อมูลให้ครบถ้วน",
        });

        return false;
      }

      try {
        await this.update(this.colors.filter(({ isDeleted }) => !isDeleted));
        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่า - สี สำเร็จเรียบร้อย",
        });
        this.get().then((colors) => {
          // solving reference value
          this.colors = [...colors.map((b) => ({ ...b }))];
        });
      } catch {
        this.$toast.global.error({
          message: "ไม่สามารถบันทึกข้อมูลการตั้งค่า - สี",
        });
      }
    },
  },
};
</script>
