<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" lg="10">
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - ผู้ใช้งาน</v-toolbar-title>
        </v-toolbar>
        <FormSetupUser v-if="user" :data="user" @onSubmit="onSubmit" />
      </v-col>

    </v-row>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data() {
    return {
      user: null,
    }
  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-users" },
    });

    this.user = await this.find(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("user", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({ id: this.user.userId, data: form });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-users" });
      } catch (e) {}
    },
  },
};
</script>
