<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="dataUser"
      :search="search"
      :custom-filter="filterOnlyCapsText"
      >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - ผู้ใช้งาน</v-toolbar-title>
          <v-spacer />
          <v-text-field
            v-model="search"
            placeholder="ค้นหา"
            label="ค้นหา"
            outlined
            dense
            class="mx-3 "
            single-line
            hide-details
            append-icon="mdi-magnify"
          />
          <v-btn color="warning" class="orange lighten-5" large  outlined :to="{ name: 'setup-users-create' }">
            <v-icon left>add</v-icon>
            <strong>สร้าง</strong>
          </v-btn>
        </v-toolbar>
      </template>
      <template #item.company="{ item }">
        {{ (item.company)? item.company.name: "-" }}
      </template>
      <template #item.branchAgency="{ item }">
        {{ (item.branch)? item.branch.name: "-" }} / {{ (item.agency)? item.agency.name: "-" }}
      </template>
      <template #item.permission="{ item }">
        {{ (item.permission)? item.permission.name: "-" }}
      </template>
      <template #item.actions="{ item }">
        <v-btn
          class="orange lighten-5"
          :to="{ name: 'setup-users-id', params: { id: item.userId } }"
          color="warning"
          outlined
        >
          <v-icon>edit</v-icon>
          แก้ไข
        </v-btn>
        <v-btn color="error" outlined @click="linkDelete(item.userId)">
          <v-icon left>delete</v-icon>
          ลบ
        </v-btn>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    dataUser: [],
    search: "",
    forms: {
      userId: null,
    },
    headers: [
      {
        text: "ชื่อ",
        align: "left",
        sortable: false,
        value: "name",
      },
      {
        text: "หน่วยงาน",
        align: "left",
        value: "company",
      },
      {
        text: "สาขา/แผนก",
        align: "left",
        value: "branchAgency",
      },
      {
        text: "ระดับสิทธิ์เข้าใช้งาน",
        align: "center",
        value: "permission",
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  async mounted() {
    this.getData();
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  computed: {
    isAllowUser() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["user_create"].some((action) =>
          this.$store.getters["permissions"]

            .includes(action)
        )
      );
    },
  },
  methods: {
    itemRowBackground: function (item) {
      return item.protein > 4.2 ? "style-1" : "style-2";
    },
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    linkEdit(id) {
      this.$router.push(`/setup/users/${id}`);
    },
    async getData() {
      const apiUrl = "/users";
      const res = await this.$axios.get(apiUrl);
      this.dataUser = res.data;
    },
    async linkDelete(id) {
      //เขียนไปเลย axios
      if (confirm("คุณต้องการที่จะลบใช่หรือไม่?")) {
        const apiUrl = `/users/${id}`;
        const $d = this;

        await this.$axios
          .delete(apiUrl)
          .then(function (response) {
            // console.log(response.data);
            $d.$toast.global.error({
              message: "ทำการลบข้อมูล ผู้ใช้งาน สำเร็จเรียบร้อย",
            });
            $d.getData();
          })
          .catch(function (error) {
            console.log("An error has occurred." + error);
          });
      }
    },
    filterOnlyCapsText (value, search, item) {
      return value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1

    },
    addUser() {
      this.$router.push("/setup/users");
    },
  },
};
</script>

<style scope>
.style-1 {
  background-color: #f4f4f4;
}
.style-2 {
  background-color: #fff;
}
.btn-color {
  background-color: #e79918 !important;
  color: #fff !important;
}
.btn-border {
  border: thin solid #e79918 !important;
  color: #e79918 !important;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (max-device-width: 2000px) {
  td {
    text-align: LEFT;
  }
  .row.d-flex.flex-row-reverse {
    padding-right: 14px;
    padding-top: 12px;
  }
}

@media only screen and (max-width: 420px) {
  .text-title-page {
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 360px) {
  .text-title-page {
    font-size: 11px !important;
  }
}

@media only screen and (max-width: 300px) {
  .text-title-page {
    font-size: 10px !important;
  }
}
</style>
