<template>
  <v-row dense >
    <template v-for="card in cards">
      <v-col v-if="isAdmin || card.isAllow" :key="card.title" :cols="card.flex" md="4" >
        <v-card class="mx-auto my-4" width="100%" height="150px">
          <router-link :disabled="card.status" :to="card.to" class="setup-item">
            <v-card-text class="pb-0">
              <span class="border shadow-1">
                <v-icon large color="#e79918">
                  {{ card.icon }}
                </v-icon>
              </span>
            </v-card-text>
            <v-card-text v-text="card.title" class="text-title" />
          </router-link>
        </v-card>
      </v-col>
    </template>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: [
    "user-authenticated",
    (({ $auth, redirect }) => {
      if ($auth?.user?.permission?.isAdmin === null) {
        redirect({ name: 'setup' })
      }
    })
  ],
  computed: {
    ...mapGetters(["permissions"]),
    isAdmin() {
      return this.$auth?.user?.permission?.isAdmin || false;
    },
    cards() {
      return [
        {
          title: "บริษัท",
          icon: "business",
          flex: 4,
          to: {
            name: "admin-company",
          },
          isAllow: this.permissions.some((code) =>
            ["company_view", "company_edit"].includes(code)
          ),
        },
        // {
        //   title: "สาขา",
        //   icon: "apartment",
        //   flex: 4,
        //   to: { name: "admin-branch" },
        //   isAllow: this.permissions.some((code) =>
        //     [
        //       "branch_view",
        //       "branch_create",
        //       "branch_edit",
        //       "branch_remove",
        //     ].includes(code)
        //   ),
        // },
        // {
        //   title: "แผนก",
        //   icon: "store",
        //   flex: 4,
        //   to: { name: "admin-agency" },
        //   isAllow: this.permissions.some((code) =>
        //     [
        //       "agency_view",
        //       "agency_create",
        //       "agency_edit",
        //       "agency_remove",
        //     ].includes(code)
        //   ),
        // },
        {
          title: "สัญญา",
          icon: "receipt",
          flex: 4,
          to: { name: "admin-contract" },
          isAllow: this.permissions.some((code) =>
            [
              "contract_view",
              "contract_create",
              "contract_edit",
              "contract_remove",
            ].includes(code)
          ),
        },
        {
          title: "ทรัพย์สิน",
          icon: "mdi-car-multiple",
          flex: 4,
          to: { name: "admin-asset" },
          isAllow: this.permissions.some((code) =>
            [
              "asset_view",
              "asset_create",
              "asset_edit",
              "asset_remove",
            ].includes(code)
          ),
        },
        // {
        //   title: "การอนุมัติ",
        //   icon: "published_with_changes",
        //   flex: 4,
        //   to: { name: "setup-approval" },
        //   isAllow: this.permissions.some((code) =>
        //     ["approval_view", "approval_create"].includes(code)
        //   ),
        // },
        {
          title: "ผู้ใช้",
          icon: "people",
          flex: 4,
          to: { name: "admin-users" },
          isAllow: this.permissions.some((code) =>
            ["user_view", "user_create", "user_edit", "user_remove"].includes(
              code
            )
          ),
        },
        // {
        //   title: "คำถามประเมิน",
        //   icon: "mdi-file-question-outline",
        //   flex: 4,
        //   to: { name: "setup-questionnaire" },
        //   isAllow: this.permissions.some((code) =>
        //     [
        //       "question_view",
        //       "question_create",
        //       "question_edit",
        //       "question_remove",
        //     ].includes(code)
        //   ),
        // },
        {
          title: "สิทธิการใช้งาน",
          icon: "mdi-shield-car",
          flex: 4,
          to: { name: "admin-permission" },
          isAllow: this.permissions.some((code) =>
            [
              "permission_view",
              "permission_create",
              "permission_edit",
              "permission_remove",
            ].includes(code)
          ),
        },
        {
          title: "ยี่ห้อ",
          icon: "local_offer",
          flex: 4,
          to: { name: "admin-master-brand" },
          isAllow: this.permissions.some((code) =>
            [
              "brand_view",
              "brand_create",
              "brand_edit",
              "brand_remove",
            ].includes(code)
          ),
        },
        {
          title: "สี",
          icon: "filter_vintage",
          flex: 4,
          to: { name: "admin-master-color" },
          isAllow: this.permissions.some((code) =>
            [
              "color_view",
              "color_create",
              "color_edit",
              "color_remove",
            ].includes(code)
          ),
        },
        // {
        //   title: "พนักงานขับ",
        //   icon: "mdi-card-account-details",
        //   flex: 4,
        //   to: { name: "setup-driver" },
        //   isAllow: this.permissions.some((code) =>
        //     [
        //       "driver_view",
        //       "driver_create",
        //       "driver_edit",
        //       "driver_remove",
        //     ].includes(code)
        //   ),
        // },
      ];
    },
  },
};
</script>

<style scoped>
.text-title {
  font-size: 16px !important;
  font-weight: bold;
}
.border {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: solid 1px #ddd;
  border-radius: 100%;
  padding: 35px;
  background-color: #fff;
  cursor: pointer;
}
.setup-item {
  text-decoration: none;
  color: inherit;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-setup v-icon {
  font-size: 40px !important;
}
@media only screen and (max-width: 460px) {
  .text-title {
    font-size: 14px !important;
  }
  .border {
    padding: 30px;
  }
}
@media only screen and (max-width: 400px) {
  .text-title {
    font-size: 12px !important;
  }
  .border {
    padding: 25px;
  }
}
@media only screen and (max-width: 350px) {
  .text-title {
    font-size: 10px !important;
  }
}
</style>
