<template>
  <v-row justify="center">
    <v-col cols="12" md="10" lg="8">
      <slot name="prepend" />
      <v-form>
        <v-card class="mb-6 pt-6">
          <v-card-text>
            <v-row class="algin-top">
              <v-col
                cols="6"
                sm="6"
              >
                <v-text-field
                  v-model="form.legislation_no"
                  type="text"
                  label="เลขคำสั่งซื้อ พรบ."
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row class="align-top">
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.act_no"
                  type="text"
                  name="act_no"
                  label="เลขกรมธรรม์ พรบ."
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.seq"
                  name="seq"
                  type="text"
                  label="ปีที่"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.payin_name"
                  type="text"
                  name="payin_name"
                  label="บริษัทประกัน"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.sum_insured_amount"
                  type="text"
                  name="sum_insured_amount"
                  label="ทุนประกัน"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row align="center" justify="center">
              <v-col
                cols="6"
                class="date-picker pt-0"
              >
                <DatePickerDialog
                  v-model="form.act_from_date"
                  name="act_from_date"
                  :min="
                    form.dateStart
                      ? $dayjs(form.dateStart).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="* วันที่เริ่มความคุ้มครอง"
                  outlined
                  dense
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
              <v-col
                cols="6"
                class="date-picker pt-0"
              >
                <DatePickerDialog
                  v-model="form.act_to_date"
                  name="act_to_date"
                  :min="
                    form.dateStart
                      ? $dayjs(form.dateStart).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="* วันที่สิ้นสุดความคุ้มครอง"
                  outlined
                  dense
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-card  class="mb-6">
          <v-card-text>
            <h3 class="mb-10">ใบแจ้งหนี้</h3>

            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.invoice_no"
                  type="text"
                  name="invoice_no"
                  label="เลขที่ใบแจ้งหนี้"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col
                cols="6"
                md="6"
                class="date-picker pt-0"
                >
                <DatePickerDialog
                  v-model="form.invoice_date"
                  name="invoice_date"
                  :min="
                    form.invoice_date
                      ? $dayjs(form.invoice_date).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="วันที่ใบแจ้งหนี้"
                  outlined
                  dense
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.act_amount"
                  type="text"
                  name="act_amount"
                  label="ราคา พรบ."
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card >
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6" class="mx-auto text-center">
                <v-btn
                  class="mr-4 btn btn-primary"
                  @click="onSubmit"
                >
                  <v-icon left>save</v-icon>
                  บันทึก
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>


      </v-form>
    </v-col>
  </v-row>
</template>
<script>
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default({
  props: {
    car: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    form: {
      license_id:null,
      legislation_no:null,
      invoice_no:null,
      invoice_date:null,
      act_amount:null,
      act_no:null,
      payin_name:null,
      act_from_date:null,
      act_to_date:null,
      seq:null,
      carId: null
    }
  }),
  async mounted() {
  },
  methods:{
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.form.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.form.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = {
        license_id: this.car.plateNumber,
        legislation_no: this.form.legislation_no,
        invoice_no : this.form.invoice_no,
        invoice_date : this.form.invoice_date,
        act_amount : this.form.act_amount,
        act_no: this.form.act_no,
        payin_name: this.form.payin_name,
        act_from_date: this.form.act_from_date,
        act_to_date: this.form.act_to_date,
        sum_insured_amount: this.form.sum_insured_amount,
        seq: this.form.seq,
        carId: this.car.carId
      };

      try {
        const response = await this.$axios
          .post("/car/acts", body)
          .catch(({ response }) => {
            switch (response.status) {
              case 400:
                if (response.data.message === "cant_selected_this_car_on_time") {
                  this.$toast.global.error({
                    message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                  });
                  return;
                }
                break;
              default:
                break;
            }
          });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูลการขอใช้รถสำเร็จเรียบร้อย",
          });
          this.$router.push({ name: "car-id" });
        }
      } catch (e) {
        console.log("An error has occurred." + error);
      }
    },
    goBack() {
      this.$router.push({ name: "request" });
    },
  }
})
</script>
