<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <slot name="prepend"></slot>
    <v-card class="mb-5">
      <v-card-text>
        <v-row class="my-5">
          <v-col  cols="12" md="6" v-if="info">
              <DatePickerDialog
                v-model="form.license_date"
                label="* วันที่จดทะเบียน"
                format="DD/MM/YYYY"
                :input="info.license_date"
                required
              />
          </v-col>
           <v-col  cols="12" md="6" v-else>
              <DatePickerDialog
                v-model="form.license_date"
                label="* วันที่จดทะเบียน"
                format="DD/MM/YYYY"
                required
              />
          </v-col>
          <v-col cols="12" md="6">
            <v-select
              v-model="form.gearId"
              :items="gear"
              item-text="gear_name"
              item-value="gear_code"
              placeholder="ประเภทเกียร์"
              outlined
              dense
            />
          </v-col>
        </v-row>
        <v-row class="my-5">
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.engine_no"
              label="หมายเลขเครื่อง"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="form.engine_no_position"
              label="ตำแหน่งหมายเลขเครื่อง"
              outlined
              dense
            >

            </v-text-field>
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="form.chassis_no"
              label="หมายเลขตัวถัง"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12"  md="6">
            <v-text-field
              v-model="form.chassis_localtion"
              label="ตำแหน่งหมายเลขตัวถัง"
              outlined
              dense
            >

            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-select
              v-model="form.fuel_code"
              :items="fuels"
              item-text="fuel_name"
              item-value="fuel_code"
              placeholder="ประเภทน้ำมันที่ใช้"
              required
              outlined
              dense
            />

          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.gasoline_tank_no"
              label="หมายเลขถังน้ำมัน"
              outlined
              dense
            >
            </v-text-field>

          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.cylinders"
              label="ลูกสูบ"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.cubic_centilitre"
              label="ความจุของกระบอกสูบ"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.horse_power"
              label="กำลัง (แรงม้า)"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.axletree"
              label="จำนวนเพลา"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.wheel"
              label="ล้อ"
              outlined
              dense
            >
            </v-text-field>
          </v-col><v-col cols="12" md="6">
            <v-text-field
              v-model="form.tire"
              label="ยาง"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.vehicle_dry_weight"
              label="น้ำหนักรถ"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.vehicle_load_weight"
              label="น้ำหนักบรรทุก"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.seats"
              label="จำนวนที่นั่ง"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.vendor_name"
              label="ซื้อจาก"
              outlined
              dense
            >
            </v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6">
            <v-select
              v-model="form.vehicle_status_code"
              :items="carstatus"
              item-text="vehicle_status_name"
              item-value="vehicle_status_code"
              placeholder="สถานะการใช้งานรถยนต์"
              outlined
              dense
            />
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
    <v-card class="">
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="white--text"
          type="submit"
          color="warning"
          rounded
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
const FORM = {
  vehicle_status_code : null
};

export default {
  props: {
    car: {
      type: Object,
      default: () => ({}),
      required: false
    },
    info: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      valid: true,
      gear_type: false,
      nameBrandRuels: [(v) => !!v || "ยี่ห่อรถยนต์"],
      nameModelsRuels: [(v) => !!v || "ยี่ห่อรถยนต์"],
      user: {
        companyId: null,
        branchId: null,
        agencyId: null,
        userId: null,
      },
      form:{
        license_id :null,
        license_date : null,
        gearId :false,
        color_code:false,
        engine_no : null,
        engine_no_position: null,
        chassis_no :null,
        chassis_localtion :null,
        fuel_code: false,
        gasoline_tank_no: null,
        cylinders : null,
        cubic_centilitre:null,
        horse_power:null,
        axletree:null,
        wheel:null,
        tire:null,
        vehicle_dry_weight:null,
        vehicle_load_weight:null,
        seats:null,
        vendor_name:null,
        vendor_code:null,
        vendor_address:null,
        vehicle_status_code:false,
        carId:null
      },
      userId:null,
      dateFormatString: "yyyy-MM-dd",
      disabledHours: [],

    }
  },
  computed:{
    ...mapGetters("master",[
          "gear",
          'fuels',
          'carstatus',
        ]),
    ...mapGetters("car",[
          'information'
        ]),
  },
  async mounted(){
    this.getGear();
    this.getFuels();
    this.getStatus();

    this.setButton({
      type: "back",
      target: { name: "car-id" },
    });
    // if(this.info){
    //    console.log(this.info.fuel_code+ ' ' +this.form.fuel_code);
    //   console.log(this.info.license_date + ' ' +this.form.license_date);
    // }
    if(this.car){
      this.form.license_id = this.car.plateNumber
    }
  },
  watch: {
    info() {
      this.form.engine_no = this.info.engine_no;
      this.form.engine_no_position = this.info.engine_location;
      this.form.chassis_no = this.info.chassis_no;
      this.form.chassis_localtion = this.info.chassis_location;
      this.form.fuel_code = this.info.fuel_code;
      this.form.gasoline_tank_no = this.info.gasoline_tank_no;
      this.form.cylinders = this.info.cylinders;
      this.form.cubic_centilitre = this.info.cubic_centilitre;
      this.form.horse_power = this.info.horse_power;
      this.form.axletree = this.info.axletree;
      this.form.wheel = this.info.wheel;
      this.form.tire = this.info.tire;
      this.form.vehicle_dry_weight = this.info.vehicle_dry_weight;
      this.form.vehicle_load_weight = this.info.vehicle_load_weight;
      this.form.seats = this.info.seats;
      this.form.vendor_name = this.info.vendor_name;
      this.form.vendor_code = this.info.vendor_code;
      this.form.vendor_address = this.info.vendor_address;
      this.form.vehicle_status_code = this.info.vehicle_status_code;
      this.form.fuel_code = this.info.fuel_code;
      this.form.license_date = this.info.license_date;
      this.form.carId = this.car.carId;
    }
  },

  methods:{
    ...mapActions([
      "setTitle",
      "setButton",
      "dateFormat",
      "disabledHoursLessThanHour",
    ]),
    ...mapActions("master",{
      getGear : "getMasterGear",
      getFuels : "getMasterFuels",
      getStatus : "getMasterVehicleStatus",
    }),
    async validate() {
      this.$refs.form.validate();
    },
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    reset() {
      this.$refs.form.reset();
    },
    onSubmit() {
      this.form.carId = this.car.carId;

      const valid = this.$refs.form.validate()

      if (valid) {
        this.$emit('onSubmit', this.form)
      }
    },
    goBack() {
      this.$router.push({ name: "request" });
    },

  }
}
</script>
