<template>
  <v-row>
    <v-col cols="12" md="10">
      <v-card class="my-4">
        <v-card-text>
          <slot name="prepend" />
        </v-card-text>
      </v-card>
      <v-form>
        <v-card class="pt-6">
          <v-card-text>
            <v-row>
              <v-col
                cols="6"
                sm="6"
              >
                <v-text-field
                  v-model="form.insurance_no"
                  type="text"
                  label="insurance_no"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.policy_no"
                  type="text"
                  name="policy_no"
                  label="เลขกรมธรรม์"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.seq"
                  name="seq"
                  type="text"
                  label="ปีที่"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.payin_name"
                  type="text"
                  name="payin_name"
                  label="บริษัทประกัน"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.sum_insured_amount"
                  type="text"
                  name="sum_insured_amount"
                  label="ทุนประกัน"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col
                cols="6"
                class="date-picker pt-0"
              >
                <DatePickerDialog
                  v-model="form.period_insured_from"
                  name="period_insured_from"
                  :min="
                    form.dateStart
                      ? $dayjs(form.dateStart).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="* วันที่เริ่มความคุ้มครอง"
                  outlined
                  dense
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
              <v-col
                cols="6"
                class="date-picker pt-0"
              >
                <DatePickerDialog
                  v-model="form.period_insured_to"
                  name="period_insured_to"
                  :min="
                    form.dateStart
                      ? $dayjs(form.dateStart).endOf('day').toISOString()
                      : $dayjs().toISOString()
                  "
                  label="* วันที่สิ้นสุดความคุ้มครอง"
                  outlined
                  dense
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mt-6">
          <v-card-text>
            <h3 class="mb-10">ความรับผิดชอบต่อบุคคลภายนอก</h3>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_person"
                  name="damge_person"
                  id="damge_person"
                  label="ความเสียหายต่อชีวิต ร่างกาย หรืออนามัยเฉพาะส่วนเกินวงเงินสูดสุดตาม พ.ร.บ. /ครั้ง"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_per_time"
                  name="damage_per_time"
                  id="damage_per_time"
                  label="ความเสียหายต่อชีวิต ร่างกาย หรืออนามัยเฉพาะส่วนเกินวงเงินสูดสุดตาม พ.ร.บ. /คน"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_property"
                  name="damage_for_property"
                  id="damage_for_property"
                  label="ความเสียหายต่อทรัพย์สิน /ครั้ง"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mt-6">
          <v-card-text>
            <h3 class="mb-10">รถยนต์เสียหาย สูญหาย ไฟไหม้</h3>
            <v-row>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_car"
                  name="damage_for_car"
                  id="damage_for_car"
                  label="ความเสียหายต่อรถยนต์ /ครั้ง"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_fire"
                  name="damage_for_fire"
                  id="damage_for_fire"
                  label="รถยนต์สูญหาย/ไฟไหม้ /ครั้ง"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-card class="mt-6">
          <v-card-text>
            <h3 class="mb-10 mb-5">ความคุ้มครองตามเอกสารแนบท้าย</h3>
            <v-row>
              <v-col cols="12" md="12">
                <p class="mb-0">อุบัติเหตุส่วนบุคคล เสียชีวิต สูญเสียอวัยวะ ทุพพลภาพถาวร</p>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_driver"
                  name="damage_for_driver"
                  id="damage_for_driver"
                  label="ผู้ขับขี่ คน/บาท"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_passenger"
                  name="damage_for_passenger"
                  id="damage_for_passenger"
                  label="ผู้โดยสาร คน/บาท"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.damage_for_treat"
                  name="damage_for_treat"
                  id="damage_for_treat"
                  label="ค่ารักษาพยาบาล /บาท"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col cols="6" md="6">
                <v-text-field
                  v-model="form.driver_insurance"
                  name="driver_insurance"
                  id="driver_insurance"
                  label="ประกันตัวผู้ขับขี่ /บาท"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-card class="mt-6">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6" class="mx-auto text-center">
                <v-btn
                  class="mr-4 btn btn-primary btn-small"
                  @click="onSubmit"
                >
                  <v-icon left>save</v-icon>
                  บันทึก
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

      </v-form>
    </v-col>
  </v-row>
</template>
<script>
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default({
  props: {
    car: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    form: {
      license_id:null,
      insurance_no:null,
      policy_no:null,
      payin_name:null,
      period_insured_from:null,
      period_insured_to:null,
      sum_insured_amount:null,
      damage_person:null,
      damage_per_time:null,
      damage_for_property:null,
      damage_for_car:null,
      damage_for_fire:null,
      damage_for_driver:null,
      damage_for_passenger:null,
      damage_for_treat:null,
      driver_insurance:null,
      seq:null,
      carId:null
    }
  }),
  async mounted() {
  },
  methods:{
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.form.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.form.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = {
        license_id: this.car.plateNumber,
        insurance_no: this.form.insurance_no,
        policy_no: this.form.policy_no,
        payin_name: this.form.payin_name,
        period_insured_from: this.form.period_insured_from,
        period_insured_to: this.form.period_insured_to,
        sum_insured_amount: this.form.sum_insured_amount,
        damage_person: this.form.damage_person,
        damage_per_time: this.form.damage_per_time,
        damage_for_property: this.form.damage_for_property,
        damage_for_car: this.form.damage_for_car,
        damage_for_fire: this.form.damage_for_fire,
        damage_for_driver: this.form.damage_for_passenger,
        damage_for_passenger: this.form.damage_for_passenger,
        damage_for_treat: this.form.damage_for_treat,
        driver_insurance: this.form.driver_insurance,
        seq: this.form.seq,
        carId: this.car.carId
      };

      try {
        const response = await this.$axios
          .post("/car/insurance", body)
          .catch(({ response }) => {
            switch (response.status) {
              case 400:
                if (response.data.message === "cant_selected_this_car_on_time") {
                  this.$toast.global.error({
                    message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                  });
                  return;
                }
                break;
              default:
                break;
            }
          });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูลการขอใช้รถสำเร็จเรียบร้อย",
          });
          this.$router.push({ name: "car-id" });
        }
      } catch (e) {
        console.log("An error has occurred." + error);
      }
    },
    goBack() {
      this.$router.push({ name: "car-id" });
    },
  }
})
</script>
