<template>
<div>

  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-row>
      <v-col cols="12" md="11" lg="10" class="mx-auto">
        <v-card class="mb-4 py-5">
          <v-card-text class="py-5">
            <v-row >
              <v-col cols="12" md="10">
                <slot name="prepend"></slot>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mb-6">
          <v-card-text>
            <v-row v-if="data">
              <v-col cols="12" md="10" >
                <h3 class="mb-4 mt-4">ข้อมูลรถยนต์</h3>
                <CarInformationDetail v-if="car" :car="car" />
              </v-col>
            </v-row>
            <v-row v-else>
              <v-col cols="12" md="6" >
                <h3 class="mb-4 mt-4">ข้อมูลรถยนต์</h3>
                <div class="p-4">
                  <v-autocomplete
                    v-model="form.carId"
                    :items="cars"
                    :label="form.carId ? '* หมายเลขรถ' : '* กรุณาระบุหมายเลขรถ'"
                    :rules="carId"
                    item-text="plateNumber"
                    item-value="carId"
                    color="#e79918"
                    outlined
                    dense
                    required
                  >
                    <template #selection="{ item }">
                      {{ item.plateNumber }}
                    </template>
                    <template #item="{ item }">
                      {{ item | carName }}
                    </template>
                  </v-autocomplete>
                </div>
              </v-col>
              <v-co cols="12"  md="6" v-if="findcar">
                <CarInformationCard v-if="findcar" :car="findcar" />
              </v-co>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mb-6">
          <v-card-text>
            <h3 class="mb-4 mt-4">รายละเอียดการซ่อม</h3>
            <v-row class="mt-4">
              <!-- <v-col cols="12" md="6">
                <v-select
                  v-model="form.status"
                  :items="status"
                  :rules="nameStatusRules"
                  item-text="name"
                  item-value="id"
                  placeholder="สถานะ"
                  label="สถานะ"
                  color="#e79918"
                  required
                  outlined
                  dense
                />
              </v-col> -->
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.mile"
                  label="เลขไมล์ที่เข้าซ่อมเท่าไร"
                  :rules="mileRules"
                  required
                  outlined
                  dense
                  @keypress="onlyNumber"
                >
                </v-text-field>
              </v-col>
              <v-col cols="12" md="6">
                <v-select
                  v-model="form.repair_type_code"
                  :items="repairtype"
                  :rules="repairTypeRuels"
                  required
                  item-text="repair_type_name"
                  item-value="repair_type_code"
                  placeholder="อาการที่เข้าซ่อม"
                  label="อาการที่เข้าซ่อม"
                  color="#e79918"
                  outlined
                  dense
                />
              </v-col>
              <v-col cols="12" md="6"  v-if="this.data">
                <DatePickerDialog
                  v-model="form.repair_date"
                  :rules="repairDateRules"
                  :input="this.data.repair_date"
                  name="repair_date"
                  label="* วันที่เข้าซ่อมบำรุง"
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>
              <v-col cols="12" md="6" v-else>
                <DatePickerDialog
                  v-model="form.repair_date"
                  :rules="repairDateRules"
                  name="repair_date"
                  label="* วันที่เข้าซ่อมบำรุง"
                  format="DD/MM/YYYY"
                  required
                />
              </v-col>

              <v-col cols="12" md="6">
                <v-select
                  v-model="form.repair_time"
                  :items="fixedTimes"
                  :rules="nameFixtimeRules"
                  placeholder="เวลาที่เข้าซ่อม"
                  label="เวลาที่เข้าซ่อม"
                  outlined
                  dense
                ></v-select>
              </v-col>


              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.repair_detail"
                  label="อาการเข้าซ่อมรถยนต์ อื่น ๆ"
                  outlined
                  dense
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mb-6">
          <v-card-text>
            <h3 class="mb-10">ศูนย์บริการ</h3>
            <v-row>

              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.vendor_contact"
                  :rules="vendor_contact"
                  required
                  label="ชื่อผู้ติดต่อ ณ ศูนย์บริการ"
                  outlined
                  dense
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.vendor_phone"
                  :rules="vendor_phone"
                  required
                  label="เบอร์ติดต่อศูนย์บริการ"
                  outlined
                  dense
                  single-line
                  @keyup="formatPhoneNumber"
                  @keypress="onlyNumber"
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-text-field
                  v-model="form.vendor_name"
                  :rules="vendor_name"
                  required
                  label="ศูนย์บริการที่เข้าซ่อม"
                  outlined
                  dense
                />
              </v-col>

            </v-row>
            <v-row>
              <v-col cols="12" md="12">
                <v-textarea
                  v-model="form.remark"
                  rows="2"
                  label="หมายเหตุ (ถ้ามี)"
                  outlined
                  dense
                />
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card>
          <v-card-text class="text-center">
            <v-btn
              :disabled="!valid"
              class="orange lighten-5 font-weight-bold"
              type="submit"
              color="warning"
              outlined
            >
              <v-icon left>save</v-icon>
              บันทึกข้อมูล
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</div>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
const FORM = {
  status :false,
  repair_type_code: false,
}
export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  filters: {
    carName(car) {
      const title = [car.brand?.name, car.model?.name]
        .filter((i) => i && i.length)
        .join(" ");

      return `${car.plateNumber} ${title}`;
    },
  },
  data () {
    return {
      valid: true,
      carId: [(v) => !!v || "กรุณากรอกข้อมูลทะเบียนรถยนต์"],
      nameStatusRules: [(v) => !!v || "สถานะ"],
      nameFixtimeRules: [(v) => !!v || "ช่วงเวลาที่เข้าซ่อม"],
      repairTypeRuels: [(v) => !!v || "อาการที่เข้าซ่อม"],
      repairDateRules: [(v) => !!v || "วันที่เข้าซ่อม"],
      mileRules: [(v) => !!v || "ไมล์ที่เข้าซ่อม"],
      vendor_contact: [(v) => !!v || "ชื่อผู้ติดต่อ"],
      vendor_name: [(v) => !!v || "ศูนย์บริการ"],
      vendor_phone: [(v) => !!v || "เบอร์ติดต่อศูนย์"],
      user: {
        companyId: null,
        branchId: null,
        agencyId: null,
        userId: null,
      },
      status:[
        { id : "1",
          name :'รอซ่อม'
        },
        { id : "2",
          name :'อยู่ระหว่างการซ่อม'
        },
        {
          id : "3",
          name :'รอส่งรถกลับ'
        },
        {
          id : "4",
          name :'เสร็จสิ้น'
        }
      ],
      fixedTimes:[
        '08.00 - 09.00',
        '09.00 - 10.00',
        '10.00 - 11.00',
        '13.00 - 14.00',
        '14.00 - 15.00'
      ],
      question:['สะดวกสบายกับระบบการแจ้งซ่อมผ่านระบบ','ไม่สะดวกสบายกับระบบการแจ้งซ่อมผ่านระบบ','อื่่น ๆ ระบุ'],
      form: {
        repair_no:null,
        typeFormId: 1,
        carId: null,
        mile:null,
        status :false,
        repair_type_code: null,
        repair_date: null,
        repair_time:false,
        repair_detail:null,
        vendor_contact:null,
        vendor_name:null,
        vendor_phone:null,
        userId : null,
        companyId : null,
        remark:null
      },
      userId:null,
      dateFormatString: "yyyy-MM-dd",
      disabledHours: [],
    }
  },
  computed: {
    ...mapGetters("car", ["cars",'car', "types"]),
    ...mapGetters("master", ["repairtype"]),
    ...mapGetters("repair", ["repair"]),
    findcar() {
      return this.cars.find(({ carId }) => carId === this.form.carId);
    },
  },
  async mounted() {
    this.userId = this.$auth.user.userId;
    this.getCars();
    this.getRepairType();
    this.init();

    this.user.companyId = this.$auth.user.companyId;
    this.user.branchId = this.$auth.user.branchId;
    this.user.agencyId = this.$auth.user.agencyId;
    this.user.userId = this.$auth.user.userId;
    this.form.userId = this.$auth.user.userId;

    if (this.data) {
      this.form.repair_no = this.data.repair_no;
      this.form.repair_type_code = this.data.repair_type_code;
      this.form.repair_time = this.data.repair_time;
      this.form.repair_date = this.data.repair_date;
      this.form.status = "1";
      this.form.mile = this.data.mile_no;
      this.form.vendor_contact = this.data.vendor_contact;
      this.form.vendor_name = this.data.vendor_name;
      this.form.vendor_phone = this.data.vendor_phone;
      this.form.repair_detail = this.data.repair_detail;
      this.form.remark = this.data.remark;
      this.form.cardId = this.data.carId;

      this.findCar(this.data.carId)
    }

  },
  methods: {
    ...mapActions([
      "setTitle",
      "setButton",
      "dateFormat",
      "disabledHoursLessThanHour",
    ]),
    ...mapActions("car", {
      getCars: "get",
      findCar : "find"
    }),
    ...mapActions("master",{
      getRepairType : "getRepairType"
    }),
    ...mapActions("repair", ["create"]),

    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    validateNumber: (event) => {
      let keyCode = event.keyCode;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
    async calcDisabledEndTime() {
      if (this.form.dateStart === this.form.endDate) {
        this.disabledHours = await this.disabledHoursLessThanHour(
          this.form.timeStart
        );
      } else {
        this.disabledHours = [];
      }
    },
    async validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    onSubmit() {
      const valid = this.$refs.form.validate()
      if (valid) {
        this.$emit('onSubmit', this.form)
      }
    },
    formatPhoneNumber(){

      var timer;
      var doneTypingInterval = 1000;

      clearTimeout(timer);
      if (this.form.vendor_phone.length !== 0) {

        // typingTimer = setTimeout(function () {}, doneTypingInterval);

        if (this.form.vendor_phone.length === 10 || this.form.vendor_phone.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + this.form.vendor_phone).replace(/\D/g, '')
          this.form.vendor_phone = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.form.vendor_phone = this.form.vendor_phone[1] + '-' + this.form.vendor_phone[2] + '-' + this.form.vendor_phone[3]

        }
      }
    },
    onlyNumber ($event) {
      //console.log($event.keyCode); //keyCodes value
      let keyCode = ($event.keyCode ? $event.keyCode : $event.which);
      if ((keyCode < 48 || keyCode > 57) && keyCode !== 46) { // 46 is dot
          $event.preventDefault();
      }
    }
  },
};
</script>
