<template>
  <v-row justify="center">
    <v-col cols="12" md="10" lg="10" >
      <slot name="prepend" />
      <v-form>
        <v-card class="pt-6 mb-6">
          <v-card-text>
            <v-row>
              <v-col
                cols="12"
                md="6"
                >
              <v-text-field
                  v-model="form.document_no"
                  type="text"
                  name="document_no"
                  label="เลขที่เอกสาร"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="6"
                >
              <v-text-field
                  v-model="form.seq"
                  type="text"
                  name="seq"
                  label="ครั้งที่"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="6"
                class="date-picker pt-0"
                >
                <DatePickerDialog
                  v-model="form.document_date"
                  name="document_date"
                  label="วันที่เอกสาร"
                  format="DD/MM/YYYY"
                  required
                  outlined
                  dense
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                class="date-picker pt-0"

                >
                <DatePickerDialog
                  v-model="form.tax_date"
                  name="tax_date"
                  label="วันที่เริ่มคิดภาษี"
                  format="DD/MM/YYYY"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                class="date-picker pt-0"
                >
                <DatePickerDialog
                  v-model="form.tax_due_date"
                  name="tax_due_date"
                  label="วันที่ครบกำหนดจ่าย"
                  format="DD/MM/YYYY"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col
                cols="12"
                md="6"
                >
              <v-text-field
                  v-model="form.receipt_no"
                  type="text"
                  name="receipt_no"
                  label="เลขที่ใบเสร็จ"
                  outlined
                  dense
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="6"
                >
              <v-text-field
                  v-model="form.tax_amount"
                  type="number"
                  name="tax_amount"
                  label="จำนวนเงิน"
                  outlined
                  dense
                  @keypress="numberWithCommas"
                ></v-text-field>
              </v-col>
              <v-col
                cols="12"
                md="6"
                class="date-picker pt-0"
                >
                <DatePickerDialog
                  v-model="form.purchase_tax_date"
                  name="purchase_tax_date"
                  label="วันที่จ่ายภาษี"
                  format="DD/MM/YYYY"
                  outlined
                  dense
                  required
                />
              </v-col>
            </v-row>

          </v-card-text>
        </v-card>
        <v-card >
          <v-card-text>
            <v-row>
              <v-col cols="12" md="6" class="mx-auto text-center">
                <v-btn
                  class="btn btn-primary"
                  @click="onSubmit"
                >
                  <v-icon left>save</v-icon>
                  บันทึก
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-form>
    </v-col>
  </v-row>
</template>
<script>
import { mapActions, mapGetters } from "vuex";

export default({
  props: {
    car: {
      type: Object,
      default: () => ({})
    }
  },
  data: () => ({
    form: {
      license_id:null,
      seq:null,
      document_no:null,
      document_date:null,
      tax_date:null,
      tax_due_date:null,
      receipt_no:null,
      tax_amount:null,
      purchase_tax_date:null,
      seq:null,
      carId:null
    }
  }),
  async mounted() {
  },
  methods:{
    ...mapActions([
      'onlyNumber',
      'numberWithCommas'
    ]),
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.form.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.form.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = {
        license_id: this.car.plateNumber,
        seq: this.form.seq,
        document_no: this.form.document_no,
        document_date : this.form.document_date,
        tax_date : this.form.tax_date,
        tax_due_date : this.form.tax_due_date,
        receipt_no: this.form.receipt_no,
        tax_amount: this.form.tax_amount,
        purchase_tax_date: this.form.purchase_tax_date,
        seq: this.form.seq,
        carId: this.car.carId
      };

      try {
        const response = await this.$axios
          .post("/car/tax", body)
          .catch(({ response }) => {
            switch (response.status) {
              case 400:
                if (response.data.message === "cant_selected_this_car_on_time") {
                  this.$toast.global.error({
                    message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                  });
                  return;
                }
                break;
              default:
                break;
            }
          });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูลการขอใช้รถสำเร็จเรียบร้อย",
          });
          this.$router.push({ name: "car-id" });
        }
      } catch (e) {
        console.log("An error has occurred." + error);
      }
    },
    goBack() {
      this.$router.push({ name: "car-id" });
    },
  }
})
</script>
