<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col><h1>รายงานการซ่อมบำรุง</h1></v-col>
          <v-col cols="12" md="4" class="ml-auto">
            <v-autocomplete
              v-model="selectCar"
              :items=cars
              item-text="plateNumber"
              item-value="carId"
              label="ทะเบียน"
              dense
              outlined
              class="ma-2"
              deletable-chips
              @click="(cars.length > 0)  ? getCar({ search: '', status: null, type: '', report: true }) : ''"
            ></v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-data-table
        :headers="headers"
        :items="maintenances"
        item-key="carId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >
        <template #item.plateNumber="{item}">
          {{item.plateNumber}}
        </template>
        <template #item.brand="{item}">
          {{item.brand }}
        </template>
        <template #item.model="{item}">
          {{item.model }}
        </template>
        <template #item.actions="{item}">
            <!-- <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  outlined
                  class="mr-2 "
                  color="blue"
                  v-bind="attrs"
                  v-on="on"
                  :to="{
                    name: 'reports-maintenance-id',
                    params: { id: item.carId },
                  }"
                >
                  <v-icon>mdi-eye</v-icon>
                </v-btn>
              </template>
              <span>รายละเอียด</span>
            </v-tooltip> -->
            <v-tooltip bottom>
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  icon
                  outlined
                  class="mr-2 orange lighten-4"
                  color="warning"
                  v-bind="attrs"
                  v-on="on"
                  @click.prevent="downloadExport(item.carId)"
                >
                  <v-icon>download</v-icon>
                </v-btn>
              </template>
              <span>ดาวน์โหลดรายงาน</span>
            </v-tooltip>
        </template>
      </v-data-table>

      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import paginate from "~/components/pagination/footer";

export default {
  data: () => ({
    selectCar:false,
    headers:[
      {
        text: 'เลขที่คำขอ',
        align: "left",
        sortable: false,
        value: 'plateNumber'
      },
      {
        text: 'จังหวัด',
        align: "left",
        sortable: false,
        value: 'plateProvince'
      },

      {
        text: 'ยี่ห้อ',
        align: "left",
        sortable: false,
        value: 'brand'
      },
      {
        text: 'รุ่น',
        align: "left",
        sortable: false,
        value: 'model'
      },
      {
        text: 'Actions',
        align: "left",
        sortable: false,
        value: 'actions'
      }
    ],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
  }),
  computed:{
    ...mapGetters("report",[
      'maintenances',
      "max_page",
      "loading"
    ]),
    ...mapGetters("car", ["cars"]),

  },
  components: {
    paginate
  },
  methods:{
    ...mapActions("report",['getMaintenance']),
    ...mapActions("car",{
      getCar: "get"
    }),
    ...mapActions([
      "setButton",
    ]),
    changePage(data) {
      this.page = data;
    },
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    downloadExport(carId,label){
      this.$axios.get(`export/maintenance/`+carId)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    },
    dataGetMaintenance(carId, contractId, page, itemsPerPage)
    {
      return {
        carId: carId == null ? this.carId : carId,
        contractId: contractId == null ? this.$route.params.id : contractId,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      }
    },
  },
  mounted(){
    this.getMaintenance(this.dataGetMaintenance(null, this.$route.params.id, 1, 10));
    // this.getCar();
    this.setButton({
      type: "back",
      target: { name: "reports-maintenance" },
    });
  },
  watch: {
    page(data) {
      if(this.loading) return;
      this.getMaintenance(this.dataGetMaintenance(null, null, data, null))
    },
    itemsPerPage(data) {
      if(this.loading) return;
      this.page = 1
      this.getMaintenance(this.dataGetMaintenance(null, null, null, data));
    },
    selectCar(data) {
      this.page = 1
      this.getMaintenance(this.dataGetMaintenance(data, null, null, null));
    }
  }
}
</script>
