<template>
  <div>
    <v-card>
       <v-toolbar
        outlined
        elevation="0"
        class="mb-4"

      >
        <v-toolbar-title>รายงานการซ่อมบำรุงรายสัญญา</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-autocomplete
          v-model="filter"
          :items="contracts"
          item-text="name"
          item-value="contractId"
          class="mt-4"
        >

        </v-autocomplete>
      </v-toolbar>
      <v-data-table
        v-if="contracts"
        :headers=headers
        :items="(filter)? contracts.filter(item => item.contractId == filter): contracts"
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >

      <template #item.startDate="{item}">
        {{ item.startDate ? $dayjs(item.startDate).format("DD/MM/YYYY") : '-' }}
      </template>
      <template #item.endDate="{item}">
        {{ item.endDate ? $dayjs(item.endDate).format("DD/MM/YYYY") : '-' }}
      </template>
      <template #item.createdAt="{item}">
        {{ item.createdAt ? $dayjs(item.createdAt).format("DD/MM/YYYY hh:mm") : '-' }}
      </template>
      <template #item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mr-2"
              color="primary"
              icon
              v-bind="attrs"
              v-on="on"
              outlined
              :to="{
                name: 'reports-maintenance-id',
                params: { id: item.contractId },
              }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>

        <!-- <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              outlined
              class="mr-2 orange lighten-4"
              color="warning"
              v-bind="attrs"
              v-on="on"
              @click.prevent="downloadExport(item.contractId)"
            >
              <v-icon>download</v-icon>
            </v-btn>
          </template>
          <span>ดาวน์โหลดรายงาน</span>
        </v-tooltip> -->
      </template>
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>

    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import paginate from "~/components/pagination/footer";

export default {
  components: {
    paginate
  },
  data: () => ({
    filter:false,
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
    headers:[
      {
        text: 'เลขที่สัญญา',
        align: "left",
        sortable: false,
        value: 'contractCode'
      },
      {
        text: 'วันที่เริ่มสัญญา',
        align: "left",
        sortable: false,
        value: 'startDate'
      },
      {
        text: 'วันที่สิ้นสุด',
        align: "left",
        sortable: false,
        value: 'endDate'
      },
      {
        text: 'วันที่บันทึก',
        align: "left",
        sortable: false,
        value: 'createdAt'
      },
      {
        text: 'Actions',
        align: "center",
        sortable: false,
        value: 'actions'
      },
    ],
  }),
  computed:{
    ...mapGetters("report",['contracts','max_page','loading'])
  },
  methods:{
    ...mapActions("report",['getContracts']),
    ...mapActions([
      "setButton",
    ]),
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    changePage(data) {
      this.page = data;
    },
    goBack() {
      this.$router.push({ name: "reports" });
    },
    downloadExport(contractId,label){
      this.$axios.get(`export/contract/`+contractId)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    },
    dataGetContracts(search, status, page, itemsPerPage)
    {
      return {
        search: search == null ? null : search,
        status: status == null ? null : status,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      }
    },
  },
  mounted(){
    this.getContracts();
    this.setButton({
      type: "back",
      target: { name: "reports" },
    });
  },
  watch:{
    page(data) {
      this.getContracts(this.dataGetContracts(null, null, data, null));
    },
    itemsPerPage(data) {
      this.page = 1
      this.getContracts(this.dataGetContracts(null, null, null, data));
    },
  }
}
</script>
