<template>
  <v-data-table
    :headers="headers"
    :items="branches"
    :mobile-breakpoint="0"
    :search="search"
    :custom-filter="filterOnlyCapsText"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สาขา</v-toolbar-title>
        <v-spacer />
        <v-text-field
          v-model="search"
          placeholder="ค้นหา"
          label="ค้นหา"
          outlined
          dense
          class="mx-3 "
          single-line
          hide-details
          append-icon="mdi-magnify"
        />
        <v-btn
          color="warning"
          class="orange lighten-5"
          outlined
          :to="{ name: 'admin-branch-create' }"
        >
          <v-icon>add</v-icon>
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.company="{item}">
      {{item.companies ? item.companies.name : '-'}}
    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="success"
        outlined
        class="mr-2"
        :to="{ name: 'admin-branch-id-agency', params: { id: item.branchId } }"
        icon
      >
        <v-icon>store</v-icon>
      </v-btn>
      <v-btn
        color="warning"
        outlined
        class="orange lighten-5 mr-2"
        :to="{ name: 'admin-branch-id', params: { id: item.branchId } }"
        icon
      >
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn
        color="error"
        outlined
        @click="onRemove(item)"
        icon
      >
          <v-icon>delete</v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: "user-authenticated",
  data: () => ({
    dataBranch: [],
    search: "",
    headers: [
      {
        text: "บริษัท",
        value: "company",
        sortable: false
      },
      {
        text: "ชื่อ",
        value: "name",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("branch", ["branches"])
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-company" },
    });
    this.admin_get({companyId : this.$route.params.id});
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("branch", ["admin_get", "remove"]),

    async onRemove(branch) {
      if (confirm(`คุณต้องการที่จะลบสาขา ${branch.name} ใช่ไหม`)) {
        try {
          this.remove(branch.branchId);
          this.$toast.global.success({
            message: "ทำการลบข้อมูล สาขา สำเร็จเรียบร้อย",
          });

          this.admin_get(this.$route.params.id);
        } catch (e) {}
      }
    },
    filterOnlyCapsText (value, search, item) {
      return value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1

    }
  }
};
</script>

<style scope>
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (max-device-width: 2000px) {
  td {
    text-align: LEFT;
  }
  .row.d-flex.flex-row-reverse {
    padding-right: 14px;
    padding-top: 12px;
  }
}
</style>
