<template>
  <v-data-table :headers="headers" :items="permissions">
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สิทธิการใช้งาน</v-toolbar-title>
        <v-spacer />
        <v-btn color="warning" class="orange lighten-5" outlined :to="{ name: 'admin-permission-create' }">
          <v-icon left>add</v-icon>
          สร้าง
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.company="{item}">
      {{item.company ? item.company.name :'-'}}
    </template>
    <template v-slot:item.actions="{ item }">
      <v-btn
        color="warning"
        class="orange lighten-5 mx-2"
        outlined
        :to="{ name: 'admin-permission-id', params: { id: item.permissionId } }"
        icon
      >
        <v-icon>save</v-icon>
      </v-btn>
      <v-btn
        color="error"
        outlined
        icon
      >
        <v-icon >delete</v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: "user-authenticated",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "ชื่อ",
        value: "name",
        sortable: false,
      },
      {
        text: "บริษัท",
        value: "company",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      nameCompany: "",
      status: 0,
    },
    defaultItem: {
      nameCompany: "",
      status: 0,
    },
  }),
  computed: {
    ...mapGetters("permission", ["permissions"]),
  },
  mounted() {
    this.admin_get();
    this.setButton({
      type: "back",
      target: { name: "admin" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("permission", ["admin_get"]),
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
