<template>
  <v-dialog
    ref="dialog"
    v-model="modal"
    :return-value.sync="input"
    persistent
    width="290px"
  >
    <template #activator="{ on, attrs }">
      <v-text-field
        v-bind="attrs"
        v-on="on"

        v-model="dateRangeText"
        :label=label
        :required="required"
        class="mx-2"
        readonly
        outlined
        single-line
        hide-details
        dense
      >
        <template #append>
          <div class="icon-picker">
            <v-icon color="#e79918">{{ icon }}</v-icon>
          </div>
        </template>
      </v-text-field>
    </template>
    <v-date-picker
      no-title
      v-model="month"
      type="month"
      multiple
      scrollable
      range
      reactive
    >
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="close"> Cancel </v-btn>
      <v-btn text color="primary" @click="onSubmit"> OK </v-btn>
    </v-date-picker>
  </v-dialog>
</template>

<script>
import { mdiCalendarMonth } from "@mdi/js";

export default {
  props: {
    input: {
      type: String,
      default: false,
      required: false,
    },
    label: {
      type: String,
      default: null,
      required: false,
    },
    format: {
      type: String,
      default: null,
      required: false,
    },
    formatted: {
      type: String,
      default: 'YYYY-MM-DD',
      required: false,
    },
    required: {
      type: Boolean,
      default: false,
      required: false,
    },
    min: {
      type: String,
      default: undefined,
      required: false
    },
    max: {
      type: String,
      default: undefined,
      required: false
    }
  },
  data: () => ({
    modal: false,
    months: ['2022-09', '2022-10'],
    icon: mdiCalendarMonth
  }),
  computed: {
    dateRangeText () {
      return this.months
    },
  },
  mounted() {
    this.months = this.input
  },
  methods: {
    close() {
      this.modal = false
    },
    onSubmit() {
      this.$emit('input', this.months)
      this.close()
    }
  }
};
</script>
<style lang="scss" scope>
  .form-custom{
    input{
      min-height: 50px;
      margin-top: 0px;
    }
  }
</style>

