<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable persistent width="600">
      <v-card>
        <v-card-title class="text-center"
          >Form Special Setting Car</v-card-title
        >
        <!-- <v-divider></v-divider> -->
        <v-card outlined>
          <v-card-text>
            <v-row>
              <v-col cols="6">
                <p class="mb-0">
                  <b>ทะเบียนรถ</b> : {{ formSpecial.plateNumber }}
                </p>
                <p class="mb-0">
                  <b>ยี่ห้อ</b> :
                  {{ formSpecial.brandId != "" ? formSpecial.brandId : "-" }}
                </p>
                <p class="mb-0">
                  <b>รุ่นรถยนต์</b> :
                  {{ formSpecial.modelId != "" ? formSpecial.modelId : "-" }}
                </p>
              </v-col>
              <v-col cols="6">
                <p class="mb-0">
                  <b>ประเภทรถยนต์</b> :
                  {{ formSpecial.typeId != "" ? formSpecial.typeId : "-" }}
                </p>
                <p class="mb-0">
                  <b>สีรถยนต์</b> :
                  {{ formSpecial.colorId != "" ? formSpecial.colorId : "-" }}
                </p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>

        <v-card-text style="height: 700px;">
          <v-row class="mt-4">
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <DatePickerDialog
                v-model="special.license_date"
                label="* วันที่จดทะเบียน"
                format="DD/MM/YYYY"
                :input="
                  formSpecial.special ? formSpecial.special.license_date : null
                "
                required
              />
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" xl="4" class="form-row">
              <v-select2
                taggable
                placeholder="Gear"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="formSpecial.gearId"
              />
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.engine_no"
                clearable
                hide-details
                label="Engine No"
                outlined
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.engine_no_position"
                clearable
                hide-details
                label="Engine No Position"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.chassis_no"
                clearable
                hide-details
                label="Chassis No"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.chassis_localtion"
                clearable
                hide-details
                label="Chassis Localtion"
                outlined
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.fuel_code"
                clearable
                hide-details
                label="Fuel Code"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.gasoline_tank_no"
                clearable
                hide-details
                label="Gasoline Tank No"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.cylinders"
                clearable
                hide-details
                label="Cylinders"
                outlined
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.cubic_centilitre"
                clearable
                hide-details
                label="Cubic Centilitre"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.horse_power"
                clearable
                hide-details
                label="Horse Power"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.axletree"
                clearable
                hide-details
                label="Axletree"
                outlined
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.wheel"
                clearable
                hide-details
                label="Wheel"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.tire"
                clearable
                hide-details
                label="Tire"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.vehicle_dry_weight"
                clearable
                hide-details
                label="Vehicle Dry Weight"
                outlined
                dense
              ></v-text-field>
            </v-col>

            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.vehicle_load_weight"
                clearable
                hide-details
                label="Vehicle Load Weight"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.seats"
                clearable
                hide-details
                label="Seats"
                outlined
                dense
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
              <v-text-field
                v-model="formSpecial.vendor_name"
                clearable
                hide-details
                label="Vendor Name"
                outlined
                dense
              ></v-text-field>
            </v-col>
          </v-row>

          <v-card outlined class="mt-3">
            <v-card-title style="padding: 0px; padding-left: 12px; padding-top: 12px;"> Tax </v-card-title>
            <v-card-text style="padding-top: 12px;">
              <v-row>
                <v-col cols="12" sm="6" md="6" lg="6" class="form-row">
                  <v-text-field
                    v-model="formSpecial.vendor_name"
                    clearable
                    hide-details
                    label="Vendor Name"
                    outlined
                    dense
                  ></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6" lg="6" class="form-row"> 2</v-col>
              </v-row>
            </v-card-text>
          </v-card>

          <v-row class="mt-2">
            <v-col cols="12" md="6">
              <v-select2
                taggable
                placeholder="Vehicle Status"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="formSpecial.vehicle_status_code"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-row>
            <v-col class="text-right">
              <v-btn
                class="white--text mr-2"
                color="warning"
                variant="text"
                @click="Submit()"
              >
                <v-icon left>save</v-icon>
                Save
              </v-btn>
              <v-btn
                color="blue-darken-1"
                variant="text"
                @click="closeModal(false)"
              >
                Close
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<style>
.form-row {
  padding-top: 0;
  padding-bottom: 12px;
  height: 52px;
}
fieldset {
  height: 40px;
}
.v-application .mx-1 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
</style>
<script>
import "vue-select/dist/vue-select.css";
import vSelect2 from "vue-select";

export default {
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    form: {
      type: Object,
      required: true
    }
  },
  components: {
    vSelect2
  },
  data() {
    return {
      formSpecial: {},
      special: {
        license_date: null,
        gearId: "",
        engine_no: "",
        engine_no_position: "",
        chassis_no: "",
        chassis_localtion: "",
        fuel_code: "",
        gasoline_tank_no: "",
        cylinders: "",
        cubic_centilitre: "",
        horse_power: "",
        axletree: "",
        wheel: "",
        tire: "",
        vehicle_dry_weight: "",
        vehicle_load_weight: "",
        seats: "",
        vendor_name: "",
        vehicle_status_code: "",
        tax: {

        }
      },
      dialog: false
    };
  },
  computed: {},
  methods: {
    Submit() {
      this.$emit("submitModal", this.formSpecial);
      this.closeModal();
    },
    closeModal(data) {
      this.dialog = data;
      this.$emit("closeModal");
    }
  },
  mounted() {
    this.dialog = true;
    this.formSpecial = { ...this.form };
  }
};
</script>
