<template>
  <v-row justify="center">
    <v-dialog v-model="dialog" scrollable persistent width="1070">
      <v-card>
        <div class="text-center text-h4 mb-2 mt-2">Vehicle {{ status }}</div>

        <!-- <v-card-title class="text-center">VEHICLE {{ status }}</v-card-title> -->
        <v-divider></v-divider>
        <v-card-text style="height: 360px;">
          <v-data-table
            height="290"
            :items-per-page="itemsPerPage"
            :header-props="{ 'disable-sort': true }"
            :headers=headers
            :items=desserts
            fixed-header
            :loading="loading"
          >
            <template #item.startDate="{item}">
              {{ item.startDate ? $dayjs(item.startDate).format("DD/MM/YYYY") : '-' }} <br/>
            </template>
            <template #item.endDate="{item}">
              {{ item.endDate ? $dayjs(item.endDate).format("DD/MM/YYYY") : '-' }} <br/>
            </template>
            <template #item.action="{}">
              <NuxtLink  to="#">
                <v-icon size="20" color="#03a9f4" >edit</v-icon>
              </NuxtLink>
            </template>
          </v-data-table>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-row>
            <v-col class="text-right">
              <v-btn
                color="blue-darken-1"
                variant="text"
                @click="closeModal(false)"
              >
                Close
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
<script>
export default {
  props: {
    loading: {
      type: Boolean,
      required: true
    },
    status: {
      type: String,
      required: true
    },
    dataModal: {
      type: Array,
      required: true
    }
  },
  data: () => ({
    dialog: false,
    itemsPerPage: 5,
    headers: [
      {
        text: "NO.",
        align: "center",
        sortable: false,
        value: "index",
        width: '5%'
      },
      {
        text: "Vehicle REG.",
        align: "center",
        sortable: false,
        value: "reg"
      },
      {
        text: "Province",
        align: "center",
        sortable: false,
        value: "province"
      },
      {
        text: "Start Date",
        align: "center",
        sortable: false,
        value: "startDate",
        width: '15%'
      },
      {
        text: "End Date",
        align: "center",
        sortable: false,
        value: "endDate",
        width: '15%'
      },
      {
        text: "Expiration in (Days)",
        align: "center",
        sortable: false,
        value: "dateDiff",
        width: '20%'
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        value: "action",
        width: '5%'
      }
    ],
    desserts: [
      {
        index: 1,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
      {
        index: 2,
        reg: "ABC 1234",
        province: "Bangkok",
        startDate: "01/09/2022" ,
        endDate: "01/10/2022",
        dateDiff: "30 Days",
      },
    ]
  }),
  computed: {},
  methods: {
    closeModal(data) {
      this.dialog = data;
      this.$emit("closeModal");
    }
  },
  mounted() {
    this.dialog = true;
    // this.desserts = this.dataModal;
  }
};
</script>
