.select-theme {
  .theme--light.v-icon.v-icon.v-icon--disabled {
    color: rgba(231, 153, 24, 1) !important;
    // margin-right: 20px;
  }
  .v-input__icon--append {
    color: rgba(231, 153, 24, 1) !important;
    margin-right: 20px;
  }

  .v-select__slot {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;
  }
  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent;
    padding: 0 !important;
  }
}

.input-bg {
  .v-input__slot {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 50px;
    background: transparent;
  }

  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent !important;
  }
}
.input-bg-pd {
  .v-text-field__slot {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;
  }

  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent !important;
  }
  .v-input__slot {
    background: transparent !important;
  }
}

.btn-submit {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  .v-size--default {
    height: 50px !important;
    border-radius: 50px;
  }
}

.v-form .row {
  [class^="col-"] {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.section + .section {
  margin-top: 1rem;
}

.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
