:root {
  --bg-main: #e79918;
  --bg-main-02: #e79918;
  --bg-white: #fff;
  --main-ci: #e79918;
  --a01: #ffffff;
  --bg-02: #f7f7f7;
  --button-main-02: #ffad25;
  --text-03: #b7b3aa;
  --main-03: #ee5b27;
  --te79918: #e79918;
  --main-ci-02: #c41f3e;
  --text-ci: #231f20;
  --bar-01: #c41f3e;
  --bg-g2: #f5f6fa;
  --bg-admin: #f5f6fa;
}

#__layout {
  overflow: hidden;
}

.wrapper {
  background: var(--bg-white);
  padding: 40px 20px;
  border-radius: 9px;
}

.form-custom {
  .label {
    color: var(--text-03);
  }

  input {
    color: var(--text-ci);
    font-weight: 500;
    min-height: 60px;
    padding-bottom: 0 !important;
  }

  .v-text-field{
    .v-label {
      font-weight: bold;
      font-size: 16px;
    }
    .v-label--active {
      transform: translateY(-18px) scale(1);
    }
  }
  .v-input {
    margin-top: 0px;
    padding-top: 0;
  }
}

.w-100 {
  width: 100% !important;
}

.btn-icon i {
  margin-right: 7px;
}

.btn-primary {
  background-color: var(--main-ci) !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fbfbfb !important;
  min-height: 48px;
  padding: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

.btn-primary.btn-login {
  background-color: var(--main-ci) !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: #fff !important;
  min-height: 48px;
}

.toasted-container.top-center {
  top: 10px !important;
}

.toasted-container {
  opacity: 1;

  a {
    color: var(--white) !important;
  }

  a:hover {
    text-decoration: none !important;
  }

  .action.ripple {
    text-transform: initial !important;
    font-family: cursive;
    color: inherit !important;
  }

  .toasted {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.14),
      0 0 0 0 rgba(0, 0, 0, 0.12) !important;
    border: thin solid currentColor !important;
    // background: transparent !important;
    border-radius: 4px !important;
    line-height: 15px !important; // adjust for font
  }

  // adjust for font
  i {
    margin-top: -3px;
  }

  .toasted::before {
    content: '';
  }

  .error-wrapper {
    color: #ff5252 !important;
    background-color: #ffebeb !important;
  }

  .success-wrapper {
    color: #4caf50 !important;
    background-color: #eaf6ea !important;
  }

  .info-wrapper {
    color: #2196f3 !important;
    background-color: #e5f3fe !important;
  }

  .warning-wrapper {
    color: #fb8c00 !important;
    background-color: #fff1e1 !important;
  }
}

.btn-secondary {
  background-color: #fff !important;
  border-radius: 30px !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: var(--main-ci) !important;
  min-height: 48px;
  padding: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border: 0.5px solid #e79918;
  box-shadow: 0px 0px 10px #ffeaee;
}

.btn-border-black {
  background-color: #fff !important;
  font-size: 16px !important;
  font-weight: bold !important;
  color: var(--text-ci) !important;
  min-height: 48px;
  padding: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  box-shadow: 0px 0px 10px #ffeaee;
  border: 1px solid #696969 !important;
  border-radius: 30px !important;
}

form:not(.login-form) {
  // .v-btn {
  //   .v-btn__content {
  //     margin-top: 3px;
  //   }
  // }

  input,
  textarea {
    font-size: 16px !important;
  }

  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: var(--text-03) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  input::-moz-placeholder,
  textarea::-webkit-input-placeholder {
    /* Firefox 19+ */
    color: var(--text-03) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    /* IE 10+ */
    color: var(--text-03) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
  input:-moz-placeholder,
  textarea:-ms-input-placeholder {
    /* Firefox 18- */
    color: var(--text-03) !important;
    font-size: 16px !important;
    font-weight: 500 !important;
  }
}

.v-application .toolbar-title.v-toolbar__title {
  margin-left: -40px !important;
}

.vertical-top {
  vertical-align: top;
}

.no-underline {
  a {
    text-decoration: none;
  }
}



.v-toolbar__title {
  font-family: $title-font;
  font-size: 1.25rem;
}

.v-list-item__title {
  font-family: $title-font;
}


.dialog-toolbar {
  position: sticky;
  top: 0;
  z-index: 10;
  .v-toolbar__items {
    align-items: center;
    .v-btn {
      height: 36px !important;
    }
  }
}

@media #{map-get($display-breakpoints, 'xs-only')} {
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td:last-child {
    padding-bottom: 1rem;
  }
}

.app-header .v-toolbar__content {
  justify-content: space-between;
}
