<template>
  <v-data-table :headers="headers" :items="branches" :mobile-breakpoint="0">
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สาขา</v-toolbar-title>
        <v-spacer />
        <v-btn
          color="warning"
          class="orange lighten-5"
          outlined
          :to="{ name: 'admin-branch-create' }"
          @click="setLocalData()"
        >
          <v-icon>add</v-icon>
          เพิ่มสาขา
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.isDeleted="{ item }">
      <span class="green lighten-1 px-2 py-1 rounded text-caption white--text" v-if="item.isDeleted === 0">
        Active
      </span>
      <span class="grey lighten-1 px-2 py-1 rounded text-caption white--text" v-else>
        Inactive
      </span>

    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="success"
        outlined
        class="green lighten-5 mr-2"
        :to="{ name: 'admin-branch-id-agency', params: { id: item.branchId } }"
        @click="setLocalData()"
        icon
      >
        <v-icon>store</v-icon>
      </v-btn> <v-btn
        color="warning"
        outlined
        class="orange lighten-5 mr-2"
        :to="{ name: 'admin-branch-id', params: { id: item.branchId } }"
        icon
      >
        <v-icon>edit</v-icon>
      </v-btn>
      <v-btn
        color="error"
        outlined
        @click="onRemove(item)"
        icon
        v-if="item.isDeleted === 0"
      >
          <v-icon>delete</v-icon>
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: "user-authenticated",
  data: () => ({
    companyId: null,
    dataBranch: [],
    search: "",
    headers: [
      {
        text: "ชื่อ",
        value: "name",
        sortable: false,
      },
      {
        text: "สถานะ",
        align: "left",
        value: "isDeleted"
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("branch", ["branches"])
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-company" },
    });
    this.admin_get({companyId : this.$route.params.id});


    localStorage.companyId = this.$route.params.id;

    if(localStorage.branchId != null){
      localStorage.branchId = null;
    }

  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("branch", ["admin_get", "remove"]),

    async onRemove(branch) {
      if (confirm(`คุณต้องการที่จะลบสาขา ${branch.name} ใช่ไหม`)) {
        try {
          this.remove(branch.branchId);
          this.$toast.global.success({
            message: "ทำการลบข้อมูล สาขา สำเร็จเรียบร้อย",
          });
          window.location.reload();
          // this.admin_get(this.$route.params.id);
        } catch (e) {}
      }
    },
    setLocalData() {
      localStorage.companyId = this.$route.params.id

    },


  },
};
</script>

<style scope>
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (max-device-width: 2000px) {
  td {
    text-align: LEFT;
  }
  .row.d-flex.flex-row-reverse {
    padding-right: 14px;
    padding-top: 12px;
  }
}
</style>
