<template>
  <v-card>
    <v-card-title>รถที่รอส่งคืน</v-card-title>
    <v-data-table
      id="reture-dashboard-car-return"
      :headers="headers"
      :items="desserts"
      hide-default-footer
      class="table"
    >
      <template #item.startTime="{item}">
        {{$dayjs(item.startTime).format('D/MM/YY')}}
      </template>
      <template #item.endTime="{item}">
        {{$dayjs(item.endTime).format('D/MM/YY')}}
      </template>
      <template #item.createdAt="{item}">
        {{$dayjs(item.createdAt).format('D/MM/YY')}}
      </template>
      <template v-slot:[`item.actions`]="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              @click="linkCarReturn(item.orderId)"
              icon
              outlined
              class="mr-2"
              color="warning"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-arrow-u-left-top</v-icon>
            </v-btn>
          </template>
          <span>คืนรถ</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  layout: 'admin',
  middleware: 'user-authenticated',
  data: () => ({
    search: '',
    desserts: [],
    headers: [
      {
        text: 'เลขทะเบียน',
        align: 'center',
        sortable: false,
        value: 'name',
      },
      { text: 'ยี่ห้อ', align: 'center', value: 'brandName' },
      { text: 'ขอใช้วันที่', align: 'center', value: 'startTime' },
      { text: 'ถึงวันที่', align: 'center', value: 'endTime' },
      { text: 'วันที่สร้งคำขอ', align: 'center', value: 'createdAt' },
      { text: 'ดำเนินการ', align: 'center', value: 'actions', sortable: false },
      //   text: 'ดำเนินการ', align: "center", value: 'actions', sortable: false
    ],
  }),
  computed: {
    user() {
      return this.$auth.user
    },
  },
  created() {
    // this.setTitle('รายการรถยนต์ที่รอการส่งคืน')
    // this.init();
  },
  mounted() {
    this.getReturnList()
  },
  methods: {
    ...mapActions(['dateFormat', 'logout', 'numberWithCommas', 'setTitle']),
    linkCarReturn(id) {
      this.$router.push(`/request/${id}/return/`)
      // this.$router.push(`/cars/return`);
    },
    async getReturnList() {
      const res = await this.$axios.get(`/orderReturns`)
      // console.log('Load_Data =>', res)
      this.desserts = res.data
    },
    // linkDelete(id) {
    //   //เขียนไปเลย axios
    //   this.$toast.global.success({
    //     message: "ทำการลบข้อมูล พนักงานขับรถ สำเร็จเรียบร้อย"
    //   });
    //   this.$router.push("/setup/dashboardDriver");
    // },
    // addDriver() {
    //   this.$router.push("/setup/driver");
    // }
  },
}
</script>

<style lang="scss">
.reture-dashboard-car-return-wrapper {
  #reture-dashboard-car-return {
    width: 100%;
  }
  #reture-dashboard-car-return tr:nth-child(even) {
    background-color: #f4f4f4;
  }
  #reture-dashboard-car-return tr {
    background-color: #fff;
  }

  #reture-dashboard-car-return tr:hover {
    background-color: #ddd;
  }

  .btn-return {
    height: 50px;
    width: 60px;
  }
}

@media only screen and (max-width: 415px) {
  .reture-dashboard-car-return-wrapper {
    .box {
      box-shadow: none !important;
    }
    .pad {
      padding: inherit !important;
    }
    .inline {
      display: block !important;
    }
  }
}

@media only screen and (max-width: 870px) {
  .reture-dashboard-car-return-wrapper {
    #reture-dashboard-car-return {
      font-size: 12px;
    }
    .btn-return {
      height: 40px;
      width: 50px;
    }
  }
}
@media only screen and (max-width: 599px) {
  .reture-dashboard-car-return-wrapper {
    .btn-action {
      padding-left: 50px !important;
      padding-right: 50px !important;
    }
  }
}
@media only screen and (max-width: 520px) {
  .reture-dashboard-car-return-wrapper {
    #reture-dashboard-car-return {
      font-size: 10px;
    }
  }
}
/* @media only screen and (max-width: 420px) {
  #reture,
  .text-btn {
    font-size: 8px !important;
  }
} */
</style>
