<template>
  <v-row>
    <v-col cols="12" lg="8" class="mx-auto">
      <v-form ref="form">
        <v-card>
          <v-card-text>
            <v-toolbar flat>
              <v-toolbar-title>
                สรุปการใช้รถยนต์ (ราย วัน | เดือน)
              </v-toolbar-title>
            </v-toolbar>
            <v-row>
              <v-col cols="6" md="6">
                <v-autocomplete
                  v-model="carId"
                  :items="cars"
                  :rules="carIdRules"
                  :label="carId ? 'หมายเลขรถ' : 'กรุณาระบุหมายเลขรถ'"
                  item-text="plateNumber"
                  item-value="carId"
                  class="mt-6"
                  outlined
                  dense
                  required
                />
              </v-col>
            </v-row>

            <CarInformationCard v-if="car" :car="car" />
          </v-card-text>
        </v-card>
        <v-card class="mt-4">
          <v-card-text>
            <v-row>
              <v-col cols="12">
                <v-autocomplete
                  v-model="userId"
                  :items="users"
                  :rules="userIdRules"
                  item-text="name"
                  item-value="userId"
                  label="ผู้ใช้งาน"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col cols="12" md="6">
                <v-menu
                  v-model="startDatePicker"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :value="
                        startDate ? $dayjs(startDate).format('DD MMM YYYY') : null
                      "
                      :rules="startDateRules"
                      label="วันที่เริ่มต้น"
                      append-icon="mdi-calendar"
                      outlined
                      dense
                      required
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="startDate"
                    :max="$dayjs().format('YYYY-MM-DD')"
                    scrollable
                    @input="startDatePicker = false"
                  />
                </v-menu>
              </v-col>
              <v-col cols="12" md="6">
                <v-menu
                  v-model="endDatePicker"
                  :close-on-content-click="false"
                  :nudge-right="40"
                  transition="scale-transition"
                  offset-y
                  min-width="auto"
                >
                  <template v-slot:activator="{ on, attrs }">
                    <v-text-field
                      :value="
                        endDate ? $dayjs(endDate).format('DD MMM YYYY') : null
                      "
                      :rules="endDateRules"
                      label="วันที่สิ้นสุด"
                      append-icon="mdi-calendar"
                      outlined
                      dense
                      required
                      readonly
                      v-bind="attrs"
                      v-on="on"
                    />
                  </template>
                  <v-date-picker
                    v-model="endDate"
                    :min="startDate"
                    :max="$dayjs().format('YYYY-MM-DD')"
                    scrollable
                    @input="endDatePicker = false"
                  />
                </v-menu>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
        <v-card class="mt-4">
          <v-card-text>
            <CarReturnFormMonthly
              ref="return"
              :car="car"
              class="mt-4"
              @submit="onSubmit"
            />
          </v-card-text>
        </v-card>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  data: () => ({
    colors: globals.COLORS,
    startDatePicker: false,
    endDatePicker: false,
    carId: null,
    userId: null,
    startDate: null,
    endDate: null,
    carIdRules: [(v) => !!v || "กรุณากรอกเลขทะเบียนรถยนต์"],
    userIdRules: [(v) => !!v || "กรุณาเลือกผู้ใช้งาน"],
    startDateRules: [(v) => !!v || "กรุณาเลือกวันเริ่มต้น"],
    endDateRules: [(v) => !!v || "กรุณาเลือกวันสิ้นสุด"],
  }),
  watch: {
    question: {
      deep: true,
      handler: function (n, o) {
        // console.log('n =>', n)
        const questionNumbers = n;
        // const length = questionNumbers.length
        let count = 0;
        questionNumbers.forEach((x) => {
          // console.log('x =>', x)
          if (x.questionTypeId === 1) {
            if (x.answerOptionId) {
              count++;
            }
          } else {
            if (x.answerTextOptionId) {
              count++;
            }
          }
        });
        this.isValidQuestion = questionNumbers.length === count;
      },
    },
  },
  computed: {
    ...mapGetters("car", ["cars"]),
    ...mapGetters("user", ["users"]),
    isAllowMonthly() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["usage_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
    car() {
      return this.cars.find(({ carId }) => carId === this.carId);
    },
  },
  async mounted() {
    this.userId = this.$auth.user.userId;
    this.getCars();
    this.getUsers();
  },
  methods: {
    ...mapActions(["setTitle"]),
    ...mapActions("car", {
      getCars: "get",
    }),
    ...mapActions("user", {
      getUsers: "get",
    }),
    ...mapActions("order", ["create", "createFuel", "uploadReceipt"]),
    async onSubmit(form) {
      if (!this.$refs.form.validate()) {
        this.$toast.global.warning({
          message: "กรุณากรอกแบบสำรวจหลังใช้รถให้ครบถ้วน",
        });

        return false;
      }

      const { data: order } = await this.create({
        order_types: 2,
        typeFormId: 1,
        typeRequestId: 2,
        carId: this.carId,
        userId: this.userId,
        startTime: this.startDate,
        endTime: this.endDate,
      });

      const fuels = await Promise.all(
        form.fuels.map(async (data) => {
          const fuel = await this.createFuel({
            id: order.orderId,
            fuel: {
              liter: data.liter,
              categoryId: data.categoryId,
              price: data.price,
              total: data.total,
              fuelStation: data.fuelStation,
              receiptNumber: data.receiptNumber,
            },
          });

          return Object.assign(data, { oilId: fuel.oilId });
        })
      );

      await Promise.all(
        fuels
          .filter(({ receipt }) => receipt)
          .map(({ oilId, receipt }) => {
            return this.uploadReceipt({
              id: order.orderId,
              fuelId: oilId,
              receipt,
            });
          })
      );

      this.carId = null;
      this.userId = this.$auth.user.userId;
      this.startDate = null;
      this.endDate = null;
      this.$refs.return.reset();

      this.$toast.global.success({
        message: "บันทึกข้อมูลการส่งคืนรถสำเร็จเรียบร้อย",
      });
    },
  },
};
</script>

<style scope>
.container-page {
  width: 70%;
}
.between {
  display: flex;
  justify-content: space-between;
}
.between-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-with45 {
  width: 45%;
}
.contant2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.33%;
  display: flex;
}
.text-color {
  color: #000;
}
@media only screen and (max-width: 959px) {
  .btn-with45 {
    width: 100%;
    margin-bottom: 10px;
  }
  .container-page {
    width: 90%;
  }
}
@media only screen and (max-width: 500px) {
  .container-page {
    width: 100%;
  }
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style lang="scss">
.hidden-sm-and-down .v-icon {
  color: #e79918 !important;
}

.radio {
  .v-input--selection-controls {
    margin-top: 0px !important;
  }
}

.icon-color .v-icon {
  color: #e79918 !important;
}

.car-user {
  @media only screen and (max-width: 415px) {
    .v-list-item {
      flex-direction: column;
    }
  }
}
</style>
