<template>
  <v-dialog
    v-model="openDialog"
    max-width="1099px"
  >
    <v-form
      ref="form"
      class="form-custom"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <RequestInfoDialog
        v-if="request"
        :request="request"
      >
        <template #prepend>
          <v-toolbar
            class="dialog-toolbar"
            color="#f4bd70"
            dark
          >
            <v-btn
              icon
              dark
              @click="openDialog = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <v-toolbar-title>รายละเอียดคำขอใช้รถ</v-toolbar-title>
            <v-spacer />
            <!-- <v-toolbar-items>
              <v-btn
                :disabled="!valid"
                color="warning"
                type="submit"
                @click="validate"
              >
                บันทึก
              </v-btn>
            </v-toolbar-items> -->
          </v-toolbar>
        </template>
        <template #append>
          <v-card-text >
            <v-row align-content="center">
              <v-col class="select-theme mx-auto mb-0 pb-0" cols="12" md="12" >
                <p class="mb-2">
                  <b>เลือกประเภทรถ</b> :&nbsp;
                  <template v-if="carId">
                    {{ cars.find((c) => c.carId === carId) ? cars.find((c) => c.carId === carId).regisNumber : null }}
                  </template>
                </p>
                <v-row dense>
                  <v-col cols="12" class="pb-0">
                    <v-select
                      v-model="carTypeId"
                      :items="carTypes"
                      item-text="name"
                      item-value="typeId"
                      placeholder="เลือกประเภทรถยนต์"
                      flat
                      solo
                      dense
                      class="mb-0"
                    />
                  </v-col>
                  <v-col cols="12" class="pt-0 pb-0">
                    <p class="mb-2"><b>เลือกรถ</b> :&nbsp;</p>
                    <v-select
                      v-model="carId"
                      :items="cars.filter(
                          (c) => c.typeId === carTypeId || !carTypeId
                        )"
                      :rules="rules.car"
                      item-text="regisNumber"
                      item-value="carId"
                      placeholder="เลือกรถยนต์"
                      flat
                      solo
                      dense
                      class="mb-0 pt-0"

                    />
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="12" class="mx-auto pt-0">
                <p class="mb-4 font-weight-bold">เลือกคนขับ :&nbsp;</p>
                <v-row>
                  <v-col cols="12" md="12" class="pb-0 pt-0">
                    <v-select
                      v-model="driverId"
                      :items="drivers"
                      :rules="request.typerequest === 1 ? rules.driver : []"
                      item-text="firstName"
                      item-value="driverId"
                      placeholder="เลือกคนขับ"
                      outlined
                      dense
                      class="pt-0"
                    >
                      <template slot="selection" slot-scope="data">
                        <span>
                          <v-img
                            class="flex-grow-0 mr-4"
                            :lazy-src="data.item.linkImage"
                            :aspect-ratio="1"
                            src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                            contain
                            height="55"
                            width="55"
                          />
                        </span>
                        {{ data.item.firstName }}  {{ data.item.lastName }}
                      </template>
                      <template slot="item" slot-scope="data">
                        <span>
                          <v-img
                            class="flex-grow-0 mr-4"
                            :lazy-src="data.item.linkImage"
                            :aspect-ratio="1"
                            src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                            contain
                            height="55"
                            width="55"
                          />
                        </span>
                        {{ data.item.firstName }}  {{ data.item.lastName }}
                      </template>
                    </v-select>
                  </v-col>
                </v-row>
                <v-divider></v-divider>

                <v-btn
                  :disabled="!valid"
                  color="warning"
                  type="submit"
                  @click="validate"
                  block
                  outlined
                  class="my-4 orange lighten-4 font-weight-bold"
                >
                  <v-icon left>save</v-icon>  บันทึก
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </template>
      </RequestInfoDialog>
    </v-form>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  filters: {
    carName(car) {
      const title = [car.brand?.name, car.model?.name]
        .filter((i) => i && i.length)
        .join(" ");

      return `${car.regisNumber}<br>${title}`;
    },
  },
  data() {
    return {
      valid: true,
      openDialog: false,
      request: null,
      carTypeId: null,
      carId: null,
      driverId: false,
      rules: {
        car: [(v) => !!v || "กรุณาเลือกรถ"],
        driver: [(v) => !!v || "กรุณาเลือกพนักงานขับรถ"],
      },
    };
  },
  computed: {
    ...mapGetters("car", {
      cars: "cars",
      carTypes: "types",
    }),
    ...mapGetters("driver", ["drivers"]),
  },
  mounted() {
    this.getCars();
    this.getDrivers();
  },
  methods: {
    ...mapActions("car", {
      getCars: "get",
    }),
    ...mapActions("driver", {
      getDrivers: "get",
    }),
    ...mapActions("arrangement", ["arrange"]),
    open(request) {
      this.request = request;
      this.carId = request.carId;
      if (request.typerequest !== 1) {
        this.driverId = 0;
      }
      if (request.car_type  != null){
        this.carTypeId = request.car_type;
      }

      this.openDialog = true;
    },
    close() {
      this.openDialog = false;
      this.request = null;
      this.carId = null;
      this.driverId = null;
    },
    async validate() {
      this.$refs.form.validate();
    },
    async onSubmit() {
      try {
        const response = await this.arrange({
          id: [this.request.requestId],
          carId: this.carId,
          driverId: this.driverId !== 0 ? this.driverId : null,
          arrangeTypeId: 1,
          startTime: this.request.startTime,
          endTime: this.request.endTime,
        }).catch(({ response }) => {
          switch (response.status) {
            case 400:
              if (response.data.message === "cant_selected_this_car_on_time") {
                this.$toast.global.error({
                  message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                });
                return;
              }
              break;
            default:
              break;
          }
        });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูล - การจัดรถยนต์ สำเร็จ",
          });
          this.close();
          this.$emit("success");
        }
      } catch ({ response }) {
        switch (response.status) {
          case 400:
            if (response.data.message === "cant_selected_this_car_on_time") {
              this.$toast.global.error({
                message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
              });
              return;
            }
            break;
          default:
            this.$toast.global.error({
              message: "ไม่สามารถบันทึกข้อมูล - การจัดรถยนต์",
            });
            break;
        }
      }
    },
  },
};
</script>
