<template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        v-if="orderStatus(item.order) === 'พร้อมใช้งาน รอการส่งคืนรถ'"
        :to="{
          name: 'request-id-return',
          params: { id: item.requestId },
        }"
        icon
        outlined
        class="mr-2"
        color="warning"
        v-bind="attrs"
        v-on="on"
      >
        <v-icon>mdi-arrow-u-left-top</v-icon>
      </v-btn>
    </template>
    <span>คืนรถ</span>
  </v-tooltip>
</template>
<script>
export default {
  props:{
    text:null,
    routeName:null,
  }
}
</script>
