<template>
    <v-card-text>
      <v-sheet
        tile
        height="54"
        class="d-flex justify-space-between"
      >
        <v-btn
          icon
          @click="$refs.calendar.prev()"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
        <v-toolbar-title v-if="$refs.calendar">
          {{ $refs.calendar.title }}
        </v-toolbar-title>
        <v-btn
          icon
          @click="$refs.calendar.next()"
        >
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>

      </v-sheet>
      <v-calendar
        ref="calendar"
        v-model="value"
        :type="type"
        :events="events"
        @click:more="viewDay"
        @click:date="viewDay"
        @click:event="showEvent"
      />
      <v-menu
        v-model="selectedOpen"
        :close-on-content-click="false"
        :activator="selectedElement"
        offset-x
      >
        <v-card
          color="grey lighten-4"
          min-width="350px"
          flat
        >
          <v-toolbar
            :color="selectedEvent.color"
            dark
          >
            <v-toolbar-title v-html="selectedEvent.regis_number"></v-toolbar-title>
          </v-toolbar>
          <v-card-text>
            <p class="mb-0"><span v-html="selectedEvent.name"></span></p>
            <p class="mb-0"><span v-html="$dayjs(selectedEvent.start).format('DD/MM/YYYY H:mm')"></span> - <span v-html="$dayjs(selectedEvent.end).format('DD/MM/YYYY H:mm')"></span></p>
            <p>สถานะ <span v-html="selectedEvent.status"></span></p>
          </v-card-text>
          <v-card-actions class="text-end">
            <v-btn
              text
              color="secondary"
              :href="`/request/detail/${selectedEvent.orderId}`"
              class="ml-auto"
            >
              รายละเอียด
            </v-btn>
            <v-btn
              text
              color="secondary"
              @click="selectedOpen = false"
            >
              ปิด
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-menu>
    </v-card-text>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      value: "",
      type: "month",
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      types: [
        {text: "รายเดือน", value: "month"},
        {text: "รายสัปดาห์", value: "week"},
        {text: "รายวัน", value: "day"},
      ],
    };
  },
  computed: {
    ...mapGetters("order", ["events"]),
  },
  methods: {
    ...mapActions("order", {
      getEvents: "getEvents",
    }),
    viewDay ({ date }) {
      this.focus = date
      this.type = 'day'
    },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))

        // console.log(this.selectedEvent.orderId);
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
  },
  mounted() {
    this.getEvents();
    this.$refs.calendar.checkChange()
  }
};
</script>
