<template>
  <v-data-table :headers="headers" :items="acts">
    <template #item.act_from_date="{ item }">
      {{
        item.act_from_date
          ? $dayjs(item.act_from_date).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.act_to_date="{ item }">
      {{
        item.act_to_date
          ? $dayjs(item.act_to_date).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.invoice_date="{ item }">
      {{
        item.invoice_date ? $dayjs(item.invoice_date).format("D MMM YYYY") : "-"
      }}
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    acts: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          text: "เลขที่ พ.ร.บ.",
          align: "center",
          value: "act_no",
          sortable: false,
        },
        {
          text: "วันที่เริ่มต้น",
          align: "center",
          value: "act_from_date",
          sortable: false,
        },
        {
          text: "วันที่สิ้นสุด",
          align: "center",
          value: "act_to_date",
          sortable: false,
        },
        {
          text: "เลขที่ใบแจ้งหนี้",
          align: "center",
          value: "invoice_no",
          sortable: false,
        },
        {
          text: "วันที่ใบแจ้งหนี้",
          align: "center",
          value: "invoice_date",
          sortable: false,
        },
        {
          text: "บริษัทประกัน",
          align: "center",
          value: "payin_name",
          sortable: false,
        },
      ],
    };
  },
};
</script>
