<template>
  <div class="order">
    <div class="datetime">{{ item.createdAt }}</div>
    <v-icon class="icon">directions_car</v-icon>
    <template v-if="!item.order.approvals || !item.order.approvals.find(({ isApproved }) => isApproved === 2)">
      <div v-if="!item.order.isApproved" class="status-wrapper waiting-approve">
        <div class="text">รอการอนุมัติ</div>
      </div>
      <div v-else-if="!item.order.isArrangeOrder" class="status-wrapper waiting-approve">
        <div class="text">รอการจัดรถ</div>
      </div>
      <div v-else class="status-wrapper using" @click="returnCar()">
        <div class="text">รอการส่งคืนรถ</div>
      </div>
    </template>
    <template v-if="item.car">
      <div class="name">{{ item.car | carName }}</div>
      <div class="mile">เลขไมล์ {{ item.car.mileage }} กม.</div>
    </template>
    <template v-else-if="item.car_type">
      <div class="name">{{ item.car_type.name }}</div>
    </template>
    <div class="footer-wrapper" v-if="type === carTypes.HISTORY">
      <div class="fuel-wrapper" v-if="item.statusId === carStatusIds.SUCCESS">
        <div class="fuel-title-wrapper">
          <div class="fuel-title">เติมเชื้อเพลิง</div>
          <div class="fuel-detail">ระยะทาง 419.9 กม.</div>
        </div>
        <div class="fuel-detail-wrapper">
          <div class="fuel-title">995.00 บาท</div>
          <div class="fuel-detail">29.28 ลิตร</div>
        </div>
      </div>
      <div
        :class="`status-wrapper ${
          item.statusId === carStatusIds.REPAIR ? 'repair' : ''
        } ${
          item.statusId === carStatusIds.WAITING_APPROVE
            ? 'waiting-approve'
            : ''
        } ${item.statusId === carStatusIds.SUCCESS ? 'success' : ''} ${
          item.statusId === carStatusIds.NO_APPROVE ? 'no-approve' : ''
        }`"
      >
        <span class="status" v-if="item.statusId === carStatusIds.REPAIR">
          แจ้งซ่อม
        </span>
        <span
          class="status"
          v-else-if="item.statusId === carStatusIds.WAITING_APPROVE"
        >
          รอการอนุมัติ
        </span>
        <span
          class="status"
          v-else-if="item.statusId === carStatusIds.SUCCESS"
        >
          สำเร็จ
        </span>
        <span
          class="status"
          v-else-if="item.statusId === carStatusIds.NO_APPROVE"
        >
          ไม่อนุมัติ
        </span>
        <span class="status no-status" v-else>
          ยังไม่มีสถานะ
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import * as globals from '../assets/globals'

export default {
  name: 'CarHistory',
  props: {
    item: {
      type: Object,
      default: () => ({})
    },
    type: {
      type: String,
    },
  },
  filters: {
    carName(car) {
      return `${car.regisNumber} - ${car.brand?.name} ${car.model?.name}`
    }
  },
  data: () => ({
    carTypes: globals.CARS.TYPES,
    carStatusIds: globals.CARS.STATUS_IDS,
  }),
  methods: {
    returnCar() {
      this.$router.push('/cars/return')
    },
  },
}
</script>

<style lang="scss" scoped>
.order {
  margin-bottom: 40px;
}

.order:last-child {
  margin-bottom: 0;
}

.footer-wrapper {
  border-top: 0.5px solid rgba(231, 153, 24, 0.3);
  margin-top: 15px;

  .fuel-wrapper {
    min-height: 108px;

    .fuel-title-wrapper,
    .fuel-detail-wrapper {
      display: flex;
      justify-content: space-between;
      align-orders: flex-end;
    }

    .fuel-title-wrapper {
      padding-top: 13px;

      .fuel-title {
        font-weight: bold;
        font-size: 16px;
        margin-left: 34px;
      }

      .fuel-detail {
        font-weight: bold;
        color: var(--text-03);
        font-size: 14px;
        margin-right: 22px;
      }
    }

    .fuel-detail-wrapper {
      .fuel-title {
        font-weight: bold;
        font-size: 20px;
        color: var(--main-ci);
        margin-left: 34px;
      }

      .fuel-detail {
        font-weight: bold;
        color: var(--text-03);
        font-size: 12px;
        margin-right: 22px;
      }
    }
  }

  .status-wrapper {
    height: 24px;
    position: absolute;
    bottom: 0;
    width: 100%;
    width: calc(100% - 13px * 2);
    border-radius: 0;
    color: #fff !important;

    .status {
      background-color: unset !important;
    }

    .status.no-status {
      color: #000 !important;
    }
  }

  .status-wrapper.repair {
    background-color: var(--text-ci) !important;
  }

  .status-wrapper.waiting-approve {
    background-color: var(--main-03) !important;
  }

  .status-wrapper.success {
    background-color: var(--main-ci) !important;
  }

  .status-wrapper.no-approve {
    background-color: var(--text-03) !important;
  }
}

.order {
  width: 100%;
  margin-bottom: 20px;
  background: #ffffff;
  border: 0.5px solid rgba(231, 153, 24, 0.8);
  /* Bar Ci */

  box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1);
  border-radius: 9px;
  // padding: 45px 25px;
  position: relative;
  // padding-left: 67px;
  // padding-right: 127px;
  min-height: 144px;

  .btn-repair {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: var(--text-03);
    font-size: 12px;
    font-weight: 600;
    min-height: 24px;
    height: auto;
    border-radius: 20px;
  }

  .datetime {
    position: absolute;
    top: 30px;
    right: 22px;
    font-size: 12px;
    font-weight: bold;
    color: var(--text-03);
  }

  .icon {
    position: absolute;
    top: 42px;
    left: 25px;
    color: var(--main-ci);
  }

  .name {
    font-weight: bold;
    font-size: 16px;
    padding-left: 67px;
    padding-right: 127px;
    padding-top: 45px;
  }

  .mile {
    font-weight: 500;
    font-size: 14px;
    padding-left: 67px;
    padding-right: 127px;
  }

  .status-wrapper {
    width: 108px;
    position: absolute;
    bottom: 10px;
    right: 0;
    border-radius: 20px 0px 0px 20px;
    min-height: 25px;
    display: flex;
    align-orders: center;
    justify-content: center;

    .text {
      font-weight: bold;
      font-size: 12px;
      color: #fff;
    }
  }

  .status-wrapper.waiting-approve {
    background: #e79918;
  }

  .status-wrapper.using {
    background: var(--text-ci);
    cursor: pointer;
  }
}

.order:last-child {
  margin-bottom: 0px;
}
</style>
