<template>
  <v-card-text>
    <v-row>
      <v-col cols="12" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ทะเบียนรถ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ car ? car.regisNumber : "-" }}
        </p>
      </v-col>
      <v-col cols="12" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ยี่ห้อ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{ car && car.brand ? car.brand.name : "-" }}</p>
      </v-col>
      <v-col cols="12" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">รุ่น :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{ car && car.model ? car.model.name : "-" }}</p>
      </v-col>
    </v-row>
  </v-card-text>

</template>

<script>
export default {
  props: {
    car: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
.car-information-card {
  @media only screen and (max-width: 415px) {
    .v-list-item {
      flex-direction: column;
    }
  }
}
</style>
