<template>
  <v-data-table
    :headers="headers"
    :items="insurances"
    :expanded.sync="expaned"
    :single-expand="singleExpand"
    item-key="period_insured_from"
    show-expand
  >
    <template #item.period_insured_from="{ item }">
      {{
        item.period_insured_from
          ? $dayjs(item.period_insured_from).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.period_insured_to="{ item }">
      {{
        item.period_insured_to
          ? $dayjs(item.period_insured_to).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.sum_insured_amount="{ item }">
      {{ Number(item.sum_insured_amount).toLocaleString() }} บาท
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">
        <v-row class="my-0">
          <v-col>
            <p class="text-h6 font-weight-bold">ความรับผิดชอบต่อบุคคลภายนอก</p>
            <dl>
              <dt>ความเสียหายต่อชีวิต ร่างกาย หรืออนามัยเฉพาะส่วนเกินวงเงินสูดสุดตาม พ.ร.บ.</dt>
              <dd>{{ Number(item.damage_per_person).toLocaleString() }} บาท/คน</dd>
              <dd>{{ Number(item.damage_per_time).toLocaleString() }} บาท/ครั้ง</dd>
              <dt>ความเสียหายต่อทรัพย์สิน</dt>
              <dd>{{ Number(item.damage_for_property).toLocaleString() }} บาท/ครั้ง</dd>
            </dl>
          </v-col>
          <v-col>
            <p class="text-h6 font-weight-bold">รถยนต์เสียหาย สูญหาย ไฟไหม้</p>
            <dl>
              <dt>ความเสียหายต่อรถยนต์</dt>
              <dd>{{ Number(item.damage_for_car).toLocaleString() }} บาท/ครั้ง</dd>
              <dt>รถยนต์สูญหาย/ไฟไหม้</dt>
              <dd>{{ Number(item.damage_for_fire).toLocaleString() }} บาท</dd>
            </dl>
          </v-col>
          <v-col>
            <p class="text-h6 font-weight-bold">ความคุ้มครองตามเอกสารแนบท้าย</p>
            <dl>
              <dt>อุบัติเหตุส่วนบุคคล</dt>
              <dt>เสียชีวิต สูญเสียอวัยวะ ทุพพลภาพถาวร</dt>
              <dd>ผู้ขับขี่ {{ item.driver_no }} คน {{ Number(item.damage_for_driver).toLocaleString() }} บาท</dd>
              <dd>ผู้โดยสาร {{ item.passenger_no }} คน {{ Number(item.damage_for_passenger).toLocaleString() }} บาท/คน</dd>
              <dt>ค่ารักษาพยาบาล</dt>
              <dd>{{ Number(item.damage_for_treat).toLocaleString() }} บาท</dd>
              <dt>ประกันตัวผู้ขับขี่</dt>
              <dd>{{ Number(item.driver_insurance).toLocaleString() }} บาท</dd>
            </dl>
          </v-col>
        </v-row>
      </td>
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    insurances: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          text: "ปีที่",
          align: "center",
          value: "seq",
          sortable: false,
        },
        {
          text: "กรรธรรม์เลขที่",
          align: "center",
          value: "policy_no",
          sortable: false,
        },
        {
          text: "บริษัทประกัน",
          align: "center",
          value: "payin_name",
          sortable: false,
        },
        {
          text: "วันที่เริ่มต้น",
          align: "center",
          value: "period_insured_from",
          sortable: false,
        },
        {
          text: "วันที่สิ้นสุด",
          align: "center",
          value: "period_insured_to",
          sortable: false,
        },
        {
          text: "ทุนประกัน",
          align: "center",
          value: "sum_insured_amount",
          sortable: false,
        },
      ],
      expaned: [],
      singleExpand: true,
    };
  },
};
</script>

<style scoped>
dt {
  font-weight: bold;
}
dd {
  margin-left: 2rem;
}
</style>
