<template>
  <v-card-text>
    <v-row>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">วันที่จดทะเบียน :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ $dayjs(information.license_date).format("DD/MM/YYYY") }}
        </p>
      </v-col>
      <v-col cols="6" md="3" v-if="information.vehicle_type_name">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ประเภท :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.vehicle_type_name }}
        </p>
      </v-col>
      <v-col cols="6" md="3" v-if="information.brand_name">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ยี่ห้อ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.brand_name }}
        </p>
      </v-col>
      <v-col cols="6" md="3" v-if="information.model_name">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">รุ่น :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.model_name }} ({{ information.model_year }})
        </p>
      </v-col>
      <v-col cols="6" md="3" v-if="information.color_name">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">สี :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.color_name || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ประเภทเกียร์ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.gear_name || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">หมายเลขตัวถัง / ตำแหน่ง :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.chassis_no || "-" }} / {{ information.chassis_location || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">หมายเลขเครื่อง / ตำแหน่ง :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.engine_no || "-" }} / {{ information.engine_location || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">น้ำมัน :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.fuel_name || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">หมายเลขถังน้ำมัน :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.gasoline_tank_no || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ลูกสูบ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.cylinders || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ความจุของกระบอกสูบ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ Number(information.cubic_centilitre).toLocaleString() || "-" }} cc
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">กำลัง :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ Number(information.horse_power).toLocaleString() || "-" }} แรงม้า
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">จำนวนเพลา :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.axletree || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">จำนวนล้อ / ยาง :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.wheel || "-" }} / {{ information.tire || "-" }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">น้ำหนักรถ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{  Number(information.vehicle_dry_weight).toLocaleString()|| "-" }} กิโลกรัม
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">น้ำหนักบรรทุก :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ Number(information.vehicle_load_weight).toLocaleString() || "-" }} กิโลกรัม
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">จำนวนที่นั่ง :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.seats || "-" }} ที่นั่ง
        </p>
      </v-col>
      <!-- <v-col cols="6" md="3" v-if="information.vendor_name">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ซื้อจาก :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.vendor_name }} ({{ information.vendor_code }})
        </p>
      </v-col>
      <v-col cols="6" md="3" v-if="information.vendor_address">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ที่อยู่ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.vendor_address }}
        </p>
      </v-col>
      <v-col cols="6" md="3">
        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">สถานะรถ :</p>
        <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
          {{ information.vehicle_status_name }}
        </p>
      </v-col> -->
    </v-row>
  </v-card-text>
</template>

<script>
export default {
  props: {
    information: {
      type: Object,
      default: () => ({})
    }
  },
  methods:{
    formatPhoneNumber(phoneNumber){
      if (phoneNumber.length !== 0) {
        if (phoneNumber.length === 10 || phoneNumber.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

          // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
          // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        }
        return (this.phoneNumber)
      }

  	}
  }
}
</script>
