<template>
  <v-list class="car-information-card">
    <v-list-item>
      <v-list-item-icon>
        <v-icon slot="icon" color="#e79918" size="50">
          mdi-car-outline
        </v-icon>
      </v-list-item-icon>
      <v-list-item-content>
        <v-list-item-title class="text-h5">
          {{ car ? car.regisNumber : "-" }}
        </v-list-item-title>
        <v-list-item-subtitle class="pt-4">
          <v-row>
            <v-col cols="6" md="3">
              <p><b>ยี่ห้อ {{ car && car.brand ? car.brand.name : "-" }}</b></p>
            </v-col>
            <v-col cols="6" md="3">
              <p><b>รุ่น {{ car && car.model ? car.model.name : "-" }}</b></p>
            </v-col>
          </v-row>
        </v-list-item-subtitle>
      </v-list-item-content>
    </v-list-item>
  </v-list>
</template>

<script>
export default {
  props: {
    car: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>

<style lang="scss">
.car-information-card {
  @media only screen and (max-width: 415px) {
    .v-list-item {
      flex-direction: column;
    }
  }
}
</style>
