<template>
  <div :class="`list-item ${type === carTypes.HISTORY ? 'history' : ''}`">
    <div class="item" v-for="(item, index) in items" :key="index">
      <div class="datetime">{{ item.createdAtFormat }}</div>
      <v-icon class="icon">directions_car</v-icon>
      <div class="status-wrapper waiting-approve">
        <div class="text">รอการอนุมัติ</div>
      </div>
      <div class="status-wrapper using" @click="returnCar()">
        <div class="text">รอการส่งคืนรถ</div>
      </div>
      <v-btn class="btn-repair" outlined>แจ้งซ่อม</v-btn>
      <div class="name">{{ item.name }}</div>
      <div class="mile">เลขไมล์ {{ item.miles }} กม.</div>
      <div class="footer-wrapper" v-if="type === carTypes.HISTORY">
        <div class="fuel-wrapper" v-if="item.statusId === carStatusIds.SUCCESS">
          <div class="fuel-title-wrapper">
            <div class="fuel-title">เติมเชื้อเพลิง</div>
            <div class="fuel-detail">ระยะทาง 419.9 กม.</div>
          </div>
          <div class="fuel-detail-wrapper">
            <div class="fuel-title">995.00 บาท</div>
            <div class="fuel-detail">29.28 ลิตร</div>
          </div>
        </div>
        <div
          :class="`status-wrapper ${
            item.statusId === carStatusIds.REPAIR ? 'repair' : ''
          } ${
            item.statusId === carStatusIds.WAITING_APPROVE
              ? 'waiting-approve'
              : ''
          } ${item.statusId === carStatusIds.SUCCESS ? 'success' : ''} ${
            item.statusId === carStatusIds.NO_APPROVE ? 'no-approve' : ''
          }`"
        >
          <span class="status" v-if="item.statusId === carStatusIds.REPAIR">
            แจ้งซ่อม
          </span>
          <span
            class="status"
            v-else-if="item.statusId === carStatusIds.WAITING_APPROVE"
          >
            รอการอนุมัติ
          </span>
          <span
            class="status"
            v-else-if="item.statusId === carStatusIds.SUCCESS"
          >
            สำเร็จ
          </span>
          <span
            class="status"
            v-else-if="item.statusId === carStatusIds.NO_APPROVE"
          >
            ไม่อนุมัติ
          </span>
          <span class="status no-status" v-else>
            ยังไม่มีสถานะ
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as globals from '../assets/globals'

export default {
  name: 'carItem',
  props: {
    items: {
      type: Array,
    },
    type: {
      type: String,
    },
  },
  data: () => ({
    carTypes: globals.CARS.TYPES,
    carStatusIds: globals.CARS.STATUS_IDS,
  }),
  methods: {
    returnCar() {
      this.$router.push('/cars/return')
    },
  },
}
</script>

<style lang="scss" scoped>
.list-item.history {
  width: 920px;
  position: relative;

  .item {
    margin-bottom: 40px;
  }

  .item:last-child {
    margin-bottom: 0;
  }

  .footer-wrapper {
    border-top: 0.5px solid rgba(231, 153, 24, 0.3);
    margin-top: 15px;

    .fuel-wrapper {
      min-height: 108px;

      .fuel-title-wrapper,
      .fuel-detail-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
      }

      .fuel-title-wrapper {
        padding-top: 13px;

        .fuel-title {
          font-weight: bold;
          font-size: 16px;
          margin-left: 34px;
        }

        .fuel-detail {
          font-weight: bold;
          color: var(--text-03);
          font-size: 14px;
          margin-right: 22px;
        }
      }

      .fuel-detail-wrapper {
        .fuel-title {
          font-weight: bold;
          font-size: 20px;
          color: var(--main-ci);
          margin-left: 34px;
        }

        .fuel-detail {
          font-weight: bold;
          color: var(--text-03);
          font-size: 12px;
          margin-right: 22px;
        }
      }
    }

    .status-wrapper {
      height: 24px;
      position: absolute;
      bottom: 0;
      width: 100%;
      width: calc(100% - 13px * 2);
      border-radius: 0;
      color: #fff !important;

      .status {
        background-color: unset !important;
      }

      .status.no-status {
        color: #000 !important;
      }
    }

    .status-wrapper.repair {
      background-color: var(--text-ci) !important;
    }

    .status-wrapper.waiting-approve {
      background-color: var(--main-03) !important;
    }

    .status-wrapper.success {
      background-color: var(--main-ci) !important;
    }

    .status-wrapper.no-approve {
      background-color: var(--text-03) !important;
    }
  }
}

.list-item {
  width: 730px;
  margin: auto;

  .item {
    width: 100%;
    margin-bottom: 20px;
    background: #ffffff;
    border: 0.5px solid rgba(231, 153, 24, 0.8);
    /* Bar Ci */

    box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1);
    border-radius: 9px;
    // padding: 45px 25px;
    position: relative;
    // padding-left: 67px;
    // padding-right: 127px;
    min-height: 144px;

    .btn-repair {
      position: absolute;
      bottom: 10px;
      left: 25px;
      color: var(--text-03);
      font-size: 12px;
      font-weight: 600;
      min-height: 24px;
      height: auto;
      border-radius: 20px;
    }

    .datetime {
      position: absolute;
      top: 30px;
      right: 22px;
      font-size: 12px;
      font-weight: bold;
      color: var(--text-03);
    }

    .icon {
      position: absolute;
      top: 42px;
      left: 25px;
      color: var(--main-ci);
    }

    .name {
      font-weight: bold;
      font-size: 16px;
      padding-left: 67px;
      padding-right: 127px;
      padding-top: 45px;
    }

    .mile {
      font-weight: 500;
      font-size: 14px;
      padding-left: 67px;
      padding-right: 127px;
    }

    .status-wrapper {
      width: 108px;
      position: absolute;
      bottom: 10px;
      right: 0;
      border-radius: 20px 0px 0px 20px;
      min-height: 25px;
      display: flex;
      align-items: center;
      justify-content: center;

      .text {
        font-weight: bold;
        font-size: 12px;
        color: #fff;
      }
    }

    .status-wrapper.waiting-approve {
      background: #e79918;
    }

    .status-wrapper.using {
      background: var(--text-ci);
      cursor: pointer;
    }
  }

  .item:last-child {
    margin-bottom: 0px;
  }
}
</style>
