<template>
  <v-data-table
    :headers="headers"
    :items="maintenances"
    :expanded.sync="expaned"
    :single-expand="singleExpand"
    item-key="repair_no"
    show-expand
  >
    <template v-slot:item.repair_no="{ item }">
      {{ item.repair_no }}
    </template>
    <template v-slot:item.repair_date="{ item }">
      {{ $dayjs(item.repair_date).format("D MMM YYYY")}}
    </template>
    <template v-slot:item.vedor="{ item }">
      {{ item.vedor ? item.vedor: '-' }}
    </template>
    <template v-slot:item.vendor_contact="{ item }">
      {{ item.vendor_contact ? item.vendor_contact: '-'}}
    </template>
    <template v-slot:item.remark="{ item }">
      {{ item.remark ? item.remark: '-'}}
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">
        <div class="my-3">
          <h5>รายละเอียดการซ่อม</h5>
          <hr class="my-3" />
          <CarMaintenanceDetailTable :details="item.details" />
        </div>
      </td>
    </template>
  </v-data-table>
</template>

<script>
import CarMaintenanceDetailTable from "./CarMaintenanceDetailTable.vue";
export default {
  components: { CarMaintenanceDetailTable },
  props: {
    maintenances: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      expaned: [],
      singleExpand: true,
      headers: [
        {
          text: "เลขที่เข้าซ่อม",
          align: "center",
          value: "repair_no",
          sortable: false,
        },
        {
          text: "ประเภท",
          align: "left",
          value: "repair_type_name",
          sortable: false,
        },
        {
          text: "วันที่",
          align: "left",
          value: "repair_date",
          sortable: false,
        },
        {
          text: "ศูนย์บริการ",
          align: "left",
          value: "vedor",
          sortable: false,
        },
        {
          text: "ชื่อผู้ติดต่อศูนย์บริการ",
          align: "left",
          value: "vendor_contact",
          sortable: false,
        },
        {
          text: "หมายเหตุ",
          align: "left",
          value: "remark",
          sortable: false,
        },
      ],
    };
  },
};
</script>
