<template>
  <v-data-table
    :headers="headers"
    :items="details"
    :hide-default-footer="true"
    disable-pagination
    dense
  >
    <template v-slot:item.repair_detail="{ item }">
      {{ item.repair_detail  ? item.repair_detail:  '-' }}
    </template>
    <template v-slot:item.spare_detail="{ item }">
      {{ item.spare_detail  ? item.spare_detail: '-' }}
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    details: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          text: "รายการซ่อม",
          align: "left",
          value: "repair_detail",
          sortable: false,
        },
        {
          text: "รายการอะไหล่",
          align: "left",
          value: "spare_detail",
          sortable: false,
        },
      ],
    };
  },
};
</script>
