<template>
  <v-data-table :headers="headers" :items="options" />
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          text: "ลำดับ",
          align: "center",
          value: "seq",
          sortable: false,
        },
        {
          text: "รายการ",
          align: "center",
          value: "name",
          sortable: false,
        },
      ],
    };
  },
};
</script>
