<template>
  <v-card>
    <v-card-text>
      <v-row>
        <v-col cols="4">
          <div>ผู้ครอบครอง</div>
          <p class="text-h5 text--primary">
            {{ owner.customer_name }}
          </p>
        </v-col>
        <v-col cols="4">
          <div>ที่อยู่</div>
          <p class="text-h5 text--primary">
            {{ owner.customer_address }}
          </p>
        </v-col>
        <v-col cols="4">
          <div>วันที่ครอบครอง</div>
          <p class="text-h5 text--primary">
            {{ $dayjs(owner.ownership_date).format('D MMM YYYY') }}
          </p>
        </v-col>
        <v-col cols="4">
          <div>ผู้ถือกรรมสิทธิ์</div>
          <p class="text-h5 text--primary">
            {{ owner.vendor_name }}
          </p>
        </v-col>
        <v-col cols="4">
          <div>ที่อยู่</div>
          <p class="text-h5 text--primary">
            {{ owner.vendor_address }}
          </p>
        </v-col>
        <v-col cols="4">
          <div>วันที่สามารถโอนกรรมสิทธิ์</div>
          <p class="text-h5 text--primary">
            {{ $dayjs(owner.right_transfer_date).format('D MMM YYYY') }}
          </p>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
export default {
  props: {
    owner: {
      type: Object,
      default: () => ({})
    }
  }
}
</script>
