<template>
  <div class="car-return-form">
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-row>
        <v-col cols="12" md="12">
          <p class=""><b>เลขไมค์การใช้รถยนต์</b></p>
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model.number="form.startmile"
                :rules="startmileRules"
                placeholder="ระบุเลขไมล์ก่อนใช้งาน"
                outlined
                dense
                required
                type="text"
                append-icon="mdi-water-check"
                @keypress="validateNumber"
              />
            </v-col>
            <v-col>
              <v-text-field
                v-model.number="form.endmile"
                :rules="endmileRules"
                type="text"
                append-icon="mdi-water-check"
                placeholder="ระบุเลขไมล์หลังใช้งาน"
                outlined
                dense
                required
                @keypress="validateNumber"
              />
            </v-col>
          </v-row>
        </v-col>
        <v-col cols="12" md="12">
          <p><b>สำรวจข้อมูลหลังการใช้รถยนต์</b></p>
          <template v-for="item in questions">
            <p :key="item.numberId">
              <b>{{ item.question }}</b>
            </p>
            <template
              v-if="
                form.answers.find((answer) => answer.numberId === item.numberId)
              "
            >
              <template v-if="item.questionTypeId === 1">
                <v-row>
                  <v-col col="12">
                    <v-radio-group
                      :key="`option_${item.numberId}`"
                      v-model="
                        form.answers.find(
                          (answer) => answer.numberId === item.numberId
                        ).value
                      "
                      row
                    >
                      <v-radio
                        v-for="option in item.options"
                        :key="option.optionId"
                        :label="option.name"
                        :value="option.optionId"
                      />
                    </v-radio-group>
                  </v-col>
                </v-row>
              </template>
              <template v-else-if="item.questionTypeId === 3">
                <v-row class="mb-5">
                  <v-col cols="12" sm="6" md="6">
                    <v-checkbox
                      v-for="option in item.options"
                        :key="option.optionId"
                        :label="option.name"
                        :value="option.optionId"
                        hide-details
                    ></v-checkbox>
                  </v-col>
                </v-row>
              </template>
              <template v-else>
                <v-text-field
                  :key="`question_${item.numberId}`"
                  v-model="
                    form.answers.find(
                      (answer) => answer.numberId === item.numberId
                    ).value
                  "

                  :placeholder="item.question"
                  outlined
                  dense
                  type="text"
                  name="answerTextOptionId"
                />
              </template>
            </template>
          </template>
          <v-text-field
            v-model="form.detail"
            name="detail"
            placeholder="หมายเหตุ"
            outlined
            dense
            required
            auto-grow
          />
        </v-col>
        <v-col v-if="fuels && fuels.length !== 0" cols="12" md="12">
          <v-list>
            <v-list-item v-for="(item, index) in fuels" :key="index">
              <v-list-item-content>
                <v-list-item-title>
                  {{ index + 1 }}.&nbsp;
                  <template v-if="item.codeoil">
                    รายการเต็มน้ำมันเลขที่ {{ item.codeoil }}
                  </template>
                  <template v-else>
                    รายการเต็มน้ำมันที่ {{ index + 1 }}
                  </template>
                </v-list-item-title>
                <v-list-item-subtitle v-if="item.liter">
                  {{ item.liter }}
                </v-list-item-subtitle>
              </v-list-item-content>
              <v-list-item-action>
                <div>
                  <v-btn
                    color="warning"
                    outlined
                    class="mr-4"
                    @click="editFuel(item, index)"
                  >
                    <v-icon left> mdi-pencil </v-icon>
                    แก้ไข
                  </v-btn>
                  <v-btn
                    color="warning"
                    outlined
                    class="mr-4"
                    @click="removeFuel(index)"
                  >
                    <v-icon left> mdi-delete </v-icon>
                    ลบ
                  </v-btn>
                </div>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </v-col>
        <v-col cols="12" md="12" class="ml-lg-auto">
          <v-btn
            class="mr-4"
            color="warning"
            outlined
            block
            @click="openFuelConsume"
          >
            <v-icon left>mdi-oil</v-icon>
            บันทึกรายการน้ำมัน
          </v-btn>
        </v-col>
        <v-col cols="12" class="text-center">
          <v-btn :disabled="!valid"
            type="submit"
            color="warning"
            outlined
            class="font-weight-bold orange lighten-5">
            <v-icon left>save</v-icon>
            บันทึกข้อมูล
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
    <v-dialog v-model="fuelConsumeOpened"  persistent hide-overlay max-width="1099px">
      <v-form ref="fuelConsume" @submit.prevent="saveFuel">
        <v-card class="pb-6">
          <v-toolbar class="dialog-toolbar" color="#feb959" dark>

            <v-toolbar-title>บันทึกรายการน้ำมัน</v-toolbar-title>
            <v-spacer />
            <v-btn icon right dark @click="fuelConsumeOpened = false" class="mr-auto">
              <v-icon>mdi-close</v-icon>
            </v-btn>
            <!-- <v-toolbar-items>
              <v-btn color="warning" type="submit">บันทึก</v-btn>
            </v-toolbar-items> -->
          </v-toolbar>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.mile"
                    outlined
                    dense
                    label="เลขไมล์ขณะเติม (ไม่จำเป็นต้องกรอก)"
                    color="#e79918"
                    type="text"
                    append-icon="mdi-speedometer"
                    @keypress="validateNumber"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-select
                    v-model="fuel.categoryId"
                    :items="fuelTypes"
                    :rules="fuelTypeRules"
                    outlined
                    dense
                    required
                    color="#e79918"
                    placeholder="ประเภทน้ำมัน"
                    item-text="name"
                    item-value="id"
                    name="type"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.liter"
                    :rules="literFuelRules"
                    label="จำนวนลิตร"
                    outlined
                    dense
                    required
                    color="#e79918"
                    type="text"
                    append-icon="mdi-gas-station"
                    @keypress="validateNumber"
                    @change="calculateConsumtion('total')"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.price"
                    :rules="pricePerFuelRules"
                    outlined
                    dense
                    required
                    label="ราคาต่อลิตร"
                    color="#e79918"
                    type="text"
                    append-icon="mdi-currency-usd"
                    @keypress="validateNumber"
                    @change="calculateConsumtion('total')"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.total"
                    :rules="priceTotalFuelRules"
                    label="จำนวนเงินทั้งหมด"
                    outlined
                    dense
                    required
                    color="#e79918"
                    type="text"
                    append-icon="mdi-currency-usd"
                    @keypress="validateNumber"
                    @change="calculateConsumtion('price')"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.fuelStation"
                    :rules="fuelStationRules"
                    label="ชื่อ ปั๊มน้ำมัน หรือ สถานที่ให้บริการ"
                    outlined
                    dense
                    color="#e79918"
                    required
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-text-field
                    v-model="fuel.receiptNumber"
                    label="เลขที่ใบเสร็จ (ไม่จำเป็นต้องกรอก)"
                    outlined
                    dense
                    color="#e79918"
                  />
                </v-col>
                <v-col cols="12" md="12" lg="6" class="mx-auto mb-0">
                  <v-file-input
                    v-model="fuel.receipt"
                    outlined
                    dense
                    accept="image/*"
                    label="แนบใบเสร็จน้ำมัน (ไม่จำเป็นต้องกรอก)"
                    color="#e79918"
                    prepend-icon="mdi-oil"
                  />
                  <v-img v-if="receiptUrl" :src="receiptUrl" />
                </v-col>
              </v-row>
           </v-container>
          </v-card-text>
          <v-card-footer>
            <v-row>
              <v-col cols="12" md="10" class="text-center mx-auto">
                <v-btn color="grey" class="mr-4" text @click="fuelConsumeOpened = false">
                  <v-icon>mdi-close</v-icon> ยกเลิก
                </v-btn>
                <v-btn class="orange lighten-5" outlined color="warning" type="submit"><v-icon>save</v-icon> บันทึก</v-btn>
              </v-col>
            </v-row>
          </v-card-footer>
        </v-card>
      </v-form>
    </v-dialog>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

const DEFAULT_FUEL = {
  mile: null,
  categoryId: null,
  liter: null,
  price: null,
  total: null,
  fuelStation: null,
  receiptNumber: null,
  receipt: null,
};

export default {
  props: {
    order: {
      type: Object,
      default: () => ({}),
    },
    car: {
      type: Object,
      default: () => ({}),
      required: false,
    },
  },
  data: () => ({
    carId: null,
    valid: true,
    fuelConsumeOpened: false,
    fuelEditIndex: null,
    fuelTypes: [
      { id: 1, name: "เบนซิล" },
      { id: 2, name: "ดีเซล" },
      { id: 3, name: "แก๊สโซฮอร์ 91" },
      { id: 4, name: "แก๊สโซฮอร์ 95" },
      { id: 5, name: "B20" },
      { id: 6, name: "E85"},
      { id: 7, name: "EV"},
      { id: 8, name: "E20"},
    ],
    form: {
      startmile: null,
      endmile: null,
      answers: [],
      detail: null,
    },
    fuels: [],
    fuel: { ...DEFAULT_FUEL },
  }),
  computed: {
    ...mapGetters("question", ["questions"]),
    receiptUrl() {
      return this.fuel.receipt ? URL.createObjectURL(this.fuel.receipt) : null;
    },
    startmileRules() {
      return [(v) => !!v || "กรุณากรอกเลขไมล์ก่อนใช้งาน"];
    },
    endmileRules() {
      return [
        (v) => !!v || "กรุณากรอกเลขไมล์หลังใช้งาน",
        (v) =>
          parseInt(v, 10) > parseInt(this.form.startmile, 10) ||
          "เลขไมล์หลังใช้งานไม่สามารถน้อยกว่า เลขไมล์ก่อนใช้งานได้",
      ];
    },
    literFuelRules() {
      return [(v) => !!v || "กรุณากรอกจำนวนลิตร"];
    },
    fuelTypeRules() {
      return [(v) => !!v || "กรุณาระบุประเภทน้ำมัน"];
    },
    pricePerFuelRules() {
      return [(v) => !!v || "กรุณากรอกราคาต่อลิตร"];
    },
    priceTotalFuelRules() {
      return [(v) => !!v || "กรุณากรอกจำนวนเงินทั้งหมด"];
    },
    fuelStationRules() {
      return [(v) => !!v || "กรุณากรอกชื่อ ปั๊มน้ำมัน หรือ สถานที่ให้บริการ"];
    },
  },
  async mounted() {
    if (this.questions.length === 0) {
      await this.getQuestions();
    }

    this.reset();
  },
  methods: {
    ...mapActions("question", {
      getQuestions: "get",
    }),
    reset() {
      this.form.startmile = null;
      this.form.endmile = null;
      this.form.detail = null;
      this.form.answers = this.questions.map(
        ({ numberId, questionTypeId, options }) => ({
          numberId,
          value: questionTypeId === 1 || questionTypeId === 3 ? options[0]?.optionId : null,
        })
      );
      this.fuels = [];
    },
    validateNumber: (event) => {
      let keyCode = event.keyCode;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
    openFuelConsume() {
      this.fuelConsumeOpened = true;
    },
    calculateConsumtion(target) {
      const zeroValueKey = ["liter", "price", "total"].find(
        (key) => !this.fuel[key]
      );
      let value;

      switch (zeroValueKey || target) {
        case "liter":
          value = this.fuel.liter > 0 ? this.fuel.total / this.fuel.liter : 0;
          this.fuel.liter =
            this.fuel.liter === null && value === 0
              ? null
              : parseFloat(value).toFixed(2);
          break;
        case "price":
          value = this.fuel.liter > 0 ? this.fuel.total / this.fuel.liter : 0;
          this.fuel.price =
            this.fuel.price === null && value === 0
              ? null
              : parseFloat(value).toFixed(2);
          break;
        case "total":
          value = this.fuel.price * this.fuel.liter;
          this.fuel.total =
            this.fuel.price === null && value === 0
              ? null
              : parseFloat(value).toFixed(2);
          break;
      }
    },
    saveFuel() {
      if (!this.$refs.fuelConsume.validate()) {
        return false;
      }

      if (this.fuelEditIndex) {
        this.fuels[this.fuelEditIndex] = this.fuel;
      } else {
        this.fuels.push(this.fuel);
      }

      this.fuel = { ...DEFAULT_FUEL };
      this.fuelEditIndex = null;
      this.fuelConsumeOpened = false;

      return true;
    },
    editFuel(fuel, index) {
      this.fuel = fuel;
      this.fuelEditIndex = index;
      this.fuelConsumeOpened = true;
    },
    removeFuel(index) {
      this.fuels.splice(index, 1);
    },
    async onSubmit() {
      if (!this.$refs.form.validate()) {
        this.$toast.global.warning({
          message: "กรุณากรอกแบบสำรวจหลังใช้รถให้ครบถ้วน",
        });

        return false;
      }

      this.$emit("submit", {
        startmile: this.form.startmile,
        endmile: this.form.endmile,
        detail: this.form.detail,
        answers: this.form.answers.map(({ numberId, value }) => {
          const question = this.questions.find((q) => q.numberId === numberId);
          const answer =
            question.questionTypeId === 1 || question.questionTypeId === 3
              ? question.options.find(({ optionId }) => optionId === value)
              : null;

          return {
            questionId: question.questionId,
            numberId,
            answerChoice:
              question.questionTypeId === 1  || question.questionTypeId === 3 ? answer?.optionId : null,
            answerText: question.questionTypeId === 1 ||  question.questionTypeId === 3 ? answer?.name : value,
          };
        }),
        fuels: this.fuels,
      });

      return true;
    },
  },
};
</script>

<style lang="scss">
.car-return-form {
  @media only screen and (max-width: 415px) {
    .v-list-item {
      flex-direction: column;
    }
  }
}
</style>
