<template>
  <v-data-table
    :headers="headers"
    :items="maintenances"
    item-key="repair_no"
  >
    <template v-slot:item.repair_no="{ item }">
      {{ item.repair_no }}
    </template>
    <template v-slot:item.repair_date="{ item }">
      {{ $dayjs(item.repair_date).format("DD/MM/YYYY")}}
    </template>
    <template v-slot:item.repair_request="{ item }">
      {{ item.repair_request ? item.repair_request: '-' }}
    </template>
    <template v-slot:item.vendor_contact="{ item }">
      {{ item.vendor_contact ? item.vendor_contact: '-'}}
    </template>
    <template v-slot:item.status="{ item }">
      <RepairStatus :status="item.status"></RepairStatus>
    </template>
    <template v-slot:item.remark="{ item }">
      {{ item.remark ? item.remark: '-'}}
    </template>
    <template #item.actions="{ item }">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            outlined
            class="mr-2"
            color="blue"
            v-bind="attrs"
            v-on="on"
             :to="{
              name: 'repair-id',
              params: { id: item.repair_no },
            }"
          >
            <v-icon size="20">mdi-eye</v-icon>
          </v-btn>
        </template>
        <span>ดูรายละเอียดข้อมูล</span>
      </v-tooltip>
       <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            outlined
            class="mr-2"
            color="warning"
            v-bind="attrs"
            v-on="on"
            :to="{
              name: 'repair-id-edit',
              params: { id: item.repair_no },
            }"
          >
            <v-icon size="20">mdi-clipboard-edit-outline</v-icon>
          </v-btn>
        </template>
        <span>แก้ไขรายละเอียดข้อมูล</span>
      </v-tooltip>
    </template>

  </v-data-table>
</template>

<script>
import CarMaintenanceDetailTable from "./CarMaintenanceDetailTable.vue";
export default {
  components: { CarMaintenanceDetailTable },
  props: {
    maintenances: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      expaned: [],
      singleExpand: true,
      headers: [
        {
          text: "เลขที่เข้าซ่อม",
          align: "center",
          value: "repair_no",
          sortable: false,
        },
        {
          text: "ประเภท",
          align: "left",
          value: "repair_type_name",
          sortable: false,
        },
        {
          text: "วันที่",
          align: "left",
          value: "repair_date",
          sortable: false,
        },
        {
          text: "ผู้แจ้งซ่อม",
          align: "left",
          value: "repair_request",
          sortable: false,
        },
        {
          text: "ชื่อผู้ติดต่อศูนย์บริการ",
          align: "left",
          value: "vendor_contact",
          sortable: false,
        },
        {
          text: "สถานะ",
          align: "center",
          value: "status",
          sortable: false,
        },
        {
          text: "หมายเหตุ",
          align: "left",
          value: "remark",
          sortable: false,
        },
        { text: "ดำเนินการ", align: "left", value: "actions", sortable: false },

      ],
    };
  },
};
</script>
