<template>
  <v-row v-if="data" justify="center" >
    <v-col cols="12" md="8">
      <v-card class="mb-4">
        <slot name="prepend" />
        <v-card-text>
          <CarInformationDetail v-if="car" :car="car" />
        </v-card-text>
        <v-row>
          <v-col cols="12" md="6">
            <v-card-text class="mb-4">
              <h3 class="my-1">รายละเอียดการซ่อม</h3>
              <v-row class="mt-4">
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">สถานนะ</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3"><RepairStatus :status="data.status"/></p>
                </v-col>
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">เลขไมล์ที่เข้าซ่อมเท่าไร</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{Number(data.mile_no).toLocaleString() }}</p>
                </v-col>
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">วันที่เข้าซ่อมบำรุง</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3"> {{ $dayjs(data.repair_date).format("DD/MM/YYYY") }}</p>
                </v-col>
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">เวลาที่เข้าซ่อม</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.repair_time}}</p>
                </v-col>

                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">อาการที่เข้าซ่อม</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.type.repair_type_name}}</p>
                </v-col>
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">อาการที่เข้าซ่อมอื่น ๆ</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.repair_detail}}</p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-col>
          <v-col cols="12" md="6">
            <v-card-text class="mb-4">
              <h3 class="my-1">ศูนย์บริการ</h3>
              <v-row class="mt-4">
                <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ชื่อผู้ติดต่อศูนย์</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.vendor_contact}}</p>
                </v-col>
                  <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">เบอร์ติดต่อศูนย​์</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{formatPhoneNumber(data.vendor_phone)}}</p>
                </v-col>
                  <v-col cols="6" md="6">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ศูนย์บริการ</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.vendor_name}}</p>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">หมายเหตุ</p>
                  <p class="mb-0 text-subtitle-2 grey--text text--darken-3">{{data.remark}}</p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  data (){
    return {
      phoneNumber:null
    }
  },
  computed:{
    ...mapGetters("car",["car"])
  },
  mounted(){
    this.find(this.data.carId)
    // this.formatPhoneNumber(this.data.vendor_phone);
  },
  methods:{
    ...mapActions("car",{
      find : "find"
    }),
    formatPhoneNumber(phoneNumber){
      if (phoneNumber.length !== 0) {
        if (phoneNumber.length === 10 || phoneNumber.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

          // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
          // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        }
        return (this.phoneNumber)
      }

  	}
  }
}
</script>
