<template>
  <v-data-table :headers="headers" :items="taxes">
    <template #item.document_date="{ item }">
      {{
        item.document_date
          ? $dayjs(item.document_date).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.tax_date="{ item }">
      {{ item.tax_date ? $dayjs(item.tax_date).format("D MMM YYYY") : "-" }}
    </template>
    <template #item.purchase_tax_date="{ item }">
      {{
        item.purchase_tax_date
          ? $dayjs(item.purchase_tax_date).format("D MMM YYYY")
          : "-"
      }}
    </template>
    <template #item.tax_due_date="{ item }">
      {{
        item.tax_due_date ? $dayjs(item.tax_due_date).format("D MMM YYYY") : "-"
      }}
    </template>
  </v-data-table>
</template>

<script>
export default {
  props: {
    taxes: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      headers: [
        {
          text: "เลขที่เอกสาร",
          align: "center",
          value: "document_no",
          sortable: false,
        },
        {
          text: "วันที่เอกสาร",
          align: "center",
          value: "document_date",
          sortable: false,
        },
        {
          text: "วันที่เริ่มคิดภาษี",
          align: "center",
          value: "tax_date",
          sortable: false,
        },
        {
          text: "วันที่เสียภาษี",
          align: "center",
          value: "purchase_tax_date",
          sortable: false,
        },
        {
          text: "ครบกำหนดเสียภาษี",
          align: "center",
          value: "tax_due_date",
          sortable: false,
        },
        {
          text: "เลขที่ใบเสร็จรับเงิน",
          align: "center",
          value: "receipt_no",
          sortable: false,
        },
      ],
    };
  },
};
</script>
