<template>
  <v-card>
    <v-list>
      <v-list-item class="mb-0 pb-0">
        <v-list-item-icon>
          <v-icon slot="icon" color="#e79918" size="24">mdi-car</v-icon>
        </v-list-item-icon>
        <v-list-item-title>วันที่ขอใช้: {{ $dayjs(order.startTime).format('DD MMM YYYY') }}</v-list-item-title>
        <v-list-item-title>ขอใช้ถึงวันที่: {{$dayjs(order.endTime).format('DD MMM YYYY') }}</v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon />
        <v-list-item-title>ผู้ขอใช้: {{ order.user.name }}</v-list-item-title>
        <v-list-item-title>เบอร์มือถือ: {{ order.user.tel }}</v-list-item-title>
      </v-list-item>
      <v-list-item>
        <v-list-item-icon />
        <v-list-item-title>ผู้เดินทางหลัก: {{ order.travelerName }}</v-list-item-title>
        <v-list-item-title>เบอร์มือถือ: {{ order.tel }}</v-list-item-title>
      </v-list-item>
    </v-list>
  </v-card>
</template>

<script>
export default {
  props: {
    order: {
      type: Object,
      default: () => ({}),
    },
  },
};
</script>
