<template>
  <v-dialog>
    <v-row>
      <v-col cols="10" class="mx-auto">
        <v-card color="#fff" dark style="color: #000;">
          <v-card-title class="text-h6">
            <v-row>
              <v-col cols="2">
                <v-icon slot="icon" color="#e79918" size="36">
                  mdi-car
                </v-icon>
              </v-col>
              <v-col cols="10">
                <strong>{{ carNumber.regisNumber }}</strong>
              </v-col>
            </v-row>
          </v-card-title>

          <v-card-subtitle style="color: #000;">
            <v-row>
              <v-col cols="2"></v-col>
              <v-col cols="5">
                <strong>ยี่ห้อ {{ carNumber.brandIdname }}</strong>
              </v-col>
              <v-col cols="5">
                <strong>รุ่น {{ carNumber.modelname }}</strong>
              </v-col>
            </v-row>
          </v-card-subtitle>
        </v-card>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
          class="my-5"
        >
          <v-text-field
            label="เลขไมล์ขณะเติม"
            @keypress="validateNumber"
            outlined
            dense
            height="50"
            color="#e79918"
            v-model="forms.mile"
            :rules="mileageOilRules"
            class="hidden-sm-and-down"
            required
            type="text"
            append-icon="mdi-speedometer"
          />
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="จำนวนลิตร"
                outlined
                dense
                height="50"
                color="#e79918"
                class="hidden-sm-and-down"
                v-model="forms.liter"
                :rules="literOilRules"
                @keypress="validateNumber"
                required
                type="text"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-select
                :items="typesOil"
                outlined
                dense
                height="50"
                color="#e79918"
                placeholder="ประเภทน้ำมัน"
                item-text="name"
                item-value="id"
                :rules="typesOilRules"
                v-model="forms.categoryoil"
                name="type"
                required
                class="hidden-sm-and-down"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="ราคาต่อลิตร"
                outlined
                dense
                color="#e79918"
                height="50"
                v-model="forms.priceoil"
                :rules="pricePerOilRules"
                @keypress="validateNumber"
                required
                type="text"
                class="hidden-sm-and-down"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="จำนวนเงินทั้งหมด"
                outlined
                dense
                color="#e79918"
                height="50"
                v-model="forms.total"
                :rules="peiceTotalOilRules"
                required
                @keypress="validateNumber"
                type="text"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-text-field
            label="ชื่อ ปั๊มน้ำมัน หรือ สถานที่ให้บริการ"
            outlined
            dense
            height="50"
            color="#e79918"
            v-model="forms.name"
            :rules="priceoilRules"
            required
          ></v-text-field>
          <v-text-field
            label="เลขที่ใบเสร็จ"
            outlined
            dense
            color="#e79918"
            height="50"
            v-model="forms.receipt"
            :rules="receiptRules"
            required
            type="text"
          ></v-text-field>

          <v-col v-if="oilIdImg">
            <v-img
              v-if="oilSlipUrl"
              :lazy-src="oilSlipUrl"
              max-height="250"
              max-width="250"
              :src="oilSlipUrl"
            ></v-img>
            <v-img
              v-else
              :lazy-src="
                `${hostApi}/images/oils/request_car_return/${oilIdImg}/${forms.img}`
              "
              max-height="250"
              max-width="250"
              :src="
                `${hostApi}/images/oils/request_car_return/${oilIdImg}/${forms.img}`
              "
            ></v-img>
          </v-col>
          <v-col v-else>
            <v-img
              v-if="oilSlipUrl"
              :lazy-src="oilSlipUrl"
              max-height="250"
              max-width="250"
              :src="oilSlipUrl"
            ></v-img>
          </v-col>

          <div class="between">
            <div style="width: 380px;">
              <v-btn
                outlined
                block
                rounded
                depressed
                color="#e79918"
                height="50"
                @click="pickImage"
              >
                <v-icon>mdi-oil</v-icon>
                &nbsp;&nbsp; แนบใบเสร็จน้ำมัน
              </v-btn>
              <input
                type="file"
                hidden
                ref="imagePicker"
                accept="image/*"
                @change="onChangePicker"
                :v-decorator="fileOilSlip"
              />
            </div>

            <v-btn
              color="#e79918"
              :disabled="!valid"
              @click="validate"
              class="white--text"
              width="380"
              height="50"
              rounded
              type="submit"
            >
              บันทึกข้อมูล
            </v-btn>
          </div>
        </v-form>
      </v-col>
    </v-row>
  </v-dialog>
</template>
