<template>
  <div class="profile">
    <!-- <img
      class="img-size"
      :src="require('~/static/logos/logo-1.png')"
      alt="logo-1"
    /> -->
    <div class="image-border">
      <div class="image-wrapper">
        <div class="image" :style="`background-image: url('${url}');`"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    url: {
      type: String,
    },
  },
}
</script>

<style lang="scss" scoped>
.profile {
  display: flex;
  align-items: center;
  justify-content: center;

  .img-size {
    // margin-top: 48px;
    margin-left: 47px;
    margin-right: 46.43px;
    height: 100px;
    width: 172.57px;
  }

  .image-border {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
    background: #eff1f4;
  }

  .image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 53px;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    //   width: calc(100% - 5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    // background-size: contain;
  }
}
</style>
