<template>
  <v-dialog
    v-model="openDialog"
    hide-overlay
    max-width="1099px"
    >
    <v-form
      ref="form"
      class="form-custom"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card v-if="requests.length">
        <v-toolbar class="dialog-toolbar" color="#feb959" dark>
          <v-btn icon dark @click="openDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>รายละเอียดคำขอใช้รถ</v-toolbar-title>
          <v-spacer />
          <v-toolbar-items>

          </v-toolbar-items>
        </v-toolbar>
        <v-card-text>

        </v-card-text>

        <v-card-text>
          <v-row>
            <v-col cols="12" md="6">
              <v-row dense>
                <v-col cols="12" v-for="(request, index) in requests" :key="index">
                  <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">ประเภทการจอง :</p>
                  <p class="text-subtitle-2 grey--text text--darken-3">{{ request.typeFormId === 1 ? "จองแบบระบุทะเบียนรถ" : "จองแบบระบุประเภทรถ"}}</p>

                  <template v-if="request.typeFormId === 1" class="mb-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">ทะเบียนรถ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">{{ request.car.regisNumber }}</p>
                    <v-row>
                      <v-col>
                        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">ยี่ห้อ :</p>
                        <p class="text-subtitle-2 grey--text text--darken-3">{{ request.car.brand.name  }}</p>
                      </v-col>
                      <v-col>
                        <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">รุ่น :</p>
                        <p class="text-subtitle-2 grey--text text--darken-3">
                          <span class="pr-2" ><b></b> {{ request.car.model.name ? request.car.model.name : '-' }}</span>
                        </p>
                      </v-col>
                    </v-row>

                  </template>
                  <template v-else class="mb-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">ประเภทรถ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">{{ request.car_type.name }}</p>
                  </template>
                  <v-row class="my-0">
                    <v-col>
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">วันที่ขอใช้ :</p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        <span class="pr-2">{{ $dayjs(request.startTime).format("DD/MM/YYYY HH:mm") }}</span>
                      </p>
                    </v-col>
                    <v-col>
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold ">ถึงวันที่ :</p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        {{ request.startTime ? $dayjs(request.startTime).format("DD/MM/YYYY HH:mm") : '-' }}
                      </p>
                    </v-col>
                  </v-row>
                  <v-row class="mb-0 mt-0">
                    <v-col>
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ผู้เดินทาง :</p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        {{ request.travelerName ? request.travelerName : '-' }}
                      </p>
                    </v-col>
                    <v-col>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">เบอร์ติดต่อ : </p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        <span class="pr-2">{{ request.tel ? formatPhoneNumber(request.tel) : '-' }}</span>
                      </p>
                    </v-col>
                  </v-row>
                  <v-row class="mb-0 mt-0">
                    <v-col>
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ผู้ขอใช้ :</p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        <span class="pr-2">{{ request.user.name ? request.user.name :'-'  }}</span>
                      </p>
                    </v-col>
                    <v-col>
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">เบอร์ติดต่อ :</p>
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        <span class="pr-2">{{ request.user.tel ? formatPhoneNumber(request.user.tel) : '-' }}</span>
                      </p>
                    </v-col>
                  </v-row>
                   <p class="text-subtitle-2 grey--text text--darken-3">
                    <b class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">จำนวนผู้เดินทาง:</b> {{ request.passengerNo }}<br>
                  </p>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" md="6">
              <v-row dense>
                <v-col cols="6" class="date-picker">
                  <div class="border-picker">
                    <DatePickerDialog
                      v-model="forms.dateStart"
                      :range="false"
                      :noLabel="true"
                      :autoClose="false"
                      :noShortcuts="true"
                      color="#E79918"
                      :overlay="true"
                      :noClearButton="true"
                      :minDate="$dayjs().format('YYYY-MM-DD')"
                      :onlyDate="true"
                      label="วันที่ขอใช้"
                      format="YYYY-MM-DD"
                      formatted="DD/MM/YYYY"
                      @is-hidden="dateStart()"
                    />
                    <!-- <div class="icon-picker">
                      <v-icon color="#e79918">{{ icons.mdiCalendarMonth }}</v-icon>
                    </div> -->
                  </div>
                  <span class="errorDate" ref="dateStart"></span>
                </v-col>
                <v-col cols="6" class="input-bg">
                  <v-text-field
                    v-model="forms.timeStart"
                    v-mask="timeMask"
                    placeholder="เริ่มเวลา"
                    flat
                    solo
                    required
                  >
                    <template #append>
                      <div class="icon-picker">
                        <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                      </div>
                    </template>
                  </v-text-field>
                </v-col>
                <v-col cols="6" class="date-picker">
                  <div class="border-picker">
                    <DatePickerDialog
                      v-model="forms.endDate"
                      :onlyDate="true"
                      :range="false"
                      :noLabel="true"
                      :autoClose="false"
                      :noShortcuts="true"
                      color="#E79918"
                      :overlay="true"
                      :noClearButton="true"
                      :minDate="forms.dateStart"
                      :disabled="!forms.dateStart"
                      :noButtonNow="true"
                      label="ขอใช้ถึงวันที่"
                      format="YYYY-MM-DD"
                      formatted="DD/MM/YYYY"
                      @is-hidden="endDate()"
                    />
                    <!-- <div class="icon-picker">
                      <v-icon color="#e79918">{{ icons.mdiCalendarMonth }}</v-icon>
                    </div> -->
                  </div>
                  <span class="errorDate" ref="endDate"></span>
                </v-col>
                <v-col cols="6" class="input-bg">
                  <v-text-field
                    v-model="forms.endTime"
                    v-mask="timeMask"
                    placeholder="ถึงเวลา"
                    flat
                    solo
                    required
                  >
                    <template #append>
                      <div class="icon-picker">
                        <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                      </div>
                    </template>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-row dense>
                <v-col cols="12" md="12" >
                  <p class="mb-4">
                    <!-- <b>เลืsอกรถ</b>:&nbsp; -->
                    <template v-if="carId">
                      {{ cars.find((c) => c.carId === carId) ? cars.find((c) => c.carId === carId).regisNumber : null }}
                    </template>
                  </p>
                </v-col>
                <v-col cols="12" md="6">
                  <v-select
                    v-model="carTypeId"
                    :items="carTypes"
                    item-text="name"
                    item-value="typeId"
                    placeholder="เลือกประเภทรถยนต์ที่ต้องการ"
                    label="เลือกประเภทรถยนต์ที่ต้องการ"
                    flat
                    solo
                    dense
                    outlined
                  />
                </v-col>
                <v-col cols="12" md="6">
                  <v-select
                    v-model="carId"
                    :items="cars.filter(
                        (c) => c.typeId === carTypeId || !carTypeId
                      )"
                    item-text="regisNumber"
                    item-value="carId"
                    placeholder="เลือกรถยนต์"
                    label="เลือกรถยนต์"
                    flat
                    solo
                    dense
                    outlined
                  />
                </v-col>
                <v-col cols="12" md="12" >
                  <!-- <p class="mb-0">
                    <b>เลือกคนขับรถ</b>
                  </p> -->
                  <div class="">
                    <v-select
                      v-model="driverId"
                      :items="drivers"
                      item-text="firstName"
                      item-value="driverId"
                      placeholder="เลือกคนขับ"
                      label="เลือกคนขับรถ"
                      flat
                      solo
                      dense
                      outlined
                    >
                      <template slot="selection" slot-scope="data">
                        <span>
                          <v-img
                            class="flex-grow-0 mr-4"
                            :lazy-src="data.item.linkImage"
                            :aspect-ratio="1"
                            src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                            contain
                            height="55"
                            width="55"
                          />
                        </span>
                          {{ data.item.firstName }}  {{ data.item.lastName }}
                      </template>
                      <template slot="item" slot-scope="data">
                        <span>
                          <v-img
                            class="flex-grow-0 mr-4"
                            :lazy-src="data.item.linkImage"
                            :aspect-ratio="1"
                            src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                            contain
                            height="55"
                            width="55"
                          />
                        </span>
                        {{ data.item.firstName }}  {{ data.item.lastName }}
                      </template>
                    </v-select>
                  </div>
                  <!-- <v-radio-group v-model="driverId">
                    <v-radio
                      :value="0"
                      label="ไม่ต้องการคนขับรถ"
                      color="#feb959"
                    />
                    <v-radio
                      v-for="driver in drivers"
                      :key="driver.driverId"
                      :value="driver.driverId"
                      color="#feb959"
                    >
                      <template #label>
                        <v-img
                          class="flex-grow-0 mr-4"
                          :lazy-src="driver.linkImage"
                          :aspect-ratio="1"
                          src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                          contain
                          height="64"
                          width="64"
                        />
                        <span class="flex-grow-1 flex-shrink-1">
                          {{ driver.firstName }} {{ driver.lastName }}
                        </span>
                      </template>
                    </v-radio>
                  </v-radio-group> -->
                </v-col>
              </v-row>
            </v-col>
          </v-row>

        </v-card-text>
        <v-divider class="mx-4 my-2" />
        <v-card-text>
          <v-row>
            <v-col cols="12" md="4" class="mx-auto text-center">
              <v-btn
              :disabled="!valid"
              color="warning"
              class="orange lighten-5 font-weight-bold"
              outlined
              type="submit"
              @click="validate"
            >
              <v-icon left>save</v-icon>
              บันทึก
            </v-btn>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-form>
  </v-dialog>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default {
  data() {
    return {
      valid: true,
      openDialog: false,
      requests: [],
      carTypeId: null,
      carId: null,
      driverId: false,
      forms: {
        timeStart: null,
        endTime: null,
        dateStart: null,
        endDate: null,
      },
      rules: {
        car: [(v) => !!v || "กรุณาเลือกรถ"],
        driver: [(v) => !!v || "กรุณาเลือกพนักงานขับรถ"],
      },
      icons: {
        mdiCalendarMonth,
        mdiAlarm,
      },
    }
  },
  computed: {
    ...mapGetters("car", {
      cars: "cars",
      carTypes: "types",
    }),
    ...mapGetters("driver", ["drivers"]),
  },
  mounted() {
    this.getCars();
    this.getDrivers();
  },
  methods: {
    ...mapActions(["dateFormat", "disabledHoursLessThanHour"]),
    ...mapActions("car", {
      getCars: "get",
    }),
    ...mapActions("driver", {
      getDrivers: "get",
    }),
    ...mapActions('arrangement', ['arrange']),
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.forms.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async timeStart() {
      // สร้างฟังก์ชัน validation เวลาขอใช้รถ
      if (!this.forms.timeStart) {
        this.$refs.timeStart.innerText = "กรุณาระบุเวลาขอใช้รถ";
        this.$refs.timeStart.style.display = "block";
      } else {
        this.$refs.timeStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.forms.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endTime() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเวลาไหน
      if (!this.forms.endTime) {
        this.$refs.endTime.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endTime.style.display = "block";
      } else {
        this.$refs.endTime.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async calcDisabledEndTime() {
      if (this.forms.dateStart === this.forms.endDate) {
        this.disabledHours = await this.disabledHoursLessThanHour(
          this.forms.timeStart
        );
      } else {
        this.disabledHours = [];
      }
    },
    open(requests) {
      this.requests = requests
      this.openDialog = true
    },
    close() {
      this.openDialog = false
      this.requests = []
      this.carId = null
      this.driverId = null
      this.forms.startTime = null
      this.forms.endTime = null
    },
    async validate() {
      this.$refs.form.validate();
    },
    async onSubmit() {
      try {
        await this.arrange({
          id: this.requests.map(({ requestId }) => requestId),
          carId: this.carId,
          driverId: this.driverId !== 0 ? this.driverId : null,
          arrangeTypeId: 2,
          startTime: `${this.forms.dateStart} ${this.forms.timeStart}`,
          endTime: `${this.forms.endDate} ${this.forms.endTime}`,
        })

        this.$toast.global.success({
          message: 'บันทึกข้อมูล - การจัดรถยนต์ สำเร็จ',
        })

        this.close()
        this.$emit('success')
      } catch (e) {
        this.$toast.global.error({
          message: "ไม่สามารถบันทึกข้อมูล - การจัดรถยนต์"
        })
      }
    },
    formatPhoneNumber(phoneNumber){
      if (phoneNumber.length !== 0) {
        if (phoneNumber.length === 10 || phoneNumber.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

          // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
          // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        }
        return (this.phoneNumber)
      }

  	}
  }
}
</script>
<style lang="scss" scope>
  .errorDate{
    // display: none;
  }
  .date-picker .v-text-field__details,
  .input-bg .v-text-field__details{
    display: none;
  }
</style>
