<template>
    <div>
      <v-chip v-if="status=='1'">
        <span>รอซ่อม</span>
      </v-chip>
      <v-chip v-else-if="status=='2'">
        <span>อยู่ระหว่างการซ่อม</span>
      </v-chip>
      <v-chip v-else-if="status=='3'">
        <span>รอส่งรถกลับ</span>
      </v-chip>
      <v-chip v-else-if="status=='4'">
        <span>เสร็จสิ้น</span>
      </v-chip>
      <v-chip v-else>
        <span>ยังไม่ดำเนินการ</span>
      </v-chip>
    </div>
</template>
<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  props:{
    status:null,
  }
}
</script>
