<template>
  <v-card>
    <v-card-text>
        <p><span class="font-weight-bold">เลขที่ใบคำขอ</span> :: {{repair.repair_no}}</p>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  props: {
    repair: {
      type: Object,
      default: () => ({}),
    },
  }
}
</script>
