<template>
  <div>
    <slot name="prepend" />
    <v-card class="pt-2 pb-8">
      <v-row>
        <v-col cols="12" md="6">
          <v-card-text class="py-6">
            <v-row class="mt-4 justify-center">
              <v-col cols="12" md="12" lg="12">
                <v-row>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ประเภทการจอง :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{
                        request.typeFormId === 1
                          ? "จองแบบระบุทะเบียนรถ"
                          : "จองแบบระบุประเภทรถ"
                      }}
                    </p>
                  </v-col>
                </v-row>
                <template v-if="request.typeFormId === 1">
                  <v-row>
                    <v-col cols="12" md="6" class="">
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ทะเบียนรถ :</p>
                      <p class="text-subtitle-2 grey--text text--darken-3">
                        {{ request.car.regisNumber }}
                      </p>
                    </v-col>
                    <v-col cols="12" md="6" class="">
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">รถยนต์ :</p>
                      <p class="text-subtitle-2 grey--text text--darken-3">
                        <template v-if="request.car.brand">
                          {{ request.car.brand.name }}
                        </template>
                        <template v-else >-</template>
                        <template v-if="request.car.model">
                          {{ request.car.model.name }}
                        </template>
                        <template v-else >-</template>
                      </p>
                    </v-col>
                  </v-row>
                </template>
                <template v-else>
                  <v-row>
                    <v-col cols="12" md="8">
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ประเภทรถ : </p>
                      <template  v-if="request.car_type">
                        <p class="text-subtitle-1 grey--text text--darken-3  font-weight-bold">
                          {{ request.car_type.name }}
                      </p>
                      </template>
                      <template  v-else>
                        <p class="text-subtitle-2 grey--text text--darken-3">-</p>
                      </template>
                    </v-col>
                    <template v-if="request.success">
                      <v-col cols="12" md="12" class="text-right">
                        <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ทะเบียนรถ :</p>
                        <p class="text-subtitle-1 grey--text text--darken-3 mb-0 mb-0 font-wegiht-bold">
                          {{ request.success.car.regisNumber }}
                        </p>
                      </v-col>
                    </template>
                  </v-row>
                </template>
                <v-row>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ลักษณะการขอ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{
                        request.typerequest === 1
                        ? "ขอใช้รถยนต์พร้อมคนขับรถ"
                        : "ขอใช้รถยนต์อย่างเดียว"
                      }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">จำนวนผู้เดินทาง :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ request.passengerNo }} คน
                    </p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ผู้ขอ :</p>
                    <template v-if="request.user">
                      <p class="text-subtitle-2 grey--text text--darken-3">
                        {{ request.user.name }}
                      </p>
                    </template>
                    <template v-else>
                      <p class="grey--text">
                        ไม่พบชื่อผู้ขอใช้รถยนต์
                      </p>
                    </template>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">โทร :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      <template v-if="request.user.tel" >
                      {{ formatPhoneNumber(request.user.tel) }}
                      </template>
                      <template v-else>
                        <span class="grey--text ligthen-4">ไม่พบเบอร์โทรศัพ</span>
                      </template>
                    </p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="6" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ผู้ใช้งานรถยนต์ :</p>
                    <template v-if="request.user">
                      <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                        {{ request.travelerName }}
                      </p>
                    </template>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">โทร :</p>
                    <p class=" text-subtitle-2 grey--text text--darken-3">
                      <template v-if="request.tel" >
                        {{ formatPhoneNumber(request.tel) }}
                      </template>
                      <template v-else>
                        <span class="grey--text ligthen-4">ไม่พบเบอร์โทรศัพ</span>
                      </template>
                    </p>
                    <!-- <p class="mb-0"><a v-if="request.tel" :href="`tel:${request.tel}`">{{ request.tel }}</a></p> -->
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">วันที่ขอใช้รถ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ $dayjs(request.startTime).format("DD/MM/YYYY HH:mm") }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="text-left py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">ถึงวันที่ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ $dayjs(request.endTime).format("DD/MM/YYYY HH:mm") }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="12" class="py-0">
                    <p class="mb-0 text-subtitle-2 grey--text text--darken-2 font-weight-bold">สถานที่ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      <template v-if="request.locations && request.locations.length">
                        <span
                          v-for="({ location, reqId }, index) in request.locations"
                          :key="reqId"
                        >
                          {{ location }}
                          <template v-if="index < request.locations.length - 1">
                            ,&nbsp;
                          </template>
                        </span>
                      </template>
                      <template v-else>-</template>
                    </p>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
        </v-col>
        <v-col cols="12" md="6" class="pt-4">
          <slot name="append" />
        </v-col>
      </v-row>
    </v-card>
  </div>
</template>

<script>
export default {
  props: {
    request: {
      type: Object,
      default: () => ({}),
    },
  },
  methods:{
    formatPhoneNumber(phoneNumber){
      if (phoneNumber.length !== 0) {
        if (phoneNumber.length === 10 || phoneNumber.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

          // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
          // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        }
        return (this.phoneNumber)
      }

  	}
  }
};
</script>
