<template>
  <div>
    <v-row>
      <v-col cols="12" md="12" lg="8" class="mx-auto">

        <v-card>
          <slot name="prepend" />
          <v-card-text class="py-6">
            <v-row class="mt-4" justify="center">
              <v-col cols="12" md="6" lg="6">
                <template v-if="request.typeFormId === 1">
                  <v-row>
                    <v-col cols="12" class="text-left py-0">
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ทะเบียนรถ :</p>
                      <p class="text-subtitle-2 grey--text text--darken-3">{{ request.car.regisNumber }}</p>
                    </v-col>
                    <v-col cols="12" class="text-left py-0">
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">รถยนต์ :</p>
                      <p class="text-subtitle-2 grey--text text--darken-3">
                        <template v-if="request.car.brand">
                          {{ request.car.brand.name }}
                        </template>
                        <template v-else >-</template>
                        <template v-if="request.car.model">
                          {{ request.car.model.name }}
                        </template>
                        <template v-else >-</template>
                      </p>
                    </v-col>
                  </v-row>
                </template>
                <template v-else>
                  <v-row>
                    <v-col cols="12" md="12">
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ประเภทรถ : </p>
                      <p class="text-subtitle-2 grey--text text--darken-3">
                        {{ request.car_type ? request.car_type.name : '-' }}
                      </p>
                    </v-col>
                  <template v-if="request.success">
                    <v-col cols="12" md="12" class="">
                      <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ทะเบียนรถ :</p>
                      <p class="text-subtitle-2 grey--text text--darken-3">{{ request.success.car.regisNumber }} </p>
                    </v-col>
                  </template>
                  </v-row>
                </template>
                <v-row>
                  <v-col cols="12" md="12" class=" py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ประเภทการจอง :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{
                        request.typeFormId === 1
                          ? "จองแบบระบุทะเบียนรถ"
                          : "จองแบบระบุประเภทรถ"
                      }}
                    </p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="12" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ลักษณะการขอ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{
                        request.typerequest === 1
                        ? "ขอใช้รถยนต์พร้อมคนขับรถ"
                        : "ขอใช้รถยนต์อย่างเดียว"
                      }}
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" md="6" lg="6">
                <v-row>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ผู้ขอ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                        {{ request.user ? request.user.name : '-' }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">โทร :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">{{ request.user.tel ? formatPhoneNumber(request.user.tel) : '' }}</p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ผู้ใช้งานรถยนต์ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{request.travelerName ? request.travelerName : request.user }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">โทร :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">{{ request.tel ? formatPhoneNumber(request.tel) : '' }}</p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">วันที่ขอใช้รถ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ $dayjs(request.startTime).format("DD/MM/YYYY HH:mm") }}
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">ถึงวันที่ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ $dayjs(request.endTime).format("DD/MM/YYYY HH:mm") }}
                    </p>
                  </v-col>
                </v-row>
                <v-row>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">สถานที่ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      <template v-if="request.locations && request.locations.length">
                        <span
                          v-for="({ location, reqId }, index) in request.locations"
                          :key="reqId"
                        >
                          {{ location }}
                          <template v-if="index < request.locations.length - 1">
                            ,&nbsp;
                          </template>
                        </span>
                      </template>
                      <template v-else>-</template>
                    </p>
                  </v-col>
                  <v-col cols="12" md="6" class="py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">จำนวนผู้เดินทาง :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3">
                      {{ request.passengerNo }}
                    </p>
                  </v-col>
                </v-row>
              </v-col>
              <v-col cols="12" v-if="request.order.isApproved != 0">
                <v-row>
                  <v-col cols="12" class="text-left py-0">
                    <p class="mb-0 text-subtitle-1 grey--text text--darken-2  font-weight-bold">สถานะใบคำขอ :</p>
                    <p class="text-subtitle-2 grey--text text--darken-3" v-if="request.order.isApproved === 1 && request.order.isArrangeOrder == 0">อนุมัติ รอจัดรถ</p>
                    <p class="text-subtitle-2 grey--text text--darken-3" v-else-if="request.order.isApproved === 1 && request.order.isArrangeOrder == 1 && request.order.statusId==1">อนุมัติ พร้อมใช้งาน</p>
                    <p class="text-subtitle-2 grey--text text--darken-3" v-else-if="request.order.isApproved === 2">ไม่อนุมัติ</p>
                    <p class="text-subtitle-2 grey--text text--darken-3" v-else-if="request.order.isApproved === 3">ยกเลิก</p>
                    <p class="text-subtitle-2 grey--text text--darken-3" v-else-if="request.order.isApproved === 1 && request.order.isArrangeOrder == 1 && request.order.statusId==2">คืนรถแล้ว</p>

                  </v-col>
                </v-row>
              </v-col>
            </v-row>
          </v-card-text>
          <slot name="append" />
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  props: {
    request: {
      type: Object,
      default: () => ({}),
    },
  },
  methods:{
    formatPhoneNumber(phoneNumber){
      if (phoneNumber.length !== 0) {
        if (phoneNumber.length === 10 || phoneNumber.length === 12) {

          // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
          // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

          // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
          // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

          var cleaned = ('' + phoneNumber).replace(/\D/g, '')
          phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
          this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

        }
        return (this.phoneNumber)
      }

  	}
  }
};
</script>
