<template>
  <div class="sidebar-wrapper">
    <div class="profile-wrapper">
      <ImageCircle :url="profileUrl" class="profile" />
      <v-col class="profile-description" cols="9">
        <p class="mb-3"><b>{{ user.name }}</b></p>
        <v-btn
          to="/change-password"
          color="dark"
          small
          outlined
          dense
          class=""
        ><v-icon small left>mdi-lock-reset</v-icon>เปลี่ยนรหัสผ่าน</v-btn>
        <!-- <p class="mb-0"><small>บริษัท: {{ user.company ? user.company.name : "" }}</small></p>
        <p class="mb-0"><small>สาขา: {{ user.branch ? user.branch.name : "" }}</small></p>
        <p class="mb-0"><small>แผนก: {{ user.agency ? user.agency.name : "" }}</small></p> -->
      </v-col>
    </div>
    <div class="list-menu-wrapper">
      <v-list class="list-menu py-0">
        <div v-for="(item, index) in allowedMenus" :key="index">
          <v-list-item :to="!item.children ? item.to : ''" router>
            <v-list-item-action>
              <v-icon color="#e89917">{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title v-text="item.title" />
            </v-list-item-content>
          </v-list-item>
          <v-list-item
            v-for="(child, index) in item.children"
            :key="index"
            :to="child.to"
            class="child-menu-item"
            router
            exact
          >
            <v-list-item-content>
              <v-list-item-title v-text="child.title" />
            </v-list-item-content>
          </v-list-item>

        </div>

       <v-list-item
          v-if="isAllowRepair"
          href="https://docs.google.com/forms/d/e/1FAIpQLSdeLp99_7eFPbeyG8dJsKyno_wOUbO70gFgjbIzt0nd4Nw2LQ/viewform"
          target="_blank"
          exact
        >
          <v-list-item-action>
            <v-icon color="#e89917">build_circle</v-icon>
          </v-list-item-action>
          <v-list-item-title>แจ้งซ่อมรถยนต์</v-list-item-title>
        </v-list-item>
        <v-list-item @click="logout">
          <v-list-item-action>
            <v-icon color="#e89917">logout</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>ออกจากระบบ</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </div>
  </div>

</template>

<script>
import axios from "axios";
import { mapActions, mapGetters } from "vuex";
import * as globals from "../assets/globals";

export default {
  data: () => ({
    hostApi: globals.HOST_API,
    menus: [
      {
        icon: "dashboard",
        title: "หน้าหลัก",
        to: "/",
      },
      {
        icon: "save",
        title: "บันทึกการขอใช้รถยนต์",
        to: { name: "request" },
        allowActions: ["request_view", "request_create", "request_edit"],
      },
      {
        icon: "store",
        title: "สรุปการใช้รถยนต์ (ราย วัน | เดือน)",
        to: "/cars/monthly",
        allowActions: ["usage_view", "usage_create"],
      },

      {
        icon: "check_box",
        title: "อนุมัติ",
        to: { name: "approval" },
        allowActions: ["approval_view", "approval_create"],
      },
      {
        icon: "minor_crash",
        title: "จัดรถยนต์",
        to: { name: "arrangement" },
        allowActions: ["management_view", "management_create"],
      },
      {
        icon: "drive_eta",
        title: "ข้อมูลรถยนต์",
        to: { name: "car" },
        allowActions: ["car_view", "car_create"],
      },

      {
        icon: "calendar_month",
        title: "ปฏิทินใช้รถ",
        to: "/events",
        allowActions: ["calendar_view"],
      },
      {
        icon: "assignment",
        title: "รายงาน",
        to: "/reports",
        allowActions: ["report_view"],
      },
      {
        icon: "settings",
        title: "การตั้งค่า",
        to: "/setup",
        allowActions: [
          "company_view",
          "company_create",
          "company_edit",
          "company_remove",
          "branch_view",
          "branch_create",
          "branch_edit",
          "branch_remove",
          "agency_view",
          "agency_create",
          "agency_edit",
          "agency_remove",
          "contract_view",
          "contract_create",
          "contract_edit",
          "contract_remove",
          "asset_view",
          "asset_create",
          "asset_edit",
          "asset_remove",
          "user_view",
          "user_create",
          "user_edit",
          "user_remove",
          "question_view",
          "question_create",
          "question_edit",
          "question_remove",
          "color_view",
          "color_create",
          "color_edit",
          "color_remove",
          "driver_view",
          "driver_create",
          "driver_edit",
          "driver_remove",
          "manages_all",
        ],
      },
      {
        icon: "assignment",
        title: "ผู้ดูแลระบบ",
        to: "/admin",
        allowActions: ["manages_all"],
      },
      // {
      //   icon: "build_circle",
      //   title: "แจ้งซ่อมรถยนต์",
      //   to: "/repair",
      //   allowActions: ["repair_view","repair_create"],
      // },
      // {
      //   icon: "notifications",
      //   title: "การเตือน",
      // },
    ],
  }),
  computed: {
    ...mapGetters(['permissions']),
    profileUrl() {
      let url = `/default_profile.svg`;
      if (this.user.photoUrl) {
        url = `${this.hostApi}/images/users/photo/${this.user.userId}/${this.user.photoUrl}`;
      }
      return url;
    },
    user() {
      return this.$auth.user;
    },
    isAllowRepair() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["repair_view"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
    allowedMenus() {
      if (this.user?.permission?.isAdmin) {
        return this.menus
      }

      return this.menus.filter(({ title, allowActions }) => {

        if (!allowActions || allowActions.length === 0) {
          return true;
        }

        return allowActions.some((action) => this.permissions.includes(action));
      });
    },
  },
  methods: {
    ...mapActions(["logout"]),
    goToProfile() {
      this.$router.push({ name: "profile" });
    },
  },
};
</script>

<style lang="scss" scope>
$toolbar-height: 104px;
.v-navigation-drawer__border{
  background: none !important;
}
.icon-color {
  color: #feb959;
}
.location-wrapper {
  display: flex;
  align-items: center;
}

.sidebar-wrapper .v-list-item__title {
  color: #262828;
}
.profile-description p{
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
  overflow: hidden;
}
.profile-wrapper {
  background-image: url("/BG-header-01.svg");
  background-size: cover;
  height: $toolbar-height;
  box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  // &:hover{
  //   cursor: pointer;
  // }

  .profile {
    margin-right: 16px;
  }

  .detail {
    flex-grow: 1;

    .name {
      font-weight: bold;
      font-size: 14px;
      color: #262828;
    }

    .icon-wrapper {
      margin-top: -4px;
      margin-right: 7px;
    }

    .location {
      font-weight: 500;
      font-size: 14px;
      color: var(--main-ci);
    }
  }
}
</style>
