<template>
  <v-card>
    <v-card-title>
      ข้อมูลบริษัท
    </v-card-title>
    <v-card-text>
      <FormSetupCompanyAdmin></FormSetupCompanyAdmin>
    </v-card-text>
  </v-card>
</template>
<script>
export default {

}
</script>

