<template>
  <v-row>
    <v-col>
      <v-data-table
        :headers="headers"
        :items="companies"
        :search="search"
        :custom-filter="filterOnlyCapsText"
      >
        <template #top>
          <v-toolbar flat>
            <v-toolbar-title>ตั้งค่า - บริษัท</v-toolbar-title>
            <v-spacer />
            <v-text-field
              v-model="search"
              placeholder="ค้นหา"
              label="ค้นหา"
              outlined
              dense
              class="mx-3 "
              single-line
              hide-details
              append-icon="mdi-magnify"
            />
            <v-btn
              color="warning"
              class="orange lighten-5 "
              outlined
              :to="{ name: 'admin-company-create' }"
            >
              <v-icon>add</v-icon>
              <b>เพิ่มบริษัท</b>
            </v-btn>
          </v-toolbar>
        </template>
        <template #item.responsibleUserId="{item}">
          {{item.responsible_user.name}}
        </template>
        <template #item.responsibleContact="{item}">
          {{item.responsible_user.tel ? formatPhoneNumber(item.responsible_user.tel) : '-' }}
        </template>
        <template #item.isDeleted="{ item }">
          <span class="green lighten-1 px-2 py-1 rounded text-caption white--text" v-if="item.isDeleted === 0">
            Active
          </span>
          <span class="grey lighten-1 px-2 py-1 rounded text-caption white--text" v-else>
            Inactive
          </span>

        </template>
        <template v-slot:item.actions="{ item }">
          <v-btn
            color="success"
            outlined
            icon
            :to="{ name: 'admin-company-id-branch', params: { id: item.companyId } }"
          >
            <v-icon>apartment</v-icon>
          </v-btn>
          <v-btn
            color="warning"
            class="orange lighten-5 mx-1"
            :to="{ name: 'admin-company-id', params: { id: item.companyId } }"
            icon
            outlined
          >
            <v-icon>edit</v-icon>
          </v-btn>
          <v-btn
            color="error"
            class="mx-1"
            outlined
            @click="deleteItem(item)"
            icon>
            <v-icon>delete</v-icon>
          </v-btn>
        </template>
        <template v-slot:no-data>
          <v-btn color="primary" @click="initialize"> Reset </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-row>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {

  data: () => ({
    dialog: false,
    dialogDelete: false,
    search: '',
    headers: [
      {
        text: "ชื่อบริษัท",
        align: "start",
        sortable: false,
        value: "name",
      },
      {
        text: "ชื่อผู้รับผิดชอบ",
        align: "start",
        sortable: false,
        value: "responsibleUserId",
      },
      {
        text: "ติดต่อ",
        align: "start",
        sortable: false,
        value: "responsibleContact",
      },

      {
        text: "สถานะ",
        align: "left",
        value: "isDeleted"
      },
      { text: "ดำเนินการ", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
  }),
  computed: {
    ...mapGetters('company',[
      'companies',
    ]),
    isAllowCompany() {
      return ["company_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
    formTitle() {
      return this.editedIndex === -1 ? "สร้างข้อมูล" : "แก้ไขข้อมูล";
    },
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin" },
    });
    this.super_get();
    if(localStorage.companyId != null){
      // localStorage.companyId = null;
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  created() {
    this.initialize();
  },
  methods: {
    ...mapActions([
      "nameCompany",
      "logout",
      "personname",
      "setTitle",
      "setButton",
      "formatPhoneNumber"
    ]),
    ...mapActions('company',[
      'super_get'
    ]),
    linkEdit(id) {
      this.$router.push(`/setup/business/${id}`);
    },
    initialize() {
      this.desserts = [
        {
          nameCompany: "Vuejs",
          personname: "Fluke",
        },
        {
          nameCompany: "D company",
          personname: "Prakad",
        },
        {
          nameCompany: "Vuejs",
          personname: "ju",
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
    formatPhoneNumber(phoneNumber){
        try{
          if (phoneNumber.length !== 0) {
            if (phoneNumber.length === 10 || phoneNumber.length === 12) {

              // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
              // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

              var cleaned = ('' + phoneNumber).replace(/\D/g, '')
              phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
              this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

            } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

              // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
              // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

              var cleaned = ('' + phoneNumber).replace(/\D/g, '')
              phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
              this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

            }
            return (this.phoneNumber)
          }
        }
        catch{

        }
      },
      filterOnlyCapsText (value, search, item) {
        return value != null &&
          search != null &&
          typeof value === 'string' &&
          value.toString().indexOf(search) !== -1

      }
  },
};
</script>
<style>
.elevation-1 {
  margin: 50px 5px 50px;
  width: 1500px;
}
</style>
