<template>
  <v-container
    fluid
  >
    <FormRepair v-if="repair" :data="repair" @onSubmit="onSubmit">
      <template #prepend>
        <h1>รายละเอียดใบแจ้งซ่อม </h1>
      </template>
    </FormRepair>
  </v-container>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default {
  computed:{
    ...mapGetters("repair", ["repair"]),
  },
  mounted(){
    this.detail(this.$route.params.id);
  },
  methods:{
    ...mapActions("repair",{
      detail : "find",
      update : "update"
    }),
    async onSubmit(form) {
      try {
        await this.update(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการแจ้งซ่อมสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "repair" });
      } catch (e) {
        console.log(e)
      }
    },
    goBack() {
      this.$router.push({ name: "repair" });
    }

  }
};
</script>
