<template>
  <v-container
  >
    <CarRepairDetail v-if="repair" :data="repair">
      <template #prepend>
        <v-card-text>
          <h1 class="heading-1">รายละเอียดใบแจ้งซ่อม </h1>
          <v-divider class="mt-3"></v-divider>
        </v-card-text>
      </template>
    </CarRepairDetail>
  </v-container>
</template>
<script>
  import { mapActions, mapGetters } from "vuex";
  import * as globals from "@/assets/globals";
  import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";
  export default {
    data: () =>({

    }),
    computed:{
      ...mapGetters("repair", ["repair"]),
      user() {
        return this.$auth.user;
      },
      isAllowCreate() {
        return (
          this.$auth?.user?.permission?.isAdmin ||
          ["request_create"].some((action) =>
            this.$store.getters["permissions"].includes(action)
          )
        );
      },
    },
    mounted(){
      this.find(this.$route.params.id);
    },
    methods:{
      ...mapActions("repair",{
        find : "find"
      }),

      goBack() {
        this.$router.push({ name: "repair" });
      }

    }
  };
</script>
