<template>
  <v-card-text>
    <v-row>
      <v-col cols="3" />
      <v-col cols="9" class="d-flex justify-end" style="color: #000">
        เลขที่เอกสารการขอ: {{ order.requestNo }}
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="3" />
      <v-col cols="9" class="d-flex justify-end" style="color: #000">
        เลขที่เอกสารการจัด: {{ order.refNo || "-" }}
      </v-col>
    </v-row>

    <template v-if="order">
      <CarInformationCard v-if="order.car" :car="order.car" />
      <CarUsageCard :order="order" class="mt-4" />
      <CarReturnForm :order="order" class="mt-4" @submit="onSubmit" />
    </template>
  </v-card-text>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  middleware: [
    "user-authenticated",
    async ({ params, store, redirect }) => {
      const request = await store.dispatch("order/find", params.id);
      if (request.order.statusId === 2) {
        redirect({ name: "request" });
      }
    },
  ],
  computed: {
    ...mapGetters("order", ["order"]),
  },
  methods: {
    ...mapActions("order", ["restore", "createFuel", "uploadReceipt"]),
    ...mapActions(["setTitle"]),
    async onSubmit(form) {
      await this.restore({
        id: this.order.orderId,
        data: {
          startmile: form.startmile,
          endmile: form.endmile,
          detail: form.detail,
          answers: form.answers,
        },
      });

      const fuels = await Promise.all(
        form.fuels.map(async (data) => {
          const fuel = await this.createFuel({
            id: this.order.orderId,
            fuel: {
              liter: data.liter,
              categoryId: data.categoryId,
              price: data.price,
              total: data.total,
              fuelStation: data.fuelStation,
              receiptNumber: data.receiptNumber,
            },
          });

          return Object.assign(data, { oilId: fuel.oilId });
        })
      );

      await Promise.all(
        fuels
          .filter(({ receipt }) => receipt)
          .map(({ oilId, receipt }) => {
            return this.uploadReceipt({
              id: this.order.orderId,
              fuelId: oilId,
              receipt,
            });
          })
      );

      this.$toast.global.success({
        message: "บันทึกข้อมูลการส่งคืนรถสำเร็จเรียบร้อย",
      });

      this.$router.push({ name: 'request' })
    },
  },
};
</script>

<style scope>
.content-2 {
  width: 100%;
  display: flex;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style lang="scss">
.input-bg2 {
  padding: 0px;

  .v-text-field__slot {
    border: 1px solid #aaa;
    border-radius: 5px;
    padding-left: 10px;
    height: 50px;
  }

  .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
    background: transparent !important;
  }
  .v-input__slot {
    background: transparent !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
}
</style>
