<template>
  <v-container
    fluid
  >

    <FormRepair @onSubmit="onSubmit">
      <template #prepend>
        <h1>ใบแจ้งซ่อมรถยนต์</h1>
      </template>
    </FormRepair>
  </v-container>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
export default {
  async mounted() {
     this.setButton({
      type: "back",
      target: { name: "repair" },
    });
  },
  methods:{
    ...mapActions(["setButton"]),
    ...mapActions("repair",['create']),
    async onSubmit(form) {
      try {
        await this.create(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการแจ้งซ่อมสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "repair" });
      } catch (e) {}
    },
    goBack() {
      this.$router.push({ name: "repair" });
    }
  }
};
</script>
