<template>
  <v-container
    fluid>

    <v-card>
      <v-card-text>
        <v-row class="mb-6">
          <v-col cols="6" md="6">
            <h1 class="heading-1">รายการแจ้งซ่อม</h1>
          </v-col>
          <v-col cols="6" md="6" class="text-right" align="middle">
            <v-btn
              class="orange lighten-5"
              color="warning"
              outlined
              :to="{ name: 'repair-create'}"
            >
              <v-icon left>
                mdi-clipboard-text-outline
              </v-icon>
              ฟอร์มแจ้งซ่อม
            </v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <CarRepairTable :maintenances="repairs" />
    </v-card>
  </v-container>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";


export default {
  data:() => ({
  }),
  computed:{
    ...mapGetters("repair", ["repairs"]),
  },
  mounted(){
    this.get();
  },

  methods:{
    ...mapActions("repair",[
      "get",
    ]),
  }
}
</script>
