<template>
  <v-card class="Props">
    <v-card-title>
      Report
    </v-card-title>
    <v-data-table
      :headers='headers'
      :items='reports_list'
    >
      <template #item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mr-2"
              color="primary"
              icon
              v-bind="attrs"
              v-on="on"
              outlined
              :to="{
                name: `${item.link}`,
              }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
export default {
  middleware: "user-authenticated",
  data: () => ({
    search:null,
    values:false,
    items: [
      "ชื่อ",
      "วันที่ขอ",
      "วันที่ใช้งาน",
      "วันที่นำมาคืน",
      "แผนก",
      "สาขา",
      "เบอร์ผู้ติดต่อ",
    ],
    reports_list : [
      {
        name : 'รายงานการใช้งานรถยนต์',
        link : 'reports-order',
      },
      {
        name : 'รายงานซ่อมบำรุงรถยนต์',
        link : 'reports-maintenance',
      },
      {
        name : 'รายงานการใช้รถยนต์รายบุคคล',
        link : 'reports-users',
      },
      // {
      //   name : 'รายงาน ภาษี, พรบ., ประกันรถยนต์',
      //   link : 'reports-contract',
      // },
      {
        name : 'รายงานค่าน้ำมัน',
        link : 'reports-oils',
      }
    ],
    headers:[
      {
        text: 'รายงาน',
        align: "left",
        sortable: false,
        value: 'name',
      },
      {
        text: 'Actions',
        align: "center",
        sortable: false,
        value: 'actions',
      },

    ],
    value: null,
  }),
  methods: {
    changePush() {
      switch ("ชื่อ") {
        case value:
          this.addOptions(items.value);
          break;

        default:
          break;
      }
    },
    addOptions() {
      items.value.push();
    }
  },
};
</script>

<style>
.Props {
  margin: 50px;
  color: #e79918;
}
</style>
