<template>
  <div>

    <v-card>
<!--

      <v-toolbar
        outlined
        elevation="0"
        class=""
      >
        <v-toolbar-title>รายงานการใช้รถยนต์</v-toolbar-title>
        <v-spacer></v-spacer>
        <DatePickerDialog
          v-model="dateFilterStart"
          label="วันที่"
          format="DD/MM/YYYY"
          :input="`${$dayjs().format('YYYY-MM-DD')}`"

        />
        <DatePickerDialog
          v-model="dateFilterEnd"
          label="ถึงวันที่"
          format="DD/MM/YYYY"
          :input="`${$dayjs().format('YYYY-MM-DD')}`"

        />
        <v-autocomplete
          v-model="selectCar"
          :items="cars"
          item-text="plateNumber"
          item-value="carId"
          label="ทะเบียน"
          outlined
          dense
          class="ma-2 mt-8 w-25"
          @click="(cars.length > 0)  ? getCar({ search: '', status: null, type: '', report: true }) : ''"
        ></v-autocomplete>
        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 border-warning"
          @click.prevent="downloadExport()"
          download
          >
            <v-icon>download</v-icon>
            export
        </v-btn>
      </v-toolbar>
 -->

      <v-row class="mt-2 mb-1">
        <v-col cols="12" md="2">
          <v-toolbar-title class="ml-1">รายงานการใช้รถยนต์</v-toolbar-title>
        </v-col>

        <v-col cols="6" md="2">
          <DatePickerDialog
            v-model="dateFilterStart"
            label="วันที่"
            format="DD/MM/YYYY"
            :input="`${$dayjs().format('YYYY-MM-DD')}`"

          />
        </v-col>

        <v-col cols="6" md="2">
          <DatePickerDialog
            v-model="dateFilterEnd"
            label="ถึงวันที่"
            format="DD/MM/YYYY"
            :input="`${$dayjs().format('YYYY-MM-DD')}`"

          />
        </v-col>

        <v-col cols="6" md="2">
          <v-autocomplete
            v-model="selectCar"
            :items="cars"
            item-text="plateNumber"
            item-value="carId"
            label="ทะเบียน"
            hide-details
            outlined
            dense
            @click="(cars.length > 0)  ? getCar({ search: '', status: null, type: '', report: true }) : ''"
          ></v-autocomplete>
        </v-col>

        <v-col cols="6" md="2">
          <v-select
            v-model="selectTypeCar"
            :items="[
              { text: 'วันที่สร้าง', value: 1},
              { text: 'วันที่ออกเดินทาง', value: 2},
            ]"
            item-text="text"
            item-value="value"
            label="เลือกประเภท"
            hide-details
            outlined
            dense
          ></v-select>
        </v-col>

        <v-col cols="12" md="2" class="text-center">
          <v-btn
            color="warning"
            outlined
            class="orange lighten-5 border-warning"
            @click.prevent="downloadExport()"
            download
            >
              <v-icon>download</v-icon>
              export
          </v-btn>
        </v-col>

      </v-row>
      <v-divider></v-divider>
      <v-data-table
        :headers=headers
        :items=orders
        :header-props="{ 'disable-sort': true }"
        item-key="orderId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >
        <template #item.carBrand="{item}">
          {{item.carBrand}}  {{item.carModel}}
        </template>
        <template #item.requestStart="{item}">
          {{ $dayjs(item.requestStart).format("DD/MM/YYYY HH:mm") }}
        </template>
        <template #item.returnDate="{item}">
          {{ item.returnDate ? $dayjs(item.returnDate).format("DD/MM/YYYY HH:mm") : '-' }} <br/>
        </template>
        <template #item.createdAt="{item}">
          {{ item.createdAt ? $dayjs(item.createdAt).format("DD/MM/YYYY HH:mm") : '-' }} <br/>
        </template>
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page ? max_page : 0"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import DaterangePickerDailog from "~/components/DaterangePickerDailog.vue";
import MonthPickerDailog from "~/components/Filter/MonthPickerDailog.vue";
import paginate from "~/components/pagination/footer";
export default {
  data: () => ({
    selectTypeCar: 1,
    headers: [
      {
        text: "ยี่ห้อ",
        align: "left",
        sortable: false,
        value: "carBrand"
      },
      {
        text: "หมายเลขทะเบียน",
        align: "left",
        sortable: false,
        value: "carRegisNumber"
      },
      {
        text: "ออกเดินทาง",
        align: "left",
        sortable: false,
        value: "requestStart"
      },
      {
        text: "ผู้ใช้รถ",
        align: "left",
        sortable: false,
        value: "travelerName"
      },
      {
        text: "สถานที่ไป",
        align: "left",
        sortable: false,
        value: "travelLocaltion"
      },
      {
        text: "ไมล์เริ่มต้น",
        align: "left",
        sortable: false,
        value: "startMile"
      },
      {
        text: "กลับถึงสำนักงาน (วันที่)",
        align: "left",
        sortable: false,
        value: "returnDate"
      },
      {
        text: "ไมล์สิ้นสุด",
        align: "left",
        sortable: false,
        value: "endMile"
      },
      {
        text: "ระยะทาง",
        align: "left",
        sortable: false,
        value: "totalMile"
      },
      {
        text: "พนักงานขับรถ",
        align: "left",
        sortable: false,
        value: "driver"
      },
      {
        text: "วันที่สร้าง",
        align: "left",
        sortable: false,
        value: "createdAt"
      },
      {
        text: "หมายเหตุ",
        align: "left",
        sortable: false,
        value: "remark"
      }
    ],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
    filterMonth: null,
    dateFilterStart: null,
    dateFilterEnd: null,
    selectCar: '',
    dateStart: null,
    dateEnd: null,
    nowDate: new Date().toISOString,
    dateStart: null,
    dateEnd : null,
    filterRange: [],
    carId:null,
  }),
  computed: {
      ...mapGetters("report", [
        "orders",
        "exportorders",
        "max_page",
        "loading"
      ]),
      ...mapGetters("car", ["cars"]),
  },
  methods: {
    ...mapActions("report", ["getOrder", "exportOrder"]),
    ...mapActions([
        "setButton",
    ]),
    ...mapActions("car", {
        getCar: "get"
    }),
    changePage(data) {
      this.page = data;
    },
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    downloadExport(label) {
      this.filterRange = [this.dateFilterStart, this.dateFilterEnd]
      // console.log(carId)
      this.$axios
      .get(`export/order`, {
        params:{
          carId:this.carId ?  this.carId : null,
          dateRange:this.filterRange,
          selectTypeCar:this.selectTypeCar
        }
      })
      .then((response) => {
          const url = response.data.fileName
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', response.data.name)
          document.body.appendChild(link)
          link.click()
      }).catch(console.error);
    },
    // filterCar() {
    //   this.page = 1;
    //   this.itemsPerPage = 10;
    //   this.getOrder({ carId: this.selectCar, dateRange: this.filterRage ?? null, page: this.page, itemsPerPage: this.itemsPerPage});
    // }
    dataGetOrder(carId, dateRange, page, itemsPerPage)
    {
      return {
        carId: carId == null ? this.carId : carId,
        dateRange: dateRange == null ? this.filterRage : dateRange,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage,
        selectTypeCar: this.selectTypeCar
      }
    },
    setDefault()
    {
      this.page = 1;
      this.itemsPerPage = 10;
    }
  },
  mounted() {
      this.getOrder();
      // this.getCar();
      this.setButton({
          type: "back",
          target: { name: "reports" },
      });
      this.filterRange = [this.nowDate]
      this.dateFilterStart = this.$dayjs().format('YYYY-MM-DD');
      this.dateFilterEnd = this.$dayjs().format('YYYY-MM-DD');
  },
  components: {
    DaterangePickerDailog,
    DaterangePickerDailog,
    MonthPickerDailog,
    paginate
  },
  watch: {
    page(data) {
      this.getOrder(this.dataGetOrder(null, null, data, null))
    },
    itemsPerPage(data) {
      this.page = 1
      this.getOrder(this.dataGetOrder(null, null, null, data));
    },
    dateFilterStart(val) {
      if(val == null) return;
      this.setDefault()
      this.filterRage = [val, this.dateFilterEnd]
      this.getOrder(this.dataGetOrder(null, null, null, null));
    },
    dateFilterEnd(val){;
      if(val == null) return;
      this.setDefault()
      this.filterRage = [this.dateFilterStart, val]
      this.getOrder(this.dataGetOrder(null, null, null, null));

    },
    selectCar(val){
      this.setDefault()
      this.carId = val;
      this.filterRage = [this.dateFilterStart, this.dateFilterEnd]
      this.getOrder(this.dataGetOrder(null, null, null, null));
    },
    selectTypeCar(val){
      this.setDefault()
      this.filterRage = [this.dateFilterStart, this.dateFilterEnd]
      this.getOrder(this.dataGetOrder(null, null, null, null));
    }
  }
}
</script>
