<template>
  <div>
    <v-card elevation="10" class="mb-5">
      <v-card-text>
        <h2 class="text">สรุปข้อมูลการออกรายงานยาพาหนะ</h2>
        <v-from >
          <v-container class="rowss">
            <v-row class="rows">
              <v-col cols="8" sm="2" md="3">
                <v-select label="แผนก" placeholder="แผนก" solo></v-select>
              </v-col>
              <v-col cols="8" sm="2" md="3">
                <v-select label="สาขา" placeholder="สาขา" solo></v-select>
              </v-col>
              <v-col cols="8" sm="2" md="3">
                <v-select
                  label="ชื่อ หรือ เบอร์ติดต่อผู้ขอ"
                  placeholder="ชื่อ หรือ เบอร์ติดต่อผู้ขอ"
                  solo
                ></v-select>
              </v-col>
              <v-col cols="8" sm="2" md="3">
                <v-select label="วันที่ขอ" placeholder="วันที่ขอ" solo></v-select>
              </v-col>
            </v-row>
            <v-row class="colss">
              <v-col  cols="8" sm="2" md="3">
                <v-select
                  label="วันที่ใช้งาน"
                  placeholder="แผนก"
                  solo
                ></v-select>
              </v-col>
              <v-col cols="8" sm="2" md="2">
                <v-select label="วันที่นำมาคืน" placeholder="สาขา" solo></v-select>
              </v-col>
              <v-btn depressed color="primary" class="btn-btn" height="45px">
                ค้นหา
              </v-btn>
              <v-col cols="8" sm="4" md="2">
                <v-select
                  class="vselect"
                  background-color="success"
                  label="ออกรายงาน"
                  placeholder="Placeholder"
                  solo
                ></v-select>
              </v-col>
            </v-row>
          </v-container>
        </v-from>
      </v-card-text>
    </v-card>
    <v-card elevation="10">
      <v-data-table :headers="headers" :items="dataAgency">
        <template #top>
          <v-toolbar flat>
            <v-toolbar-title></v-toolbar-title>
            <v-spacer />
            <v-btn color="warning" :to="{ name: '' }"> นำส่งข้อมูล </v-btn>
          </v-toolbar>
        </template>
        <template #item.actions="{ item }">
          <v-btn color="warning" :to="{ name: 'setup-agency-id', params: {} }">
            แก้ไข
          </v-btn>
          <v-btn color="error" @click="linkDelete(i)"> ลบ </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
export default {
  middleware: "user-authenticated",
  data: () => ({
    headers: [
      {
        text: "ผู้ขอ",
        align: "center",
        value: "requester",
        sortable: false,
      },
      {
        text: "เบอร์ติดต่อผู้ขอ",
        align: "center",
        value: "ContactNumber",
        sortable: false,
      },
       {
        text: "วันที่ขอ",
        align: "center",
        value: "requester",
        sortable: false,
      },
      {
        text: "ผู้ใช้งาน",
        align: "center",
        value: "ContactNumber",
        sortable: false,
      },
       {
        text: "เบอร์ติดต่อผู้ใช้งาน",
        align: "center",
        value: "requester",
        sortable: false,
      },
      {
        text: "วันที่ใช้งาน",
        align: "center",
        value: "ContactNumber",
        sortable: false,
      },
       {
        text: "วันที่นำมาคืน",
        align: "center",
        value: "requester",
        sortable: false,
      },
      {
        text: "เลขไมล์เริ่มต้น",
        align: "center",
        value: "ContactNumber",
        sortable: false,
      },
       {
        text: "เลขไมล์สิ้นสุด",
        align: "center",
        value: "requester",
        sortable: false,
      },
      {
        text: "จำนวนน้ำมันที่เติมรวม",
        align: "center",
        value: "ContactNumber",
        sortable: false,
      },
       {
        text: "ราคาน้ำมันที่เติมรวม",
        align: "center",
        value: "requester",
        sortable: false,
      },
      { text: "", align: "center", value: "actions", sortable: false },
    ],
  }),
};
</script>
<style>
.btn-btn {
  margin: 15px;
}
.vselect {
  width: 8rem;
}
.text{
  margin: 10px;
  color: #e79918;
}
.rowss{
  padding: 3px;
  margin: 20px 50px;
}
.colss{
  padding-top: auto;
}
</style>
