<template>
  <v-card class="Props">
    <v-card-title>
      Report
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-container fluid>
      <v-row align="center">
        <v-col cols="12">
          <v-autocomplete
            v-model="values"
            :items="items"
            dense
            chips
            small-chips
            label="please select"
            multiple
            solo
          ></v-autocomplete>
        </v-col>
      </v-row>
      <template v-if="items === 'ชื่อ'">
        <v-btn v-model="items.value" class="btn btn-primary" />
      </template>
    </v-container>
  </v-card>
</template>
<script>
export default {
  // middleware: "user-authenticated",
  data: () => ({
    items: [
      "ชื่อ",
      "วันที่ขอ",
      "วันที่ใช้งาน",
      "วันที่นำมาคืน",
      "แผนก",
      "สาขา",
      "เบอร์ผู้ติดต่อ",
    ],
    value: null,
  }),
  methods: {
    changePush() {
      switch ("ชื่อ") {
        case value:
          this.addOptions(items.value);
          break;

        default:
          break;
      }
    },
    addOptions() {
      items.value.push();
    },
  },
};
</script>

<style>
.Props {
  margin: 50px;
  color: #e79918;
}
</style>
