<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - สิทธิการใช้งาน</v-toolbar-title>
    </v-toolbar>
    <FormSetupPermission
      v-if="permission"
      :data="permission"
      @onSubmit="onSubmit"
    />
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  middleware: "user-authenticated",
  computed: {
    ...mapGetters("permission", ["permission"]),
  },
  mounted() {
    this.find(this.$route.params.id);

    this.setButton({
      type: "back",
      target: { name: "setup-permission" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("permission", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({
          id: this.permission.permissionId,
          ...form,
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสิทธิการใช้งานสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-permission" });
      } catch (e) {}
    },
  },
};
</script>
