<template>
  <div>
    <v-card>
      <v-tabs v-model="tab" class="my-2" color="deep-orange" left>
        <v-tab href="#arranging">รอจัด</v-tab>
        <v-tab href="#arranged">จัดแล้ว</v-tab>
      </v-tabs>
      <v-tabs-items v-model="tab">
        <v-tab-item value="arranging">
          <v-card flat>
            <v-card-text class="text-right">
              <v-btn
                class="mr-2 orange lighten-5 font-weight-bold shadow"
                color="warning"
                outlined
                elevation="2"
                :disabled="selected.length === 0"
                @click="$refs.mergeArrangementDialog.open(selected)"
              >
                <v-icon left>mdi-file-tree-outline</v-icon>
                <span>รวมรถ</span>
              </v-btn>
            </v-card-text>
            <v-card-text>
              <v-data-table
                v-model="selected"
                :headers="arrangementHeaders"
                :items="arrangements"
                item-key="orderId"
                show-select
              >
                <template #item.user="{ item }">
                  {{ item.user.name }}
                </template>
                <template #item.branch="{ item }">
                  {{ item.user.branch ? item.user.branch.name : "-" }} /
                  {{ item.user.agency ? item.user.agency.name : "-" }}
                </template>
                <template #item.dateRange="{ item }">
                  {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm") }}
                </template>
                <template #item.dateEnd="{ item }">
                  {{ $dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
                </template>
                <template #item.locations="{ item }">
                  {{ item.locations | locationList }}
                </template>
                <template #item.car="{ item }">
                  {{ item.car ? item.car.type.name : item.car_type.name }}
                </template>
                <template #item.action="{ item }">
                  <v-tooltip bottom>
                    <template v-slot:activator="{ on, attrs }">
                      <v-btn
                        icon
                        outlined
                        class="mr-2"
                        color="warning"
                        v-bind="attrs"
                        v-on="on"
                        @click="$refs.arrangementDialog.open(item)"
                      >
                        <v-icon>mdi-ballot-outline</v-icon>
                      </v-btn>
                    </template>
                    <span>จัดรถ</span>
                  </v-tooltip>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
        <v-tab-item value="arranged">
          <v-card flat>
            <v-card-text>
              <v-data-table
                :headers="arrangedHeaders"
                :items="arrangedArrangements"
                :single-expand="true"
                :expanded.sync="expanded"
                item-key="refId"
                show-expand
              >
                <template #item.dateRange="{ item }">
                  {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm") }}
                </template>
                <template #item.dateEnd="{item}">

                  {{ $dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
                </template>
                <template #item.regisNumber="{ item }">
                  {{ item.car ? item.car.regisNumber : '-' }}
                </template>
                <template #item.province="{ item }">
                  {{ item.car ? item.car.plateProvince : '-' }}
                </template>
                <template #item.car="{ item }">
                  {{ item.car ? item.car.brand.name : '-' }} {{ item.car ? item.car.model ? item.car.model.name : '' : '' }}
                </template>
                <template #item.driver="{ item }">
                  {{ item.driver | driverName }}
                </template>
                <template #item.data-table-expand="{ isExpanded, expand }">
                  <v-btn
                    class="mr-2"
                    color="warning"
                    icon
                    outlined
                    @click="expand(!isExpanded)"
                  >
                    <v-icon>mdi-file-tree</v-icon>
                    <!-- <span v-if="!isExpanded">เปิด</span>
                    <span v-else>ปิด</span> -->
                  </v-btn>
                </template>
                <template #expanded-item="{ headers, item: success_request }">
                  <td :colspan="headers.length">
                    <v-data-table
                      :headers="arrangementHeaders"
                      :items="success_request.manage_requests"
                      disable-pagination
                      hide-default-footer
                      class="my-3"
                    >
                      <template #item.user="{ item }">
                        {{ item.user ? item.user.name : '-' }}
                      </template>
                      <template #item.branch="{ item }">
                        {{ item.user.branch ? item.user.branch.name : "-" }} /
                        {{ item.user.agency ? item.user.agency.name : "-" }}
                      </template>
                      <template #item.dateRange="{ item }">
                        <!-- <b>เริ่มต้น:</b> -->
                        {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm")
                        }}
                        <template v-if="item.detail">
                          หมายเหตุ <b>{{ item.detail }}</b>
                        </template>
                      </template>
                      <template #item.dateEnd="{ item }">
                        <!-- <b>สิ้นสุด:</b> -->
                        {{ $dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
                      </template>
                      <template #item.locations="{ item }">
                        {{ item.locations | locationList }}
                      </template>
                      <template #item.car="{ item }">
                        {{
                          success_request.car
                            ? success_request.car.type.name
                            : '-'
                        }}
                      </template>
                    </v-data-table>
                  </td>
                </template>
              </v-data-table>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </v-card>

    <ArrangementDialog ref="arrangementDialog" @success="reload" />
    <MergeArrangementDialog ref="mergeArrangementDialog" @success="reload" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from '../../assets/globals';

export default {
  filters: {
    locationList(locations) {
      const maxLength = 3;
      if (locations.length <= maxLength) {
        return locations.map(({ location }) => location).join(", ");
      }

      return [
        ...locations.slice(0, maxLength - 1).map(({ location }) => location),
        `+${locations.length - maxLength + 1}`,
      ].join(", ");
    },
    driverName(driver) {
      return driver ? [driver.firstName, driver.lastName].join(" ") : "-";
    },
  },
  data: () => ({
    search: "",
    dialog: false,
    tab: "arranging",
    request: null,
    expanded: [],
    selected: [],
    arrangementHeaders: [
      {
        text: "หมายเลขอ้างอิง",
        value: "requestNo",
        align: "left",
        sortable: false,
      },
      { text: "ผู้จอง", value: "user", align: "left", sortable: false },
      {
        text: "แผนก / สาขา",
        value: "branch",
        align: "left",
        sortable: false,
      },
      {
        text: "วันที่ใช้รถยนต์",
        value: "dateRange",
        align: "left",
        sortable: false,
      },
      {
        text: "ถึงวันที่",
        value: "dateEnd",
        align: "left",
        sortable: false,
      },
      {
        text: "จำนวนผู้เดินทาง",
        value: "passengerNo",
        align: "left",
        sortable: false,
      },
      { text: "สถานที่", value: "locations", align: "left", sortable: false },
      { text: "ประเภทรถยนต์", value: "car", align: "left" },
      { text: "ดำเนินการ", value: "action", align: "center", sortable: false },
    ],
    arrangedHeaders: [
      {
        text: "หมายเลขอ้างอิง",
        value: "refNo",
        align: "left",
        sortable: false,
      },
      { text: "วันที่ใช้งาน", value: "dateRange", align: "left" },
      { text: "ทะเบียน", value: "regisNumber", align: "left" },
      { text: "จังหวัด", value: "province", align: "left" },
      { text: "รถยนต์", value: "car", align: "left" },
      { text: "พนักงานขับรถ", value: "driver", align: "left" },
      { text: "ดำเนินการ", value: "data-table-expand", align: "center" },
    ],
    rules: {
      car: [(v) => !!v || "กรุณาเลือกรถ"],
      driver: [(v) => !!v || "กรุณาเลือกพนักงานขับรถ"],
    },
    carTypeId: null,
    carId: null,
    driverId: false,
    iconMid : 'mdi-ballot-outline',
  }),
  computed: {
    ...mapGetters("arrangement", ["arrangements", "arrangedArrangements"]),
    isAllowManagement() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["management_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  mounted() {
    this.reload();
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    ...mapActions("arrangement", {
      getArrangements: "get",
      getArrangedArrangements: "getArranged",
    }),
    reload() {
      this.getArrangements();
      this.getArrangedArrangements();
    },
  },
};
</script>

<style scope>
#reture {
  width: 100%;
}
#reture tr:nth-child(even) {
  background-color: #e5e5e5;
}

#reture tr:hover {
  background-color: #ddd;
}

@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
