// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Sarabun', sans-serif;
$title-font: 'Prompt', Arial, sans-serif;

@import '~vuetify/src/styles/styles.sass';
