<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - แผนก</v-toolbar-title>
    </v-toolbar>
    <FormSetupAgency v-if="agency" :data="agency" @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: "user-authenticated",
  computed: {
    ...mapGetters("agency", ["agency"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-branch-id-agency" , params: { id: localStorage.branchId}},
    });
    this.find(this.$route.params.id)
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("agency", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({
          id: this.agency.agencyId,
          ...form,
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าแผนกสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "admin-branch-id-agency" , params: { id: localStorage.branchId}});
      } catch (e) {}
    },
  },
};
</script>
