<template>
  <v-data-table
    :headers="headers"
    :items="dataAgency"
    :mobile-breakpoint="0"
    :search="search"
    :custom-filter="filterOnlyCapsText"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - แผนก</v-toolbar-title>
        <v-spacer />
        <v-text-field
          v-model="search"
          placeholder="ค้นหา"
          label="ค้นหา"
          outlined
          dense
          class="mx-3 "
          single-line
          hide-details
          append-icon="mdi-magnify"
        />
        <v-btn color="warning" class="orange lighten-5" outlined :to="{ name: 'admin-agency-create' }">
          <v-icon left>add</v-icon>
          สร้าง
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.branchId="{item}">
      {{item.branch.companies ? item.branch.companies.name :'-'}}
    </template>
    <template #item.branch="{item}">
      {{item.branch ? item.branch.name : 'So'}}
    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="warning"
        class="orange lighten-5"
        :to="{ name: 'admin-agency-id', params: { id: item.agencyId } }"
        outlined
        icon
      >
        <v-icon>edit</v-icon>

      </v-btn>
      <v-btn
        color="error"
        outlined
        @click="linkDelete(item.agencyId)"
        icon
      >
        <v-icon>delete</v-icon>

      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data: () => ({
    dataAgency: [],
    nameAgency: [],
    search: "",
    headers: [
      {
        text:"บริษัท",
        value:"branchId",
        sortable:false
      },
      {
        text: "สาขา",
        value: "branch",
        sortable: false,
      },
      {
        text: "แผนก",
        value: "name",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.getData();
    this.setButton({
      type: "back",
      target: { name: "admin" },
    });
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    linkEdit(id) {
      this.$router.push(`/setup/agency/${id}`);
    },

    async getData() {
      const apiUrl = `/admin/agency/`;
      const res = await this.$axios.get(apiUrl);
      this.dataAgency = res.data;
      // console.log("data--->", res.data);
    },

    async linkDelete(id) {
      if (confirm("คุณต้องการจะลบแผนกนี้ใช่ไหม ?")) {
        const apiUrl = `/agencies/${id}`;
        const $d = this;

        await this.$axios
          .delete(apiUrl)
          .then(function (respone) {
            $d.$toast.global.success({
              message: "ทำการลบข้อมูล สาขา สำเร็จเรียบร้อย",
            });
            $d.getData();
          })
          .catch(function (error) {
            console.log("An error has occurred." + error);
          });
      }
    },
    addAgency() {
      this.$router.push("/setup/agency");
    },
    filterOnlyCapsText (value, search, item) {
      return value != null &&
        search != null &&
        typeof value === 'string' &&
        value.toString().indexOf(search) !== -1

    }
  },
};
</script>
