<template>
  <v-container fluid>
    <v-row>
      <v-col col="12">
        <FormActs v-if="car" :car="car" >
          <template #prepend>
            <v-card class="my-4">
              <v-card-text>
                <h1 class="">รายละเอียด พรบ.</h1>
              </v-card-text>
            </v-card>
          </template>
        </FormActs>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default ({
  computed: {
    ...mapGetters("car", ["car"]),
  },
  mounted(){
    this.setButton({
      type: "back",
      target: { name: "car-id" },
    });
    this.find(this.$route.params.id)
  },
  methods:{
    ...mapActions([
      "setButton",
    ]),
    ...mapActions("car", ["find"])
  }
})
</script>

