<template>
  <v-container
  fluid
  >
    <v-card class="mb-4">
      <v-card-text>
        <v-row class="align-items-center" dense>
          <v-col cols="12" md="6" >
            <h1 class="mb-0">รายละเอียดรถยนต์ </h1>
          </v-col>
          <v-col cols="12" md="6" class="text-left text-lg-right" >
              <!-- <v-btn
                class="mr-6 orange lighten-4"
                color="warning"
                outlined
                :to="{ name: 'car-id-information'}"
                v-if="isEditCar && !erpinformation"
              >
                <v-icon left>edit</v-icon> แก้ไข
              </v-btn> -->
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text>
        <v-card-text>
          <v-row>
            <v-col cols="12" md="3">
              <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ทะเบียนรถ :</p>
              <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                {{ car ? car.regisNumber : ''}}
              </p>
            </v-col>
            <v-col cols="12" md="3">
              <p class="mb-0 text-subtitle-1 grey--text text--darken-2 font-weight-bold">ที่อยู่ที่ใช้รถ :</p>
              <p class="mb-0 text-subtitle-2 grey--text text--darken-3">
                {{ car ? car.plateProvince : ''}}
              </p>
            </v-col>
          </v-row>
        </v-card-text>
        <template v-if="erpinformation">
          <CarInformation v-if="erpinformation" :information="erpinformation" />
        </template>
        <template v-else>
            <CarInformation v-if="information" :information="information" />
        </template>
      </v-card-text>
    </v-card>
    <v-card>
      <v-tabs>
        <v-tab>
          <v-icon left> mdi-car </v-icon>
          ข้อมูลการใช้งานรถยนต์
        </v-tab>
        <v-tab>
          <v-icon left> mdi-car </v-icon>
          กรมธรรม์
        </v-tab>
        <v-tab>
          <v-icon left> mdi-car </v-icon>
          รายละเอียดภาษี
        </v-tab>
        <v-tab>
          <v-icon left> mdi-car </v-icon>
          รายละเอียด พ.ร.บ.
        </v-tab>
        <v-tab>
          <v-icon left> mdi-clipboard-list-outline </v-icon>
          ประวัติการซ่อม
        </v-tab>
        <v-tab-item>
          <div class="py-5">
            <CarsRequestTable v-if="car" :request="car.requests"></CarsRequestTable>
          </div>
          <!-- <v-data-table v-if="car" :headers="requestHeader" :items="car.requests">
            <template #item.dateRange="{ item }">
              {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm") }}
            </template>
            <template #item.endTime="{item}">
              {{ $dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
            </template>
            <template #item.locations="{item}">
              <template v-if="item.locations">
                <span v-for="({location, reqId}, index) in item.locations" :key="reqId" >
                  {{ location }}
                  <template v-if="index < item.locations.length - 1">
                    ,&nbsp;
                  </template>
                </span>
              </template>
              <template v-else>
                -
              </template>
            </template>
            <template #item.mileage="{ item }">
              <template v-if="item.startMile && item.endMile">
                {{ item.startMile }} - {{ item.endMile }}
                <i>({{ item.endMile - item.startMile }})</i>
              </template>
              <template v-else> - </template>
            </template>
          </v-data-table> -->

        </v-tab-item>
        <v-tab-item>
          <!-- <v-row class="my-4">
            <v-col cols="6" md="6" class="text-right ml-auto">
              <template v-if="erpinsurance != ''">
              </template>
              <template v-else>
                <v-btn
                  class="mr-6 orange lighten-4"
                  color="warning"
                  outlined
                  :to="{ name: 'car-id-insurance'}"
                > + ข้อมูลประกัน</v-btn>
              </template>
            </v-col>
          </v-row> -->
          <template v-if="erpinsurance != ''">
            <CarInsuranceTable v-if="erpinsurance" :insurances="erpinsurance" />
          </template>
          <template v-else>
            <template v-if="insurances">
              <CarInsuranceTable v-if="insurances" :insurances="insurances" />
            </template>
            <template v-else>
              <v-card>
                <v-card-text>
                  <v-row>
                    <v-col cols="12">
                      <div class="p-6 text-center"><p class="grey--text">No data avliable</p></div>
                    </v-col>
                  </v-row>
                </v-card-text>
              </v-card>
            </template>
          </template>
        </v-tab-item>
        <v-tab-item>
          <!-- <v-row class="my-4">
            <v-col cols="6" md="6" class="text-right ml-auto">
              <template v-if="erptaxes != ''">
              </template>
              <template v-else>
                <v-btn
                  class="mr-6 orange lighten-4"
                  color="warning"
                  outlined
                  :to="{ name: 'car-id-taxs'}"
                >+ ข้อมูลภาษี</v-btn>
              </template>
            </v-col>
          </v-row> -->
          <template v-if="erptaxes != ''">
          <CarTaxTable v-if="erptaxes" :taxes="erptaxes" />
          </template>
          <template v-else>
          <CarTaxTable :taxes="taxes" />
          </template>
        </v-tab-item>
        <v-tab-item>
          <!-- <v-row class="my-4">
            <v-col cols="6" md="6" class="text-right ml-auto">
              <template v-if="erpact != ''">
              </template>
              <template v-else>
              <v-btn
                class="mr-6 orange lighten-4"
                color="warning"
                outlined
                :to="{ name: 'car-id-acts'}"
              >+ ข้อมูล พรบ.</v-btn>
              </template>
            </v-col>
          </v-row> -->
          <template v-if="erpact !=''">
          <CarActTable v-if="erpact" :acts="erpact" />
          </template>
          <template v-else>
          <CarActTable :acts="acts" />
          </template>
        </v-tab-item>
        <v-tab-item>
          <CarMaintenanceTable :maintenances="erpmaintenances"   v-if="erpmaintenances != ''" />
          <CarMaintenanceTable :maintenances="maintenances"  v-else />
        </v-tab-item>
      </v-tabs>
    </v-card>
  </v-container>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  middleware: "user-authenticated",
  data() {
    return {
      requestHeader: [
        { text: "ใช้งานวันที่", value: "dateRange" },
        { text: "ถึงวันที่", value: "endTime" },
        { text: "ผู้ใช้งาน", value: "travelerName" },
        { text: "สถานที่", value: "locations" },
        { text: "จำนวนผู้โดยสาร", align:"center", value: "passengerNo" },
        { text: "เลขไมล์", value: "mileage" },
      ],
    };
  },
  computed: {
    ...mapGetters("car", [
      "car",
      "information",
      "owner",
      "insurances",
      "taxes",
      "acts",
      "options",
      "maintenances",
      "erpinformation",
      "erpowner",
      "erpinsurance",
      "erptaxes",
      "erpact",
      "erpoption",
      "erpmaintenances"
    ]),
    isEditCar() {
      return this.$auth?.user?.permission?.isAdmin || ["car_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    }

  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "car" },
    });

    this.find(this.$route.params.id)
    try {
      await this.findERPInformation(this.$route.params.id);
      if (this.findERPInformation) {
        // ERP Get DATA
        // this.findERPOwner(this.$route.params.id);
        this.findERPInsurances(this.$route.params.id);
        this.findERPTaxes(this.$route.params.id);
        this.findERPActs(this.$route.params.id);
        this.findERPOptions(this.$route.params.id);
        await this.findERPMaintenance(this.$route.params.id);
        // console.log(this.$store);
      }
    } catch (e) {
      try {
        await this.findInformation(this.$route.params.id);
        if(this.findInformation){
          // this.findOwner(this.$route.params.id);
          this.findInsurances(this.$route.params.id);
          this.findTaxes(this.$route.params.id);
          this.findActs(this.$route.params.id);
          this.findOptions(this.$route.params.id);
          await this.findMaintenance(this.$route.params.id);
        }
      } catch (e) {

      }
    }



  },
  methods: {
    ...mapActions([
      "setButton",
    ]),
    ...mapActions("car", [
      "find",
      "findInformation",
      // "findOwner",
      "findInsurances",
      "findTaxes",
      "findActs",
      "findOptions",
      "findMaintenance",
      "findERPInformation",
      // "findERPOwner",
      "findERPInsurances",
      "findERPTaxes",
      "findERPActs",
      "findERPOptions",
      "findERPMaintenance"
    ])
  },
};
</script>
