<template>
  <v-row justify="center">
    <v-col cols="12" md="10">
      <FormInformation v-if="car" :car="car" :info="information" @onSubmit="onSubmit">
        <template #prepend>
          <v-card class="my-4">
            <v-card-text>
              <h1 >ฟอร์มรายละเอียด รถยนต์ <small>{{car.plateNumber}}</small></h1>
            </v-card-text>
          </v-card>
          <v-card class="my-4">
            <v-card-text>
              <v-row>
                <v-col cols="6">
                  <p class="mb-0"><b>ทะเบียนรถ</b> : {{car.regisNumber}}</p>
                  <p class="mb-0"><b>ยี่ห้อ</b> : {{car.brand.name}}</p>
                  <p class="mb-0"> <b>รุ่นรถยนต์</b> : {{car.model.name}}</p>
                </v-col>
                <v-col cols="6">
                  <p class="mb-0"><b>ประเภทรถยนต์</b> : {{car.type.name}}</p>
                  <p class="mb-0" ><b>สีรถยนต์</b> : <span v-if="car.color"> {{car.color.name}}</span></p>
                </v-col>
              </v-row>
            </v-card-text>
          </v-card>
        </template>
      </FormInformation>
    </v-col>
  </v-row>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default ({
  computed: {
    ...mapGetters("car", ["car","information"]),
  },
  async mounted(){
    this.find(this.$route.params.id);
    try{
      this.findInformation(this.$route.params.id);
    }catch(e){

    }
  },
  methods:{
    ...mapActions([
      "setButton",
    ]),
    ...mapActions("car", [
      "find",
      "createInformation",
      "findInformation"
    ]),
    async onSubmit(form) {
      try {
        await this.createInformation(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการรถยนต์สำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "car-id" });
      } catch (e) {}
    },
    goBack() {
      this.$router.push({ name: "car-id" });
    }
  }
})
</script>
