<template>
  <v-container fluid>
    <v-row>
      <v-col col="12" md="10" class="mx-auto">
        <FormInsurance v-if="car" :car="car" >
          <template #prepend>
             <h1>รายละเอียดกรมธรรม์ : <span class="grey--text text--darken-2">{{car.regisNumber}}</span></h1>
          </template>
        </FormInsurance>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default ({
  computed: {
    ...mapGetters("car", ["car"]),
  },
  mounted(){
    this.setButton({
      type: "back",
      target: { name: "car-id" },
    });

    this.find(this.$route.params.id)
  },
  methods:{
    ...mapActions([
      "setButton",
    ]),
    ...mapActions("car", ["find"])
  }
})
</script>

