<template>
  <v-container
    fluid
  >
    <FormTax v-if="car" :car="car">
      <template #prepend>
        <v-card class="my-4">
          <v-card-text>
            <h1>รายละเอียด พรบ.</h1>
          </v-card-text>
        </v-card>
      </template>
    </FormTax>
  </v-container>
</template>
<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default ({
  computed: {
    ...mapGetters("car", ["car"]),
  },
  mounted(){
    this.setButton({
      type: "back",
      target: { name: "car-id" },
    });

    this.find(this.$route.params.id)
  },
  methods:{
    ...mapActions([
      "setButton",
    ]),
    ...mapActions("car", ["find"])

  }
})
</script>
