<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - สินทรัพย์</v-toolbar-title>
    </v-toolbar>
    <FormSetupAsset @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-asset" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("asset", ["create"]),
    async onSubmit(form) {
      try {
        await this.create({
          ...form,
          cars: form.cars.filter(({ isDeleted }) => !isDeleted)
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสินทรัพย์สำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-asset" });
      } catch (e) {}
    },
  },
};
</script>
