<template>
  <v-data-table
    :headers="headers"
    :items="assets"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สินทรัพย์</v-toolbar-title>
        <v-spacer />
        <v-btn
          color="warning"
          :to="{ name: 'setup-asset-create' }"
        >
          สร้าง
        </v-btn>

      </v-toolbar>
      <!-- <v-toolbar flat>
        <v-text-field
          label="ค้นหา"
          hide-details
          placeholder="กรอกคำค้นหา"
          v-model="search"
          @keyup="searching"
        />
      </v-toolbar> -->
    </template>
    <template #item.contract="{ item }">
      {{ item.contract ? item.contract.contractCode : '' }} -
      {{ item.contract ? item.contract.name : '' }}

    </template>
    <template #itme.company="{ item }">
      <div><small>{{ item.company }}/ {{ item.branch ? item.branch: '-' }}/ {{ item.agency ? item.agency: '-' }}</small></div>
    </template>
    <template #item.type="{ item }">
      {{ item.type ? item.type :'' }}
    </template>
    <template #item.model="{ item }">
      {{ item.brand ? item.brand :'' }} - {{ item.model ? item.model :'' }}
    </template>
    <template #item.color="{ item }">
      {{ item.color ? item.color :'' }}
    </template>
    <template #item.actions="{ item }">
      <v-btn
        class="orange lighten-5"
        color="warning"
        outlined
        :to="{ name: 'setup-asset-id', params: { id: item.id } }"
      >
        <v-icon left>edit</v-icon>
        แก้ไข
      </v-btn>
      <v-btn
        color="error"
        outlined
        @click="onRemove(item)"
      >
        <v-icon left>delete</v-icon>
        ลบ
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  data: () => ({
    search: "",
    timer: null,
    headers: [
      {
        text: "สัญญา",
        sortable: false,
        value: "contract",
      },
      {
        text: "บริษัท",
        sortable: false,
        value: "company",
      },
      {
        text: "ประเภท",
        sortable: false,
        value: "type",
      },
      {
        text: "ยี่ห้อ - รุ่น",
        sortable: false,
        value: "model",
      },
      {
        text: "สี",
        sortable: false,
        value: "color",
      },
      {
        text: "จำนวน",
        sortable: false,
        value: "total",
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });

    this.get();
  },
  computed: {
    ...mapGetters("asset", ["assets"]),
    isAllowDriver() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["asset_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("asset", ["get", "remove"]),
    searching() {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      this.timer = setTimeout(() => {
        this.get({search: this.search})
      }, 800);
    },
    async onRemove(asset) {
      if (confirm(`คุณต้องการที่จะลบสัญญา " ${asset.contract.contractCode} " ใช่ หรือ ไม่ ?`)) {
        try {
          this.remove(asset.id);
          this.$toast.global.success({
            message: "ทำการลบข้อมูลสัญญา สำเร็จเรียบร้อย",
          });

          this.get();
        } catch (e) {}
      }
    },
  },
};
</script>
