<template>
  <div>
    <v-toolbar class="mb-3" elevation="1" rounded="4">
      <v-toolbar-title>ตั้งค่า - สินทรัพย์</v-toolbar-title>
    </v-toolbar>
    <FormSetupAsset v-if="asset" :data="asset" @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  computed: {
    ...mapGetters("asset", ["asset"]),
  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-asset" },
    });

    this.find(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("asset", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({
          id: this.asset.id,
          data: {
            ...form,
            cars: form.cars.filter(({ isDeleted }) => !isDeleted)
          }
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสินทรัพย์สำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "admin-asset" });
      } catch (e) {}
    },
  },
};
</script>
