<template>
  <div>
    <v-card>
      <v-card-title>
        <h3>Car Management</h3>
      </v-card-title>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="12" lg="6" align-self="center">
            <v-select2
              placeholder="Select Department"
              :options="[
                'California',
                'Colorado',
                'Florida',
                'Georgia',
                'Texas',
                'Wyoming'
              ]"
              v-model="searchDepartment"
            >
              <div slot="no-options">ไม่พบข้อมูล</div>
            </v-select2>
          </v-col>

          <v-col cols="12" md="12" lg="6" align-self="center">
            <v-select2
              placeholder="Select Type Car"
              :options="[
                'California',
                'Colorado',
                'Florida',
                'Georgia',
                'Texas',
                'Wyoming'
              ]"
              v-model="searchType"
            >
              <div slot="no-options">ไม่พบข้อมูล</div>
            </v-select2>
          </v-col>
        </v-row>
        <v-row class="mb-1">
          <v-col cols="12" md="12" lg="4" class="mx-auto">
            <v-text-field
              v-model="searchContractOrAsset"
              clearable
              hide-details
              label="Contract / Asset"
              outlined
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="12" lg="4" class="mx-auto">
            <v-text-field
              v-model="searchNumberPlate"
              clearable
              hide-details
              label="Plate Number"
              outlined
              dense
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="12" lg="4" class="mx-auto mb-0">
            <v-btn
              height="40px"
              color="success"
              @click="selectData"
              type="submit"
              outlined
              block
              >Select</v-btn
            >
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>

    <v-card class="mt-3">
      <v-card-text>
        <v-row>
          <v-col class="text-right">
            <v-btn
            color="warning"
            :to="{ name: 'setup-asset-create' }"
            >Create</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
      <v-data-table
        height="472"
        item-key="carId"
        :header-props="{ 'disable-sort': true }"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        :headers="headers"
        :items="assets"
        fixed-header
        :loading="loading"
        hide-default-footer
      >
        <template v-slot:item.company="{ item }">
          <div class="d-flex">{{ item.company }}</div>
        </template>
        <template v-slot:item.department="{ item }">
          <div class="d-flex">{{ item.department }}</div>
        </template>
        <template #item.action="{ item }">
          <v-col cols="12">
            <v-btn
              min-width="0px"
              style="padding: 0px;"
              class="orange lighten-5"
              color="warning"
              outlined
              :to="{ name: 'setup-asset-id', params: { id: item.carId } }"
            >
              <v-icon size="18">edit</v-icon>
            </v-btn>
            <v-btn
              class="ml-1"
              min-width="0px"
              style="padding: 0px;"
              color="error"
              outlined
              @click="onRemove(item)"
            >
              <v-icon size="18">delete</v-icon>
            </v-btn>
          </v-col>

        </template>
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>

<style>
  .vs__dropdown-toggle {
    height: 40px;
  }
</style>
<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import "vue-select/dist/vue-select.css";
import vSelect2 from "vue-select";
import paginate from "~/components/pagination/footer";
export default {
  components: {
    vSelect2,
    paginate
  },
  data: () => ({
    searchContractOrAsset: '',
    searchNumberPlate: '',
    searchDepartment: '',
    searchType: '',
    page: 1,
    itemsPerPage: 10,
    // loading: false,
    timer: null,
    // max_page: 18,
    headers: [
      {
        text: "Vehicle REG.",
        sortable: false,
        align: "center",
        value: "plateNumber",
        width: "10%"
      },
      {
        text: "Type",
        sortable: false,
        align: "center",
        value: "type"
      },
      {
        text: "Model",
        sortable: false,
        align: "center",
        value: "model"
      },
      {
        text: "Color",
        sortable: false,
        align: "center",
        value: "color"
      },
      {
        text: "Contract",
        sortable: false,
        align: "center",
        value: "contract",
        width: "15%"
      },
      {
        text: "Asset",
        sortable: false,
        align: "center",
        value: "asset",
        width: "15%"
      },
      {
        text: "Company",
        sortable: false,
        align: "center",
        value: "company",
        width: "20%"
      },
      {
        text: "Department",
        sortable: false,
        align: "center",
        value: "department",
        width: "15%"
      },
      {
        text: "Action",
        align: "center",
        sortable: false,
        value: "action",
        width: "10%"
      }
    ],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    car: [
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
      {
        carId: 123,
        plateNumber: "plateNumber",
        type: "type",
        model: "model",
        color: "color",
        company: "company",
        department: "department",
        contract: "contract",
        asset: "asset"
      },
    ]
  }),
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin" }
    });
    this.getCar();
  },
  computed: {
    ...mapGetters("asset", ["assets", "loading", "max_page"]),
    // isAllowDriver() {
    //   return (
    //     this.$auth?.user?.permission?.isAdmin ||
    //     ["asset_create"].some(action =>
    //       this.$store.getters["permissions"].includes(action)
    //     )
    //   );
    // }
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("asset", {
      getCar: "getCars"
    }),
    onRemove() {},
    selectData() {},
    changePage() {},
    changePage(data) {
      this.page = data;
    },
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    // searching() {
    //   if (this.timer) {
    //     clearTimeout(this.timer);
    //     this.timer = null;
    //   }
    //   this.timer = setTimeout(() => {
    //     this.get({ search: this.search });
    //   }, 800);
    // },
    // async onRemove(asset) {
    //   if (
    //     confirm(
    //       `คุณต้องการที่จะลบสัญญา " ${asset.contract.contractCode} " ใช่ หรือ ไม่ ?`
    //     )
    //   ) {
    //     try {
    //       this.remove(asset.id);
    //       this.$toast.global.success({
    //         message: "ทำการลบข้อมูลสัญญา สำเร็จเรียบร้อย"
    //       });
    //       // this.get();
    //     } catch (e) {}
    //   }
    // }
    dataGetCars(search, searchNumberPlate, searchDepartment, searchType, page, itemsPerPage)
    {
      return {
        search: search == null ? this.searchContractOrAsset : search,
        searchNumberPlate: searchNumberPlate == null ? this.searchNumberPlate: searchNumberPlate,
        searchDepartment: searchDepartment == null ? this.searchDepartment: searchDepartment,
        searchType: searchType == null ? this.searchType: searchType,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      }
    },
  },
  watch: {
    page(data) {
      this.getCar(this.dataGetCars(null, null, null, null, data, null))
    },
    itemsPerPage(data) {
      this.page = 1
      this.getCar(this.dataGetCars(null, null, null, null, null, data));
    },
  }
};
</script>
