<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - แผนก</v-toolbar-title>
    </v-toolbar>
    <FormSetupAgency @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-agency" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("agency", ["create"]),
    async onSubmit(form) {
      try {
        await this.create(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสาขาสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-agency" });
      } catch (e) {}
    },
  },
};
</script>
