<template>
  <v-data-table
    :headers="headers"
    :items="dataAgency"
    :mobile-breakpoint="0"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - แผนก</v-toolbar-title>
        <v-spacer />
        <v-btn color="warning" class="orange lighten-5" outlined :to="{ name: 'setup-agency-create' }">
          <v-icon left>add</v-icon>
          สร้าง
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="warning"
        class="orange lighten-5"
        :to="{ name: 'setup-agency-id', params: { id: item.agencyId } }"
        outlined
      >
        <v-icon left>edit</v-icon>
        แก้ไข
      </v-btn>
      <v-btn color="error" outlined @click="linkDelete(item.agencyId)">
        <v-icon left>delete</v-icon>
        ลบ
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapActions } from "vuex";

export default {
  data: () => ({
    dataAgency: [],
    nameAgency: [],
    search: "",
    headers: [
      {
        text: "สาขา",
        value: "branch",
        sortable: false,
      },
      {
        text: "แผนก",
        value: "name",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.getData();
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    linkEdit(id) {
      this.$router.push(`/setup/agency/${id}`);
    },

    async getData() {
      const apiUrl = `/agencies/company/${this.user.companyId}?approveTypeId=`;
      const res = await this.$axios.get(apiUrl);
      this.dataAgency = res.data;
      // console.log("data--->", res.data);
    },

    async linkDelete(id) {
      if (confirm("คุณต้องการจะลบแผนกนี้ใช่ไหม ?")) {
        const apiUrl = `/agencies/${id}`;
        const $d = this;

        await this.$axios
          .delete(apiUrl)
          .then(function (respone) {
            $d.$toast.global.success({
              message: "ทำการลบข้อมูล สาขา สำเร็จเรียบร้อย",
            });
            $d.getData();
          })
          .catch(function (error) {
            console.log("An error has occurred." + error);
          });
      }
    },
    addAgency() {
      this.$router.push("/setup/agency");
    },
  },
};
</script>
