<template>
  <!-- <div class="my-10"> -->
  <!-- {{ isAdd }} -->
  <v-container class="my-10">
    <v-row>
      <v-col cols="10" class="mx-auto">
        <h1>ยี่ห้อ {{ forms.nameBrand }}</h1>
        <v-row v-for="(input, index) in typesBrand" :key="index" class="mt-1">
          <v-col cols="11" sm="11" md="11" lg="11">
            <v-text-field :value="input.name" solo readonly></v-text-field>
          </v-col>

          <v-col cols="11" sm="11" md="1" lg="1" class="my-2">
            <v-btn
              color="#e79918"
              dark
              block
              outlined
              @click="linkDelete(input.id)"
            >
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
        <!-- <br /> -->
        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
        >
          <v-row>
            <v-col cols="11" sm="11" md="11" lg="11">
              <!-- <v-card class="mx-auto box " max-width="500"> -->
              <v-text-field
                label="ชื่อรุ่น"
                outlined
                dense
                v-model="forms.nameGeneration"
                :rules="nameGenerationRules"
                prepend-inner-icon="mdi-plus"
                required
              ></v-text-field>

              <v-row>
                <v-col cols="12" sm="12" md="6" lg="6">
                  <v-btn
                    color="#e79918"
                    :disabled="!valid"
                    @click="validate"
                    block
                    type="submit"
                  >
                    บันทึกข้อมูล
                  </v-btn>
                </v-col>
                <v-col cols="12" sm="12" md="6" lg="6">
                  <v-btn color="error" block class="mr-4" @click="reset()">
                    ยกเลิกการกรอกข้อมูล
                  </v-btn>
                </v-col>
              </v-row>
              <!-- </v-card> -->
            </v-col>
          </v-row>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
  <!-- </div> -->
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    valid: false,
    id: null,
    isAdd: false,
    nameGenerationRules: [v => !!v || "กรุณาระบุยี่รุ่น"],

    forms: {
      generation: null,
      nameGeneration: null,
      nameBrand: null
    },
    typesGeneration: [
      { id: 1, name: "กอง100" },
      { id: 2, name: "กอง101" },
      { id: 3, name: "กอง102" },
      { id: 4, name: "กอง103" }
    ],
    typesBrand: [
      { id: 1, name: "ยี่ห้อ 1" },
      { id: 2, name: "ยี่ห้อ 2" },
      { id: 3, name: "ยี่ห้อ 3" },
      { id: 4, name: "ยี่ห้อ 4" }
    ]
  }),
  mounted() {
    this.setTitle("ตั้งค่า - รุ่น");
    this.id = this.$route.params.id;

    if (this.id) {
      // id มีค่า
      this.isAdd = true;
      const data = {
        id: 1,
        nameBrand: "Toyota",
        generation: 1
      };
      this.forms = { ...this.forms, ...data };
    } else {
      // id ไม่มีค่า
    }
  },
  methods: {
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async linkDelete(id) {
      //เขียนไปเลย axios
    },
    async onSubmit() {
      const body = this.forms;
      console.log("body => ", body);
      //   const apiUrl = "";
      //   await this.$axios
      //     .post(apiUrl, forms)
      //     .then(function(respone) {
      //       console.log(respone.data);
      //       this.$toast.global.success({
      //         message: "บันทึกข้อมูลการตั้งค่า - การอนุมัติ สำเร็จเรียบร้อย"
      //       });
      //       this.$router.push("/setup/brand");
      //     })
      //     .catch(function(error) {
      //       console.log("An error has occurred." + error);
      //     });
      console.log("submit");
    }
  }
};
</script>

<style></style>
