<template>
  <v-app>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="miniVariant"
      :clipped="clipped"
      fixed
      app
    >
      <Sidebar />
    </v-navigation-drawer>
    <v-app-bar :clipped-left="clipped" class="app-header" fixed app>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="bar-color" />
      <v-btn
        v-if="backButton"
        :to="backButton.target"
        elevation="0"
        color="orange"
        fab
        x-small
      >
        <v-icon color="white" dark small> mdi-arrow-left </v-icon>
      </v-btn>
    </v-app-bar>
    <v-main :class="{ 'main-background': isRenderBackground }">
      <v-container tag="section" fluid>
        <nuxt />
      </v-container>
      <div class="footer-wrapper">
        <div class="footer-conatiner footer" style="color: #848383">
          &copy; สงวนลิขสิทธิ์ {{ $dayjs().format("YYYY") }} บริษัท สยามราชธานี จำกัด (มหาชน)
        </div>
      </div>
    </v-main>
    <v-navigation-drawer v-model="rightDrawer" :right="right" temporary fixed>
      <v-list>
        <v-list-item @click.native="right = !right">
          <v-list-item-action>
            <v-icon light>mdi-repeat</v-icon>
          </v-list-item-action>
          <v-list-item-title>Switch drawer (click me)</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
  </v-app>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

export default {
  name: "layoutAdmin",
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: true,
      miniVariant: false,
      right: false,
      rightDrawer: false,
      path: "/",
    };
  },
  watch: {
    pathRoute(value) {
      this.path = value;
    },
  },
  computed: {
    ...mapGetters(["title", "buttons"]),
    backButton() {
      return this.buttons.find(({ type }) => type === "back");
    },
    createButton() {
      return this.buttons.find(({ type }) => type === "create");
    },
    pathRoute() {
      return this.$route.path;
    },
    isRenderBackground() {
      if (this.path === "/") {
        return true;
      }

      return false;
    },
  },
  mounted() {
    this.getPermissions();
  },
  methods: {
    ...mapActions(["getPermissions"]),
  },
};
</script>

<style lang="scss" scope>
$toolbar-height: 84px;

.bar-color {
  color: #e79918 !important;
}

main {
  background: var(--bg-admin);
}

.container {
  padding-top: 0;
  padding-bottom: 0;
  color: #e79918;
}

.text-title {
  font-size: 24px !important;
}

.v-app-bar {
  box-shadow: none !important;
  background-color: #fff !important;
  box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1) !important;
}

.list-menu-wrapper {
  height: calc(100% - 104px);
  overflow-y: auto;
  overflow-x: hidden;
  // background-image: url("/BG Menu-01.svg");
  background-size: cover;
  background-color: #fff;
  width: 100%;
}

.child-menu-item {
  padding-left: 55px;
}

.theme--light.v-list-item--active:hover::before,
.theme--light.v-list-item--active::before {
  opacity: 1;
}

.v-list-item--link:before {
  background-color: unset;
}

.v-list-item--active {
  background-color: darker(#fb8c00, 0.2);
}

.toolbar-title {
  font-size: 24px;
  font-weight: bold;
  color: var(--text-ci);
}

.sidebar-wrapper {
  height: 100%;
}

.list-menu {
  background-color: var(--main-ci);
}

.v-navigation-drawer__content {
  overflow-y: unset;
  overflow-x: unset;
}

.list-menu .v-list-item__action {
  margin-right: 15px !important;
}

.header-wrapper {
  margin-bottom: 42px;

  .header-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 18px;
  }

  .header-line {
    width: 100%;
    height: 1px;
    border-bottom: solid 1px var(--main-ci);
  }
}

.form-wrapper {
  font-weight: bold;
  font-size: 16px;
  color: var(--text-ci);

  .label {
    margin-bottom: 15px;
    color: var(--text-ci);
    font-weight: bold;
    font-size: 16px;
  }

  // .v-text-field {
  .v-input__slot {
    border-radius: 30px !important;
    box-shadow: none !important;
    border: 0.25px solid #b7b3aa;
    padding: 0 20px !important;

    .v-label {
      color: var(--text-03);
      font-size: 16px;
      font-weight: 500;
    }
  }

  .v-text-field:not(.v-textarea) {
    .v-input__slot {
      height: 48px;
    }
  }

  .v-textarea {
    .v-input__slot {
      border-radius: 9px !important;
    }
  }

  textarea,
  input {
    font-weight: 500;
  }

  input {
    margin-top: -5px;
  }
}

// .v-menu__content {
//   .v-list-item__title {
//     color: #000 !important;
//     font-size: 16px !important;
//   }

//   .v-list-item--active {
//     .v-list-item__title {
//       color: #fff !important;
//     }
//   }
// }

.v-select__selections {
  .v-select__selection {
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-weight: 500;
  }
}

.fake-height {
  min-height: 125px;
}

.footer-wrapper {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
}

.body-container {
  min-height: calc(100vh - 144px);
}
.main-background {
  background-image: url("/BG-index2-01.svg");
  background-repeat: no-repeat;
  background-position: 90% 100%;
  background-size: 50%;
}

.btn-wrapper {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 420px) {
  .text-title {
    font-size: 18px !important;
  }
  .footer {
    font-size: 10px !important;
  }
}
@media only screen and (max-width: 340px) {
  .text-title {
    font-size: 13px !important;
  }
}
</style>
