<template>
  <v-app>
    <div class="layout-wrapper">
      <!-- <v-main> -->
      <v-container>
        <nuxt />
      </v-container>
      <!-- </v-main> -->
    </div>
  </v-app>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.layout-wrapper {
  // background-color: var(--bg-main);
  background-image: url("/BG-01.svg");
  background-position: center center;
  background-attachment: fixed;
  -o-background-size: 100% 100%, auto;
  -moz-background-size: 100% 100%, auto;
  -webkit-background-size: 100% 100%, auto;
  background-size: cover;
  min-height: 100vh;
  // padding-bottom: 260px;
}
</style>

<style></style>
