<template>
  <div>
    <div class="form-wrapper">
      <v-form
        ref="form"
        class="form-custom"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-row>
          <v-col cols="12" md="12" class="pb-0">
            <div class="label">ที่อยู่</div>
            <v-textarea
              solo
              name="address"
              auto-grow
              placeholder="กรอกที่อยู่"
              v-model="forms.address"
            ></v-textarea>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">จังหวัด</div>
            <v-select
              :items="provinces"
              solo
              placeholder="กรอกจังหวัด"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.provinceId"
              name="provinceId"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">เขต/อำเภอ</div>
            <v-select
              :items="amphoes"
              solo
              placeholder="กรอกเขต/อำเภอ"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.amphoeId"
              name="amphoeId"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">แขวง/ตำบล</div>
            <v-select
              :items="districts"
              solo
              placeholder="กรอกแขวง/ตำบล"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.districtId"
              name="districtId"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6" class="">
            <div class="label">รหัสไปรษณีย์</div>
            <v-select
              :items="zipcodes"
              solo
              placeholder="กรอกรหัสไปรษณีย์"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.zipcodeId"
              name="zipcodeId"
              required
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pb-0">
            <div class="btn-wrapper">
              <v-btn class="btn-primary" type="submit">
                บันทึกการเปลี่ยนแปลง
              </v-btn>
              <v-btn class="btn-border-black" @click="goToHome">
                ยกเลิก
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  layout: 'admin',
  name: 'carRequestPage',
  layout: 'admin',
  middleware: 'user-authenticated',
  data: () => ({
    forms: {},
    provinces: [],
    districts: [],
    zipcodes: [],
    amphoes: [],
  }),
  mounted() {
    this.setTitle('ที่อยู่')
  },
  methods: {
    ...mapActions(['setTitle']),
    goToHome() {
      this.$router.push('/')
    },
    async onSubmit() {
      console.log('submit')
    },
    onProfileClick() {
      this.$refs.profileFile.click()
    },
  },
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
