<template>
  <v-container class="my-10">
    <v-row  class="search">
       <v-col cols="6" sm="6" md="6" lg="6"></v-col>
      <v-col cols="6" sm="6" md="6" lg="6">
        <v-autocomplete
          v-model="value"
          :items="items"
          dense
          filled
          rounded
          solo
          label="search" >
        </v-autocomplete>
      </v-col>
    </v-row>
   <v-data-table :headers="headers" :items="orders" item-key="orderId">
      <template #body="{ items }">
        <tr v-for="(item, index) in items" :key="`order-${item.orderId}`">
          <td>
            {{ item.car ? item.car.regisNumber : "-" }}
          </td>
          <td>
            {{ item.car ? item.car.type.name : item.car_type.name }}
          </td>
          <td>
            {{item.car ? item.car.type.name : item.car_type.name }}
          </td>
          <td>
            {{ $dayjs(item.createdAt).format("DD MMM YYYY HH:mm:ss") }}
          </td>
          <td>
            <template v-if="!item.order.isApproved"> รอการอนุมัติ </template>
            <template v-else-if="!item.order.isArrangeOrder">
              รอการจัดรถ
            </template>
            <template v-else> พร้อมใช้งาน รอการส่งคืนรถ </template>
          </td>
          <td>
             <v-btn
                to=""
                class="mr-2"
                color="warning"
                >ดูรายการ
              </v-btn>
          </td>
        </tr>
      </template>
    </v-data-table>
    </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "~/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    search: "",
    dialog: false,
    headers: [
      {
        text: "ทะเบียนรถ",
        align: "center",
        sortable: false,
        value: "name",
      },
      { text: "รุ่น", align: "center", value: "brand" },
      { text: "ยี่ห้อ", align: "center", value: "agency" },
      { text: "ประเภท", align: "center", value: "type" },
      { text: "สถานะ", align: "center", value: "status" },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
   computed: {
    ...mapGetters("order", ["orders"]),
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    // this.setTitle("รายการรถยนต์");
    this.getOrders();
    // this.setButton({
    //   type: 'back',
    //   target: { name: 'cars-request' }
    // });
  },
   methods: {
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle",]),
    ...mapActions("order", {
      getOrders: "get",
    }),
  },
  goBack() {
      this.$router.push({ name: "cars-request" });
    },
};
</script>

<style>
.btn-color {
  background-color: #e79918 !important;
  color: #fff !important;
}
.simple {
  width: 1500px;
  margin: 10px 5px 80px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  font-weight: 600px;
}

.text {
  margin-right: 30px;
  align-content: center;
}
</style>
