<template>
  <div>
    <div class="login-container">
      <div class="logo-wrapper">
        <img src="/Logo.svg" />
      </div>
      <div class="login-wrapper">
        <h1 class="title">แก้ไขรหัสผ่าน</h1>
        <v-card class="py-4">
          <v-card-text>
            <v-form
              ref="form"
              class="form-custom"
              lazy-validation
              @submit.prevent="onSubmit"
            >
              <v-row>
                <v-col cols="12" md="12" class="mb-0">
                  <!-- <div class="label">Current Password</div> -->
                  <v-text-field
                    label="Current Password"
                    v-model="forms.current_password"
                    name="current_password"
                    :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show1 ? 'text' : 'password'"
                    @click:append="show1 = !show1"
                    :rule="current_password"
                    required
                    placeholder="Current Password"
                    dense
                    class="align-center item-center"
                    hide-details=""
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="mb-0">
                  <!-- <div class="label">Password</div> -->
                  <v-text-field
                    placeholder="Password"
                    label="Password"
                    name="password"
                    dense
                    v-model="forms.password"
                    :rules="[[v => !!v || 'Password is required'], (this.forms.current_password != this.forms.password) || 'New Password cannot be same as your current password.']"
                    required
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="mb-0">
                  <!-- <div class="label">Confirm Password</div> -->
                  <v-text-field
                    label="Confirm Password"
                    placeholder="Confirm Password"
                    name="cfPassword"
                    dense
                    v-model="forms.cfPassword"
                    :rules="[[v => !!v || 'Password is required'], (this.forms.password === this.forms.cfPassword) || 'Password must match']"
                    required
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show3 ? 'text' : 'password'"
                    @click:append="show3 = !show3"
                  ></v-text-field>

                </v-col>
              </v-row>
              <v-row>
                <v-col class="pb-0 text-center">
                  <div class="btn-wrapper text-center">
                    <v-btn
                      class="orange lighten-5"
                      type="submit"
                      color="warning"
                      outlined
                      solo
                    >
                      บันทึกข้อมูล
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  name: 'userProfile',
  layout: 'login',
  middleware: 'user-authenticated',
  data: () => ({
    current_password: (v) => !!v ||'กรุณากรอกรหัสผ่าน',
    password: (v) => !!v ||'กรุณากรอกรหัสผ่าน',
    cfPassword: (v) => !!v ||'กรุณากรอกรหัสผ่านอีกครั้ง',
    forms: {
      current_password: null,
      password : null,
      cfPassword: null,
    },
    show1:false,
    show2:false,
    show3:false,
  }),
  mounted() {
    this.setTitle('แก้ไขรหัสผ่าน');
  },
  computed:{
    passwordConfirmationRule() {
      return () => (this.forms.password === this.forms.cfPassword) || 'Password must match'
    },
  },
  methods: {
    ...mapActions(['setTitle',"logout"]),
    ...mapGetters('user',['user']),
    async onSubmit() {
      let body = {
        current_password: this.forms.current_password,
        password: this.forms.password,
        cfPassword: this.forms.cfPassword,
      }
      try {
        this.$axios.post('/change-password',body).then((res) =>{
          this.$toast.global.success({
            message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
          });

          this.logout();
        }).catch((err) => {
          console.log(err);
        });

        // this.logout();
        // this.$router.push({ name: "login" });
      } catch (e) {
        console.log(e)
      }

    }
  },
  watch: {
    cfPassword: function(val) {
      if (val !== this.password) {
        this.$refs.form.validate()
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}
hr{
  border: 0.25px   solid #cecece;
}
.login-wrapper {
  margin-left: auto;
  margin-right: auto;

  .title {
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 58px;
  }
}

.logo-wrapper {
  margin: 28px auto 52px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;
  background: none;
  box-shadow: none !important;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
