<template>
  <v-container class="my-10">
    <v-col cols="12" class="font-color mx-auto my-12">
      <div class="profile-wrapper-index">
        <ImageCircle :url="profileUrl" class="profile" />
      </div>

      <v-card-title class="justify-center">
        <b>{{ user.name }}</b>
      </v-card-title>

      <v-card-text align="center">
        <div class="ms-4 font-color">PEA : {{ user.company.name }}</div>
        <div class="ms-4 font-color">Branch :{{ user.branch.name }}</div>
        <div class="ms-4 font-color">Depatment :{{ user.agency.name }}</div>
        <div class="ms-4 font-color">Moblie : {{ user.tel.name }}</div>
        <div class="ms-4 font-color">Email : {{ user.email }}</div>
      </v-card-text>
    </v-col>
    <v-col cols="12" sm="12" md="12" lg="12" style="overflow-x: auto;">
      <v-data-table
        hide-default-footer
        id="reture-dashboard-car-return"
        :headers="headers"
        :items="orderCars"
        class="table"
      >
        <template v-slot:[`item.actions`]="{ item }">
          <v-btn
            class="mr-2"
            color="warning"
            @click="linkApprove(item.orderId, item.orderTypeId)"
          >
            อนุมัติ
          </v-btn>
        </template>
      </v-data-table>
    </v-col>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'
export default {
  layout: 'admin',
  middleware: 'user-authenticated',
  data: () => ({
    hostApi: globals.HOST_API,
    loading: false,
    profile: {
      url:
        'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg/220px-Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg',
    },
    search: '',
    orderCars: [],
    headers: [
      {
        text: 'ประเภท',
        align: 'center',
        sortable: false,
        value: 'orderType',
        // width: 130,
      },
      {
        text: 'ผู้ขอใช้',
        align: 'center',
        value: 'requestName',
        // width: 190
      },
      {
        text: 'ขอใช้วันที่',
        align: 'center',
        value: 'startTime',
        // width: 120
      },
      {
        text: 'ถึงวันที่',
        align: 'center',
        value: 'endTime',
        // width: 120
      },
      {
        text: 'วันที่สร้างคำขอ',
        align: 'center',
        value: 'createdAt',
        // width: 130,
      },
      { text: 'ดำเนินการ', align: 'center', value: 'actions', sortable: false },
      //   text: 'ดำเนินการ', align: "center", value: 'actions', sortable: false
    ],
  }),
  computed: {
    profileUrl() {
      let url = `/default_profile.svg`
      if (this.user.photoUrl) {
        url = `${this.hostApi}/images/users/photo/${this.user.userId}/${this.user.photoUrl}`
      }
      return url
    },
    user() {
      return this.$auth.user
    },
  },
  mounted() {
    this.setTitle('รายการอนุมัติ')
    this.getData()
  },
  methods: {
    async getData() {
      const apiUrl = '/orders'
      // const body = {
      //   userId: this.$auth.user.userId,
      //   companyId: this.$auth.user.companyId,
      //   branchId: this.$auth.user.branchId,
      //   agencyId: this.$auth.user.agencyId,
      // }
      const res = await this.$axios.get(apiUrl)
      this.orderCars = res.data
    },
    ...mapActions(['dateFormat', 'logout', 'numberWithCommas', 'setTitle']),
    linkApprove(orderId, orderTypeId) {
      // this.$router.push(`/approve/${orderId}`)

      // console.log('orderTypeId =>', orderTypeId)

      let setTitle = ''
      if (orderTypeId === 1) {
        setTitle = 'คำขออนุมัติการขอใช้รถยนต์'
      } else if (orderTypeId === 2) {
        setTitle = 'คำขออนุมัติสรุปการใช้รถยนต์'
      }

      this.$router.push({
        path: `/approve/${orderId}`,
        query: {
          userId: this.$auth.user.userId,
          orderId: orderId,
          orderTypeId,
          // userId: 1,
          // orderId: 47,
          // order_types: 1,
          setTitle: setTitle,
          companyId: this.$auth.user.companyId,
          branchId: this.$auth.user.branchId,
          agencyId: this.$auth.user.agencyId,
        },
      })

      // if (order_types === 1) {
      //   const setTitle = 'คำขออนุมัติการขอใช้รถยนต์'
      //   this.$router.push({
      //     path: `/approve/${orderId}`,
      //     query: {
      //       userId: this.$auth.user.userId,
      //       orderId: orderId,
      //       order_types: order_types,
      //       // userId: 1,
      //       // orderId: 47,
      //       // order_types: 1,
      //       setTitle: setTitle,
      //       companyId: this.$auth.user.companyId,
      //       branchId: this.$auth.user.branchId,
      //       agencyId: this.$auth.user.agencyId,
      //     },
      //   })
      // }
    },
  },
}
</script>

<style lang="scss" scope>
// $toolbar-height: 200px;
#reture {
  width: 100%;
}
#reture tr:nth-child(even) {
  background-color: #e5e5e5;
}

#reture tr:hover {
  background-color: #ddd;
}

.font-size-status {
  font-size: 10px;
}
.font-color {
  color: #e79918 !important;
}

.profile-wrapper-approve {
  height: 200px;
  background-color: #c4c4c4;
  box-shadow: 0px 0px 10px rgba(50, 62, 72, 0.1) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;

  .profile {
    margin-right: 16px;
  }

  .image-border {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  }

  .image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 128px;
    height: 128px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    //   width: calc(100% - 5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detail {
    flex-grow: 1;

    .name {
      font-weight: bold;
      font-size: 14px;
      color: #262828;
    }

    .icon-wrapper {
      margin-top: -4px;
      margin-right: 7px;
    }

    .location {
      font-weight: 500;
      font-size: 14px;
      color: var(--main-ci);
    }
  }
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
@media only screen and (max-width: 870px) {
  #reture,
  .text-btn {
    font-size: 12px !important;
  }
}
</style>

<style lang="scss">
.title-approve .v-card__subtitle {
  padding: 0px !important;
}
</style>
