<template>
  <v-container class="my-10">
    <v-col cols="12" sm="12" md="12" lg="12">
      <v-row class="d-flex flex-row-reverse">
        <!-- Create buttom for open dialog merge car  -->
        <v-dialog
          v-model="dialog"
          content-class="content-class"
          max-width="1080px"
          style="overflow-x: auto"
        >
          <template v-slot:activator="{ on, attrs }">
            <!-- <v-btn color="primary" dark v-bind="attrs" v-on="on">
              Open Dialog
            </v-btn> -->
            <v-btn
              color="btn-primary btn-icon"
              dark
              class="mb-2 d-flex justify-end"
              v-bind="attrs"
              v-on="on"
              @click="changeArrangeTypeId2()"
            >
              <v-icon> mdi-file-tree-outline </v-icon>
              รวมรถ
            </v-btn>
          </template>
          <!-- <v-col> -->

          <!-- create step of work 1 go to 2 -->
          <v-stepper alt-labels v-model="e1">
            <v-row class="d-flex justify-center mt-5">
              <v-col cols="12" sm="12" md="6" lg="4" class="my-2">
                <v-stepper-header class="elevation-0">
                  <v-stepper-step color="#e79918" :complete="e1 > 1" step="1">
                    เลือกรายการ
                  </v-stepper-step>

                  <v-divider></v-divider>

                  <v-stepper-step color="#e79918" step="2">
                    จัดรถ
                  </v-stepper-step>
                </v-stepper-header>
              </v-col>
            </v-row>

            <!-- create step 1 -->
            <v-stepper-items>
              <v-stepper-content step="1">
                <v-data-table
                  v-model="selected"
                  dense
                  :headers="headersDialog"
                  :items="arrangeOrders"
                  :multiple-select="singleSelect"
                  :items-per-page="5"
                  item-key="requestId"
                  show-select
                  class="elevation-1"
                  mobile-breakpoint="0"
                  :footer-props="{
                    prevIcon: 'mdi-minus',
                    nextIcon: 'mdi-plus',
                    itemsPerPageText: '',
                    pageText: '$vuetify.dataFooter.pageText',
                  }"
                >
                  <template v-slot:[`item.agency`]="{ item }">
                    {{ item.agency }} / {{ item.branch }}
                  </template>

                  <template v-slot:[`item.start`]="{ item }">
                    <div class="detail">
                      <p>{{ item.startTime }} ถึง {{ item.endTime }}</p>
                      <p>สถานที่เริ่มต้น: {{ item.startLocation }}</p>
                      <p
                        v-for="(location, index) in item.locations"
                        :key="index"
                      >
                        สถานที่ {{ index + 1 }}: {{ location.location }}
                      </p>
                      <p>วัตถุประสงค์: {{ item.objective }}</p>
                      <p>จำนวนผู้เดินทาง: {{ item.passengerNo }} คน</p>
                      <p>หมายเหตุ: {{ item.note ? item.note : "-" }}</p>
                    </div>
                  </template>

                  <!-- Create buttom for open dialog  -->

                  <template v-slot:footer></template>
                </v-data-table>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn
                    class="ma-2"
                    color="#e79918"
                    dark
                    outlined
                    rounded
                    text
                    @click="dialog = false"
                  >
                    ปิด
                  </v-btn>
                  <v-btn color="#e79918" rounded dark @click="arrangeNextStep">
                    ถัดไป
                  </v-btn>
                </v-card-actions>
              </v-stepper-content>

              <!-- create step 2 -->
              <v-stepper-content step="2">
                <v-form
                  ref="form"
                  class="form-custom"
                  v-model="valid"
                  lazy-validation
                  @submit.prevent="onSubmit"
                  :style="`min-height: 500px;`"
                >
                  <v-row>
                    <v-col cols="12" sm="12" md="2" lg="2" class="my-3">
                      <strong>เลือกวัน</strong>
                    </v-col>
                    <v-col cols="12" sm="12" md="5" lg="5" class="date-picker">
                      <div class="border-picker">
                        <VueCtkDateTimePicker
                          :id="1"
                          :onlyDate="true"
                          label="วันที่ขอใช้"
                          v-model="forms.startTime"
                          format="YYYY-MM-DD"
                          :range="false"
                          formatted="DD/MM/YYYY"
                          :noLabel="true"
                          :autoClose="false"
                          :noShortcuts="true"
                          :color="colors.MAIN_CI"
                          :overlay="true"
                          @is-hidden="startTime()"
                          :minDate="minDateStartDate"
                        />
                        <div class="icon-picker">
                          <v-icon color="#e79918">
                            {{ icons.mdiCalendarMonth }}
                          </v-icon>
                        </div>
                      </div>
                      <span class="errorDate" ref="startTime"></span>
                    </v-col>
                    <v-col cols="12" sm="12" md="5" lg="5" class="date-picker">
                      <div class="border-picker">
                        <VueCtkDateTimePicker
                          :id="2"
                          :onlyDate="true"
                          label="ขอใช้ถึงวันที่"
                          v-model="forms.endTime"
                          format="YYYY-MM-DD"
                          :range="false"
                          formatted="DD/MM/YYYY"
                          :noLabel="true"
                          :autoClose="false"
                          :noShortcuts="true"
                          :color="colors.MAIN_CI"
                          :overlay="true"
                          @is-hidden="endTime()"
                          :minDate="forms.startTime"
                          :noButtonNow="true"
                          :disabled="!forms.startTime"
                        />
                        <div class="icon-picker">
                          <v-icon color="#e79918">
                            {{ icons.mdiCalendarMonth }}
                          </v-icon>
                        </div>
                      </div>
                      <span class="errorDate" ref="endTime"></span>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="12" md="2" lg="2" class="my-3">
                      <strong>เลือกรถ</strong>
                    </v-col>
                    <v-col cols="12" sm="12" md="5" lg="5">
                      <v-select
                        :items="carTypes"
                        outlined
                        placeholder="กรอกประเภทรถยนต์ที่ต้องการ"
                        item-text="name"
                        item-value="typeId"
                        dense
                        height="50"
                        :rules="typeIdRule"
                        v-model="forms.carTypeId"
                        name="type"
                        required
                        @change="onSelectedCarType"
                      ></v-select>
                    </v-col>
                    <v-col cols="5" class="my-3">
                      <strong>เลือกคนขับรถ</strong>
                    </v-col>
                  </v-row>
                  <v-row>
                    <v-col cols="12" sm="12" md="7" lg="7">
                      <p class="text-center" v-if="!cars.length">
                        ยังไม่มีรถพร้อมใช้งานในประเภทที่เลือก
                      </p>
                      <v-simple-table>
                        <template v-slot:default>
                          <tbody>
                            <tr v-for="(item, index) in cars" :key="index">
                              <td>
                                <v-col class="d-flex justify-center"></v-col>
                                <v-radio-group v-model="forms.carId">
                                  <v-radio
                                    color="#e79918"
                                    :value="item.carId"
                                  ></v-radio>
                                </v-radio-group>
                              </td>
                              <td>
                                {{ item.regisNumber }}
                                <br />
                                {{ item.brand.name }}
                              </td>
                              <td>{{ item.model }}</td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-col>
                    <v-col cols="12" sm="12" md="5" lg="5" v-if="forms.carId">
                      <v-simple-table>
                        <template v-slot:default>
                          <tbody>
                            <tr>
                              <td>
                                <v-col class="d-flex justify-center">
                                  <v-radio-group v-model="forms.driverId">
                                    <v-radio
                                      color="#e79918"
                                      :value="null"
                                    ></v-radio>
                                  </v-radio-group>
                                </v-col>
                              </td>
                              <td colspan="2">
                                <strong>ไม่ต้องการคนขับ</strong>
                              </td>
                            </tr>
                            <tr
                              v-for="driver in drivers"
                              :key="driver.driverId"
                            >
                              <td>
                                <v-col class="d-flex justify-center">
                                  <v-radio-group v-model="forms.driverId">
                                    <v-radio
                                      color="#E79918"
                                      :value="driver.driverId"
                                    ></v-radio>
                                  </v-radio-group>
                                </v-col>
                              </td>
                              <td>
                                <!-- <v-img
                                                :lazy-src="
                                                  `${driver.linkImage}`
                                                "
                                                class="img-size"
                                                :src="`${driver.linkImage}`"
                                              ></v-img> -->
                                <v-img
                                  :lazy-src="`${driver.linkImage}`"
                                  class="img-size"
                                  src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                                ></v-img>
                              </td>
                              <td>
                                {{ driver.firstName }}
                                {{ driver.lastName }}
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-col>
                  </v-row>
                </v-form>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="#e79918" dark outlined text @click="e1 = 1">
                    ย้อนกลับ
                  </v-btn>
                  <v-btn @click="onSubmit" color="#e79918" dark> บันทึก </v-btn>
                </v-card-actions>
              </v-stepper-content>
            </v-stepper-items>
          </v-stepper>
        </v-dialog>
      </v-row>

      <!-- create tabs data -->

      <!-- </v-card> -->
    </v-col>

    <!-- จัดรถ 1 รายการ -->
    <v-dialog v-model="dialogTwo" max-width="1080px" style="overflow-x: auto">
      <v-card>
        <v-card-text class="my-3">
          <div class="arrange-detail-wrapper">
            <h3 class="mb-3">รายละเอียดคำขอใช้รถ</h3>
            <p>
              <b>ประเภทการจอง:</b>
              {{
                item.typeFormId === 1
                  ? "จองแบบระบุทะเบียนรถ"
                  : "จองแบบระบุประเภทรถ"
              }}
            </p>
            <p v-if="item.typeFormId === 1">
              <span class="mr-5">
                <b>ทะเบียนรถ:</b>
                {{ item.regisNumber }}
              </span>
              <span class="mr-5">
                <b>ยี่ห้อ:</b>
                {{ item.carBrand }}
              </span>
              <span class="">
                <b>รุ่น:</b>
                {{ item.carModel }}
              </span>
            </p>
            <p v-else>
              <span class="">
                <b>ประเภทรถ:</b>
                {{ item.carTypeByTypeForm }}
              </span>
            </p>
            <p>
              <span class="">
                <b>ลักษณะการขอ:</b>
                {{
                  item.typeRequestId === 1
                    ? "ขอใช้รถยนต์พร้อมคนขับ"
                    : "ขอใช้รถยนต์อย่างเดียว"
                }}
              </span>
            </p>
          </div>
          <div class="mt-2" v-show="isDialogArrangeLoading">loading...</div>
          <v-form
            ref="form"
            class="form-custom"
            v-model="valid"
            lazy-validation
            @submit.prevent="onSubmit"
            :style="`min-height: 500px;`"
            v-show="!isDialogArrangeLoading"
          >
            <div class="between-warp">
              <div class="between-width">
                <v-row>
                  <v-col cols="4" class="my-3">
                    <strong>เลือกรถ</strong>
                  </v-col>
                  <v-col cols="8">
                    <v-select
                      :items="carTypes"
                      placeholder="กรอกประเภทรถยนต์ที่ต้องการ"
                      item-text="name"
                      item-value="typeId"
                      dense
                      height="50"
                      outlined
                      :rules="typeIdRule"
                      v-model="forms.carTypeId"
                      name="type"
                      required
                      @change="onSelectedCarType"
                    ></v-select>
                  </v-col>
                </v-row>
                <v-col cols="12">
                  <p class="text-center" v-if="!cars.length">
                    ยังไม่มีรถพร้อมใช้งานในประเภทที่เลือก
                  </p>
                  <v-simple-table>
                    <template v-slot:default>
                      <tbody>
                        <tr v-for="(item, index) in cars" :key="index">
                          <td>
                            <v-col class="d-flex justify-center"></v-col>
                            <v-radio-group v-model="forms.carId">
                              <v-radio
                                color="#E79918"
                                :value="item.carId"
                              ></v-radio>
                            </v-radio-group>
                          </td>
                          <td>
                            {{ item.regisNumber }}
                            <br />
                            {{ item.brand.name }}
                          </td>
                          <td>{{ item.model.name }}</td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
              </div>
              <div class="my-3 between-width">
                <strong>เลือกคนขับรถ</strong>
                <v-col cols="12" v-if="forms.carId">
                  <v-simple-table>
                    <template v-slot:default>
                      <tbody>
                        <tr>
                          <td>
                            <v-col class="d-flex justify-center">
                              <v-radio-group v-model="forms.driverId">
                                <v-radio
                                  color="#E79918"
                                  :value="null"
                                ></v-radio>
                              </v-radio-group>
                            </v-col>
                          </td>
                          <td colspan="2">
                            <strong>ไม่ต้องการคนขับ</strong>
                          </td>
                        </tr>
                        <tr v-for="driver in drivers" :key="driver.driverId">
                          <td>
                            <v-col class="d-flex justify-center">
                              <v-radio-group
                                v-model="forms.driverId"
                                @change="test"
                              >
                                <v-radio
                                  color="#E79918"
                                  :value="driver.driverId"
                                ></v-radio>
                              </v-radio-group>
                            </v-col>
                          </td>
                          <td>
                            <!-- <v-img
                                                :lazy-src="
                                                  `${driver.linkImage}`
                                                "
                                                class="img-size"
                                                :src="`${driver.linkImage}`"
                                              ></v-img> -->
                            <v-img
                              :lazy-src="`${driver.linkImage}`"
                              class="img-size"
                              src="https://www.kindpng.com/picc/m/21-214439_free-high-quality-person-icon-default-profile-picture.png"
                            ></v-img>
                          </td>
                          <td>
                            {{ driver.firstName }}
                            {{ driver.lastName }}
                          </td>
                        </tr>
                      </tbody>
                    </template>
                  </v-simple-table>
                </v-col>
              </div>
            </div>
          </v-form>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              class="ma-2"
              color="#e79918"
              dark
              outlined
              text
              @click="dialogTwo = false"
            >
              ปิด
            </v-btn>
            <v-btn @click="onSubmit" color="#e79918" dark> บันทึก </v-btn>
          </v-card-actions>
        </v-card-text>
      </v-card>
    </v-dialog>
    <v-col style="overflow-x: auto">
      <v-tabs
        color="#fff"
        slider-color="#e79918"
        class="my-2"
        active-class="active"
        hide-slider
        left
      >
        <v-tab href="#tab-1" class="in-active">รอจัด</v-tab>
        <v-tab href="#tab-2" class="in-active">จัดแล้ว</v-tab>

        <v-tab-item disabled :value="'tab-1'" class="my-5">
          <v-container fluid>
            <v-row>
              <v-col>
                <!-- Create table -->
                <v-data-table
                  dense
                  :headers="headers"
                  :items="arrangeOrders"
                  :items-per-page="5"
                  item-key="requestId"
                  class="elevation-1"
                  mobile-breakpoint="0"
                  :footer-props="{
                    prevIcon: 'mdi-minus',
                    nextIcon: 'mdi-plus',
                    itemsPerPageText: '',
                    pageText: '$vuetify.dataFooter.pageText',
                  }"
                >
                  <!-- Search table -->
                  <!-- <template #top>
                    <v-card-text>
                      <v-text-field
                        v-model="search"
                        append-icon="mdi-magnify"
                        label="Search"
                        single-line
                        hide-details
                      ></v-text-field>
                    </v-card-text>
                  </template> -->

                  <template v-slot:[`item.agency`]="{ item }">
                    {{ item.agency }} / {{ item.branch }}
                  </template>

                  <template v-slot:[`item.start`]="{ item }">
                    <div class="detail">
                      <p>{{ item.startTime }} ถึง {{ item.endTime }}</p>
                      <p>สถานที่เริ่มต้น: {{ item.startLocation }}</p>
                      <p
                        v-for="(location, index) in item.locations"
                        :key="index"
                      >
                        สถานที่ {{ index + 1 }}: {{ location.location }}
                      </p>
                      <p>วัตถุประสงค์: {{ item.objective }}</p>
                      <p>จำนวนผู้เดินทาง: {{ item.passengerNo }} คน</p>
                      <p>หมายเหตุ: {{ item.note ? item.note : "-" }}</p>
                    </div>
                  </template>

                  <!-- Create buttom for open dialog  -->
                  <template v-slot:[`item.actions`]="{ item }">
                    <v-btn
                      color="#e79918"
                      dark
                      class="mr-2"
                      @click="changeArrangeTypeId1(item)"
                    >
                      จัดรถ
                    </v-btn>
                    <!-- </template> -->
                  </template>

                  <template v-slot:footer></template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>

        <v-tab-item disabled :value="'tab-2'" class="my-5">
          <v-container fluid>
            <v-row>
              <v-col>
                <!-- Create table -->
                <v-data-table
                  dense
                  :headers="headersSuccess"
                  :items="successArrangeOrders"
                  :items-per-page="5"
                  item-key="refId"
                  class="elevation-1"
                  mobile-breakpoint="0"
                  :single-expand="singleExpand"
                  :expanded.sync="expanded"
                  show-expand
                  :footer-props="{
                    prevIcon: 'mdi-minus',
                    nextIcon: 'mdi-plus',
                    itemsPerPageText: '',
                    pageText: '$vuetify.dataFooter.pageText',
                  }"
                >
                  <template v-slot:[`item.refNo`]="{ item }">
                    {{ item.refNo }}
                  </template>

                  <template v-slot:[`item.start`]="{ item }">
                    <div class="detail">
                      <p>{{ item.startTime }} ถึง {{ item.endTime }}</p>
                    </div>
                  </template>

                  <template v-slot:[`item.car`]="{ item }">
                    <div class="detail">
                      <p>{{ item.regisNumber }}</p>
                      <br />
                      <p>{{ item.brand.name }} {{ item.model.name }}</p>
                    </div>
                  </template>
                  <template v-slot:[`item.driver`]="{ item }">
                    <div align="center" class="detail">
                      <v-img
                        align="center"
                        v-if="item.photoUrl"
                        height="50"
                        width="50"
                        :src="`${hostApi}/images/drivers/photo/${item.driverId}/${item.photoUrl}`"
                      ></v-img>
                      <br />
                      {{ item.driverName }}
                    </div>
                  </template>

                  <!-- Expand Buttons -->
                  <template
                    v-slot:[`item.data-table-expand`]="{
                      item,
                      isExpanded,
                      expand,
                    }"
                  >
                    <v-btn
                      color="#e79918"
                      dark
                      @click="
                        expand(true);
                        getSamples(item);
                      "
                      v-if="!isExpanded"
                    >
                      <v-icon>mdi-file-tree</v-icon>
                      เปิด
                    </v-btn>
                    <v-btn
                      dark
                      outlined
                      color="#e79918"
                      @click="expand(false)"
                      v-if="isExpanded"
                    >
                      <v-icon>mdi-file-tree</v-icon>
                      ปิด
                    </v-btn>
                  </template>

                  <!-- Expanded Data -->
                  <template v-slot:expanded-item="{ headers, item }">
                    <td :colspan="headers.length">
                      <br />
                      <v-row
                        v-for="(sample, index) in item.samples"
                        :key="index"
                      >
                        <v-col cols="1"></v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="2">{{ sample.requestNo }}</v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="2">{{ sample.requestName }}</v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="2">
                          {{ sample.branch }} / {{ sample.agency }}
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="3">
                          <p>{{ sample.startTime }} ถึง {{ sample.endTime }}</p>
                          <p>สถานที่เริ่มต้น: {{ sample.startLocation }}</p>
                          <p
                            v-for="(location, index) in sample.locations"
                            :key="index"
                          >
                            สถานที่ {{ index + 1 }}: {{ location.location }}
                          </p>
                          <p>วัตถุประสงค์: {{ sample.objective }}</p>
                          <p>จำนวนผู้เดินทาง: {{ sample.passengerNo }} คน</p>
                          <p>หมายเหตุ: {{ sample.note ? sample.note : "-" }}</p>
                        </v-col>
                        <v-divider vertical></v-divider>
                        <v-col cols="2">{{ sample.carType }}</v-col>
                      </v-row>
                    </td>
                  </template>

                  <!-- <template v-slot:[`item.actions`]="{ item }">
                    <v-btn
                      class="mr-2"
                      color="warning"
                      @click="linkApprove(item.id)"
                    >
                      <v-icon>mdi-file-tree</v-icon>
                      เปิด</v-btn
                    >
                  </template> -->
                  <template v-slot:footer></template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-container>
        </v-tab-item>
      </v-tabs>
    </v-col>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiBroadcastOff } from "@mdi/js";
export default {
  middleware: "user-authenticated",
  data: () => ({
    icons: {
      mdiCalendarMonth,
      mdiBroadcastOff,
    },
    isDialogArrangeLoading: false,
    hostApi: globals.HOST_API,
    search: "",
    e1: 1,
    dialog: false,
    dialogTwo: false,
    singleSelect: false,
    selected: [],
    expanded: [],
    singleExpand: false,
    valid: true,
    typeIdRule: [(v) => v !== null || "กรุณาระบุประเภทรถยนต์"],
    expandedOrderDetails: [],
    forms: {
      userId: null,
      companyId: null,
      branchId: null,
      agencyId: null,
      arrangeTypeId: null,
      startTime: null,
      endTime: null,
      carTypeId: 0,
      carId: null,
      driverId: null,
      orders: [
        {
          orderId: null,
        },
      ],
    },
    car: [],
    driver: [],
    arrangeOrders: [],
    successArrangeOrders: [],
    headers: [
      {
        text: "หมายเลขอ้างอิง",
        align: "start",
        sortable: false,
        value: "requestNo",
        width: 130,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ผู้จอง",
        align: "start",
        value: "requestName",
        width: 170,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "แผนก/สาขา",
        align: "start",
        value: "agency",
        width: 140,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "วันที่ขอใช้",
        align: "start",
        value: "start",
        width: 250,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ประเภทรถยนต์",
        align: "center",
        value: "carType",
        width: 100,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ดำเนินการ",
        align: "center",
        value: "actions",
        sortable: false,
        width: 50,
        cellClass: "vertical-top pt-3 pb-3",
      },
      //   text: 'ดำเนินการ', align: "center", value: 'actions', sortable: false
    ],
    headersSuccess: [
      {
        text: "หมายเลขอ้างอิง",
        align: "start",
        sortable: false,
        value: "refNo",
        width: 130,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "วันที่ขอใช้",
        align: "start",
        value: "start",
        width: 200,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "รถยนต์",
        align: "center",
        value: "car",
        width: 200,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ผู้ขับรถ",
        align: "center",
        value: "driver",
        width: 200,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ดำเนินการ",
        align: "center",
        value: "data-table-expand",
        sortable: false,
        width: 50,
        cellClass: "vertical-top pt-3 pb-3",
      },
      //   text: 'ดำเนินการ', align: "center", value: 'actions', sortable: false
    ],
    headersDialog: [
      {
        text: "หมายเลขอ้างอิง",
        align: "start",
        sortable: false,
        value: "requestNo",
        width: 130,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ผู้จอง",
        align: "start",
        value: "requestName",
        width: 170,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "แผนก/สาขา",
        align: "start",
        value: "agency",
        width: 140,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "วันที่ขอใช้",
        align: "start",
        value: "start",
        width: 250,
        cellClass: "vertical-top pt-3 pb-3",
      },
      {
        text: "ประเภทรถยนต์",
        align: "center",
        value: "carType",
        width: 100,
        cellClass: "vertical-top pt-3 pb-3",
      },
    ],
    colors: globals.COLORS,
    carTypes: [
      {
        typeId: 0,
        name: "ประเภททั้งหมด",
      },
    ],
    cars: [],
    allCars: [],
    drivers: [],
    minDateStartDate: null,
    dateFormatString: "yyyy-MM-dd",
    item: {},
  }),
  computed: {
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.init();
    this.setTitle("การจัดรถยนต์");
  },
  methods: {
    ...mapActions([
      "logout",
      "numberWithCommas",
      "setTitle",
      "dateFormat",
      "disabledHoursLessThanHour",
    ]),
    arrangeNextStep() {
      if (!this.selected.length) {
        this.$toast.global.warning({
          message: "กรุณาเลือกรายการคำขอใช้รถ",
        });
        return;
      }
      this.e1 = 2;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });

      this.getArrangeOrders();
      this.getSuccessArrangeOrders();
      this.getCarTypes();
      this.getCars();
      this.setForms();
      this.getDrivers();
    },
    onSelectedCarType(carTypeId) {
      // console.log("car type id =>", carTypeId);
      this.forms.carId = null;
      this.forms.driverId = null;

      if (carTypeId === 0) {
        this.cars = this.allCars;
      } else {
        this.cars = this.allCars.filter((x) => x.typeId === carTypeId);
      }
    },
    setForms() {
      (this.forms.userId = this.user.userId),
        (this.forms.companyId = this.user.companyId),
        (this.forms.branchId = this.user.branchId),
        (this.forms.agencyId = this.user.agencyId);
    },
    async changeArrangeTypeId1(item) {
      this.dialogTwo = true;
      this.isDialogArrangeLoading = true;
      // console.log("item => ", item);
      const { orderId, startTime, endTime } = item;
      this.item = item;
      this.forms.arrangeTypeId = 1;
      // this.forms.orders[0].orderId = orderId
      this.forms.startTime = startTime.slice(0, 10);
      this.forms.endTime = endTime.slice(0, 10);

      // select carId by default
      // console.log("typeFormId => ", item.typeFormId);

      // filter cars, and drivers available
      await this.getCarsByDate(item.startTime, item.endTime);
      await this.getDriversByDate(item.startTime, item.endTime);

      if (item.typeFormId === 1) {
        this.forms.carTypeId = item.carTypeId;
        this.onSelectedCarType(item.carTypeId);
        this.forms.carId = item.carId;
      } else if (item.typeFormId === 2) {
        this.forms.carTypeId = item.carTypeIdByTypeForm;
        this.onSelectedCarType(item.carTypeIdByTypeForm);
        this.forms.carId = null;
      }

      this.isDialogArrangeLoading = false;
    },
    async changeArrangeTypeId2() {
      this.e1 = 1;
      this.forms.arrangeTypeId = 2;
      this.selected = [];

      this.forms.carTypeId = 0;
      this.onSelectedCarType(0);
      this.forms.carId = null;

      this.forms.startTime = null;
      this.forms.endTime = null;

      this.getCars();
      this.getDrivers();
    },
    async getCarsByDate(startTime, endTime) {
      const res = await this.$axios.get(
        `/cars/getCarsByDate?startDate=${startTime}&endDate=${endTime}`
      );

      this.allCars = res.data;
      this.cars = this.allCars;

      this.forms.carId = null;
      this.forms.driverId = null;
    },
    async getDriversByDate(startTime, endTime) {
      const res = await this.$axios.get(
        `/manageDrivers/getDriversByDate?startDate=${startTime}&endDate=${endTime}`
      );

      this.drivers = res.data;

      this.forms.driverId = null;
    },
    async getCarTypes() {
      const carTypes = await this.$axios.$get("/cars/types");
      carTypes.unshift({
        typeId: 0,
        name: "ประเภททั้งหมด",
      });
      this.carTypes = carTypes;
    },
    async getCars() {
      let cars = await this.$axios.$get("/cars");

      cars = cars.map((x) => ({ ...x, isSelected: false }));
      this.allCars = cars;
      this.cars = this.allCars;
    },
    async getDrivers() {
      const res = await this.$axios.$get("/manageDrivers?perpage=1000");
      this.drivers = res.data;
    },
    async getArrangeOrders() {
      const orders = await this.$axios.$get("/arranges");
      this.arrangeOrders = orders.map((x) => ({ ...x, isSelected: false }));
    },
    async getSuccessArrangeOrders() {
      const successArranges = await this.$axios.$get("/arranges/successes");
      this.successArrangeOrders = successArranges.map((x) => ({
        ...x,
        samples: [],
      }));
    },
    mergeCar(id) {
      this.$router.push(`/approve/${id}`);
    },
    async selectCar() {
      // alert(this.forms.typeId);
      const result = this.car.filter(
        (cars) => cars.typeId == this.forms.typeId
      );
      this.car = result;
    },
    async getSamples(item) {
      if (item.samples.length === 0) {
        const res = await this.$axios.$get(
          `/arranges/successes/order/${item.refId}`
        );
        item.samples = res;
      }
    },
    async startTime() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.forms.startTime) {
        this.$refs.startTime.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.startTime.style.display = "block";
        // this.forms.startTime.focus();
      } else {
        this.$refs.startTime.style.display = "none";
        this.checkCars();
      }
    },
    // test() {
      // console.log(this.forms);
    // },
    async endTime() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.forms.endTime) {
        this.$refs.endTime.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endTime.style.display = "block";
        // this.forms.endTime.focus();
      } else {
        this.$refs.endTime.style.display = "none";
        this.checkCars();
      }
    },
    checkCars() {
      // console.log("check car...");
      const { startTime, endTime } = this.forms;
      if (startTime && endTime) {
        // console.log("Selected date all.");

        const startDate = `${startTime} 00:00:00`;
        const endDate = `${endTime} 23:59:59`;
        this.getCarsByDate(startDate, endDate);
        this.getDriversByDate(startDate, endDate);
      } else {
        console.log("Not select date all yet!");
      }
    },
    async onSubmit() {
      try {
        if (this.forms.arrangeTypeId === 2) {
          if (!this.forms.startTime && !this.forms.endTime) {
            this.$toast.global.warning({
              message: "กรุณาเลือกวันที่ขอใช้และวันที่คืนรถ",
            });
            return;
          } else {
            if (!this.forms.startTime) {
              this.$toast.global.warning({
                message: "กรุณาเลือกวันที่ขอใช้รถ",
              });
              return;
            } else if (!this.forms.endTime) {
              this.$toast.global.warning({
                message: "กรุณาเลือกวันที่คืนรถ",
              });
              return;
            }
          }
        }

        if (!this.forms.carId) {
          this.$toast.global.warning({
            message: "กรุณาเลือกรถ",
          });
          return;
        } else if (this.forms.driverId === null) {
          this.$toast.global.warning({
            message: "กรุณาเลือกคนขับรถ",
          });
          return;
        }

        if (this.forms.driverId === 0) {
          this.forms.driverId = null;
        }

        if (this.forms.arrangeTypeId === 1) {
          this.forms.orders = [{ orderId: this.item.orderId }];
        } else if (this.forms.arrangeTypeId === 2) {
          this.forms.orders = [];
          for (let i = 0; i < this.selected.length; i++) {
            this.forms.orders.push({ orderId: this.selected[i].orderId });
          }
        }
        const body = this.forms;

        // console.log("submit body => ", body);

        const apiUrl = "/arranges";
        await this.$axios.post(apiUrl, body);

        this.init();

        this.$toast.global.success({
          message: "บันทึกข้อมูล - การจัดรถยนต์ สำเร็จเรียบร้อย",
        });
        // location.reload()
        this.dialog = false;
        this.dialogTwo = false;
      } catch (error) {
        this.$toast.global.error({
          message: `มีบางอย่างผิดพลาด! : ${error.message}`,
        });
      }
    },
  },
};
</script>

<style lang="scss" scope>
.between-warp {
  display: flex;
  flex-wrap: wrap;
}
.between-width {
  width: 45%;
  padding: 20px;
}
.content-class {
  background-color: transparent;
}
.active {
  background-color: #e79918;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.in-active {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 1px solid #e79918;
}
.arrange-detail-wrapper {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ddd;
  margin-bottom: 30px;

  p {
    margin-bottom: 7px;
  }
}

.detail {
  p {
    margin-bottom: 3px;
  }
}

.img-size {
  // margin-top: 48px;
  margin-left: 47px;
  margin-right: 46.43px;
  height: 50px;
  width: 50px;
}
.errorDate {
  font-size: 12px;
  line-height: 12px;
  padding-left: 15px;
  margin-top: 10px;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
@media only screen and (max-width: 1000px) {
  .between-width {
    width: 100%;
    padding: 0px;
  }
}
</style>
<style lang="scss">
.hidden-sm-and-down .v-icon {
  color: #e79918 !important;
}
</style>
