<template>
  <div>
    <v-card class="pb-5">
      <v-card-title>
        ตารางการใช้งานรถยนต์
      </v-card-title>
      <v-card-text>
        <v-sheet
          tile
          height="54"
          class="d-flex justify-space-between align-items-center mb-5"
        >
          <div class="mt-2">
            <DatePickerDialog
              v-model="dateFilter"
              label="เลือกเดือน"
              format="MM/YYYY"
              type="month"
            />
          </div>

          <v-btn
            icon
            class="ma-2"
            @click="$refs.calendar.prev()"
          >
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>

          <v-btn
            icon
            class="ma-2"
            @click="$refs.calendar.next()"
          >
            <v-icon>mdi-chevron-right</v-icon>
          </v-btn>

          <!-- <v-select
            v-model="type"
            :items="types"
            dense
            outlined
            hide-details
            class="ma-2"
            label="ประเภทปฏิทิน"
          ></v-select> -->
          <!-- <v-select
            v-model="selectYear"
            :items="eventsYear"
            item-text="year"
            item-value="year"
            hide-details
            label="ปี"
            dense
            outlined
            class="ma-2"
            @change="filterYear"
          ></v-select> -->
          <!-- <v-toolbar-title v-if="$refs.calendar">

          </v-toolbar-title> -->
          <v-col v-if="$refs.calendar">
            <v-toolbar-title> {{ $refs.calendar.title }} </v-toolbar-title>
          </v-col>
          <v-spacer></v-spacer>

          <v-autocomplete
            style="max-width: 15%;"
            v-model="selectCar"
            :items="cars"
            item-text="plateNumber"
            item-value="plateNumber"
            label="ทะเบียน"
            dense
            outlined
            class="ma-2"
            @change="filterCar"
          ></v-autocomplete>
        </v-sheet>

        <v-calendar
          ref="calendar"
          is-expanded
          v-model="value"
          :events="events"
          :start="start"
          @click:event="showEvent"
          class=""
        />

        <v-menu
            v-model="selectedOpen"
            :close-on-content-click="false"
            :activator="selectedElement"
            offset-x
          >
            <v-card
              color="grey lighten-4"
              min-width="350px"
              flat
            >
              <v-toolbar
                :color="selectedEvent.color"
                dark
              >
                <v-toolbar-title v-html="selectedEvent.regis_number"></v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <p class="mb-0"><span v-html="selectedEvent.name"></span></p>
                <p class="mb-0"><span v-html="$dayjs(selectedEvent.start).format('DD/MM/YYYY H:mm')"></span> - <span v-html="$dayjs(selectedEvent.end).format('DD/MM/YYYY H:mm')"></span></p>
                <p>สถานะ <span v-html="selectedEvent.status"></span></p>
              </v-card-text>
              <v-card-actions>
                <v-btn
                  text
                  color="secondary"
                  :href="`/request/detail/${selectedEvent.orderId}`"
                >
                  รายละเอียด
                </v-btn>
                <v-btn
                  text
                  color="secondary"
                  @click="selectedOpen = false"
                >
                  ปิด
                </v-btn>
              </v-card-actions>
            </v-card>
        </v-menu>
      </v-card-text>
    </v-card>
  </div>
</template>

<!-- <style>
  .v-input {
    align-items: flex-start;
    display: flex;
    flex: 1 1 auto;
    font-size: 16px;
    letter-spacing: normal;
    max-width: 15%;
    text-align: left;
  }
</style> -->
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data() {
    return {
      value: '',
      type: "month",
      start: new Date().toISOString().substr(0, 10),
      selectedEvent: {},
      selectedElement: null,
      selectedOpen: false,
      // selectYear:false,
      selectCar: null,
      startDate: null,
      finishDate: null,
      dateFilter: null,
      dateMin: null,
      types: [
        { text: "รายเดือน", value: "month" },
        { text: "รายสัปดาห์", value: "week" },
        { text: "รายวัน", value: "day" },
      ],
      eventFiltered: [],
      regisNumbers: [],
      regisNumber: "all",
      status: "all",
      masterStatus: [
        { text: "ทั้งหมด", value: "all" },
        { text: "กำลังใช้", value: "use" },
        { text: "คืนรถแล้ว", value: "used" },
      ],
    };
  },
  computed: {
    // ...mapGetters("order", ["events",'eventsYear']),
    ...mapGetters("order", ["events"]),
    ...mapGetters("car", ["cars"]),
  },
  methods: {
    ...mapActions("order", {
      getEvents: "getEvents",
      // getEventsYear: "getEventYear",
    }),
    ...mapActions("car",{
      getCar: "get"
    }),
    // viewDay ({ date }) {
    //   this.focus = date
    //   this.type = 'day'
    // },
    showEvent ({ nativeEvent, event }) {
      const open = () => {
        this.selectedEvent = event
        this.selectedElement = nativeEvent.target
        requestAnimationFrame(() => requestAnimationFrame(() => this.selectedOpen = true))
      }

      if (this.selectedOpen) {
        this.selectedOpen = false
        requestAnimationFrame(() => requestAnimationFrame(() => open()))
      } else {
        open()
      }

      nativeEvent.stopPropagation()
    },
    filterCar(){
      this.getEvents(this.dataGetEvents());
    },
    // filterYear(){
    //   this.getEvents({plateNumber:'', filterYear: this.selectYear})

    //   var nowDate = new Date().toLocaleString();
    //   var dateNowFormat = this.$dayjs(nowDate).format("M-d");
    //   this.start = this.selectYear+'-'+dateNowFormat
    // },
      // yearStart(){
      //   this.dateMin = this.eventsYear.slice(0, 1);
      // },
    getStartDate(data) {
      let date = new Date(data);
      date.setDate(1);
      date.setDate(date.getDate() - 8);
      return date.toISOString().substr(0, 10);
    },
    getFinishDate(data) {
      let date = new Date(data)
      date.setDate(1);
      date = new Date(date.getFullYear(), date.getMonth() + 1, 0);
      date.setDate(date.getDate() + 8);
      return date.toISOString().substr(0, 10);
    },
    dataGetEvents(plateNumber, startDate, finishDate) {
      return {
        plateNumber: plateNumber == null ? this.selectCar : plateNumber,
        startDate: startDate == null ? this.startDate : startDate,
        finishDate: finishDate == null ? this.finishDate : finishDate
      };
    }
  },
  mounted() {
    // this.selectYear = new Data().getFullYear();
    // this.getEvents();
    // this.getEventsYear();
    this.getCar({ search: '', status: null, type: '', report: true });
    // this.$refs.calendar.checkChange()
    // this.yearStart();
    this.value = this.start;
  },
  watch: {
    dateFilter(val) {
      this.value = `${val}-01`
    },
    value (data) {
      this.startDate = this.getStartDate(data);
      this.finishDate = this.getFinishDate(data);
      this.getEvents(this.dataGetEvents());
    }
  }
};
</script>
