<template>
  <div class="login-container">
    <div class="logo-wrapper">
      <img src="/Logo.svg" />
    </div>
    <div class="login-wrapper">
      <h1 class="title mb-4">Forgot password</h1>
      <v-card class="py-4">
        <v-card-text>
          <v-form
            ref="form"
            class="form-custom"
            lazy-validation
            @submit.prevent="onSubmit"
          >
            <v-row>
              <v-col cols="12" md="12" class="mb-0">
                <!-- <div class="label">Current Password</div> -->
                <v-text-field
                  label="Your email address"
                  v-model="forms.email"
                  name="email"
                  :rule="email"
                  required
                  placeholder="Please enter your email address"
                  dense
                  class="align-center item-center"
                  hide-details=""
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <v-col class="pb-0 text-center">
                <div class="btn-wrapper text-center d-flex justify-center align-center">
                  <v-btn to="login" class="amber--text text--darken-4 text-underline-none mr-5" elevation="0">
                    <v-icon
                      left
                    >
                      mdi-arrow-left
                    </v-icon>
                    back
                  </v-btn>
                  <v-btn
                    class="orange lighten-4 white--text "
                    type="submit"
                    color="warning"
                    outlined
                    solo
                  >
                    <v-icon
                      dark
                      left
                    >
                      mdi-send
                    </v-icon>  send
                  </v-btn>
                </div>
              </v-col>
            </v-row>
          </v-form>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  name: 'forgotPassword',
  layout: 'login',
  auth: false,
  data: () => ({
    email: (v) => !!v ||'กรุณากรอกรหัสผ่าน',
    forms: {
      email: null,
    },
    show1:false,
    show2:false,
    show3:false,
  }),
  mounted() {
      this.setTitle('ลืมรหัสผ่าน');
  },
  computed:{

  },
  methods: {

    ...mapActions(['setTitle',"logout"]),
    ...mapGetters('user',['user']),
    async onSubmit() {
      let body = {
        email: this.forms.email,
      }
      // console.log(body);
      try {
        this.$axios.post('/forget-password',body).then((res) =>{
          console.log(res);
          if(res.data.status === 'success'){
            this.$toast.global.success({
              message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
            });
            this.$router.push({ name: "login" });
          }else{
            this.$toast.global.error({
              message: "ไม่พบอีเมลของท่านในระบบ กรุณาติดต่อผู้ดูแลระบบ",
            });
          }
        }).catch((err) => {
          this.$toast.global.error({
            message: "ไม่พบอีเมลของท่านในระบบ กรุณาติดต่อผู้ดูแลระบบ",
          });
          console.log(err);
        });

        // this.logout();
        // this.$router.push({ name: "login" });
      } catch (e) {
        console.log(e)
      }

    }
  },
  watch: {
    cfPassword: function(val) {
      if (val !== this.password) {
        this.$refs.form.validate()
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}
hr{
  border: 0.25px   solid #cecece;
}
.login-wrapper {
  margin-left: auto;
  margin-right: auto;

  .title {
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 58px;
  }
}

.logo-wrapper {
  margin: 28px auto 52px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;
  background: none;
  box-shadow: none !important;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
