<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="4" lg="4" xl="3">
        <v-card class="pb-5">
          <v-card-title class="justify-center">
            <ImageCircle :url="profileUrl" class="profile" />
          </v-card-title>
          <v-card-text class="text-sub" align="center">
            <p class="mb-6 text-title font-weight-bold">{{ user.name }}</p>
            <v-row class="justify-content-center">
              <v-col cols="4" md="3" class="my-0 py-0">
                 <p class="text-right mb-0 font-color text-subtitle-1">บริษัท:</p>
              </v-col>
              <v-col cols="6" md="9" class="my-0 py-0 text-left">
                <p class="mb-0 text-left text-subtitle-1"><span class="grey--text text--darken-2">{{ user.company | name }}</span></p>
              </v-col>
              <v-col cols="4" md="3" class="my-0 py-0">
                 <p class="text-right mb-0 font-color text-subtitle-1">สาขา:</p>
              </v-col>
              <v-col cols="6" md="9" class="my-0 py-0 text-left">
                <p class="mb-0 text-left text-subtitle-1"><span class="grey--text text--darken-2">{{ user.branch | name }}</span></p>
              </v-col>
              <v-col cols="4" md="3" class="my-0 py-0">
                 <p class="text-right mb-0 font-color text-subtitle-1">แผนก:</p>
              </v-col>
              <v-col cols="6" md="9" class="my-0 py-0 text-left">
                <p class="mb-0 text-left text-subtitle-1"><span class="grey--text text--darken-2">{{ user.agency | name }}</span></p>
              </v-col>
              <v-col cols="4" md="3" class="my-0 py-0">
                 <p class="text-right mb-0 font-color text-subtitle-1">โทร:</p>
              </v-col>
              <v-col cols="6" md="9" class="my-0 py-0 text-left">
                <p class="mb-0 text-left text-subtitle-1"><span class="grey--text text--darken-2">{{ formatPhoneNumber(user.tel) }}</span></p>
              </v-col>
              <v-col cols="4" md="3" class="my-0 py-0">
                 <p class="text-right mb-0 font-color text-subtitle-1">Email:</p>
              </v-col>
              <v-col cols="6" md="9" class="my-0 py-0 text-left">
                <p class="mb-0 text-left text-subtitle-1"><span class="grey--text text--darken-2">{{ user.email }}</span></p>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col cols="12" sm="12" md="8" lg="8" xl="9">
        <v-row class="align-betaween no-underline">
          <v-col cols="12" sm="4" md="4" lg="4">
            <v-card class="card-small" v-if="isAllowApprove">
              <NuxtLink  to="/approval">
                <v-card-text>

                  <div class="d-flex">
                    <div>
                      <v-icon size="50" color="warning">mdi-clipboard-check-outline</v-icon>
                    </div>
                    <div class="px-2 ml-auto">
                      <p class="text-h3 mb-0 font-weight-bold orange--text text-right" color="warning">{{ amountOrders.amountOrderCarWaitingApprove }}</p>
                      <p class="text-subtitle-1 grey--text mb-0">รอการอนุมัติ</p>
                    </div>
                  </div>
                </v-card-text>
              </NuxtLink>
            </v-card>
            <v-card class="card-small" v-else>
              <v-card-text>

                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="warning">mdi-clipboard-check-outline</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold orange--text text-right" color="warning">{{ amountOrders.amountOrderCarWaitingApprove }}</p>
                    <p class="text-subtitle-1 grey--text mb-0">รอการอนุมัติ</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="4" md="4" lg="4">
            <v-card class="card-small" v-if="isAllowManagement">
              <NuxtLink to="/arrangement">
                <v-card-text>

                  <div class="d-flex">
                    <div>
                      <v-icon size="50" color="blue">mdi-ballot-outline</v-icon>
                    </div>
                    <div class="px-2 ml-auto">
                      <p class="text-h3 mb-0 font-weight-bold info--text text-right">{{ amountOrders.amountWaitingArrangeCar }}</p>
                      <p class="text-subtitle-1 grey--text mb-0">รอการจัดรถ</p>

                    </div>
                  </div>
                </v-card-text>
              </NuxtLink>
            </v-card>
            <v-card
              v-else
              class="card-small"
            >
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="blue">mdi-ballot-outline</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold info--text text-right">{{ amountOrders.amountWaitingArrangeCar }}</p>
                    <p class="text-subtitle-1 grey--text mb-0">รอการจัดรถ</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="4" md="4" lg="4">
            <v-card class="card-small">
              <NuxtLink to="/cars/dashboardCarReturn">
                <v-card-text>

                  <div class="d-flex">
                    <div>
                      <v-icon size="50" color="amber">mdi-arrow-u-left-top</v-icon>
                    </div>
                    <div class="px-2 ml-auto">
                      <p class="text-h3 mb-0 font-weight-bold amber--text text-right">{{ amountOrders.amountOrderCarWaitingReturn }}</p>
                      <p class="text-subtitle-1 grey--text text-right mb-0">รอการส่งคืนรถ</p>
                      <p class="grey--text text-right mb-0"><small>(การจองทั้งหมด)</small></p>
                    </div>
                  </div>
                </v-card-text>
              </NuxtLink>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="align-between no-underline">
          <v-col cols="12" sm="4" md="3" lg="3">
            <v-card  class="card-small">
                <v-card-text>
                  <div class="d-flex">
                    <div>
                      <v-icon size="50" color="light-blue">mdi-car</v-icon>
                    </div>
                    <div class="px-2 ml-auto text-right">
                      <p class="text-h3 mb-0 font-weight-bold  light-blue--text text-right" >{{ amountOrders.countCar ? amountOrders.countCar.all : 0}}</p>
                      <p class="text-subtitle-1 grey--text mb-0">รถทั้งหมด</p>
                    </div>
                  </div>
                </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="3">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="teal" class="teal--text text--lighten-1">no_crash</v-icon>
                  </div>
                  <div class="px-2 ml-auto text-right">
                    <p class="text-h3 mb-0 font-weight-bold teal--text text--lighten-1 text-right" color="warning">{{ amountOrders.countCar ? amountOrders.countCar.use_today : 0}}</p>
                    <p class="text-subtitle-1 grey--text mb-0">ใช้งาน</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
          <v-col cols="12" sm="4" md="3" lg="3">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                    <p class="text-subtitle-1 grey--text mb-0 text-right">ยังไม่ส่งคืน</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>

          </v-col>
          <v-col cols="12" sm="4" md="3" lg="3">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="success" class="success--text text--lighten-1">no_crash</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold success--text text--lighten-1 text-right" color="warning">{{ amountOrders.countCar ? amountOrders.countCar.free : 0}}</p>
                    <p class="text-subtitle-1 grey--text mb-0">รถที่ว่าง</p>
                  </div>
                </div>
              </v-card-text>
            </v-card>
          </v-col>
        </v-row>
      </v-col>
      <!-- Add list -->

      <!-- <v-col cols="12" >
        <v-row class="align-between no-underline">

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('ACT')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">ACT.</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('Insurance')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">Insurance</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('Tases')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">Taxes</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('Maintenance')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">Maintenance</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('Car Contract')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">Car Contract</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

          <v-col cols="12" sm="4" md="3" lg="2" @click="openModal('Contracts')">
            <v-card  class="card-small">
              <v-card-text>
                <div class="d-flex">
                  <div>
                    <v-icon size="50" color="amber" >mdi-car-clock</v-icon>
                  </div>
                  <div class="px-2 ml-auto">
                    <p class="text-h3 mb-0 font-weight-bold amber--text text-right" color="green">{{ amountOrders.countCar ? amountOrders.countCar.wait_return : 0}}</p>
                  </div>
                </div>
                <div>
                  <p class="text-subtitle-1 grey--text mb-0 text-right">Contracts</p>
                </div>
              </v-card-text>
            </v-card>
          </v-col>

        </v-row>
      </v-col> -->

      <v-col cols="12" sm="12" md="12f" lg="6" xl="6">
        <v-card class="card-height">
          <v-card-text>
            <p class="text-h6 font-weight-bold mb-0">รถยนต์ที่ใข้งานล่าสุด</p>
          </v-card-text>
          <v-data-table
            :headers="CarHeaders"
            :items="carFree"
            item-key="plateNumber"
            hide-default-footer
            mobile-breakpoint="0"

          >
            <template #item.typeId="{item}">
              {{item.type  ?  item.type.name : '-'}}
            </template>
            <template #item.brandId="{item}">
              {{item.brand ? item.brand.name : '-'}}
            </template>
            <template #item.modelId="{item}">
              {{item.model ? item.model.name : '-'}}
            </template>
          </v-data-table>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="3" xl="3" >
        <v-card class="card-height">
          <v-card-text>
            <p class="text-h6 font-weight-bold mb-0">คนขับแนะนำ</p>
          </v-card-text>
           <div class="driver-table">
            <v-data-table
              v-if="dirversTop"
              :headers="DriverHeaders"
              :items="dirversTop"
              item-key="name"
              hide-default-footer
              mobile-breakpoint="0"
            >
              <template #item.photoUrl="{item}">
                <v-badge
                    bordered
                    bottom
                    color="green accent-4"
                    dot
                    offset-x="10"
                    offset-y="10"
                  >
                  <v-avatar v-if="item.photoUrl" class="d-block mx-auto my-1" width="40px" height="40px">
                    <img :src=item.photo_path alt="">
                  </v-avatar>
                  <v-avatar v-else class="d-block mx-auto my-1" width="40px" height="40px">
                    <img :src=profile.url alt="">
                  </v-avatar>
                </v-badge>
              </template>
              <template #item.firstName="{item}">
                <p class="mb-0">{{item.firstName}} {{item.lastName}}</p>
                <p class="mb-0 align-items-center"><v-icon small>mdi-phone</v-icon> {{item.tel ? formatPhoneNumber(item.tel) : '-'}}</p>
              </template>
              <template #item.request_count="{item}">
                <v-tooltip bottom>
                  <template v-slot:activator="{ on, attrs }">
                    <v-chip
                      color="info"
                      class="blue lighten-2"
                      v-bind="attrs"
                      v-on="on"
                      >
                      <span class="">{{item.request_count}}</span>
                    </v-chip>
                  </template>
                  <span>ได้รับงานมาแล้ว {{item.request_count}}</span>
                </v-tooltip>
              </template>
            </v-data-table>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" sm="6" md="6" lg="3" xl="3">
        <v-card class="card-height">
          <v-card-text>
            <p class="text-h6 font-weight-bold mb-0">รายชื่อคนขับที่พร้อม</p>
          </v-card-text>
          <div class="driver-table">
            <v-data-table
              v-if="dirvers"
              :headers="DriverActiveHeaders"
              :items="dirvers"
              item-key="name"
              hide-default-footer
              mobile-breakpoint="0"
            >
              <template #item.photoUrl="{item}">
                <v-badge
                    bordered
                    bottom
                    color="green accent-4"
                    dot
                    offset-x="10"
                    offset-y="10"
                  >
                  <v-avatar v-if="item.photoUrl"  class="d-block mx-auto my-1" width="40px" height="40px">
                    <img :src=item.photo_path alt="">

                  </v-avatar>
                  <v-avatar v-else class="d-block mx-auto my-1" width="40px" height="40px">
                    <img :src=profile.url alt="" >
                    <img :src=item.photoUrl alt="">
                  </v-avatar>
                </v-badge>
              </template>
              <template #item.firstName="{item}">
                <p class="mb-0">{{item.firstName}} {{item.lastName}} </p>
                <p class="mb-0"><v-icon small>mdi-phone</v-icon> {{item.tel ? formatPhoneNumber(item.tel) : '-'}}</p>
              </template>
            </v-data-table>
          </div>
        </v-card>
      </v-col>
    </v-row>
    <dataTableModal
      v-if="statusOpenModal"
      :status="dataStatus"
      :dataModal="dataModal"
      :loading="loadingModel"
      @closeModal="closeModal"
    />
      <!-- @page="changePage"
      @itemsPerPage="changeItemsPerPage" -->
  </div>
</template>
<script>
  import { mapGetters, mapActions } from "vuex";
  import * as globals from "@/assets/globals";
  import dataTableModal from "~/pages/alertModal/dataTableModal";
  export default {
    middleware: "user-authenticated",
    filters: {
      name(object) {
        return object?.name || ''
      }
    },
    components: {
      dataTableModal
    },
    data: () => ({
      statusOpenModal: false,
      dataStatus: '',
      dataModal: [],
      hostApi: globals.HOST_API,
      loading: false,
      loadingModel: false,
      profile: {
        url: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg/220px-Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg",
      },
      carTypes: globals.CARS.TYPES,
      amountOrders: {
        amountOrderCarWaitingApprove: 0,
        amountWaitingArrangeCar: 0,
        amountOrderCarWaitingReturn: 0,
      },
      dirvers:[],
      dirversTop:[],
      carFree:[],
    }),
    computed: {
      ...mapGetters(['permissions']),
      profileUrl() {
        let url = `/default_profile.svg`;
        if (this.user.photoUrl) {
          url = `${this.hostApi}/images/users/photo/${this.user.userId}/${this.user.photoUrl}`;
        }
        return url;
      },
      user() {
        return this.$auth.user;
      },
      DriverHeaders() {
        return [
          {
            text: 'รูป',
            align: 'left',
            value: 'photoUrl',
            sortable: false,
            width:"10%"

          },
          {
            text: 'ชื่อคนขับ',
            align: 'left',
            value: 'firstName',
            sortable: false,
            width:"90%"
          }
        ]
      },
      DriverActiveHeaders() {
        return [
          {
            text: 'รูป',
            align: 'left',
            value: 'photoUrl',
            sortable: false,
            width:"10%"
          },
          {
            text: 'ชื่อคนขับ',
            align: 'left',
            value: 'firstName',
            sortable: false,
            width:"90%"
          }
        ]
      },
      CarHeaders() {
        return [
          {
            text: 'รถยนต์',
            align: 'left',
            value: 'plateNumber',
            sortable: false,
            isMobile: true,
          },
          {
            text: 'จังหวัด',
            align: 'left',
            value: 'plateProvince',
            sortable: false,
          },
          {
            text: 'ประเภท',
            align: 'left',
            value: 'typeId',
            sortable: false,
            isMobile: false,
          },
          {
            text: 'ยี่ห้อ',
            align: 'left',
            value: 'brandId',
            sortable: false,
          },
          {
            text: 'รุ่น',
            align: 'left',
            value: 'modelId',
            sortable: false,
          }

        ]
      },
      isAllowApprove() {
        return (
          this.$auth?.user?.permission?.isAdmin ||
          ["repair_view"].some((action) =>
            this.$store.getters["permissions"].includes(action)
          )
        );
      },
      isAllowManagement() {
        return (
          this.$auth?.user?.permission?.isAdmin ||
          ["management_view"].some((action) =>
            this.$store.getters["permissions"].includes(action)
          )
        );
      }

    },
    mounted() {
      this.getAmountOrders();
      try{
        this.getDriverActive();
        this.getDriverTop();
        this.getCarFree();
      }
      catch{

      }
    },
    methods: {
      ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
      async getAmountOrders() {
        this.amountOrders = await this.$axios.$get("/dashboards", {
          userId: this.user.userId,
          companyId: this.user.companyId,
          branchId: this.user.branchId,
          agencyId: this.user.agencyId,
        });
      },
      async getDriverActive(){
        this.dirvers = await this.$axios.$get("driver/event", {
          userId: this.user.userId,
          companyId: this.user.companyId,
          branchId: this.user.branchId,
          agencyId: this.user.agencyId,
        });
      },
      async getDriverTop(){
        this.dirversTop = await this.$axios.$get("driver/top", {
          userId: this.user.userId,
          companyId: this.user.companyId,
          branchId: this.user.branchId,
          agencyId: this.user.agencyId,
        });
      },
      async getCarFree(){
        this.carFree = await this.$axios.$get("car/free", {
          userId: this.user.userId,
          companyId: this.user.companyId,
          branchId: this.user.branchId,
          agencyId: this.user.agencyId,
        });
      },
      formatPhoneNumber(phoneNumber){
        try{
          if (phoneNumber.length !== 0) {
            if (phoneNumber.length === 10 || phoneNumber.length === 12) {

              // format เบอร์มือถือ 10หลัก หรือถูกแปลงเป็นเบอร์บ้าน 9หลัก
              // ถ้าพิมพ์เพิ่มจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

              var cleaned = ('' + phoneNumber).replace(/\D/g, '')
              phoneNumber = cleaned.match(/^(\d{3})(\d{3})(\d{4})$/)
              this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

            } else if (phoneNumber.length === 9 || phoneNumber.length === 11) {

              // format เบอร์บ้าน(กทม 02-123-1234) 9หลัก
              // ถ้าพิมพ์ลบจาก 9หลัก เป็น 10หลัก จะแปลงเป็น 000-000-0000

              var cleaned = ('' + phoneNumber).replace(/\D/g, '')
              phoneNumber = cleaned.match(/^(\d{2})(\d{3})(\d{4})$/)
              this.phoneNumber = phoneNumber[1] + '-' + phoneNumber[2] + '-' + phoneNumber[3]

            }
            return (this.phoneNumber)
          }
        }
        catch{

        }
      },
      openModal(status) {
        this.dataStatus = status;
        this.statusOpenModal = true;
        this.dataModal = [];
      },
      closeModal() {
        this.statusOpenModal = false;
      }
    },
  };
</script>

<style lang="scss" scope>
.v-card.card-small{
  min-height: 130px;
}
.v-card.card-medium{
  min-height: 370px;
}
.v-card.card-height{
  min-height: 430px;
}
.text-value {
  font-size: 16px;
  color: #848383;
  font-weight: bold;
  padding: 0px 12px;
}
// $toolbar-height: 200px;
.container-approve {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  div {
    text-align: center;
  }
}
.font-size-status {
  font-size: 14px !important;
  font-weight: bold;
  color: #848383;
}
.font-size-number {
  font-size: 20px;
  font-weight: bold;
  color: #848383;
}
.font-color {
  color: #e79918 !important;
}

.profile-wrapper-index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;

  .profile {
    margin-right: 16px;
  }

  .image-border {
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  }

  .image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    //   width: calc(100% - 5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detail {
    flex-grow: 1;

    .name {
      font-weight: bold;
      font-size: 14px;
      color: #262828;
    }

    .icon-wrapper {
      margin-top: -4px;
      margin-right: 7px;
    }

    .location {
      font-weight: 500;
      font-size: 14px;
      color: var(--main-ci);
    }
  }
}


.driver-table{
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > td:not(.v-data-table__mobile-row),
  .theme--light.v-data-table > .v-data-table__wrapper > table > tbody > tr:not(:last-child) > th:not(.v-data-table__mobile-row){
    border-bottom: 0px;
    border-top:0px;
    margin-bottom: 10px;
    padding-bottom: 6.5px;
  }
  .theme--light.v-data-table > .v-data-table__wrapper > table > thead > tr:last-child > th{
    border-bottom: 0px;
  }
}


@media only screen and (max-width: 415px) {
  .disabled {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .text-title {
    font-size: 16px;
  }

  .text-sub {
    font-size: 12px;
  }

  .text-value {
    font-size: 12px;
    color: #848383;
  }
}
</style>
