<template>
  <div class="login-container">
    <div class="logo-wrapper">
      <img src="/Logo.svg" />
    </div>
    <div class="login-wrapper">
      <h1 class="title">Login</h1>
      <v-form
        ref="form"
        class="form-custom login-form"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-row>
          <div class="filed">
            <v-text-field
              background-color="transparent"
              v-model="username"
              type="email"
              placeholder="Email or Username"
              dark
              flat
              solo
              required
            />
          </div>
          <div class="filed">
            <v-text-field
              background-color="transparent"
              v-model="password"
              type="password"
              placeholder="Password"
              dark
              flat
              solo
              required
            />
          </div>
        </v-row>

        <v-row>
          <v-col cols="12">
             <v-btn
              class="btn-primary w-100"
              type="submit"
              :loading="isLoginLoading"
            >
              Login
            </v-btn>
          </v-col>
        </v-row>
        <v-row class="mt-2">
          <v-col col="12" class="text-right">
            <NuxtLink to="forgot-password" class="white--text">Forget password ?</NuxtLink>
          </v-col>
        </v-row>
      </v-form>
      <div class="text-footer">
        By creating an account you agree to our Terms of service and privacy
        Policy
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  layout: "login",
  data: () => ({
    username: null,
    password: null,
  }),
  computed: {
    ...mapGetters(["isLoginLoading"]),
  },
  // mounted(){
  //   this.redirecTo();
  // },
  methods: {
    ...mapActions(["userLogin"]),
    async onSubmit() {
      this.loading = true;
      await this.userLogin({
        username: this.username,
        password: this.password,
        type: "admin",
      }).catch(() => {
        console.log("Failed to login")
      });
    },
    // redirecTo(){
    //   window.location.href = "https://vms.siamrajathanee.dev/";
    // }
  },

};
</script>

<style lang="scss" scoped>
.text-footer {
  color: #fff; //#e79918
  // color: var(--text-03);
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 95px;
  font-weight: 500;
}

.btn-primary {
  background-color: #fff !important;
  color: #e79918 !important;
  margin-top: 20px;
}

.login-wrapper {
  margin-left: auto;
  margin-right: auto;

  .title {
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 58px;
  }
}

.logo-wrapper {
  margin: 28px auto 52px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}
</style>

<style lang="scss">
.filed {
  width: 100%;
  .v-text-field__slot {
    border: thin solid #fff !important;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 10px;
  }
}
</style>
