<template>
  <div>
    <v-col cols="12" class="font-color mx-auto my-12">
      <ImageCircle :url="profileUrl" class="profile" />

      <v-card-title class="justify-center">
        <b class="text-title">{{ user.name }}</b>
      </v-card-title>

      <v-card-text class="text-sub" align="center">
        <div class="ms-4 font-color font-weight-bold">Company: <span class="grey--text">{{ user.company | name }}</span></div>
        <div class="ms-4 font-color font-weight-bold">Branch: <span class="grey--text">{{ user.branch | name }}</span></div>
        <div class="ms-4 font-color font-weight-bold">Depatment: <span class="grey--text">{{ user.agency | name }}</span></div>
        <div class="ms-4 font-color font-weight-bold">Moblie: <span class="grey--text">{{ user.tel }}</span></div>
        <div class="ms-4 font-color font-weight-bold">Email: <span class="grey--text">{{ user.email }}</span></div>
      </v-card-text>

      <v-divider class="mx-4" />

      <div class="container-approve">
        <div class="d-flex align-center no-underline">
          <NuxtLink to="/approval">
            <v-row>
              <v-col cols="12" class="font-size-number">
                {{ amountOrders.amountOrderCarWaitingApprove }}
              </v-col>
              <v-col cols="12" class="text-value">รอการอนุมัติ</v-col>
            </v-row>
          </NuxtLink>
        </div>
        <div class="align-self-center">
          <b class="text-xl-h1" style="font-size: xxx-large; color: #e79918">
            |
          </b>
        </div>
        <div class="d-flex align-center no-underline">
          <NuxtLink to="/arrangement">
            <v-row>
              <v-col cols="12" class="font-size-number">
                {{ amountOrders.amountWaitingArrangeCar }}
              </v-col>
              <v-col cols="12" class="text-value">รอการจัดรถ</v-col>
            </v-row>
          </NuxtLink>
        </div>
        <div class="align-self-center">
          <b class="text-xl-h1" style="font-size: xxx-large; color: #e79918">
            |
          </b>
        </div>
        <div lg="3" class="d-flex align-center no-underline">
          <NuxtLink to="/cars/dashboardCarReturn">
            <v-row>
              <v-col cols="12" class="font-size-number">
                {{ amountOrders.amountOrderCarWaitingReturn }}
              </v-col>
              <v-col cols="12" class="text-value"> รอการส่งคืนรถ </v-col>
            </v-row>
          </NuxtLink>
        </div>
      </div>
    </v-col>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  filters: {
    name(object) {
      return object?.name || ''
    }
  },
  data: () => ({
    hostApi: globals.HOST_API,
    loading: false,
    profile: {
      url: "https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg/220px-Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg",
    },
    carTypes: globals.CARS.TYPES,
    amountOrders: {
      amountOrderCarWaitingApprove: 0,
      amountWaitingArrangeCar: 0,
      amountOrderCarWaitingReturn: 0,
    },
  }),
  computed: {
    profileUrl() {
      let url = `/default_profile.svg`;
      if (this.user.photoUrl) {
        url = `${this.hostApi}/images/users/photo/${this.user.userId}/${this.user.photoUrl}`;
      }
      return url;
    },
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.getAmountOrders();
  },
  methods: {
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
    async getAmountOrders() {
      this.amountOrders = await this.$axios.$get("/dashboards", {
        userId: this.user.userId,
        companyId: this.user.companyId,
        branchId: this.user.branchId,
        agencyId: this.user.agencyId,
      });
    },
  },
};
</script>

<style lang="scss" scope>
.text-value {
  font-size: 16px;
  color: #848383;
  font-weight: bold;
  padding: 0px 12px;
}
// $toolbar-height: 200px;
.container-approve {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  div {
    text-align: center;
  }
}
.font-size-status {
  font-size: 14px !important;
  font-weight: bold;
  color: #848383;
}
.font-size-number {
  font-size: 20px;
  font-weight: bold;
  color: #848383;
}
.font-color {
  color: #e79918 !important;
}

.profile-wrapper-index {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 15px;

  .profile {
    margin-right: 16px;
  }

  .image-border {
    border-radius: 50%;
    overflow: hidden;
    width: 64px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 10%);
  }

  .image-wrapper {
    border-radius: 50%;
    overflow: hidden;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    width: 100%;
    padding-bottom: 100%;
    //   width: calc(100% - 5px);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .detail {
    flex-grow: 1;

    .name {
      font-weight: bold;
      font-size: 14px;
      color: #262828;
    }

    .icon-wrapper {
      margin-top: -4px;
      margin-right: 7px;
    }

    .location {
      font-weight: 500;
      font-size: 14px;
      color: var(--main-ci);
    }
  }
}
@media only screen and (max-width: 415px) {
  .disabled {
    display: none;
  }
}
@media only screen and (max-width: 360px) {
  .text-title {
    font-size: 16px;
  }

  .text-sub {
    font-size: 12px;
  }

  .text-value {
    font-size: 12px;
    color: #848383;
  }
}
</style>
