<template>
  <div>
    <v-card>
      <v-card-text>
         <div class="form-wrapper">
      <v-form
        ref="form"
        class="form-custom"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-row class="profile-row">
          <v-col cols="12" md="12" class="pb-0">
            <div class="profile-wrapper">
              <ImageCircle :url="url" class="profile"  />
              <!-- <div class="input-profile-wrapper">
                <div class="input">
                  <v-btn class="btn-secondary" @click="onProfileClick">
                    เลือกภาพ
                  </v-btn>
                  <input
                    ref="profileFile"
                    type="file"
                    accept="image/jpeg, image/png"
                    style="display: none;"
                  />
                </div>
                <div class="help-text">
                  ขนาดไฟล์: สูงสุด 1 MB ไฟล์ที่รองรับ: .JPEG, .PNG
                </div>
              </div> -->
            </div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">ชื่อ</div>
            <v-text-field
              placeholder="กรอกชื่อ"
              name="firstName"
              solo
              dense
              v-model="forms.firstName"
              disabled
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">นามสกุล</div>
            <v-text-field
              placeholder="กรอกนามสกุล"
              name="lastName"
              solo
              dense
              v-model="forms.lastName"
              required
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">อีเมล</div>
            <v-text-field
              placeholder="กรอกอีเมล"
              name="email"
              type="email"
              solo
              dense
              v-model="forms.email"
              disabled
              required
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">เบอร์โทร</div>
            <v-text-field
              placeholder="กรอกเบอร์โทร"
              name="tel"
              solo
              dense
              v-model="forms.tel"
              required
              disabled
            ></v-text-field>
          </v-col>
          <v-col cols="12" md="6" class="">
            <div class="label">Line ID</div>
            <v-text-field
              placeholder="Line ID"
              name="lineId"
              solo
              dense
              v-model="forms.lineId"
              disabled
              required
            ></v-text-field>
          </v-col>
        </v-row>
        <!--
        <hr class="my-5">
        <v-row>
          <v-col class="pb-0">
            <div class="btn-wrapper">
              <v-btn class="btn-primary" type="submit">
                บันทึกการเปลี่ยนแปลง
              </v-btn>
              <v-btn class="btn-border-black" @click="goToHome">
                ยกเลิก
              </v-btn>
            </div>
          </v-col>
        </v-row> -->
      </v-form>
    </div>
      </v-card-text>
    </v-card>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  layout: 'admin',
  name: 'user-profile',
  middleware: 'user-authenticated',
  data: () => ({
    password: (v) => !!v ||'กรุณากรอกรหัสผ่าน',
    forms: {
      firstName: null,
      lastName : null,
      email: null,
      tel: null,
      lineId: null,
    },
    url:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg/220px-Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg',
  }),
  mounted() {
    this.setTitle('ข้อมูลสมาชิก')
    this.setData();
    this.user = this.$auth.user;
  },
  methods: {
    ...mapActions(['setTitle','setButton']),
    ...mapActions("user", ["find", "update"]),
    setData(){
       if(this.$auth.user){
        this.forms.firstName =  this.$auth.user.firstName
        this.forms.lastName =  this.$auth.user.lastName
        this.forms.email =  this.$auth.user.email
        this.forms.tel =  this.$auth.user.tel
        this.forms.lineId = this.$auth.user.lineId
      }
    },
    goToHome() {
      this.$router.push('/')
    },
    async onSubmit() {
      try {
        await this.update({ id: this.user.userId, data: this.forms });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "" });
      } catch (e) {}
    },
    onProfileClick() {
      this.$refs.profileFile.click()
    },
  },
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}
hr{
  border: 0.25px   solid #cecece;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;
  background: none;
  box-shadow: none !important;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
