<template>
  <div id="app">
    <v-app>
      <v-container>
        <v-row>
          <v-col>
            <h1>{{ heading }}</h1>
            <v-btn color="black" class="white--text" @click="generatePDF"
              >Generate PDF</v-btn
            >
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <ul>
              <li v-for="item in items">{{ item.title }} - {{ item.body }}</li>
            </ul>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
</template>
<script>
import jsPDF from "jspdf";
export default {
  middleware: "user-authenticated",
}
new Vue({
  el: "#app",
  vuetify: new vuetify(),
  data() {
    return {
      heading: "Sample PDF Generator",
      moreText: [
        "this is another few sentences of test to look at it.",
        "Just testing the paragraphs to see how they format.",
        "jsPDF like arrays for sentences.",
        "Do paragraphs wrap prperty",
        "Yes, they do!.",
        "What does it look like",
        "Not bad at all.",
      ],
      items: [
        { title: "Item 1", body: "i am item 1 body text" },
        { title: "Item 2", body: "i am item 2 body text" },
        { title: "Item 3", body: "i am item 3 body text" },
        { title: "Item 4", body: "i am item 4 body text" },
      ],
    };
  },
  methods:{
      generatePDF() {
          const columns = [
              {title: 'Title', dataKey: 'title'},
              {title: 'body', dataKey: 'body'},
          ];
          const doc = new jsPDF({
              orientation: 'protrait',
              unit: 'in',
              format: 'letter'
          });
          doc.setFontSize(16).text(this.heading, 0.5, 1.0);
          doc.setLineWidth(0.01).line(0.5, 1.1, 0.8, 1.1);
          doc.autoTable({
              columns,
              body: this.items,
              margin: { left: 0.5, top: 1.25}
          });
          doc.save(`${this.heading}.pdf`)
      }
  }
});
</script>
