<template>
  <div>
    <div class="login-container">
      <div class="logo-wrapper">
        <img src="/Logo.svg" />
      </div>
      <div class="login-wrapper">
        <h1 class="title mb-5">Reset your password</h1>
        <v-card class="py-4">
          <v-card-text>
            <v-form
              ref="form"
              class="form-custom"
              lazy-validation
              @submit.prevent="onSubmit"
            >
              <v-row>
                <v-col cols="12" md="12" class="mb-0">
                  <v-text-field
                    label="Your email address"
                    v-model="forms.email"
                    name="email"
                    :rule="email"
                    required
                    placeholder="Your email address"
                    dense
                    class="align-center item-center"
                    hide-details=""
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="mb-0">
                  <v-text-field
                    placeholder="Password"
                    label="Password"
                    name="password"
                    dense
                    v-model="forms.password"
                    :rules=password
                    required
                    :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show2 ? 'text' : 'password'"
                    @click:append="show2 = !show2"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="12" class="mb-0">
                  <v-text-field
                    label="Confirm Password"
                    placeholder="Confirm Password"
                    name="cfPassword"
                    dense
                    v-model="forms.cfPassword"
                    :rules="[[v => !!v || 'Password is required'], (this.forms.password === this.forms.cfPassword) || 'Password must match']"
                    required
                    :append-icon="show3 ? 'mdi-eye' : 'mdi-eye-off'"
                    :type="show3 ? 'text' : 'password'"
                    @click:append="show3 = !show3"
                  ></v-text-field>

                </v-col>
              </v-row>
              <v-row>
                <v-col class="pb-0 text-center">
                  <div class="btn-wrapper text-end">
                    <v-btn to="login" class="amber--text text--darken-4 text-underline-none mr-5" elevation="0">
                    <v-icon
                      left
                    >
                      mdi-arrow-left
                    </v-icon>
                    back
                  </v-btn>
                    <v-btn
                      class="orange lighten-5 ml-auto"
                      type="submit"
                      color="warning"
                      outlined
                      solo
                    >
                      <v-icon left>mdi-content-save</v-icon> save
                    </v-btn>
                  </div>
                </v-col>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  name: 'userProfile',
  layout: 'login',
  auth: false,
  data: () => ({
    email: (v) => !!v ||'Please enter your email address',
    password: (v) => !!v ||'Please enter your password',
    cfPassword: (v) => !!v ||'Please enter your confirm password',
    forms: {
      email: null,
      password : null,
      cfPassword: null,
    },
    show2:false,
    show3:false,
  }),
  mounted() {
    this.setTitle('เปลี่ยนรหัสผ่าน');
  },
  computed:{
    passwordConfirmationRule() {
      return () => (this.forms.password === this.forms.cfPassword) || 'Password must match'
    },
  },
  methods: {
    ...mapActions(['setTitle',"logout"]),
    ...mapGetters('user',['user']),
    async onSubmit() {
      let body = {
        email: this.forms.email,
        password: this.forms.password,
        password_confirmation: this.forms.cfPassword,
        token: this.$route.query.token
      }
      try {
        this.$axios.post('/reset-password',body).then((res) =>{
          if(res.data.status === 'success'){
            this.$toast.global.success({
              message: "เปลี่ยนรหัสผ่านเรียบร้อย",
            });
            this.$router.push({ name: "login" });
          }else{
            this.$toast.global.error({
              message: "ไม่สามารถเปลี่ยนรหัสผ่านได้ กรุณาติดต่อผู้ดูแลระบบ",
            });
          }
          // this.$toast.global.success({
          //   message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
          // });

          // this.$route.push({ name: "login" });
        }).catch((err) => {
          this.$toast.global.error({
            message: "ไม่สามารถเปลี่ยนรหัสผ่านได้ กรุณาติดต่อผู้ดูแลระบบ",
          });
        });
      } catch (e) {
        this.$toast.global.error({
          message: "ไม่สามารถเปลี่ยนรหัสผ่านได้ กรุณาติดต่อผู้ดูแลระบบ",
        });
      }

    }
  },
  watch: {
    cfPassword: function(val) {
      if (val !== this.password) {
        this.$refs.form.validate()
      }
    },
  }
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}
hr{
  border: 0.25px   solid #cecece;
}
.login-wrapper {
  margin-left: auto;
  margin-right: auto;

  .title {
    color: #fff;
    font-size: 24px !important;
    font-weight: bold;
    text-align: center;
    margin-bottom: 58px;
  }
}

.logo-wrapper {
  margin: 28px auto 52px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container {
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;
  background: none;
  box-shadow: none !important;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
