<template>
  <div>
    <div class="form-wrapper">
      <v-form
        ref="form"
        class="form-custom"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-row>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">สังกัด/บริษัท</div>
            <v-select
              :items="companies"
              solo
              placeholder="สังกัด/บริษัท"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.companyId"
              name="companyId"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6" class="pb-0">
            <div class="label">สาขา</div>
            <v-select
              :items="companies"
              solo
              placeholder="กรอกสาขา"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.branchId"
              name="branchId"
              required
            ></v-select>
          </v-col>
          <v-col cols="12" md="6" class="">
            <div class="label">แผนก</div>
            <v-select
              :items="agencies"
              solo
              placeholder="กรอกสาขา"
              item-text="name"
              item-value="id"
              dense
              v-model="forms.branchId"
              name="branchId"
              required
            ></v-select>
          </v-col>
        </v-row>
        <v-row>
          <v-col class="pb-0">
            <div class="btn-wrapper">
              <v-btn class="btn-primary" type="submit">
                บันทึกการเปลี่ยนแปลง
              </v-btn>
              <v-btn class="btn-border-black" @click="goToHome">
                ยกเลิก
              </v-btn>
            </div>
          </v-col>
        </v-row>
      </v-form>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../assets/globals'

export default {
  layout: 'admin',
  name: 'carRequestPage',
  layout: 'admin',
  middleware: 'user-authenticated',
  data: () => ({
    forms: {},
    url:
      'https://upload.wikimedia.org/wikipedia/commons/thumb/7/7f/Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg/220px-Souvenir_silhouette_post_card._Toledo%27s_greatest_store%3B_Tiedtke%27s._The_store_for_all_the_people_-_DPLA_-_f00a78fe61c216236a13cdebf588d3c3_%28page_1%29.jpg',
    companies: [],
    agencies: [],
  }),
  mounted() {
    this.setTitle('ข้อมูลการทำงาน')
  },
  methods: {
    ...mapActions(['setTitle']),
    goToHome() {
      this.$router.push('/')
    },
    async onSubmit() {
      console.log('submit')
    },
    onProfileClick() {
      this.$refs.profileFile.click()
    },
  },
}
</script>

<style lang="scss" scoped>
.profile-row {
  margin-bottom: 20px;
}

.profile-wrapper {
  display: flex;
  align-items: flex-start;

  .profile {
    margin-right: 36px;
  }

  .input-profile-wrapper {
    .help-text {
      color: var(--text-ci);
      font-weight: 500;
      font-size: 12px;
      margin-top: 8px;
    }

    .btn-secondary {
      padding-left: 87px !important;
      padding-right: 87px !important;
    }
  }
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary,
.btn-border-black {
  min-width: 315px !important;
}
</style>
