<template>
  <div>
    <v-card>
       <v-toolbar
        outlined
        elevation="0"
        class=""
      >
        <v-toolbar-title>รายละเอียดการต่อภาษีรถยนต์</v-toolbar-title>
        <v-spacer></v-spacer>

        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 border-warning"
          @click.prevent="downloadExport()"
          >
            <v-icon>download</v-icon>
            export
        </v-btn>
      </v-toolbar>
      <v-card-text>
        <v-data-table
          v-if="cardetail"
          :headers="headers"
          :items=cardetail
          item-key="seq"
        >
          <template #item.tax_date="{item}">
            {{ $dayjs(item.tax_date).format("DD/MM/YYYY") }}
          </template>
          <template #item.act_to_date="{item}">
            {{ $dayjs(item.act_to_date).format("DD/MM/YYYY") }}
          </template>
          <template #item.insurance_date_to="{item}">
            {{ $dayjs(item.insurance_date_to).format("DD/MM/YYYY") }}
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default{
  data: () => ({
    carId : null,
    headers:[
      {
        text:"ครั้งที่",
        value:"seq"
      },
      {
        text: "ภาษี.",
        value: "tax_amount"

      },
      {
        text: "ภาษี. วันที่คิดภาษี",
        value: "tax_date"

      },
      {
        text: "บริษัทปรักัน",
        value: "insurance"

      },
      {
        text: "ตุ้มครองถึงวันที่",
        value: "insurance_date_to"

      },
      {
        text: "พรบ.",
        value: "act_amount"

      },
      {
        text: "พรบ. ถึงวันที่",
        value: "act_to_date"

      }
    ]
  }),
  computed:{
    ...mapGetters("report",["cardetail"])
  },
  methods:{
    ...mapActions("report",["getCarDetail"]),
    downloadExport(carId,label){
      carId = this.$route.params.id;
      this.$axios.get(`report/car/`+carId+'/export')
        .then(response => {
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    }
  },
  mounted(){
    this.carId = this.$route.params.id
    this.getCarDetail(this.$route.params.id);
  }
}
</script>

