<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-card>
      <v-card-text class="border-bottom">
        <v-toolbar flat>
          <v-toolbar-title>ขอใช้รถ</v-toolbar-title>
        </v-toolbar>
      </v-card-text>
      <v-card-text class="border-bottom">
        <v-row>
          <v-col cols="12" md="6">
            <v-radio-group
              v-model="forms.typeFormId"
              :rules="registration"
              row
              required
            >
              <v-radio color="#E79918" :value="1">
                <template #label>จองแบบระบุทะเบียนรถ</template>
              </v-radio>
              <v-radio color="#E79918" :value="2">
                <template #label>จองแบบไม่ระบุทะเบียน</template>
              </v-radio>
            </v-radio-group>
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-if="forms.typeFormId === 1"
              v-model="forms.carId"
              :items="cars"
              :rules="forms.typeFormId === 1 ? carId : []"
              :label="forms.carId ? 'หมายเลขรถ' : 'กรุณาระบุหมายเลขรถ'"
              :disabled="forms.typeFormId === 1 ? false : true"
              item-text="plateNumber"
              item-value="carId"
              outlined
              dense
              required
            />
            <v-autocomplete
              v-if="forms.typeFormId === 2"
              v-model="forms.typeId"
              :items="cars"
              :rules="forms.typeFormId === 2 ? typeId : []"
              :label="
                forms.typeId
                  ? 'ประเภทรถยนต์'
                  : 'กรุณาระบุประเภทรถยนต์ที่ต้องการ'
              "
              :disabled="forms.typeFormId === 2 ? false : true"
              item-text="name"
              item-value="typeId"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="forms.passengerNo"
              :rules="numberTraveler"
              placeholder="จำนวนผู้เดินทาง"
              outlined
              dense
              required
              type="text"
              @keypress="validateNumber"
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-checkbox
              v-model="forms.typeRequestId"
              :true-value="1"
              :false-value="2"
              label="ต้องการคนขับรถ"
              color="#E79918"
            />
          </v-col>
          <v-col cols="6" class="date-picker">
            <div class="border-picker">
              <VueCtkDateTimePicker
                v-model="forms.dateStart"
                :range="false"
                :noLabel="true"
                :autoClose="false"
                :noShortcuts="true"
                :color="colors.MAIN_CI"
                :overlay="true"
                :noClearButton="true"
                :minDate="$dayjs().format('YYYY-MM-DD')"
                :onlyDate="true"
                label="วันที่ขอใช้"
                format="YYYY-MM-DD"
                formatted="DD/MM/YYYY"
                @is-hidden="dateStart()"
              />
              <div class="icon-picker">
                <v-icon color="#e79918">{{ icons.mdiCalendarMonth }}</v-icon>
              </div>
            </div>
            <span class="errorDate" ref="dateStart"></span>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="forms.timeStart"
              v-mask="timeMask"
              placeholder="เริ่มเวลา"
              outlined
              dense
              required
            >
              <template #append>
                <div class="icon-picker">
                  <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                </div>
              </template>
            </v-text-field>
          </v-col>
          <v-col cols="6" class="date-picker">
            <div class="border-picker">
              <VueCtkDateTimePicker
                v-model="forms.endDate"
                :onlyDate="true"
                :range="false"
                :noLabel="true"
                :autoClose="false"
                :noShortcuts="true"
                :color="colors.MAIN_CI"
                :overlay="true"
                :noClearButton="true"
                :minDate="forms.dateStart"
                :disabled="!forms.dateStart"
                :noButtonNow="true"
                label="ขอใช้ถึงวันที่"
                format="YYYY-MM-DD"
                formatted="DD/MM/YYYY"
                @is-hidden="endDate()"
              />
              <div class="icon-picker">
                <v-icon color="#e79918">{{ icons.mdiCalendarMonth }}</v-icon>
              </div>
            </div>
            <span class="errorDate" ref="endDate"></span>
          </v-col>
          <v-col cols="6">
            <v-text-field
              v-model="forms.endTime"
              v-mask="timeMask"
              placeholder="ถึงเวลา"
              outlined
              dense
              required
            >
              <template #append>
                <div class="icon-picker">
                  <v-icon color="#e79918">{{ icons.mdiAlarm }}</v-icon>
                </div>
              </template>
            </v-text-field>
          </v-col>
          <template v-for="(input, index) in forms.places">
            <v-col cols="12" md="6" :key="`place-${index}`">
              <v-text-field
                v-model="input.location"
                :rules="place"
                placeholder="สถานที่"
                type="text"
                outlined
                dense
                required
              >
                <template #append>
                  <v-btn
                    v-if="forms.places.length > 1"
                    @click.prevent="removeField(index, forms.places)"
                  >
                    <v-icon>mdi-minus</v-icon>&nbsp;ลบ
                  </v-btn>
                  <v-btn
                    v-if="index === 0"
                    color="warning"
                    class="ml-2"
                    @click.prevent="addField"
                  >
                    <v-icon>mdi-plus</v-icon>&nbsp;เพิ่ม
                  </v-btn>
                </template>
              </v-text-field>
            </v-col>
            <v-col cols="12" md="6" />
          </template>
          <v-col cols="12">
            <v-text-field
              v-model="forms.note"
              name="detail"
              placeholder="หมายเหตุ (ไม่จำเป็นต้องกรอก)"
              outlined
              dense
              required
              auto-grow
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="border-bottom">
        <v-toolbar flat>
          <v-toolbar-title>ผู้ใช้รถ</v-toolbar-title>
        </v-toolbar>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="forms.travelerName"
              :rules="traveler"
              placeholder="ชื่อ-นามสกุล ผู้เดินทาง (หลัก)"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="forms.tel"
              :rules="numberPhone"
              type="text"
              placeholder="เบอร์มือถือที่ใช้ติดต่อผู้เดินทาง"
              outlined
              dense
              required
              @keypress="validateNumber"
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="forms.telInternalNumber"
              type="text"
              placeholder="เบอร์ภายใน"
              outlined
              dense
              required
              @keypress="validateNumber"
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          color="warning"
          type="submit"
          @click="validate"
        >
          บันทึกการข้อใช้รถยนต์
        </v-btn>
        <v-btn color="error" @click.prevent="reset">
          ยกเลิกการกรอกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth, mdiAlarm } from "@mdi/js";

export default {
  middleware: "user-authenticated",
  data: () => ({
    valid: true,
    traveler: [(v) => !!v || "กรุณากรอกชื่อผู้เดินทาง"],
    numberTraveler: [(v) => !!v || "กรุณากรอกจำนวนผู้เดินทาง"],
    numberPhone: [(v) => !!v || "กรุณากรอกเบอร์มือถือที่ใช้ติดต่อ"],
    useCar: [(v) => !!v || "กรุณาเลือกการขอใช้รถ"],
    registration: [(v) => !!v || "กรุณาเลือกรูปแบบการจองรถ"],
    carId: [(v) => !!v || "กรุณากรอกข้อมูลทะเบียนรถยนต์"],
    typeId: [(v) => !!v || "กรุณาระบุประเภทรถยนต์"],
    place: [(v) => !!v || "กรุณากรอกสถานที่"],
    icons: {
      mdiCalendarMonth,
      mdiAlarm,
    },
    user: {
      companyId: null,
      branchId: null,
      agencyId: null,
      userId: null,
    },
    forms: {
      places: [
        {
          location: "",
        },
      ],
      order_types: 1,
      typeFormId: 1,
      carId: null,
      typeId: null,
      travelerName: null,
      passengerNo: null,
      timeStart: null,
      endTime: null,
      dateStart: null,
      endDate: null,
      typeRequestId: 2,
      tel: null,
      telInternalNumber: null,
      note: null,
    },
    colors: globals.COLORS,
    minDateStartDate: null,
    dateFormatString: "yyyy-MM-dd",
    disabledHours: [],
  }),
  computed: {
    ...mapGetters("car", ["cars", "types"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "request" },
    });
    this.getCars();
    this.init();
    this.user.companyId = this.$auth.user.companyId;
    this.user.branchId = this.$auth.user.branchId;
    this.user.agencyId = this.$auth.user.agencyId;
    this.user.userId = this.$auth.user.userId;
  },
  methods: {
    ...mapActions([
      "setTitle",
      "setButton",
      "dateFormat",
      "disabledHoursLessThanHour",
    ]),
    ...mapActions("car", {
      getCars: "get",
    }),
    timeMask(value) {
      const hours = [/[0-2]/, value.charAt(0) === "2" ? /[0-3]/ : /[0-9]/];
      const minutes = [/[0-5]/, /[0-9]/];
      return value.length > 2 ? [...hours, ":", ...minutes] : hours;
    },
    async init() {
      this.minDateStartDate = await this.dateFormat({
        formatDate: this.dateFormatString,
        isYearTH: false,
      });
    },
    validateNumber: (event) => {
      let keyCode = event.keyCode;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่ขอใช้รถ
      if (!this.forms.dateStart) {
        this.$refs.dateStart.innerText = "กรุณาระบุวันที่ขอใช้รถ";
        this.$refs.dateStart.style.display = "block";
      } else {
        this.$refs.dateStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async timeStart() {
      // สร้างฟังก์ชัน validation เวลาขอใช้รถ
      if (!this.forms.timeStart) {
        this.$refs.timeStart.innerText = "กรุณาระบุเวลาขอใช้รถ";
        this.$refs.timeStart.style.display = "block";
      } else {
        this.$refs.timeStart.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endDate() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเมื่อไร
      if (!this.forms.endDate) {
        this.$refs.endDate.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async endTime() {
      // สร้างฟังก์ชัน validation ขอใช้รถถึงเวลาไหน
      if (!this.forms.endTime) {
        this.$refs.endTime.innerText = "กรุณาระบุวันที่สิ้นสุดขอใช้รถ";
        this.$refs.endTime.style.display = "block";
      } else {
        this.$refs.endTime.style.display = "none";

        this.calcDisabledEndTime();
      }
    },
    async calcDisabledEndTime() {
      if (this.forms.dateStart === this.forms.endDate) {
        this.disabledHours = await this.disabledHoursLessThanHour(
          this.forms.timeStart
        );
      } else {
        this.disabledHours = [];
      }
    },
    addField() {
      //ฟังก์ชัน สำหรับเพิ่ม text input ชื่อ places
      this.forms.places.push({ location: "" });
    },
    removeField(index, fieldType) {
      //ฟังก์ชัน สำหรับลบ text input ชื่อ places
      fieldType.splice(index, 1);
    },
    async validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = {
        places: this.forms.places,
        order_types: 1,
        typeFormId: this.forms.typeFormId,
        carId: this.forms.carId,
        typeId: this.forms.typeId,
        travelerName: this.forms.travelerName,
        passengerNo: this.forms.passengerNo,
        startTime: `${this.forms.dateStart} ${this.forms.timeStart}`,
        endTime: `${this.forms.endDate} ${this.forms.endTime}`,
        typeRequestId: this.forms.typeRequestId,
        tel: this.forms.tel,
        telInternalNumber: this.forms.telInternalNumber,
        note: this.forms.note,
      };

      try {
        const response = await this.$axios
          .post("/orders", body)
          .catch(({ response }) => {
            switch (response.status) {
              case 400:
                if (response.data.message === "cant_selected_this_car_on_time") {
                  this.$toast.global.error({
                    message: "ไม่สามารถเลือกรถคันนี้ ในช่วงเวลานี้ได้",
                  });
                  return;
                }
                break;
              default:
                break;
            }
          });

        if (response !== undefined) {
          this.$toast.global.success({
            message: "บันทึกข้อมูลการขอใช้รถสำเร็จเรียบร้อย",
          });
          this.$router.push({ name: "request" });
        }
      } catch (e) {
        console.log("An error has occurred." + error);
      } finally {
      }
    },
    goBack() {
      this.$router.push({ name: "request" });
    },
  },
};
</script>

<style lang="scss" scoped>
.flex-container {
  display: flex;
}
.content {
  width: 83.33%;
  padding-left: 12px;
  padding-right: 12px;
}

.content-2 {
  padding-left: 12px;
  padding-right: 12px;
  width: 83.33%;
  display: flex;
}

.btn-remove,
.btn-add {
  color: #e79918;
  display: inline-flex;
  align-items: center;
}

.form-wrapper {
  width: 920px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}

.btn-primary {
  padding: 0 120px !important;
}
.errorDate {
  font-size: 12px;
  line-height: 12px;
  padding-left: 15px;
  margin-top: 10px;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}
@media only screen and (max-width: 415px) {
  .inline {
    display: block !important;
  }
}
</style>
