<template>
  <v-data-table
    :headers="headers"
    :items="orders"
    item-key="orderId"
    class="pa-4"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>บันทึกการขอใช้รถยนต์</v-toolbar-title>
        <v-spacer />
        <v-btn
          v-if="isAllowCreate"
          :to="{ name: 'request-create' }"
          color="warning"
        >
          ขอใช้รถ
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.license="{ item }">
      <template v-if="item.success">
        {{ item.success.car ? item.success.car.regisNumber : "-" }}
      </template>
      <template v-else>
        {{ item.car ? item.car.regisNumber : "-" }}
      </template>
    </template>
    <template #item.car="{ item }">
      <template v-if="item.success">
        {{ item.success.car ? item.success.car.type.name : "-" }}
      </template>
      <template v-else>
        {{ item.car ? item.car.type.name : item.car_type.name }}
      </template>
    </template>
    <template #item.dateStart="{ item }">
      {{
        $dayjs(item.success ? item.success.startTime : item.startTime).format(
          "DD MMM YYYY HH:mm"
        )
      }}
      &nbsp;-&nbsp;
      {{
        $dayjs(item.success ? item.success.endTime : item.endTime).format(
          "DD MMM YYYY HH:mm"
        )
      }}
    </template>
    <template #item.createdAt="{ item }">
      {{ $dayjs(item.createdAt).format("DD MMM YYYY HH:mm:ss") }}
    </template>
    <template #item.status="{ item }">
      {{ item.order | orderStatus }}
    </template>
    <template #item.actions="{ item }">
      <v-btn
        v-if="orderStatus(item.order) === 'พร้อมใช้งาน รอการส่งคืนรถ'"
        :to="{
          name: 'request-id-return',
          params: { id: item.requestId },
        }"
        class="mr-2"
        color="warning"
      >
        คืนรถ
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

const orderStatus = (order) => {
  switch (order.isApproved) {
    case 0:
      return "รอการอนุมัติ";
    case 2:
      return "ถูกปฏิเสธ";
  }

  if (order.statusId === 2) {
    return "คืนรถแล้ว";
  }

  if (!order.isArrangeOrder) {
    return "รอการจัดรถ";
  }

  return "พร้อมใช้งาน รอการส่งคืนรถ";
}

export default {
  middleware: "user-authenticated",
  filters: {
    orderStatus,
  },
  data: () => ({
    search: "",
    dialog: false,
    headers: [
      {
        text: "เลขทะเบียน",
        align: "center",
        value: "license",
        sortable: false,
      },
      { text: "ยี่ห้อ", align: "center", value: "car", sortable: false },
      {
        text: "ขอใช้วันที่",
        align: "center",
        value: "dateStart",
        sortable: false,
      },
      {
        text: "วันที่สร้างคำขอ",
        align: "center",
        value: "createdAt",
        sortable: false,
      },
      { text: "สถานะ", align: "center", value: "status", sortable: false },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("order", ["orders"]),
    user() {
      return this.$auth.user;
    },
    isAllowCreate() {
      // console.log(this.$store.getters['permissions'])
      return this.$auth?.user?.permission?.isAdmin || ["request_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
  },
  mounted() {
    this.getOrders();
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
      "isActionAllowed",
    ]),
    ...mapActions("order", {
      getOrders: "get",
    }),
    linkCarReturn(id) {
      this.$router.push(`/cars/return/${id}`);
    },
    orderStatus
  },
};
</script>

<style scope>
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
