<template>
  <div class="scoped-wrapper">
    <div class="search-wrapper">
      <div class="form-wrapper">
        <v-form
          ref="form"
          class="form-custom"
          lazy-validation
          @submit.prevent="onSubmitSearch"
        >
          <v-row>
            <v-col cols="12" md="12" class="pb-0">
              <v-combobox
                label="กรอกเลขทะเบียนที่ต้องการค้นหา"
                name="regis-number"
                solo
                dense
                v-model="forms.regisNumber"
                required
              />
            </v-col>
          </v-row>
        </v-form>
      </div>
    </div>
    <div class="list-item">
      <div v-for="item in orders" :key="item.id" class="item">
        <CarHistory :item="item" />
      </div>
    </div>
    <CarItem :items="carHistories" :type="carTypes.HISTORY" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import * as globals from '../../assets/globals'
export default {
  layout: 'admin',
  data: () => ({
    carHistories: [],
    carTypes: globals.CARS.TYPES,
    forms: {
      regisNumber: null,
    },
  }),
  computed: {
    ...mapGetters("order", ["orders"]),
  },
  mounted() {
    this.setTitle('ประวัติการใช้รถยนต์')
    this.getOrders()
    this.init()
  },
  methods: {
    ...mapActions("order", {
      getOrders: "get",
    }),
    ...mapActions(['setTitle', 'numberWithCommas', 'dateFormat']),
    async onSubmitSearch() {
      console.log('searching...')
    },
    async init() {
      this.carHistories = [
        {
          name: '7 กย 7600 - Toyota Sienta',
          miles: await this.numberWithCommas(700574),
          status: 'แจ้งซ่อม',
          statusId: 2,
          createdAt: new Date(),
          createdAtFormat: await this.dateFormat(new Date()),
        },
        {
          name: '7 กย 7600 - Toyota Sienta',
          miles: await this.numberWithCommas(700574),
          status: 'รอการอนุมัติ',
          statusId: 1,
          createdAt: new Date(),
          createdAtFormat: await this.dateFormat(new Date()),
        },
        {
          name: '7 กย 7600 - Toyota Sienta',
          miles: await this.numberWithCommas(700574),
          status: 'สำเร็จ',
          statusId: 3,
          createdAt: new Date(),
          createdAtFormat: await this.dateFormat(new Date()),
        },
        {
          name: '7 กย 7600 - Toyota Sienta',
          miles: await this.numberWithCommas(700574),
          status: 'ไม่อนุมัติ',
          statusId: 4,
          createdAt: new Date(),
          createdAtFormat: await this.dateFormat(new Date()),
        },
      ]
    },
  },
}
</script>

<style lang="scss" scoped>
.scoped-wrapper {
  padding-bottom: 100px;
}

.search-wrapper {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 36px;
  margin-bottom: 36px;
}
</style>
