<template>
  <div>
    <v-card>
      <v-card-title>
        <h3>Create Car</h3>
      </v-card-title>
      <v-card-text>
        <br />
        <FormSetupCreateCar @onSubmit="onSubmit" />
      </v-card-text>
    </v-card>
    <!-- <v-toolbar >
      <v-toolbar-title>Create Car</v-toolbar-title>
    </v-toolbar>
    <FormSetupCreateCar @onSubmit="onSubmit" /> -->
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "car" }
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("asset", ["create"]),
    async onSubmit(form) {
      try {
        await this.create({
          ...form,
          cars: form.cars.filter(({ isDeleted }) => !isDeleted)
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสินทรัพย์สำเร็จเรียบร้อย"
        });

        this.$router.push({ name: "setup-asset" });
      } catch (e) {}
    }
  }
};
</script>
