<template>
  <v-card>
    <v-card-title>
      <v-row>
        <v-col>
          <h3>Car Management</h3>
        </v-col>
        <!-- <v-col class="text-right">
          <v-btn
            color="warning"
            :to="{ name: 'car-create' }"
            >Create
          </v-btn>
        </v-col> -->
      </v-row>
    </v-card-title>

    <v-data-table
      :headers="headers"
      :items="cars"
    >
      <template #top>

        <div class="d-flex">
          <v-toolbar flat>
            <v-text-field
              label="ค้นหา"
              hide-details
              placeholder="กรอกคำค้นหา"
              v-model="search"
              outlined
              dense
              @keyup="searching"
            />
          </v-toolbar>
          <v-toolbar flat>
            <v-select
              v-model="carTypeFilter"
              :items="carTypes"
              item-text="name"
              item-value="typeId"
              placeholder="ประเภทรถยนต์"
              class="pt-6"
              outlined
              dense
              @change="filterType"
            />
          </v-toolbar>
          <v-toolbar flat>
            <v-select
              v-model="carStatus"
              :items="carFilterStatus"
              item-text="name"
              item-value="id"
              placeholder="สถานะ"
              class="pt-6"
              outlined
              dense
              @change="filterStatus"
            />
          </v-toolbar>
        </div>
      </template>
      <template #item.regisNumber="{ item }">
        {{ item.plateNumber }} {{ item.plateProvince }}
      </template>
      <template #item.name="{item}">
        {{item.name}}
      </template>
      <template #item.brand="{ item }">
        {{ item.brand ? item.brand.name : '' }} - {{ item.model ? item.model.name : '' }}
      </template>
      <template #item.type="{ item }">
        {{ item.type ? item.type.name : '' }}
      </template>
      <template #item.status="{ item }">
        {{ item.statusId | carStatus }}
      </template>
      <template #item.actions="{ item }">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              outlined
              class="mr-2"
              color="blue"
              v-bind="attrs"
              v-on="on"
              :to="{ name: 'car-id', params: { id: item.carId } }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>ดูข้อมูล</span>
        </v-tooltip>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: "user-authenticated",
  filters: {
    carStatus(statusId) {
      switch (statusId) {
        case 1:
          return "รถว่าง";
        case 2:
          return "อยู่ระหว่างการใช้งาน";
      }
    },
    carType(typeId){

    }
  },
  data: () => ({
    search: "",
    dialog: false,
    carFilter:false,
    carFilterStatus:[
      {
        id: 1,
        name: 'รถว่าง'
      },
      {
        id: 2,
        name: 'อยู่ระหว่างการใช้งาน'
      }
    ],
    carStatus:false,
    carTypeFilter:false,
    headers: [
      {
        text: "ทะเบียนรถ",
        align: "left",
        sortable: false,
        value: "regisNumber",
      },
      { text: "ยี่ห้อ - รุ่น", align: "left", value: "brand" },
      { text: "รถ", align: "left", value: "name" },
      { text: "ประเภท", align: "left", value: "type" },
      { text: "สถานะ", align: "center", value: "status" },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("car", ["cars","carTypes"]),
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.getCars({ status: "all" , type:"all"});
    this.getType();
  },
  methods: {
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
    ...mapActions("car", {
      getCars: "get",
      getType: "getType"
    }),
    searching() {
      if (this.timer) {
        clearTimeout(this.timer);
        this.timer = null;
      }
      this.timer = setTimeout(() => {
        this.getCars({ search: this.search});
      }, 800);
    },
    filterType(){
      this.getCars({search: null, status: "all" , type : this.carTypeFilter})
    },
    filterStatus(){
      this.getCars({search: null, status: this.carStatus , type : "all"})
    }
  },
  goBack() {
    this.$router.push({ name: "request" });
  },
};
</script>

<style>
.btn-color {
  background-color: #e79918 !important;
  color: #fff !important;
}
.simple {
  width: 1500px;
  margin: 10px 5px 80px;
  border-radius: 10px;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  font-weight: 600px;
}

.text {
  margin-right: 30px;
  align-content: center;
}
</style>
