<template>
  <div class="py-2">
    <RequestInfo v-if="order" :request="order">
      <template #prepend>
        <v-card-text>
          <v-row>
            <v-col class="ml-auto">
              <p class="mb-0 text-right d-block">
                <b>เลขที่เอกสารการขอ:</b> {{ order.requestNo }}
              </p>
              <p class="mb-0 text-right d-block">
                <b>เลขที่เอกสารการจัด:</b> {{ order.refNo }}
              </p>
            </v-col>
          </v-row>
        </v-card-text>
      </template>
    </RequestInfo>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: [
    async ({ params, store, redirect }) => {
      const request = await store.dispatch("order/find", params.id);
    },
  ],
  computed: {
    ...mapGetters("order", ["order"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "request" },
    });
  },
  methods: {
    ...mapActions("order", ["restore", "createFuel", "uploadReceipt"]),
    ...mapActions(["setButton"]),
    async onSubmit(form) {
      await this.restore({
        id: this.order.orderId,
        data: {
          startmile: form.startmile,
          endmile: form.endmile,
          detail: form.detail,
          answers: form.answers,
        },
      });

      const fuels = await Promise.all(
        form.fuels.map(async (data) => {
          const fuel = await this.createFuel({
            id: this.order.orderId,
            fuel: {
              liter: data.liter,
              categoryId: data.categoryId,
              price: data.price,
              total: data.total,
              fuelStation: data.fuelStation,
              receiptNumber: data.receiptNumber,
            },
          });

          return Object.assign(data, { oilId: fuel.oilId });
        })
      );

      await Promise.all(
        fuels
          .filter(({ receipt }) => receipt)
          .map(({ oilId, receipt }) =>
            this.uploadReceipt({
              id: this.order.orderId,
              fuelId: oilId,
              receipt,
            })
          )
      );

      this.$toast.global.success({
        message: "บันทึกข้อมูลการส่งคืนรถสำเร็จเรียบร้อย",
      });

      this.$router.push({ name: "request" });
    },
  },
};
</script>
