<template>
  <v-data-table
    :headers="headers"
    :items="desserts"
    sort-by="calories"
    class="elevation-1"
  >
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - บริษัท</v-toolbar-title>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-btn
        color="warning"
        :to="{ name: 'setup-company-id', params: { id: item.id } }"
      >
        แก้ไข
      </v-btn>
      <v-btn color="error" @click="deleteItem(item)">ลบ</v-btn>
    </template>
    <template v-slot:no-data>
      <v-btn color="primary" @click="initialize"> Reset </v-btn>
    </template>
  </v-data-table>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: [
    "user-authenticated",
    (({ $auth, redirect }) => {
      if ($auth.user.companyId !== null) {
        redirect({ name: 'setup-my-company' })
      }
    })
  ],
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "ชื่อบริษัท",
        align: "start",
        sortable: false,
        value: "nameCompany",
      },
      {
        text: "ชื่อผู้รับผิดชอบ",
        align: "start",
        sortable: false,
        value: "personname",
      },
      //    {
      //     text: "ดำเนินการ",
      //     align: "start",
      //     sortable: false,
      //     value: "carryout",
      //   },
      { text: "", value: "" },
      { text: "ดำเนินการ", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
    defaultItem: {
      name: "",
      calories: 0,
      fat: 0,
      carbs: 0,
      protein: 0,
    },
  }),
  computed: {
    isAllowCompany() {
      return ["company_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
    formTitle() {
      return this.editedIndex === -1 ? "สร้างข้อมูล" : "แก้ไขข้อมูล";
    },
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },
  created() {
    this.initialize();
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions([
      "nameCompany",
      "logout",
      "personname",
      "setTitle",
      "setButton",
    ]),
    linkEdit(id) {
      this.$router.push(`/setup/business/${id}`);
    },
    initialize() {
      this.desserts = [
        {
          nameCompany: "Vuejs",
          personname: "Fluke",
        },
        {
          nameCompany: "D company",
          personname: "Prakad",
        },
        {
          nameCompany: "Vuejs",
          personname: "ju",
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
<style>
.elevation-1 {
  margin: 50px 5px 50px;
  width: 1500px;
}
</style>
