<template>
  <div>
    <RequestInfo v-if="order" :request="order">
      <template #prepend>
        <v-card class="mb-5">
          <v-card-text>
            <p class="mb-0 text-right">
              <b>เลขที่เอกสารการขอ:</b> {{ order.requestNo }}
            </p>
            <p class="mb-0 text-right">
              <b>เลขที่เอกสารการจัด:</b> {{ order.refNo }}
            </p>
          </v-card-text>
        </v-card>
      </template>
    </RequestInfo>
    <!-- <CarUsageCard :order="order" class="mt-4" /> -->
    <v-row>
      <v-col col="12" md="12" lg="8" class="mx-auto">
        <v-card class="mt-4">
          <v-card-text>
            <CarReturnForm :order="order" class="mt-4" @submit="onSubmit" />
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  middleware: [
    async ({ params, store, redirect }) => {
      const request = await store.dispatch("order/find", params.id);
      if (request.order.statusId === 2) {
        redirect({ name: "request" });
      }
    },
  ],
  computed: {
    ...mapGetters("order", ["order"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "request" },
    });
  },
  methods: {
    ...mapActions("order", ["restore", "createFuel", "uploadReceipt"]),
    ...mapActions(["setButton"]),
    async onSubmit(form) {
      await this.restore({
        id: this.order.orderId,
        data: {
          startmile: form.startmile,
          endmile: form.endmile,
          detail: form.detail,
          answers: form.answers,
        },
      });

      const fuels = await Promise.all(
        form.fuels.map(async (data) => {
          const fuel = await this.createFuel({
            id: this.order.orderId,
            fuel: {
              liter: data.liter,
              categoryId: data.categoryId,
              price: data.price,
              total: data.total,
              fuelStation: data.fuelStation,
              receiptNumber: data.receiptNumber,
              receiptDate: data.receiptDate,
              mile : data.mile
            },
          });

          return Object.assign(data, { oilId: fuel.oilId });
        })
      );

      await Promise.all(
        fuels
          .filter(({ receipt }) => receipt)
          .map(({ oilId, receipt }) =>
            this.uploadReceipt({
              id: this.order.orderId,
              fuelId: oilId,
              receipt,
            })
          )
      );

      this.$toast.global.success({
        message: "บันทึกข้อมูลการส่งคืนรถสำเร็จเรียบร้อย",
      });

      this.$router.push({ name: "request" });
    },
  },
};
</script>
