<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" lg="10">
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - ผู้ใช้งาน</v-toolbar-title>
        </v-toolbar>
        <FormSetupUserAdmin v-if="user" :data="user" @onSubmit="onSubmit" />
      </v-col>
      <v-col cols="12" lg="10" class="text-right" v-if="user">
        <v-btn
          class="mx-2"
          color="primary"
          outlined
          @click="resetPassword()"
        >
          <v-icon class="mx-2">mdi-lock-reset</v-icon> <span> Reset password</span>
        </v-btn>
      </v-col>

    </v-row>

  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data() {
    return {
      user: null,
    }
  },
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-users" },
    });

    this.user = await this.find(this.$route.params.id);
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("user", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({ id: this.user.userId, data: form });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "admin-users" });
      } catch (e) {}
    },
    async resetPassword(){
      try{
        this.$axios.post(`/admin/resetpassword/`+this.$route.params.id)
        .then((res) =>{
          // console.log(res.data);
          if(res.data.statut == 'OK'){
            alert(res.data.message);
          }else{
            alert(res.data.message);
          }
        });
      }catch (e) {
        console.log(e);
      }
    }
  },
};
</script>
