<template>
  <div>
    <v-row justify="center">
      <v-col cols="12" lg="10">
        <v-card>
          <v-card-text>
            <v-toolbar flat>
              <v-toolbar-title>ตั้งค่า - ผู้ใช้งาน</v-toolbar-title>
            </v-toolbar>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="12" lg="10">
        <FormSetupUserAdmin @onSubmit="onSubmit" />
      </v-col>
    </v-row>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "admin-users" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("user", ["create"]),
    async onSubmit(form) {
      try {
        await this.create(form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าผู้ใช้งานสำเร็จเรียบร้อย",
        });


        this.$router.push({ name: "admin-users" });
        this.$refs.form.reset();
      } catch (e) {}
    },
  },
};
</script>
