<template>
  <v-data-table
    v-if="request"
    :headers="headers"
    :items="request"
    :expanded.sync="expaned"
    :single-expand="singleExpand"
    item-key="requestId"
    show-expand
  >
    <template v-slot:item.dateRange="{ item }">
      {{ $dayjs(item.startTime).format("DD/MM/YYYY HH:mm") }}
    </template>
    <template v-slot:item.endTime="{item}">
      {{$dayjs(item.endTime).format("DD/MM/YYYY HH:mm") }}
    </template>
    <template v-slot:item.locations="{item}">
      <template v-if="item.locations">
        <span v-for="({location, reqId}, index) in item.locations" :key="reqId" >
          {{ location }}
          <template v-if="index < item.locations.length - 1">
            ,&nbsp;
          </template>
        </span>
      </template>
      <template v-else>
        -
      </template>
    </template>
    <template v-slot:item.mileage="{ item }">
      <template v-if="item.startMile && item.endMile">
        {{ item.startMile }} - {{ item.endMile }}
        <i>({{ item.endMile - item.startMile }})</i>
      </template>
      <template v-else> - </template>
    </template>
    <template v-slot:expanded-item="{ headers, item }">
      <td :colspan="headers.length">
        <div class="my-3">
          <p><strong>รายละเอียดใช้งานรถยนต์</strong></p>
          <hr class="my-3" />
          <template v-if="item.success">
            <div class="row">
              <div class="col" cols="12">
                <p><strong>เบอร์ผู้ใช้ : </strong> {{item.tel}}</p>
              </div>
              <div class="col">
                <p><strong>เริ่มใช้งาน : </strong> {{$dayjs(item.success.startTime).format("DD/MM/YYYY HH:mm")}}  </p>
              </div>
              <div class="col">
                <p><strong>ส่งคืนรถ : </strong> {{$dayjs(item.success.updatedAt).format("DD/MM/YYYY HH:mm")}}</p>
              </div>
            </div>
          </template>
          <template v-if="item.order">
            <p class="mb-0"><strong>คำถามประเมิน</strong></p>
            <v-data-table
              v-if="item.order.answers"
              :headers="answersHeader"
              :items="item.order.answers"
              :hide-default-footer="true"
              disable-pagination
              dense
            >
              <template #item.question="{ item }">
                {{ item.numbers ? item.numbers.question : '-' }}
              </template>
            </v-data-table>
          </template>

          <template  v-if="item.fuels">
            <p class="mt-4 mb-0"><strong>รายการค่าน้ำมัน</strong></p>
            <v-data-table
              v-if="item.fuels"
              :headers="headersSuccess"
              :items="item.fuels"
              :hide-default-footer="true"
              disable-pagination
              dense
            >
              <template #item.amountMile="{item}">
                {{ item.amountMile }}
              </template>
              <template #item.receiptUrl="{item}">
                  <v-btn
                    v-if="item.receiptUrl"
                    class="orange lighten-5"
                    color="warning"
                    :href="item.receiptUrl"
                    outlined
                    download
                  >
                    <v-icon left>download</v-icon>
                    รูปใบเสร็จ
                  </v-btn>
              </template>
            </v-data-table>
          </template>
        </div>
      </td>
    </template>
  </v-data-table>
</template>

<script>
import RequestDetailTable from "./RequestDetailTable.vue";
export default {
  components: { RequestDetailTable },
  props: {
    request: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      expaned: [],
      singleExpand: true,
      headers: [
        { text: "ใช้งานวันที่", value: "dateRange" },
        { text: "ถึงวันที่", value: "endTime" },
        { text: "ผู้ใช้งาน", value: "travelerName" },
        { text: "สถานที่", value: "locations" },
        { text: "จำนวนผู้โดยสาร", align:"center", value: "passengerNo" },
        { text: "เลขไมล์", value: "mileage" },
      ],
      answersHeader:[
        {text: "คำถามประเมิน", value: 'question'},
        {text: "คำตอบ", value: 'answerText'}
      ],
      headersSuccess:[
        {text: 'ไมล์ที่เติม', value:"amountMile"},
        {text: 'จำนวนลิตร', value:"amountLiter"},
        {text: 'ราคาต่อลิตร', value:"pricePerLiter"  },
        {text: 'ราคาน้ำมันที่เติมรวม', value:"totalPrice"},
        {text: 'สถานรีบริการ', value:"name"},
        {text: 'ใบเสร็จ', value: "receiptUrl"}

      ]
    };
  },
  methods:{
    convertToArray(obj){
      var array = Object.keys(obj)
          .map(function(key) {
              return obj[key];
          });
      // ["hello", "this is", "javascript!"]
      return array;
    }
  }
};
</script>
