<template>
  <div>
  <v-data-table
    :headers="headers"
    :items="details"
    :hide-default-footer="true"
    disable-pagination
    dense
  >
    <template #item.startTime="{ item }">
      {{ item.repair_detail  ? item.repair_detail:  '-' }}
    </template>
    <template #item.endTime="{ item }">
      {{ item.spare_detail  ? item.spare_detail: '-' }}
    </template>
  </v-data-table>
  </div>
</template>

<script>
export default {
  props: {
    details: {
      type: Object,
      default: () => {},
    },
  },
  data() {
    return {
      headers: [
        {
          text: "เวลาที่เริ่มใช้รถ",
          align: "left",
          value: "startTime",
          sortable: false,
        },
        {
          text: "เวลาที่ส่งคืนรถยนต์",
          align: "left",
          value: "endTime",
          sortable: false,
        },
      ],
    };
  },
  mounted() {
    // console.log(this.details);
  },
};
</script>
