<template>
  <v-container class="my-10">
    <v-col cols="12" sm="12" md="10" lg="10" class="mx-auto">
      <!-- <v-row class="d-flex justify-center"> -->
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-row>
          <v-col>
            <v-autocomplete
              :items="allBranchs"
              item-text="nameFormat"
              item-value="branchId"
              label="ระบุสาขา"
              outlined
              height="50"
              dense
              :rules="branchApproveRules"
              v-model="forms.branchId"
              required
              @change="changeBranchId"
            ></v-autocomplete>
            <v-autocomplete
              :items="allAgencies"
              item-text="nameFormat"
              item-value="agencyId"
              label="ระบุแผนก"
              height="50"
              outlined
              dense
              :rules="agencyApproveRules"
              v-model="forms.agencyId"
              required
              @change="getData"
            ></v-autocomplete>
            <v-card
              outlined
              dense
              v-for="(input, i) in forms.levels"
              :key="`placeInput-${i}`"
              class="my-3"
            >
              <v-col>
                <v-select
                  :items="typesApprove"
                  placeholder="ประเภทการอนุมัติ"
                  item-text="name"
                  item-value="id"
                  outlined
                  height="50"
                  dense
                  :rules="typeIdRules"
                  v-model="input.typeId"
                  name="type"
                  required
                  @change="changeTypeId(input)"
                ></v-select>

                <!-- create approve setting people -->
                <div>
                  <div class="border" v-if="input.typeId == 1">
                    <v-icon
                      class="btn-add-remove"
                      color="#fff"
                      @click="decrement(input)"
                    >
                      remove
                    </v-icon>
                    {{ input.amount }}
                    <v-icon
                      class="btn-add-remove"
                      color="#fff"
                      @click="increment(input)"
                    >
                      add
                    </v-icon>
                  </div>

                  <v-autocomplete
                    v-if="input.userIds.length < 10 || input.typeId === 2"
                    :items="filterUsers"
                    item-text="name"
                    item-value="userId"
                    append-icon=""
                    placeholder="+ เพิ่มผู้อนุมัติ"
                    height="50"
                    outlined
                    dense
                    v-model="userId"
                    @input="addName(i, input)"
                    style="margin-top: 20px"
                  ></v-autocomplete>

                  <v-col>
                    <v-row
                      v-for="(input2, j) in input.userIds"
                      :key="j"
                      class="border"
                      style="
                        padding-right: 10px;
                        padding-left: 10px;
                        margin-bottom: 20px;
                      "
                    >
                      <div>
                        <!-- <v-text-field
                          flat
                          dense
                          solo
                          height="30"
                          :rules="nameApprove"
                          v-model="input2.name"
                          required
                        ></v-text-field> -->
                        {{ input2.name }}
                      </div>
                      <div>
                        <v-icon
                          color="#e79918"
                          large
                          @click="removeName(i, j, input2)"
                        >
                          {{ icons.mdiCached }}
                        </v-icon>
                      </div>
                    </v-row>
                  </v-col>
                </div>

                <v-col class="d-flex justify-end">
                  <v-btn
                    medium
                    outlined
                    color="#E79918"
                    rounded
                    v-show="forms.levels.length > 1"
                    @click="removeField(i, forms.levels)"
                  >
                    ลบ
                  </v-btn>
                </v-col>
              </v-col>
            </v-card>
          </v-col>
        </v-row>
        <v-row v-if="forms.branchId && forms.agencyId">
          <v-col col="12" sm="12" md="6" lg="6" class="d-flex justify-start">
            <v-col col="10" sm="12" md="12" lg="12">
              <v-btn
                color="#E79918"
                outlined
                block
                height="50"
                width="150"
                rounded
                :disabled="!forms.branchId || !forms.agencyId"
                @click="addField()"
              >
                <v-icon>mdi-plus</v-icon>
                เพิ่มลำดับการอนุมัติ
              </v-btn>
            </v-col>
          </v-col>

          <v-col col="12" sm="12" md="6" lg="6" class="d-flex justify-end">
            <v-col col="10" sm="12" md="12" lg="12">
              <v-btn
                color="#e79918"
                :disabled="!valid"
                @click="validate"
                block
                class="white--text"
                rounded
                width="150"
                height="50"
                type="submit"
              >
                บันทึกข้อมูล
              </v-btn>
            </v-col>
          </v-col>
        </v-row>
      </v-form>
      <!-- </v-row> -->
    </v-col>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCached } from "@mdi/js";
// var vm = new Vue({
export default {
  middleware: "user-authenticated",
  data: () => ({
    icons: {
      mdiCached
    },
    valid: true,
    // myHtmlCode: "",

    // displayAll: {
    //   display: "none"
    // },
    // displaySet: {
    //   display: "none"
    // },
    userId: null,
    nameApprove: [(v) => !!v || "กรุณากรอกชื่อเท่ากับจำนวนผู้อนุมัติ"],
    branchApproveRules: [(v) => !!v || "กรุณาระบุสาขา"],
    agencyApproveRules: [(v) => !!v || "กรุณาระบุแผนก"],
    typeIdRules: [(v) => !!v || "กรุณาระบุประเภทการอนุมัติ"],
    nameApproveRules: [(v) => !!v || "กรุณาระบุผู้อนุมัติ"],
    typesApprove: [
      { id: 1, name: "อนุมัติตามจำนวนที่กำหนด" },
      { id: 2, name: "อนุมัติทุกคน" },
    ],
    min: 0,
    typesName: [
      { id: 1, nameApprove: "ผู้อนุมัติ 1" },
      { id: 2, nameApprove: "ผู้อนุมัติ 2" },
      { id: 3, nameApprove: "ผู้อนุมัติ 3" },
      { id: 4, nameApprove: "ผู้อนุมัติ 4" },
    ],
    approveData: {},
    forms: {
      companyId: null,
      branchId: null,
      agencyId: null,
      approveTypeId: null,
      levels: []
    },
    addLevelUsers: [],
    allBranchs: [],
    allAgencies: [],
    filterUsers: [],
    selectedUserIds: [],
    users: []
  }),
  computed: {
    approveTypeId() {
      return this.$route.query.approveTypeId;
    },
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    if (this.approveTypeId === "1") {
      this.setTitle("ตั้งค่า - การอนุมัติ (ขอใช้รถยนต์)");
    } else if (this.approveTypeId === "2") {
      this.setTitle("ตั้งค่า - การอนุมัติ (สรุปการใช้)");
    } else if (this.approveTypeId === "3") {
      this.setTitle("ตั้งค่า - การอนุมัติ (ขอซ่อม)");
    } else {
      this.setTitle("ตั้งค่า - การอนุมัติ");
    }
    this.setButton({
      type: "back",
      target: { name: "setup-dashboardApprove" },
    });

    this.forms.approveTypeId = this.$route.query.approveTypeId;
    this.forms.companyId = this.$auth.user.companyId;
    this.getBranch();
    this.getData();
    this.getUser();
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    changeTypeId(input) {
      if (input.typeId === 1) {
        input.amount = input.userIds.length;
      }
      if (input.typeId === 2) {
        input.amount = 0;
      }
    },
    async addName(i, levels) {
      const userId = this.userId;
      const apiUrl = `/users/${userId}`;
      const res = await this.$axios.get(apiUrl);

      if (!Array.isArray(levels.userIds)) {
        levels.userIds = [];
      }

      levels.userIds.push({ ...res.data });
      this.selectedUserIds.push(this.userId);
      this.getFilterUsers();
      this.userId = null;
    },
    getFilterUsers() {
      this.filterUsers = this.users.filter(
        (x) => !this.selectedUserIds.includes(x.userId)
      );
    },
    async getUser() {
      const apiUrl = "/users";
      const res = await this.$axios.get(apiUrl);
      this.users = res.data;
      this.filterUsers = res.data;
    },
    async getData() {
      if (this.forms.branchId && this.forms.agencyId) {
        try {
          const apiUrl = `/approves/type/${this.forms.approveTypeId}?companyId=${this.forms.companyId}&branchId=${this.forms.branchId}&agencyId=${this.forms.agencyId}`;
          const body = {
            approveTypeId: this.forms.approveTypeId,
            companyId: this.forms.companyId,
            branchId: this.forms.branchId,
            agencyId: this.forms.agencyId,
          };
          const res = await this.$axios.get(apiUrl);
          this.forms = { ...this.forms, ...res.data };
          for (let i = 0; i < this.forms.levels.length; i++) {
            for (let j = 0; j < this.forms.levels[i].userIds.length; j++) {
              this.selectedUserIds.push(this.forms.levels[i].userIds[j].userId);
              this.getFilterUsers();
              this.userId = null;
            }
          }

          if (!res.data.levels) {
            this.forms.levels = [];
          }
        } catch (e) {
          const $d = this;
          this.forms = {
            ...this.forms,
            levels: [],
          };
          $d.$toast.global.warning({
            message: "ไม่มีข้อมูล การอนุมัติ",
          });
          console.log("An error has occurred." + e);
        }
      }
    },
    async getBranch() {
      // console.log(`test => `, this.$route.query)
      const { approveTypeId } = this.$route.query;
      const apiUrl = `/branches/company/${this.user.companyId}?approveTypeId=${approveTypeId}`;
      const res = await this.$axios.get(apiUrl);

      const branches = res.data;
      this.allBranchs = branches.map((x) => ({
        ...x,
        nameFormat: x.isApproveCreated ? `* ${x.name}` : x.name,
      }));
    },
    changeBranchId() {
      this.forms.agencyId = "";
      this.getAgency();
    },
    async getAgency() {
      const apiUrl = `/agencies/branch/${this.forms.branchId}?approveTypeId=${this.approveTypeId}`;
      const res = await this.$axios.get(apiUrl);
      const agencies = res.data;
      this.allAgencies = agencies.map((x) => ({
        ...x,
        nameFormat: x.isApproveCreated ? `* ${x.name}` : x.name,
      }));
    },
    async removeName(i, index, user) {
      this.selectedUserIds = this.selectedUserIds.filter(
        (x) => x !== user.userId
      );
      this.forms.levels[i].userIds.splice(index, 1);
      this.min = this.selectedUserIds.length;
      this.getFilterUsers();
    },
    async increment(item) {
      // console.log("click_click");
      if (item.amount < 10) {
        item.amount = item.amount + 1;
      }
    },
    async decrement(item) {
      if (item.amount > 0) {
        item.amount = item.amount - 1;
      }
    },
    async addField(i) {
      //ฟังก์ชัน สำหรับเพิ่ม text input ชื่อ levels
      this.forms.levels.push({ amount: 0, userIds: [] });
    },
    async removeField(index, fieldType) {
      //ฟังก์ชัน สำหรับลบ text input ชื่อ levels
      fieldType.splice(index, 1);
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const { approveTypeId } = this.$route.query;
      const apiUrl = `/approves/${approveTypeId}`;
      const $d = this;
      await this.$axios
        .patch(apiUrl, this.forms)
        .then(function(respone) {
          $d.$toast.global.success({
            message: "บันทึกข้อมูลการตั้งค่า - การอนุมัติ สำเร็จเรียบร้อย",
          });
          $d.$router.push("/setup/dashboardApprove");
        })
        .catch(function (error) {
          console.log("An error has occurred." + error);
        });
    },
  },
};
</script>

<style scope>
.border {
  border-radius: 5px;
  border: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.btn-add-remove {
  background-color: #e79918;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 10px;
}
.between {
  display: flex;
  justify-content: space-between;
}
.inputPrice input::-webkit-outer-spin-button,
.inputPrice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.pad {
  padding: inherit !important;
}
.centered-input input {
  text-align: center;
}
@media only screen and (max-width: 415px) {
}
</style>

<style>
.hidden-sm-and-down .v-icon {
  color: #e79918 !important;
}
</style>
