<template>
  <div>
    <v-container class="my-10">
      <v-col cols="12" sm="12" md="12" lg="12">
        <v-row class="d-flex flex-row-reverse">
          <v-btn
            color="#e79918"
            to="contract"
            dark
            rounded
            class="mr-8"
            v-bind="attrs"
            v-on="on"
            ><v-icon>mdi-plus</v-icon>
            สร้าง
          </v-btn>
        </v-row>
      </v-col>
    </v-container>
    <v-data-table
      :headers="headers"
      :items="desserts"
      sort-by="calories"
      class="elevation-1"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า-สัญญา</v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>
          <v-dialog v-model="dialog" max-width="500px">
          </v-dialog>
          <v-dialog v-model="dialogDelete" max-width="500px">
            <v-card>
              <v-card-title class="text-h4"
                >ต้องการลบทิ้งใช่หรือไม่</v-card-title
              >
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="closeDelete"
                  >Cancel</v-btn
                >
                <v-btn color="blue darken-1" text @click="deleteItemConfirm"
                  >OK</v-btn
                >
                <v-spacer></v-spacer>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-btn color="#e79918" to="contract" @click="editItem(item)"
          ><v-icon small class="mr-2" @click="editItem(item)">
            mdi-pencil</v-icon
          ></v-btn
        >
        <v-btn color="#e79918" @click="deleteItem(item)"
          ><v-icon small class="mr-2" @click="deleteItem(item)">
            mdi-delete
          </v-icon></v-btn
        >
      </template>
      <template v-slot:no-data>
        <v-btn color="primary" @click="initialize"> Reset </v-btn>
      </template>
    </v-data-table>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
export default {
  middleware: "user-authenticated",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    headers: [
      {
        text: "เลขที่สัญญา",
        align: "start",
        sortable: false,
        value: "contractNumber",
      },
      {
        text: "บริษัท",
        align: "start",
        sortable: false,
        value: "nameCompany",
      },
      {
        text: "แผนก",
        align: "start",
        sortable: false,
        value: "agency",
      },
      { text: "", value: "" },
      { text: "ดำเนินการ", value: "actions", sortable: false },
    ],
    desserts: [],
    editedIndex: -1,
    editedItem: {
      contractNumber: 0,
      nameCompany: "",
      agency: 0,
    },
    defaultItem: {
      contractNumber: 0,
      nameCompany: "",
      agency: 0,
    },
  }),
  computed: {
     isAllowContract() {
      return this.$auth?.user?.permission?.isAdmin || ['contract_create'].some((action) => this.$store.getters['permissions'].includes(action))
    },
    formTitle() {
      return this.editedIndex === -1 ? "New Item" : "Edit Item";
    },
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
    dialogDelete(val) {
      val || this.closeDelete();
    },
  },

  created() {
    this.initialize();
  },
   mounted() {
     this.setButton({
      type: 'back',
      target: { name: 'setup' }
    });
  },
  methods: {
      ...mapActions(['dateFormat', 'logout', 'numberWithCommas', 'setTitle', 'setButton']),
    linkEdit(id) {
      this.$router.push(`/setup/contract/${id}`)
    },
    initialize() {
      this.desserts = [
        {
          contractNumber: 1,
          nameCompany: "vuejs",
          agency: 2,
        },
        {
          contractNumber: 1,
          nameCompany: "D company",
          agency: 2,
        },
        {
          contractNumber: 1,
          nameCompany: "vuejs",
          agency: 2,
        },
      ];
    },
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialog = true;
    },

    deleteItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.dialogDelete = true;
    },

    deleteItemConfirm() {
      this.desserts.splice(this.editedIndex, 1);
      this.closeDelete();
    },

    close() {
      this.dialog = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    closeDelete() {
      this.dialogDelete = false;
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      });
    },

    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem);
      } else {
        this.desserts.push(this.editedItem);
      }
      this.close();
    },
  },
};
</script>
<style>
.elevation-1 {
  margin: 50px 5px 50px;
  width: 1500px;
}
</style>
