<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - บริษัท</v-toolbar-title>
    </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card>
        <v-card-text class="border-bottom">
          <v-row>
            <v-col cols="12">
              <v-text-field
                v-model="form.name"
                :rules="name"
                label="ชื่อบริษัท"
                outlined
                dense
                required
              />
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="form.address"
                :rules="address"
                label="ที่อยู่"
                outlined
                dense
                required
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="form.province"
                :items="provinces"
                :rules="provinceRule"
                :disabled="provinces.length === 0"
                item-text="province"
                item-value="province"
                label="จังหวัด"
                required
                outlined
                dense
                @change="changeProvince"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="form.amphoe"
                :items="amphoes"
                :rules="amphoeRule"
                :disabled="amphoes.length === 0"
                item-text="amphoe"
                item-value="amphoe"
                label="อำเภอ"
                outlined
                dense
                required
                @change="changeAmphoe"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="form.district"
                :items="districts"
                :rules="districtRule"
                :disabled="districts.length === 0"
                item-text="district"
                item-value="district"
                label="ตำบล"
                outlined
                dense
                required
                @change="changeDistrict"
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-autocomplete
                v-model="form.districtId"
                :items="zipcodes"
                :rules="zipcodeRule"
                :disabled="zipcodes.length === 0"
                item-text="zipcode"
                item-value="districtId"
                label="รหัสไปรษณีย์"
                outlined
                dense
                required
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text class="border-bottom">
          <v-row>
            <v-col cols="12">
              <v-autocomplete
                v-model="form.responsibleUserId"
                :items="users"
                :rules="nameResponsibleRules"
                item-text="name"
                item-value="userId"
                label="ชื่อผู้รับผิดชอบ"
                outlined
                dense
                required
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                :value="user ? user.tel : ''"
                label="เบอร์โทร"
                type="number"
                outlined
                dense
                disabled
                required
              />
            </v-col>
            <v-col cols="12" md="6">
              <v-text-field
                :value="user ? user.email : ''"
                label="อีเมล"
                type="email"
                outlined
                disabled
                dense
                required
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text class="text-center">
          <v-btn
            :disabled="!valid"
            class="orange lighten-5"
            type="submit"
            color="warning"
            outlined
            large
          >
            <v-icon left>save</v-icon>
            บันทึกข้อมูล
          </v-btn>
        </v-card-text>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",

  data: () => ({
    valid: true,
    name: [(v) => !!v || "กรุณากรอกชื่อบริษัท"],
    address: [(v) => !!v || "กรุณากรอกที่อยู่บริษัท"],
    districtRule: [(v) => !!v || "กรุณากรอกตำบล"],
    amphoeRule: [(v) => !!v || "กรุณากรอกอำเภอ"],
    provinceRule: [(v) => !!v || "กรุณากรอกจังหวัด"],
    zipcodeRule: [(v) => !!v || "กรุณากรอกรหัสไปรษณีย์"],
    username: [(v) => !!v || "กรุณากรอกชื่อผู้รับผิดชอบ"],
    tel: [(v) => !!v || "กรุณากรอกเบอร์โทรศัพท์"],
    email: [(v) => !!v || "กรุณากรอกอีเมล"],
    nameResponsibleRules: [(v) => !!v || "กรุณากรอกชื่อผู้รับชอบ"],
    form: {
      companyId: null,
      name: null,
      brands: null,
      zipcode: null,
      address: null,
      district: null,
      amphoe: null,
      province: null,
      responsibleUserId: null,
    },
    provinces: [],
    amphoes: [],
    districts: [],
    allDistrict: [],
    zipcodes: [],
  }),
  computed: {
    ...mapGetters("user", ["users"]),
    user() {
      return this.users.find(
        ({ userId }) => userId === this.form.responsibleUserId
      );
    },
    isAllowBussiness() {
      return ["company_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
  },
  mounted() {
    this.getUsers();

    this.provinces = [];
    this.amphoes = [];
    this.districts = [];
    this.zipcodes = [];

    this.form = {
      companyId: this.$auth.user.company?.companyId,
      name: this.$auth.user.company?.name,
      address: this.$auth.user.company?.address,
      districtId: this.$auth.user?.company?.districtId,
      province: this.$auth.user?.company?.district?.province,
      amphoe: this.$auth.user?.company?.district?.amphoe,
      district: this.$auth.user?.company?.district?.district,
      zipcode: this.$auth.user?.company?.district?.zipcode,
      responsibleUserId: this.$auth.user?.company?.responsibleUserId,
    };

    this.getProvinces().then((data) => (this.provinces = data));

    if (this.form.province) {
      this.getAmphoes(this.form.province).then((data) => (this.amphoes = data));
    }

    if (this.form.province && this.form.amphoe) {
      this.getDistricts(this.form).then((data) => (this.districts = data));
    }

    if (this.form.province && this.form.amphoe && this.form.district) {
      this.getZipCodes(this.form).then((data) => (this.zipcodes = data));
    }

    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions([
      "setButton",
      "getProvinces",
      "getAmphoes",
      "getDistricts",
      "getZipCodes",
      "updateMyCompany",
    ]),
    ...mapActions("user", { getUsers: "get" }),
    async validate() {
      this.$refs.form.validate();
    },
    changeProvince() {
      this.amphoes = [];
      this.districts = [];
      this.zipcodes = [];
      this.form.amphoe = null;
      this.form.district = null;
      this.form.zipcode = null;
      this.getAmphoes(this.form.province).then((data) => (this.amphoes = data));
    },
    changeAmphoe() {
      this.districts = [];
      this.zipcodes = [];
      this.form.district = null;
      this.form.zipcode = null;
      this.getDistricts(this.form).then((data) => (this.districts = data));
    },
    changeDistrict() {
      this.zipcodes = [];
      this.form.zipcode = null;
      this.getZipCodes(this.form).then((data) => (this.zipcodes = data));
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      try {
        await this.updateMyCompany(this.form);
        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าบริษัทสำเร็จเรียบร้อย",
        });
      } catch (e) {}
    },
    goBack() {
      this.$router.push("/setup");
    },
  },
};
</script>

<style scope>
.pad {
  padding: inherit !important;
}

@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (min-device-width: 200px) and (max-device-width: 325px) and (orientation: portrait) {
  .width-text {
    width: 180px;
  }
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 326px) and (max-device-width: 350px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 351px) and (max-device-width: 370px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 400px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 401px) and (max-device-width: 420px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 421px) and (max-device-width: 450px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 451px) and (max-device-width: 480px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 525px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}
@media only screen and (min-device-width: 526px) and (max-device-width: 550px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
}
@media only screen and (max-device-width: 2000px) {
  .row {
    text-align: right;
  }
}
</style>
<style>
/* .hidden-sm-and-down .v-icon {
  color: #e79918 !important;
} */
</style>
