<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - คำถามประเมิน</v-toolbar-title>
    </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card>
        <v-card-text class="border-bottom">
          <v-row>
            <v-col cols="12" md="6" lg="8" class="mx-auto">
              <v-autocomplete
                v-model="form.branchId"
                :items="branches"
                :rules="branchQuestionRules"
                item-text="name"
                item-value="branchId"
                label="ระบุสาขา"
                outlined
                dense
                required
                @change="changeBranchId"
                hide-details
              >
                <template v-slot:item="{ item }">
                  <span v-if="item.is_questionnaire_created">*</span>{{ item.name }}
                </template>
              </v-autocomplete>
            </v-col>
            <v-col cols="12" md="6" lg="8" class="mx-auto">
              <v-autocomplete
                v-model="form.agencyId"
                :items="agencies"
                item-text="name"
                item-value="agencyId"
                label="ระบุแผนก"
                outlined
                dense
                @change="getData"
              >
                <template v-slot:item="{ item }">
                  <span v-if="item.is_questionnaire_created">*</span>{{ item.name }}
                </template>
              </v-autocomplete>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text
          v-for="(item, questionIndex) in form.questions"
          :key="`level-${questionIndex}`"
          class="border-bottom pt-6 pb-6"
        >
          <v-row>
            <v-col cols="12" lg="8" class="mx-auto">
              <v-text-field
                v-model="item.question"
                :rules="statusQuestionRules"
                label="คำถามประเมิน"
                outlined
                dense
                required
                hide-details
              />
            </v-col>
            <v-col cols="12" lg="8" class="mx-auto">
              <v-select
                v-model="item.questionTypeId"
                :rules="typeQuestionRules"
                :items="typesQuestion"
                label="ประเภทคำตอบ"
                placeholder="เลือกคำตอบ"
                item-text="name"
                item-value="id"
                name="type"
                outlined
                dense
                required
                @change="changeQuestionTypeId(item)"
                hide-details
              />
            </v-col>
            <v-col v-if="item.questionTypeId === 1 || item.questionTypeId === 3" cols="12" lg="8" class="mx-auto">
              <p>ตัวเลือก</p>
              <ol>
                <li
                  v-for="(option, optionIndex) in item.options"
                  :key="optionIndex"
                >
                  <v-text-field v-model="option.name" outlined dense required>
                    <template #append-outer>
                      <v-btn
                        color="error"
                        @click="removeOption(item.options, optionIndex)"
                      >
                        ลบ
                      </v-btn>
                    </template>
                  </v-text-field>
                </li>
              </ol>
            </v-col>
            <v-col cols="12" md="12" lg="8" class="mx-auto">
              <v-checkbox
                v-model="item.isRequire"
                label="ต้องระบุ"
                value="1"
                hide-details
                class="mt-0"
              ></v-checkbox>
            </v-col>
            <v-col cols="12" lg="8" class="mx-auto">
              <div class="text-center">
                <v-btn
                  v-if="item.questionTypeId === 1 || item.questionTypeId === 3"
                  class="white--text"
                  color="warning"
                  outlined
                  @click="addOptions(item.options)"
                >
                  <v-icon>add</v-icon>
                  เพิ่มตัวเลือก
                </v-btn>
                <v-btn
                  color="error"
                  outlined
                  @click="removeQuestionnaire(questionIndex)"
                >
                  <v-icon>remove</v-icon>
                  ลบคำถาม
                </v-btn>
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text
          v-if="form.branchId || form.agencyId"
          class="border-bottom text-center"
        >
          <v-btn color="#E79918" outlined @click="addQuestionnaire">
            <v-icon>mdi-plus</v-icon>
            เพิ่มคำถาม
          </v-btn>
          <v-btn
            :disabled="!valid"
            class="orange lighten-5"
            type="submit"
            color="warning"
            outlined
          >
            <v-icon left>save</v-icon>
            บันทึกข้อมูล
          </v-btn>
        </v-card-text>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    valid: true,
    branchQuestionRules: [(v) => !!v || "กรุณาระบุสาขา"],
    agencyQuestionRules: [(v) => !!v || "กรุณาระบุแผนก"],
    typeQuestionRules: [(v) => !!v || "กรุณาเลือกคำตอบ"],
    statusQuestionRules: [(v) => !!v || "กรุณากรอกคำตอบ"],
    typesQuestion: [
      { id: 1, name: "คำตอบที่มีตัวเลือก" },
      { id: 2, name: "คำตอบสั้น" },
      { id: 3, name: "คำตอบหลายตัวเลือก"}
    ],
    form: {
      companyId: null,
      branchId: null,
      agencyId: null,
      questions: [],
    },
  }),
  computed: {
    ...mapGetters("branch", ["branches"]),
    agencies() {
      return (
        this.branches.find(({ branchId }) => this.form.branchId === branchId)
          ?.agencies || []
      );
    },
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.form.companyId = this.$auth.user.companyId;
    this.getBranches();
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("branch", { getBranches: "get" }),
    ...mapActions("questionnaire", { getQuestionnaires: "get", updateQuestionnaires: 'update' }),
    removeOption(options, index) {
      options.splice(index, 1);
      this.$forceUpdate();
    },
    addOptions(options) {
      options.push({ name: null });
      this.$forceUpdate();
    },
    addQuestionnaire() {
      this.form.questions.push({
        options: [],
      });

      this.$forceUpdate();
    },
    removeQuestionnaire(index) {
      this.form.questions.splice(index, 1);
      this.$forceUpdate();
    },
    changeQuestionTypeId(input) {
      if (input.options === null) {
        input.sort = 1
        if (input.questionTypeId === 1 || input.questionTypeId === 3) {
          input.options = [
            { name: '', sort: 1 },
            { name: '', sort: 1 },
            { name: '', sort: 1 },
          ]
        }
        if (input.questionTypeId === 2) {
          input.options = null
        }
      }
    },

    async validate() {
      this.$refs.form.validate();
    },
    async onSubmit() {
      try {
        await this.updateQuestionnaires(this.form);

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่า - คำถามประเมิน สำเร็จเรียบร้อย",
        });
      } catch (e) {}
    },
    changeBranchId() {
      this.form.agencyId = null;
      this.getData();
    },
    async getData() {
      try {
        const data = await this.getQuestionnaires({
          companyId: this.form.companyId,
          branchId: this.form.branchId,
          agencyId: this.form.agencyId,
        });

        this.form.questions = [...data];
      } catch (e) {
        this.form.questions = [];
      }
    },
  },
};
</script>
