<template>
  <v-container class="my-10">
    <v-col cols="12" sm="12" md="12" lg="12">
      <v-form
        ref="form"
        v-model="valid"
        lazy-validation
        @submit.prevent="onSubmit"
      >
        <v-card class="mx-auto box" max-width="500">
          <v-row>
            <v-col cols="6">
              <v-text-field
                label="ชื่อ"
                outlined
                dense
                v-model="forms.nameUser"
                :rules="nameUserRules"
                required
              ></v-text-field>
            </v-col>
            <v-col cols="6">
              <v-text-field
                label="นามสกุล"
                outlined
                dense
                v-model="forms.nameLastUser"
                :rules="nameLastUserRules"
                required
              ></v-text-field>
            </v-col>
          </v-row>
          <v-text-field
            label="ชื่อผุ้ใช้งาน"
            outlined
            dense
            v-model="forms.usernameUser"
            :rules="usernameUserRules"
            required
          ></v-text-field>
          <v-text-field
            label="รหัสผ่าน"
            outlined
            dense
            v-model="forms.passwordUser"
            :rules="passwordUserRules"
            required
            type="password"
          ></v-text-field>
          <v-text-field
            label="อีเมล"
            outlined
            dense
            v-model="forms.emailUser"
            :rules="emailUserRules"
            required
            type="email"
          ></v-text-field>
          <v-text-field
            label="เบอร์โทร"
            outlined
            dense
            v-model="forms.phoneUser"
            :rules="phoneUserRules"
            required
            type="number"
          ></v-text-field>
          <v-text-field
            label="ตำแหน่ง"
            outlined
            dense
            v-model="forms.positionUser"
            :rules="positionUserRules"
            required
          ></v-text-field>
          <v-select
            :items="typesBranch"
            solo
            placeholder="สาขา"
            item-text="name"
            item-value="id"
            outlined
            dense
            :rules="branchUserRules"
            v-model="forms.branchUser"
            name="type"
            required
          ></v-select>
          <v-select
            :items="typesAgency"
            solo
            placeholder="แผนก"
            item-text="name"
            item-value="id"
            outlined
            dense
            :rules="agencyUserRules"
            v-model="forms.agencyUser"
            name="type"
            required
          ></v-select>
          <v-file-input
            prepend-icon="mdi-cloud-upload"
            label="อัพโหลดลายเซ็นต์"
            v-model="forms.fileUser"
            :rules="fileUserRules"
            accept="image/*"
            multiple
            outlined
            dense
            required
          ></v-file-input>

          <!-- <div>
            <v-btn
              color="normal"
              class="text-none"
              block
              rounded
              outlined
              depressed
              :loading="isSelecting"
              @click="onButtonClick"
            >
              <v-icon left>
                cloud_upload
              </v-icon>
              {{ buttonText }}
            </v-btn>
            <input
              ref="uploader"
              class="d-none"
              type="file"
              accept="image/*"
              :rules="fileUserRules"
              :v-model="forms.fileUser"
              @change="onFileChanged"
            />
          </div> -->
          <v-col>
            <v-btn
              color="#e79918"
              :disabled="!valid"
              @click="validate"
              block
              type="submit"
            >
              บันทึกข้อมูล
            </v-btn>
          </v-col>
          <v-col>
            <v-btn color="error" block class="mr-4" @click="reset()">
              ยกเลิกการกรอกข้อมูล
            </v-btn>
          </v-col>
        </v-card>
      </v-form>
    </v-col>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  middleware: "user-authenticated",
  data: () => ({
    // defaultButtonText: "อัพโหลดลายเซ็นต์",
    // selectedFile: null,
    // isSelecting: false,
    valid: true,
    nameUserRules: [v => !!v || "กรุณากรอกชื่อ"],
    nameLastUserRules: [v => !!v || "กรุณากรอกนามสกุล"],
    usernameUserRules: [v => !!v || "กรุณากรอกชื่อผู้ใช้งาน"],
    passwordUserRules: [v => !!v || "กรุณากรอกรหัสผ่าน"],
    emailUserRules: [v => !!v || "กรุณากรอกอีเมล"],
    phoneUserRules: [v => !!v || "กรุณากรอกเบอร์โทรศัพท์"],
    positionUserRules: [v => !!v || "กรุณากรอกตำแหน่ง"],
    branchUserRules: [v => !!v || "กรุณาระบุสาขา"],
    agencyUserRules: [v => !!v || "กรุณาระบุแผนก"],
    fileUserRules: [v => !!v || "กรุณาเลือกไฟล์อัพโหลด"],
    typesBranch: [
      { id: 1, name: "สาขา 1" },
      { id: 2, name: "สาขา 2" },
      { id: 3, name: "สาขา 3" },
      { id: 4, name: "สาขา 4" }
    ],
    typesAgency: [
      { id: 1, name: "แผนก 1" },
      { id: 2, name: "แผนก 2" },
      { id: 3, name: "แผนก 3" },
      { id: 4, name: "แผนก 4" }
    ],
    forms: {
      nameUser: null,
      nameLastUser: null,
      usernameUser: null,
      passwordUser: null,
      emailUser: null,
      phoneUser: null,
      positionUser: null,
      branchUser: null,
      agencyUser: null,
      fileUser: []
    }
  }),
  mounted() {
    this.setTitle("ตั้งค่า - ผู้ใช้งาน");
  },

  //   computed: {
  //     buttonText() {
  //       return this.selectedFile
  //         ? this.selectedFile.name
  //         : this.defaultButtonText;
  //     }
  //   },
  methods: {
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
    // async onButtonClick() {
    //   this.isSelecting = true;
    //   window.addEventListener(
    //     "focus",
    //     () => {
    //       this.isSelecting = false;
    //     },
    //     { once: true }
    //   );

    //   this.$refs.uploader.click();
    // },
    // async onFileChanged(e) {
    //   this.selectedFile = e.target.files[0];

    //   // do something
    // },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = this.forms;
      // console.log("body => ", body);
      //   const apiUrl = "";
      //   await this.$axios
      //     .post(apiUrl, forms)
      //     .then(function(respone) {
      //       console.log(respone.data);
      //       this.$toast.global.success({
      //         message: "บันทึกข้อมูลการตั้งค่า - ผู้ใช้งาน สำเร็จเรียบร้อย"
      //       });
      //       this.$router.push("/setup/dashboardUser");
      //     })
      //     .catch(function(error) {
      //       console.log("An error has occurred." + error);
      //     });
      console.log("submit");
    }
  }
};
</script>

<style scope>
.pad {
  padding: inherit !important;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
