<template>
  <div>
    <v-card>
       <v-toolbar
        outlined
        elevation="0"
        class=""
      >
        <v-toolbar-title>รายงานการขอใช้รถยนต์รายบุคคล</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 border-warning"
          @click.prevent="downloadExport()"
          download
          >
            <v-icon>download</v-icon>
            export
        </v-btn>
      </v-toolbar>
      <v-card-text>

        <p class="mb-0 mr-2"> <strong>ชื่อพนักงาน : </strong>{{user ? user.name :'-'}}</p>
        <div class="d-flex">
          <p class="mb-0 mr-2"> <strong>สาขา : </strong>{{user ? user.branch ? user.branch : '-' :'-'}}</p>
          <p class="mb-0 mr-2"> <strong>แผนก : </strong>{{user ? user.agency ? user.agency : '-' :'-'}}</p>
          <p class="mb-0 mr-2"> <strong>Tel : </strong>{{user ? user.tel ? user.tel : '-' : '-'}}</p>
        </div>
      </v-card-text>
      <v-data-table
        v-if="user"
        :headers=headers
        :items=user.request
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
      >

        <template #item.requestStart="{item}">
          {{ $dayjs(item.request_date_start).format("DD/MM/YYYY HH:mm") }}
        </template>
        <template #item.returnDate="{item}">
          {{ item.request_date_end ? $dayjs(item.request_date_end).format("DD/MM/YYYY HH:mm") : '-' }} <br/>
        </template>
        <template #item.receiptUrl="{item}">
          <v-btn
            :href="item.receiptUrl"
            target="_blank"
            color="orange"
            icon="download"
            outlined
          >
            <v-icon >mdi-download</v-icon>
          </v-btn>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    headers:[
      {
        text: 'เลขที่ใบขอ',
        align: "left",
        sortable: false,
        value: 'request_no'
      },
      {
        text: "ยี่ห้อ",
        align: "left",
        sortable: false,
        value: "brand"
      },
      {
        text: "หมายเลขทะเบียน",
        align: "left",
        sortable: false,
        value: "regisNumber"
      },
      {
        text: "ออกเดินทาง",
        align: "left",
        sortable: false,
        value: "requestStart"
      },
      {
        text: "ผู้ใช้รถ",
        align: "left",
        sortable: false,
        value: "travelerName"
      },
      {
        text: "สถานที่ไป",
        align: "left",
        sortable: false,
        value: "locations"
      },
      {
        text: "ไมล์เริ่มต้น",
        align: "left",
        sortable: false,
        value: "startMile"
      },
      {
        text: "กลับถึงสำนักงาน (วันที่)",
        align: "left",
        sortable: false,
        value: "returnDate"
      },
      {
        text: "ไมล์สิ้นสุด",
        align: "left",
        sortable: false,
        value: "endMile"
      },
      {
        text: "ระยะทาง",
        align: "left",
        sortable: false,
        value: "totalMile"
      },
      {
        text: "พนักงานขับรถ",
        align: "left",
        sortable: false,
        value: "driver"
      },
      {
        text: "หมายเหตุ",
        align: "left",
        sortable: false,
        value: "remark"
      },
      {
        text: "ใบเสร็จ",
        align: "left",
        sortable: false,
        value: "receiptUrl"
      }
    ],
    exportPaht:'http://localhost:9900/api/export/contract/'
  }),
  computed:{
    ...mapGetters("report",['user']),

  },
  methods:{
    ...mapActions("report",['getUser']),
    ...mapActions([
      "setButton",
    ]),
    goBack() {
      this.$router.push({ name: "reports-users" });
    },
    downloadExport(contractId,label){
      this.$axios.get(`export/contract/`+contractId)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    },
    setDataPage(){
        this.name = this.user.name
    }
  },
  mounted(){
    this.getUser(this.$route.params.id);
    this.setButton({
      type: "back",
      target: { name: "reports-users" },
    });
  }
}
</script>
