<template>
  <div>
    <v-card>
      <v-toolbar
        outlined
        elevation="0"
        class=""
      >
        <v-toolbar-title>รายงานการใช้น้ำมันรายเดือน</v-toolbar-title>
        <v-spacer></v-spacer>
        <DatePickerDialog
          v-model="dateFilterStart"
          label="วันที่"
          format="DD/MM/YYYY"
          :input="`${$dayjs().format('YYYY-MM-DD')}`"

        />
        <DatePickerDialog
          v-model="dateFilterEnd"
          label="ถึงวันที่"
          format="DD/MM/YYYY"
          :input="`${$dayjs().format('YYYY-MM-DD')}`"

        />
        <v-autocomplete
          v-model="selectCar"
          :items="cars"
          item-text="plateNumber"
          item-value="carId"
          label="ทะเบียน"
          outlined
          dense
          class="ma-2 mt-8 w-25"
          @click="(cars.length > 0)  ? getCarsByOils() : ''"
        ></v-autocomplete>
        <v-btn
          color="warning"
          outlined
          class="orange lighten-5 border-warning"
          @click.prevent="downloadExport()"
          download
          >
            <v-icon>download</v-icon>
            export
        </v-btn>
      </v-toolbar>
      <v-data-table
        :headers=headers
        :items="oils"
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
        :items-per-page="itemsPerPage"
        :page.sync="page"
        hide-default-footer
        :loading="loading"
      >
        <template #item.car="{item}">
          {{item.request.car.plateNumber}}
        </template>
        <template #item.createdUserId="{item}">
          {{item.request.travelerName}}
        </template>
        <template #item.amountMile="{item}">
          {{numberWithCommas(item.amountMile)}}
        </template>
        <template #item.pricePerLiter="{item}">
          {{numberWithCommas(item.pricePerLiter)}}
        </template>
        <template #item.totalPrice="{item}">
          {{numberWithCommas(item.totalPrice)}}
        </template>
        <template #item.receiptDate="{item}">
          {{item.receiptDate ? $dayjs(item.receiptDate).format('DD/MM/YYYY') : '-' }}
        </template>
        <template #item.createdAt="{item}">
          {{item.createdAt ? $dayjs(item.createdAt).format('DD/MM/YYYY HH:MM') :'-'}}
        </template>
        <template #item.receiptUrl="{item}">
           <v-btn
            v-if="item.receiptUrl"
            :href="item.receiptUrl"
            target="_blank"
            color="orange"
            icon="download"
            outlined
          >
            <v-icon >mdi-eye</v-icon>
          </v-btn>
        </template>
        <!-- <template #item.actions="{item}">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                class="mr-2"
                color="warning"
                icon
                v-bind="attrs"
                v-on="on"
                outlined
                @click.prevent="downloadExport(id = item.oilId)"
              >
                <v-icon>mdi-download</v-icon>
              </v-btn>
            </template>
            <span>รายละเอียด</span>
          </v-tooltip>

        </template> -->
      </v-data-table>
      <v-footer>
        <paginate
          v-if="!loading"
          :itemsPerPage_in="itemsPerPage"
          :perPageChoices_in="perPageChoices"
          :page_in="page"
          :max_page_in="max_page"
          @page="changePage"
          @itemsPerPage="changeItemsPerPage"
        />
      </v-footer>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
import paginate from "~/components/pagination/footer";
export default {
  data: () => ({
    headers:[
      {
        text: 'ทะเบียนรถ',
        align: "left",
        sortable: false,
        value: 'plateNumber'
      },
      {
        text: 'ผู้ใช้รถยนต์',
        align: "left",
        value: 'travelerName'
      },

      {
        text: 'ไมลค์ที่เติม',
        align: "right",
        sortable: false,
        value: 'amountMile'
      },
      {
        text: 'สถานนี',
        align: "right",
        sortable: false,
        value: 'name'
      },
      {
        text: 'ประเภท',
        align: "center",
        sortable: false,
        value: 'category'
      },
      {
        text: 'ลิตรละ',
        align: "right",
        sortable: false,
        value: 'pricePerLiter'
      },
      {
        text: 'จำนวนลิตร',
        align: "right",
        sortable: false,
        value: 'amountLiter'
      },
      {
        text: 'ทั้งหมด',
        align: "right",
        sortable: false,
        value: 'totalPrice'
      },
      {
        text: 'วันที่ใบเสร็จ',
        align: "left",
        sortable: false,
        value: 'receiptDate'
      },
      {
        text: 'วันที่สร้าง',
        align: "left",
        sortable: false,
        value: 'createdAt'
      },
      {
        text: "ใบเสร็จ",
        align: "left",
        sortable: false,
        value: "receiptUrl"
      }
      // {
      //   text: 'Actions',
      //   align: "center",
      //   sortable: false,
      //   value: 'actions'
      // },

    ],
    perPageChoices: [
      {text:'5' , value: 5},
      {text:'10' , value: 10},
      {text:'15' , value: 15},
      {text:'20' , value: 20},
    ],
    page: 1,
    itemsPerPage: 10,
    filterMonth: null,
    dateFilterStart: null,
    dateFilterEnd: null,
    selectCar: '',
    dateStart: null,
    dateEnd: null,
    nowDate: new Date().toISOString,
    dateStart: null,
    dateEnd : null,
    filterRange: [],
  }),
  components: {
    paginate
  },
  computed:{
    ...mapGetters("report",[
      'oils',
      "max_page",
      "loading",
      'cars'
    ])
  },
  methods:{
    ...mapActions("report",['getOils','getCarsByOils']),
    ...mapActions([
      "setButton",
    ]),
    changePage(data) {
      this.page = data;
    },
    changeItemsPerPage(data) {
      this.itemsPerPage = data;
    },
    goBack() {
      this.$router.push({ name: "reports" });
    },
    downloadExport(id,label){
      let carId = this.selectCar;
      this.$axios.get(`report/oils/export`,{params:{ carId:carId, dateStart:this.dateStart, dateEnd:this.dateEnd}})
        .then((response) => {
          const url = response.data.fileName
          const link = document.createElement('a')
          link.href = url
          link.setAttribute('download', response.data.name)
          document.body.appendChild(link)
          link.click()
      }).catch(console.error);
    },
    numberWithCommas(x) {
      if (!x) return "0";

      return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    },
    dataGetOils(carId, dateRange, userId, page, itemsPerPage) {
      return {
        carId: carId,
        dateRange: dateRange == null ? this.filterRage : dateRange,
        userId: userId,
        page: page == null ? this.page : page,
        itemsPerPage: itemsPerPage == null ? this.itemsPerPage : itemsPerPage
      };
    },
    setDefault()
    {
      this.page = 1;
      this.itemsPerPage = 10;
    }

  },
  async mounted(){
    await this.getOils();
    this.setButton({
      type: "back",
      target: { name: "reports" },
    });
    this.filterRange = [this.nowDate]

  },
  watch: {
    dateFilterStart(val) {
      this.setDefault();
      this.filterRage = [val, this.dateFilterEnd]
      this.getOils(this.dataGetOils(null, this.filterRage, null, 1, 10));
    },
    dateFilterEnd(val){
      this.setDefault();
      this.filterRage = [this.dateFilterStart, val]
      this.getOils(this.dataGetOils(null, this.filterRage, null, 1, 10));
    },
    page(data) {
      this.getOils(this.dataGetOils(null, null, null, data, null))
    },
    itemsPerPage(data) {
      this.page = 1
      this.getOils(this.dataGetOils(null, null, null, null, data));
    },
    selectCar(val){
      this.setDefault();
      this.filterRage = [this.dateFilterStart, this.dateFilterEnd]
      this.getOils(this.dataGetOils(val, null, null, null, null));
    }
  }
}
</script>
