<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-data-table
      :headers="headers"
      :items="models"
      :hide-default-footer="true"
      :item-class="({ isDeleted }) => (isDeleted ? 'grey' : '')"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>
            ตั้งค่า - รุ่น / {{ brand ? brand.name : "" }}
          </v-toolbar-title>
        </v-toolbar>
      </template>
      <template #item.model="{ item }">
        <v-text-field
          v-model="item.name"
          :rules="nameBrandRules"
          outlined
          dense
          required
          class="mt-7"
        />
      </template>
      <template #item.actions="{ item, index }">
        <v-btn v-if="!item.isDeleted" color="error" outlined @click="onDelete(index)">
          <v-icon left>delete</v-icon>
          ลบ
        </v-btn>
        <v-btn v-else color="info" outlined @click="onRestore(index)"><v-icon>settings_backup_restore</v-icon> นำกลับ</v-btn>
      </template>
    </v-data-table>
    <v-card>
      <v-card-text class="text-center">
        <v-btn class="white--text" color="success" outlined @click="addModel">
          <v-icon left>add</v-icon>
          เพิ่มข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card class="mt-4">
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  data: () => ({
    valid: true,
    nameBrandRules: [(v) => !!v || "กรุณากรอกยี่ห้อ"],
    typesBrand: [],
    headers: [
      {
        text: "รุ่น",
        align: "center",
        value: "model",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
    models: [],
  }),
  computed: {
    ...mapGetters("brand", ["brand"]),
    isAllowBrand() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["model_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  mounted() {
    this.find(this.$route.params.id);

    this.getModels(this.$route.params.id).then((models) => {
      // solving reference value
      this.models = [...models.map((m) => ({ ...m }))];
    });

    this.setButton({
      type: "back",
      target: { name: "setup-master-brand" },
    });
  },

  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("brand", ["find", "getModels", "updateModels"]),
    addModel() {
      this.models.push({
        name: null,
      });
    },
    onDelete(index) {
      const model = this.models[index];

      if (!model) {
        return false;
      }

      if (model.modelId) {
        model.isDeleted = true;
      } else {
        this.models.splice(index, 1);
      }
    },
    onRestore(index) {
      const model = this.models[index];

      if (!model) {
        return false;
      }

      if (model.modelId) {
        model.isDeleted = false;
      }
    },
    async onSubmit() {
      if (!this.$refs.form.validate()) {
        this.$toast.global.warning({
          message: "กรุณากรอกข้อมูลให้ครบถ้วน",
        });

        return false;
      }

      try {
        await this.updateModels({
          brandId: this.$route.params.id,
          models: this.models.filter(({ isDeleted }) => !isDeleted),
        });
        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่า - รุ่น สำเร็จเรียบร้อย",
        });
        this.getModels(this.$route.params.id).then((models) => {
          // solving reference value
          this.models = [...models.map((m) => ({ ...m }))];
        });
      } catch {
        this.$toast.global.error({
          message: "ไม่สามารถบันทึกข้อมูลการตั้งค่า - รุ่น",
        });
      }
    },
  },
};
</script>
