<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-data-table
      :headers="headers"
      :items="brands"
      :hide-default-footer="true"
      :item-class="({ isDeleted }) => (isDeleted ? 'grey' : '')"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>ตั้งค่า - ยี่ห้อ</v-toolbar-title>
        </v-toolbar>
      </template>
      <template #item.brand="{ item }">
        <v-text-field
          v-model="item.name"
          :rules="nameBrandRules"
          outlined
          dense
          required
          class="mt-7"
        />
      </template>
      <template #item.actions="{ item, index }">
        <v-btn
          :to="{ name: 'setup-master-brand-id', params: { id: item.brandId } }"
          :disabled="!item.brandId"
          color="warning"
          class="orange lighten-5"
          outlined
        >
          <v-icon>settings</v-icon>
          ตั้งค่ารุ่น
        </v-btn>
        <v-btn v-if="!item.isDeleted"
          outlined
          color="error"
          @click="onDelete(index)"
          >
          <v-icon>delete</v-icon>
          ลบ
        </v-btn>
        <v-btn v-else color="success" @click="onRestore(index)">
          <v-icon>settings_backup_restore</v-icon>
          นำกลับ
        </v-btn>
      </template>
    </v-data-table>
    <v-card>
      <v-card-text class="text-center">
        <v-btn class="white--text" color="success" outlined @click="addBrand">
          <v-icon left>add</v-icon>
          เพิ่มข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card class="mt-4">
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  data: () => ({
    valid: true,
    nameBrandRules: [(v) => !!v || "กรุณากรอกยี่ห้อ"],
    typesBrand: [],
    headers: [
      {
        text: "ยี่ห้อ",
        align: "center",
        value: "brand",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
    brands: [],
  }),
  computed: {
    isAllowBrand() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["brand_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  mounted() {
    this.get().then((brands) => {
      // solving reference value
      this.brands = [...brands.map((b) => ({ ...b }))];
    });

    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },

  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("brand", ["get", "update"]),
    addBrand() {
      this.brands.push({
        name: null,
      });
    },
    onDelete(index) {
      const brand = this.brands[index];

      if (!brand) {
        return false;
      }

      if (brand.brandId) {
        brand.isDeleted = true;
      } else {
        this.brands.splice(index, 1);
      }
    },
    onRestore(index) {
      const brand = this.brands[index];

      if (!brand) {
        return false;
      }

      if (brand.brandId) {
        brand.isDeleted = false;
      }
    },
    async onSubmit() {
      if (!this.$refs.form.validate()) {
        this.$toast.global.warning({
          message: "กรุณากรอกข้อมูลให้ครบถ้วน",
        });

        return false;
      }

      try {
        await this.update(this.brands.filter(({ isDeleted }) => !isDeleted));
        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่า - ยี่ห้อ สำเร็จเรียบร้อย",
        });
        this.get().then((brands) => {
          // solving reference value
          this.brands = [...brands.map((b) => ({ ...b }))];
        });
      } catch {
        this.$toast.global.error({
          message: "ไม่สามารถบันทึกข้อมูลการตั้งค่า - ยี่ห้อ",
        });
      }
    },
  },
};
</script>
