<template>
  <v-container class="my-10">
    <v-row>
      <v-col cols="10" class="mx-auto">
        <v-card color="#fff" dark style="color: #000">
          <v-card-title class="text-h6">
            <v-row>
              <v-col cols="2">
                <v-icon slot="icon" color="#e79918" size="36"> mdi-car </v-icon>
              </v-col>
              <v-col cols="10">
                <strong>{{ carNumber.regisNumber }}</strong>
              </v-col>
            </v-row>
          </v-card-title>

          <v-card-subtitle style="color: #000">
            <v-row>
              <v-col cols="2"></v-col>
              <v-col cols="5">
                <strong>ยี่ห้อ {{ carNumber.brandIdname }}</strong>
              </v-col>
              <v-col cols="5">
                <strong>รุ่น {{ carNumber.modelname }}</strong>
              </v-col>
            </v-row>
          </v-card-subtitle>
        </v-card>

        <v-form
          ref="form"
          v-model="valid"
          lazy-validation
          @submit.prevent="onSubmit"
          class="my-5"
        >
          <v-text-field
            label="จำนวนลิตร"
            outlined
            dense
            height="50"
            v-model="forms.amountLiter"
            :rules="literOilRules"
            @keypress="validateNumber"
            required
            type="text"
            append-icon="mdi-speedometer"
          />
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="จำนวนลิตร"
                outlined
                dense
                height="50"
                color="#e79918"
                class="hidden-sm-and-down"
                v-model="forms.liter"
                :rules="literOilRules"
                @keypress="validateNumber"
                required
                type="text"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-select
                :items="typesOil"
                outlined
                dense
                height="50"
                color="#e79918"
                placeholder="ประเภทน้ำมัน"
                item-text="name"
                item-value="id"
                :rules="typesOilRules"
                v-model="forms.categoryoil"
                name="type"
                required
                class="hidden-sm-and-down"
              ></v-select>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="ราคาต่อลิตร"
                outlined
                dense
                color="#e79918"
                height="50"
                v-model="forms.priceoil"
                :rules="pricePerOilRules"
                @keypress="validateNumber"
                required
                type="text"
                class="hidden-sm-and-down"
              ></v-text-field>
            </v-col>
            <v-col cols="12" sm="12" md="6" lg="6">
              <v-text-field
                label="จำนวนเงินทั้งหมด"
                outlined
                dense
                color="#e79918"
                height="50"
                v-model="forms.total"
                :rules="peiceTotalOilRules"
                required
                @keypress="validateNumber"
                type="text"
              ></v-text-field>
            </v-col>
          </v-row>
          <v-text-field
            label="ราคาต่อลิตร"
            outlined
            dense
            height="50"
            v-model="forms.pricePerLiter"
            :rules="pricePerOilRules"
            @keypress="validateNumber"
            required
            type="text"
          ></v-text-field>
          <div class="between-2">
            <v-text-field
              label="จำนวนเงินทั้งหมด"
              outlined
              dense
              height="50"
              v-model="forms.totalPrice"
              :rules="peiceTotalOilRules"
              required
              @keypress="validateNumber"
              type="text"
            ></v-text-field>
          </div>
          <v-text-field
            label="ชื่อ ปั๊มน้ำมัน หรือ สถานที่ให้บริการ"
            outlined
            dense
            height="50"
            color="#e79918"
            v-model="forms.name"
            :rules="priceoilRules"
            required
          ></v-text-field>
          <v-text-field
            label="เลขที่ใบเสร็จ"
            outlined
            dense
            color="#e79918"
            height="50"
            v-model="forms.receiptNumber"
            :rules="receiptRules"
            required
            type="text"
          ></v-text-field>

          <v-col v-if="forms.receiptUrl || oilSlipUrl">
            <v-img
              v-if="oilSlipUrl"
              :lazy-src="oilSlipUrl"
              max-height="250"
              max-width="250"
              :src="oilSlipUrl"
            ></v-img>
            <v-img
              v-else
              :lazy-src="`${hostApi}/images/oils/request_car_return/${oilIdImg}/${forms.receiptUrl}`"
              max-height="250"
              max-width="250"
              :src="`${hostApi}/images/oils/request_car_return/${oilIdImg}/${forms.receiptUrl}`"
            ></v-img>
          </v-col>

          <div class="between">
            <div class="btn-beteen">
              <v-btn
                outlined
                block
                rounded
                depressed
                color="#e79918"
                height="50"
                @click="pickImage"
              >
                <v-icon>mdi-oil</v-icon>
                &nbsp;&nbsp; แนบใบเสร็จน้ำมัน
              </v-btn>
              <input
                type="file"
                hidden
                ref="imagePicker"
                accept="image/*"
                @change="onChangePicker"
                :v-decorator="fileOilSlip"
              />
            </div>

            <div class="btn-beteen">
              <v-btn
                color="#e79918"
                :disabled="!valid"
                @click="validate"
                class="white--text"
                height="50"
                block
                rounded
                type="submit"
              >
                บันทึกข้อมูล
              </v-btn>
            </div>
          </div>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  middleware: "user-authenticated",
  name: "Camera",
  data: () => ({
    hostApi: globals.HOST_API,
    carId: null,
    valid: true,
    video: {},
    canvas: {},
    captures: [],
    mileageOilRules: [(v) => !!v || "กรุณากรอกเลขไมล์ขณะเติม"],
    literOilRules: [(v) => !!v || "กรุณากรอกจำนวนลิตร"],
    typesOilRules: [(v) => !!v || "กรุณาระบุประเภทน้ำมัน"],
    pricePerOilRules: [(v) => !!v || "กรุณากรอกราคาต่อลิตร"],
    peiceTotalOilRules: [(v) => !!v || "กรุณากรอกจำนวนเงินทั้งหมด"],
    priceoilRules: [
      (v) => !!v || "กรุณากรอกชื่อ ปั๊มน้ำมัน หรือ สถานที่ให้บริการ",
    ],
    fileOilSlip: [(v) => !!v || "กรุณาเลือกไฟล์อัพโหลด"],
    receiptRules: [(v) => !!v || "กรุณากรอกเลขที่ใบเสร็จ"],
    typesOil: [
      { id: 1, name: "เบนซิล" },
      { id: 2, name: "ดีเซล" },
      { id: 3, name: "แก๊สโซฮอร์ 91" },
      { id: 4, name: "แก๊สโซฮอร์ 95" },
      { id: 5, name: "B20" },
    ],
    forms: {
      liter: null,
      categoryoil: null,
      priceoil: null,
      total: null,
      mile: null,
      name: null,
      receipt: null,
      requestId: null,
      img: null,
    },
    oilSlip: null,
    oilIdImg: null,
    oilSlipUrl: null,
    id: null,
    carNumber: {
      regisNumber: null,
      brandIdname: null,
      modelname: null,
    },
  }),
  created() {
    this.setTitle("บันทึกข้อมูลการใช้น้ำมัน");
  },
  async mounted() {
    this.id = this.$route.params.id;
    this.forms.requestId = this.$route.params.id;
    // this.video = this.$refs.video
    // if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
    //   navigator.mediaDevices.getUserMedia({ video: true }).then((stream) => {
    //     video.srcObject = stream
    //     video.play()
    //     video.onplay = function () {}
    //     this.video.play()
    //   })
    // }
    if (this.$route.query.type == "edit") {
      // console.log(this.$route.query.oilId);
      this.oilIdImg = this.$route.query.oilId;
      this.getEditDetail(this.$route.query.oilId);
    } else {
      this.getCarNumber(this.id);
    }
  },
  methods: {
    pickImage() {
      this.$refs.imagePicker.click();
    },
    async onChangePicker(e) {
      const {
        target: { files },
      } = e;
      if (files.length > 0) {
        const file = files[0];

        this.oilSlip = file;
        this.oilSlipUrl = this.getLocalUrl(file);
        // console.log("image====>", this.oilSlipUrl);
      }
    },
    getLocalUrl(file) {
      if (file instanceof File) {
        return URL.createObjectURL(file);
      }
      return file;
    },
    ...mapActions(["dateFormat", "logout", "numberWithCommas", "setTitle"]),
    validateNumber: (event) => {
      let keyCode = event.keyCode;
      if (keyCode < 48 || keyCode > 57) {
        event.preventDefault();
      }
    },
    linkOpenCamera() {
      // this.canvas = this.$refs.canvas;
      // var context = this.canvas
      //   .getContext("2d")
      //   .drawImage(this.video, 0, 0, 640, 480);
      // this.captures.push(canvas.toDataURL("image/webp"));
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async getCarNumber(id) {
      const apiUrl = `/orderReturns/oils/car/${id}`;
      const res = await this.$axios.get(apiUrl);
      // console.log("res=====>", res.data);
      this.carNumber = res.data;
    },
    async onSubmit() {
      const body = this.forms;
      // console.log("body => ", body);
      // console.log("edit===>", body);
      const $t = this;
      if (this.$route.query.type == "edit") {
        const { oilId } = this.$route.query;
        const apiUrl = `/orderReturns/oils/${oilId}`;
        await this.$axios
          .patch(apiUrl, body)
          .then(function (respone) {
            // console.log(respone.data);
            $t.uploadSignature($t.$route.query.oilId);
            $t.$toast.global.success({
              message: "บันทึกข้อมูลการตั้งค่า - ผู้ใช้งาน สำเร็จเรียบร้อย",
            });

            if ($t.$route.query.page === "return") {
              $t.$router.push(`/cars/return/${$t.id}`);
            } else {
              $t.$router.push(`/cars/monthly?requestId=${$t.id}&type=summary`);
            }
          })
          .catch(function (error) {
            console.log("An error has occurred." + error);
          });
        console.log("update");
      } else {
        const { id } = this.$route.params;
        const apiUrl = `/orderReturns/oils/${id}`;
        await this.$axios
          .post(apiUrl, body)
          .then(function (response) {
            // console.log("res_oilID===>", response.data.oilId);
            $t.uploadSignature(response.data.oilId);
            $t.$toast.global.success({
              message: "บันทึกข้อมูลสำเร็จเรียบร้อย",
            });
            if ($t.$route.query.page === "return") {
              $t.$router.push(`/cars/return/${$t.id}`);
            } else {
              $t.$router.push(`/cars/monthly?requestId=${$t.id}&type=summary`);
            }
          })
          .catch(function (error) {
            console.log("An error has occurred." + error);
          });
        // console.log("res_oilID====>", res.data);
      }
    },
    async getEditDetail(id) {
      const { oilId } = this.$route.query;
      const apiUrl = `/orderReturns/oils/${oilId}`;
      const res = await this.$axios.get(apiUrl);
      // console.log("edit===>", res.data);
      this.forms = res.data;
      this.getCarNumber(res.data.requestId);
    },
    async uploadSignature(oilId) {
      if (this.oilSlip) {
        var bodyFormData = new FormData();
        bodyFormData.append("oilId", oilId);
        bodyFormData.append("file", this.oilSlip);

        // console.log("this.oilSlip===>", this.oilSlip);
        // console.log("oilId===>", oilId);
        // console.log("page ======>", this.$route.query.page);
        let apiUrl = "";
        if (this.$route.query.page == "return") {
          apiUrl = `/orderReturns/oils/upload/${oilId}`;
        } else {
          apiUrl = `/summaries/oils/upload/${oilId}`;
        }
        // console.log("api url ======>", apiUrl);
        const res = await this.$axios.post(apiUrl, bodyFormData);
        // console.log("uploadDriverPhoto=>", res);
      }
    },
  },
};
</script>

<style scope>
.container-page {
  width: 70%;
}
.between {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.btn-beteen {
  width: 45%;
}

.between-1 {
  width: 45%;
}
.between-2 {
  width: 45%;
}
@media only screen and (max-width: 770px) {
  .container-page {
    width: 90%;
  }
  .btn-beteen {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style>
/* .hidden-sm-and-down .v-icon {
  color: #e79918 !important;
} */
</style>
