<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col><h1 class="mb-5">รายงาน ภาษี พรบ ประกัน {{contract ? contract.name : ''}}</h1></v-col>
        </v-row>
      </v-card-text>
      <v-data-table
        v-if="carbycontract"
        :headers="headers"
        :items="carbycontract"
        :item-key="carId"

      >
        <template #item.plateNumber="{item}">
          <template v-if="item.plateNumber" >
            {{item.plateNumber}}
          </template>
        </template>
        <template #item.branch="{item}">
          {{item.branch ? item.branch.name : ''}}
        </template>
        <template #item.agency="{item}">
          {{item.agency ? item.agency.name : ''}}
        </template>
        <template #item.tax_date="{item}">
          {{ $dayjs(item.tax_date).format("DD/MM/YYYY") }}
        </template>
        <template #item.act_to_date="{item}">
          {{ $dayjs(item.act_to_date).format("DD/MM/YYYY") }}
        </template>
        <template #item.insurance_date_to="{item}">
          {{ $dayjs(item.insurance_date_to).format("DD/MM/YYYY") }}
        </template>
        <template #item.actions="{item}">
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                color="primary"
                class="mx-1"
                outlined
                icon
                v-bind="attrs"
                v-on="on"
                :to="{
                    name: 'reports-contract-car-id',
                    params: { id: item.carId },
                }"
              >
                <v-icon>directions_car_filled</v-icon>
              </v-btn>
            </template>
            <span>ดูรายละเอียดรถ</span>
          </v-tooltip>
          <v-tooltip bottom>
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                icon
                outlined
                class="mx-1 orange lighten-4"
                color="warning"
                v-bind="attrs"
                v-on="on"
                @click.prevent="downloadExport(item.carId)"
              >
                <v-icon>download</v-icon>
              </v-btn>
            </template>
            <span>ดาวน์โหลดรายงาน</span>
          </v-tooltip>
        </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    headers:[
      {
        text: 'เลขทะเบียน',
        value: 'plateNumber'
      },
      {
        text: 'จังหวัด',
        value: 'plateProvince'
      },
      {
        text: 'สาขา',
        value: 'branch'
      },
      {
        text: 'แผนก',
        value: 'agency'
      },
      {
        text: 'วันที่ภาษี',
        value: 'tax_date'
      },
      {
        text: 'วันที่ พรบ.',
        value: 'act_to_date'
      },
      {
        text: 'คุ้มครอง',
        value: 'insurance_date_to'
      },
      {
        text: 'Action',
        align: 'center',
        value: 'actions'
      }
    ]
  }),
  mounted(){
    this.findContract(this.$route.params.id);
    this.getCarByContractId(this.$route.params.id);
    this.setButton({
      type: "back",
      target: { name: "reports-contract" },
    });
  },
  computed:{
    ...mapGetters("report",['contract','carbycontract'])
  },
  methods:{
    ...mapActions("report",['findContract','getCarByContractId']),
    ...mapActions([
      "setButton",
    ]),
    downloadExport(carId,label){
      this.$axios.get(`report/car/`+carId+'/export')
        .then(response => {
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    }
  }
}
</script>
