<template>
  <div>
    <v-card>
      <v-card-text>
        <v-row>
          <v-col><h1 class="mb-5">รายงาน ภาษี พรบ ประกัน</h1></v-col>
        </v-row>
      </v-card-text>
      <v-data-table
        v-if="contracts"
        :headers=headers
        :items=contracts
        :header-props="{ 'disable-sort': true }"
        item-key="contractId"
      >

      <template #item.startDate="{item}">
        {{ item.startDate ? $dayjs(item.startDate).format("DD/MM/YYYY") : '-' }}
      </template>
      <template #item.endDate="{item}">
        {{ item.endDate ? $dayjs(item.endDate).format("DD/MM/YYYY") : '-' }}
      </template>
      <template #item.createdAt="{item}">
        {{ item.createdAt ? $dayjs(item.createdAt).format("DD/MM/YYYY hh:mm") : '-' }}
      </template>
      <template #item.actions="{item}">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="mr-2"
              color="primary"
              icon
              v-bind="attrs"
              v-on="on"
              outlined
              :to="{
                name: 'reports-contract-id',
                params: { id: item.contractId },
              }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              icon
              outlined
              class="mr-2 orange lighten-4"
              color="warning"
              v-bind="attrs"
              v-on="on"
              @click.prevent="downloadExport(item.contractId)"
            >
              <v-icon>download</v-icon>
            </v-btn>
          </template>
          <span>ดาวน์โหลดรายงาน</span>
        </v-tooltip>
      </template>
      </v-data-table>
    </v-card>
  </div>
</template>
<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    headers:[
      {
        text: 'เลขที่สัญญา',
        align: "left",
        sortable: false,
        value: 'contractCode'
      },
      {
        text: 'วันที่เริ่มสัญญา',
        align: "left",
        sortable: false,
        value: 'startDate'
      },
      {
        text: 'วันที่สิ้นสุด',
        align: "left",
        sortable: false,
        value: 'endDate'
      },
      {
        text: 'วันที่บันทึก',
        align: "left",
        sortable: false,
        value: 'createdAt'
      },
      {
        text: 'Actions',
        align: "center",
        sortable: false,
        value: 'actions'
      },
    ],
    exportPaht:'http://localhost:9900/api/export/contract/'
  }),
  computed:{
    ...mapGetters("report",['contracts'])
  },
  methods:{
    ...mapActions("report",['getContracts']),
    ...mapActions([
      "setButton",
    ]),
    goBack() {
      this.$router.push({ name: "reports" });
    },
    downloadExport(contractId,label){
      this.$axios.get(`export/contract/`+contractId)
        .then(response => {
          // console.log(response.data.fileNmae)
          const link = document.createElement('a')
          link.href = response.data.fileName
          link.download = label
          link.click()
          URL.revokeObjectURL(link.href)
      }).catch(console.error)
    }
  },
  mounted(){

    this.getContracts();
    this.setButton({
      type: "back",
      target: { name: "reports" },
    });
  }
}
</script>
