<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="orders"
      :header-props="{ 'disable-sort': true }"
      item-key="orderId"
      class="pa-4"
    >
      <template #top>
        <v-toolbar flat>
          <v-toolbar-title>บันทึกการขอใช้รถยนต์</v-toolbar-title>
          <v-spacer />
            <v-btn
              v-if="isAllowCreate"
              :to="{ name: 'request-create' }"
              class="orange lighten-5"
              color="warning"
              outlined
              dense
            >
            <v-icon left>mdi-application-edit-outline</v-icon> ขอใช้รถยนต์
          </v-btn>
        </v-toolbar>
      </template>
      <template #item.car="{ item }">
        <template v-if="item.success">
          <span class="">{{ item.success.car ? item.success.car.plateNumber : "-" }}</span>
        </template>
        <template v-else>
        <span class=""> {{ item.car ? item.car.plateNumber : "-" }} </span>
        </template>
      </template>
      <template #item.province="{item}">
        <template v-if="item.success">
          {{ item.success.car ? item.success.car.plateProvince : "-" }}
        </template>
        <template v-else>
          {{ item.car ? item.car.plateProvince : "-" }}
        </template>
      </template>
      <template #item.carType="{item}" >
        <template>
          {{ item.car ?  item.car.type ? item.car.type.name : '-' : '-'}}
        </template>
      </template>
      <template #item.dateStart="{ item }">
        <span class="">
          {{$dayjs(item.success ? item.success.startTime : item.startTime).format("DD/MM/YYYY HH:mm") }}
        </span>
      </template>
      <template #item.dateEnd="{item}">
          {{ $dayjs(item.success ? item.success.endTime : item.endTime).format("DD/MM/YYYY HH:mm" )}}
      </template>
      <template #item.createdAt="{item}">
        <span class="">
          {{ $dayjs(item.createdAt).format("DD/MM/YYYY") }}
        </span>
      </template>
      <template #item.status="{ item }">
        <span class="teal lighten-4 px-2 py-1 rounded text-caption teal--text text--draken-5" v-if="item.order.statusId == 2">
          {{ item.order | orderStatus }}
        </span>
        <span class="amber lighten-4 px-2 py-1 rounded text-caption amber--text text--darken-3" v-else-if="item.order.isApproved == 0">
          {{ item.order | orderStatus }}
        </span>
        <span class="grey lighten-4 px-2 py-1 rounded text-caption grey--text text--darken-1" v-else-if="item.order.isApproved == 2">
          {{ item.order | orderStatus }}
        </span>
        <span class="grey lighten-4 px-2 py-1 rounded text-caption grey--text text--darken-1" v-else-if="item.order.isApproved == 3">
          {{ item.order | orderStatus }}
        </span>
        <span class="blue lighten-4 px-2 py-1 rounded text-caption blue--text text--darken-3" v-else-if="!item.order.isArrangeOrder">
          {{ item.order | orderStatus }}
        </span>
        <span class="green lighten-1 px-2 py-1 rounded text-caption white--text" v-else>
          {{ item.order | orderStatus }}
        </span>
      </template>
      <template #item.actions="{ item }">
        <!-- View -->
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn
            class="mr-2"
            color="primary"
            icon
            v-bind="attrs"
            v-on="on"
            outlined
              :to="{
                name: 'request-detail-id',
                params: { id: item.orderId },
              }"
            >
              <v-icon>mdi-eye</v-icon>
            </v-btn>
          </template>
          <span>รายละเอียด</span>
        </v-tooltip>
        <!-- Edit -->
        <v-tooltip bottom v-if="orderStatus(item.order) == 'รอการอนุมัติ'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
            class="mr-2"
            color="light-blue"
            icon
            v-bind="attrs"
            v-on="on"
            outlined
              :to="{
                name: 'request-edit-id',
                params: { id: item.orderId },
              }"
            >
              <v-icon>edit</v-icon>
            </v-btn>
          </template>
          <span>แก้ไขใบคำขอ</span>
        </v-tooltip>
        <v-tooltip bottom v-if="orderStatus(item.order) != 'ยกเลิก' && orderStatus(item.order) == 'รอการอนุมัติ'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
            class="mr-2"
            color="red"
            icon
            v-bind="attrs"
            v-on="on"
            outlined
            @click="onClickCancelOrder(item.requestId)"
            >
              <v-icon>mdi-delete</v-icon>
            </v-btn>
          </template>
          <span>ยกเลิกใบคำขอ</span>
        </v-tooltip>
        <v-tooltip bottom v-if="orderStatus(item.order) == 'ยกเลิก'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
            class="mr-2"
            color="amber"
            icon
            v-bind="attrs"
            v-on="on"
            outlined
            @click="onClickRedoOrder(item.requestId)"
            >
              <v-icon>mdi-restore</v-icon>
            </v-btn>
          </template>
          <span>นำกลับมาใช้ใหม่</span>
        </v-tooltip>
        <v-tooltip bottom v-if="orderStatus(item.order) === 'พร้อมใช้งาน รอการส่งคืนรถ'">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              :to="{
                name: 'request-id-return',
                params: { id: item.orderId },
              }"
              icon
              outlined
              class="mr-2"
              color="warning"
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-arrow-u-left-top</v-icon>
            </v-btn>
          </template>
          <span>คืนรถ</span>
        </v-tooltip>

      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

const orderStatus = (order) => {
  switch (order.isApproved) {
    case 0:
      return "รอการอนุมัติ";
    case 2:
      return "ถูกปฏิเสธ";
    case 3:
      return "ยกเลิก";
  }

  if (order.statusId === 2) {
    return "คืนรถแล้ว";
  }

  if (!order.isArrangeOrder && order.statusId === 1) {
    return "รอการจัดรถ";
  }


  // O Wait appove
  // 1 Approve
  // 2 Reject
  // 3 Cancel By user

  return "พร้อมใช้งาน รอการส่งคืนรถ";
};

export default {
  middleware: "user-authenticated",
  filters: {
    orderStatus,
  },
  data: () => ({
    search: "",
    dialog: false,
    headers: [
      {
        text: "รถยนต์",
        align: "left",
        value: "car",
        sortable: false,
      },
      {
        text: "จังหวัด",
        align: "left",
        value: "province",
        sortable: false,
      },
      {
        text: "ประเภทรถยนต์",
        align: "left",
        value: "carType",
        sortable: false,
      },
      {
        text: "ใช้รถวันที่",
        align: "center",
        value: "dateStart",
        sortable: true,
      },
      {
        text: "ถึงวันที่",
        align: "center",
        value: "dateEnd",
        sortable: false,
      },
      {
        text: "วันที่สร้างคำขอ",
        align: "center",
        value: "createdAt",
        sortable: true,
      },
      { text: "สถานะ", align: "left", value: "status", sortable: false },
      { text: "ดำเนินการ", align: "left", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("order", ["orders"]),
    user() {
      return this.$auth.user;
    },
    isAllowCreate() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["request_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  mounted() {
    this.getOrders();
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
      "isActionAllowed",
    ]),
    ...mapActions("order", {
      getOrders: "get",
      cancelOrder: "cancelOrder",
      redoOrder: "redoOrder",
    }),
    linkCarReturn(id) {
      this.$router.push(`/cars/return/${id}`);
    },
    orderStatus,
    async onClickCancelOrder(id){
      if(confirm('คุณแน่ใจที่จะยกเลิกใบคำขอใช่ หรือ ไม่ ? ')){
       try{
        // console.log(id);
        let rejected =  await this.$axios.post(`orders/cancel/${id}`)
        // console.log(rejected);
        if(rejected.data.status === "success"){
          this.$toast.global.success({
            message: "ยกเลิกใบคำขอบเสร็จสำเร็จ",
          });
        }
        window.location.reload();
       } catch (e) {}
      }else{
        return false;
      }
    },
    async onClickRedoOrder(id){
      // console.log(id);
      // return;
      if(confirm('คุณแน่ใจที่จะนำใบคำขอกลับมาใช่ หรือ ไม่ ? ')){
       try{
        // console.log(id);
        let rejected =  await this.$axios.post(`orders/redo/${id}`)
        console.log(rejected);
        // return;
        if(rejected.data.status === "success"){
          this.$toast.global.success({
            message: "นำกลับ : ใบคำขอบเสร็จสำเร็จ",
          });
        }else{
          this.$toast.global.error({
            message: "นำกลับ : ไม่สามารถนำกลับข้อมูลได้เนื่องจากมีข้อมูลอยู่แล้ว",
          });
        }
        setTimeout(() => {
          window.location.reload();

        }, 800);
       } catch (e) {}
      }else{
        return false;
      }
    }
  },
};
</script>

<style lang="scss">
.v-data-table-header-mobile {
  display: none;
}
</style>
