<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>
        ตั้งค่า - {{ approve ? approve.name : "" }}
      </v-toolbar-title>
    </v-toolbar>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card class="py-4">
        <v-card-text class="border-bottom">
          <v-row justify="center">
            <v-col cols="12" md="8">
              <v-select
                v-model="form.branchId"
                :items="[{ name: 'ทุกสาขา', branchId: null }, ...branches]"
                item-text="name"
                item-value="branchId"
                label="ระบุสาขา"
                color="#e79918"
                outlined
                dense
                @change="changeBranchId"
              >
                <template #item="{ item }">
                  <span v-if="item.is_approve_created">*</span>{{ item.name }}
                </template>
              </v-select>
            </v-col>
            <v-col cols="12" md="8">
              <v-select
                v-model="form.agencyId"
                :items="[{ name: 'ทุกแผนก', agencyId: null }, ...agencies]"
                item-text="name"
                item-value="agencyId"
                label="ระบุแผนก"
                color="#e79918"
                outlined
                dense
                @change="getData"
              >
                <template v-slot:item="{ item }">
                  <span v-if="item.is_approve_created">*</span>{{ item.name }}
                </template>
              </v-select>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
      <template v-if="form.levels.length">
        <v-card
          v-for="(item, levelIndex) in form.levels"
          :key="`level-${levelIndex}`"
          class="border-bottom mt-4 pt-4"
        >
          <v-card-text>
            <v-row justify="center">
              <v-col cols="12" md="8">
                <v-select
                  v-model="item.typeId"
                  :items="typesApprove"
                  :rules="typeIdRules"
                  name="type"
                  placeholder="ประเภทการอนุมัติ"
                  item-text="name"
                  item-value="id"
                  color="#e79918"
                  outlined
                  dense
                  required
                  @change="changeTypeId(item)"
                />
              </v-col>
              <v-col cols="12" md="8">
                <div class="border" v-if="item.typeId == 1">
                  <v-icon
                    class="btn-add-remove"
                    color="#fff"
                    @click="decrement(item)"
                  >
                    remove
                  </v-icon>
                  {{ item.amount }}
                  <v-icon
                    class="btn-add-remove"
                    color="#fff"
                    @click="increment(item)"
                  >
                    add
                  </v-icon>
                </div>
              </v-col>
              <v-col cols="12" md="8">

                <v-autocomplete
                  v-if="item.userIds.length < 10 || item.typeId === 2"
                  v-model="item.userIds"
                  :items="users"
                  item-text="name"
                  item-value="userId"
                  placeholder="เลือกผู้อนุมัติ"
                  color="#e79918"
                  item-color="#e79918"
                  filled
                  chips
                  outlined
                  dense
                  multiple
                  :search-input.sync="search"
                  @input="search = ''"
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text class="border-bottom text-center">
            <v-btn v-if="levelIndex === form.levels.length - 1" color="#E79918" outlined rounded @click="addLevel">
              <v-icon>mdi-plus</v-icon>
              เพิ่มลำดับการอนุมัติ
            </v-btn>
            <v-btn color="error" outlined @click="removeLevel(levelIndex)"><v-icon left>horizontal_rule</v-icon> ลบ</v-btn>
          </v-card-text>
        </v-card>
      </template>
      <v-card v-else class="border-bottom mt-4 pt-4">
        <v-card-text class="border-bottom text-center">
          <v-btn color="#E79918" outlined rounded @click="addLevel">
            <v-icon>mdi-plus</v-icon>
            เพิ่มลำดับการอนุมัติ
          </v-btn>
        </v-card-text>
      </v-card>
      <v-card class="mt-4">
        <v-card-text class="text-center">
          <v-btn
            :disabled="!valid"
            class="orange lighten-5"
            type="submit"
            color="warning"
            outlined
          >
            <v-icon left>save</v-icon>
            บันทึกข้อมูล
          </v-btn>
        </v-card-text>
      </v-card>
    </v-form>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

export default {
  middleware: "user-authenticated",
  data: () => ({
    valid: true,
    userId: null,
    search: null,
    nameApprove: [(v) => !!v || "กรุณากรอกชื่อเท่ากับจำนวนผู้อนุมัติ"],
    branchApproveRules: [(v) => !!v || "กรุณาระบุสาขา"],
    agencyApproveRules: [(v) => !!v || "กรุณาระบุแผนก"],
    typeIdRules: [(v) => !!v || "กรุณาระบุประเภทการอนุมัติ"],
    nameApproveRules: [(v) => !!v || "กรุณาระบุผู้อนุมัติ"],
    typesApprove: [
      { id: 1, name: "อนุมัติตามจำนวนที่กำหนด" },
      { id: 2, name: "อนุมัติทุกคน" },
    ],
    typesName: [
      { id: 1, nameApprove: "ผู้อนุมัติ 1" },
      { id: 2, nameApprove: "ผู้อนุมัติ 2" },
      { id: 3, nameApprove: "ผู้อนุมัติ 3" },
      { id: 4, nameApprove: "ผู้อนุมัติ 4" },
    ],
    form: {
      companyId: null,
      branchId: null,
      agencyId: null,
      approveTypeId: null,
      levels: [],
    },
  }),
  computed: {
    ...mapGetters("approve", ["approves"]),
    ...mapGetters("user", ["users"]),
    ...mapGetters("branch", ["branches"]),
    agencies() {
      return (
        this.branches.find(({ branchId }) => this.form.branchId === branchId)
          ?.agencies || []
      );
    },
    approve() {
      return this.approves.find(
        ({ id }) => parseInt(id, 10) === parseInt(this.$route.params.id, 10)
      );
    },
    approveTypeId() {
      return this.$route.params.id;
    },
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-approval" },
    });

    this.form.approveTypeId = this.$route.params.id;
    this.form.companyId = this.$auth.user.companyId;
    this.getBranches();
    this.getUsers();
    this.getData();
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("user", { getUsers: "getApprovvals" }),
    ...mapActions("branch", { getBranches: "get" }),
    ...mapActions("approve", { getApprove: "get", updateApprove: "update" }),
    changeTypeId(input) {
      input.amount =
        parseInt(input.typeId, 10) === 1 ? input.userIds.length : 0;
    },
    addUserToLevel(userId, level) {
      const user = this.users.find((user) => user.userId === userId);
      level.userIds.push({
        name: user.name,
        userId: user.userId,
      });

      this.userId = null;
    },
    removeUserToLevel(userId, level) {
      const index = level.userIds.findIndex((user) => user.userId === userId);
      if (index > -1) {
        level.userIds.splice(index, 1);
      }
    },
    async getData() {
      try {
        const approve = await this.getApprove({
          id: this.form.approveTypeId,
          companyId: this.form.companyId,
          branchId: this.form.branchId,
          agencyId: this.form.agencyId,
        });

        this.form.levels = approve.levels.map((level) => {
          const userIds = level.responsibles.map(({ userId }) => userId);
          return {
            ...level,
            userIds,
          };
        });
      } catch (e) {
        this.form.levels = [];
      }
    },
    changeBranchId() {
      this.form.agencyId = null;
      this.getData();
    },
    async increment(item) {
      if (item.amount < 10) {
        item.amount = item.amount + 1;
      }
    },
    async decrement(item) {
      if (item.amount > 0) {
        item.amount = item.amount - 1;
      }
    },
    addLevel() {
      this.form.levels.push({ amount: 0, userIds: [] });
    },
    removeLevel(index) {
      this.form.levels.splice(index, 1)
    },
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      try {
        await this.updateApprove({
          id: this.$route.params.id,
          data: this.form,
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่า - การอนุมัติ สำเร็จเรียบร้อย",
        });
      } catch (e) {}
    },
  },
};
</script>

<style scope>
.border {
  border-radius: 5px;
  border: 1px solid #aaa;
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}
.btn-add-remove {
  background-color: #e79918;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  margin: 10px;
}
.between {
  display: flex;
  justify-content: space-between;
}
.inputPrice input::-webkit-outer-spin-button,
.inputPrice input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.pad {
  padding: inherit !important;
}
.centered-input input {
  text-align: center;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style>
.hidden-sm-and-down .v-icon {
  color: #e79918 !important;
}
</style>
