<template>
  <v-data-table :headers="headers" :items="approves" :mobile-breakpoint="0" :disable-pagination="true">
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - การอนุมัติ</v-toolbar-title>
      </v-toolbar>
    </template>
    <template #item.actions="{ item }">
      <v-btn
        class="orange lighten-5"
        color="warning"
        outlined
        :to="{ name: 'setup-approval-id', params: { id: item.id } }"
      >
        <v-icon left>settings</v-icon>
        ตั้งค่า
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    search: "",
    headers: [
      {
        text: "ประเภทการอนุมัติ",
        value: "name",
        sortable: false,
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  computed: {
    ...mapGetters("approve", ["approves"]),
  },
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });
  },
  methods: {
    ...mapActions(["setButton"]),
    addApprove(id) {
      this.$router.push({
        name: "setup-approval-id",
        params: { id },
      });
    },
  },
};
</script>
