<template>
  <div>
    <v-toolbar flat>
      <v-toolbar-title>ตั้งค่า - สัญญา</v-toolbar-title>
    </v-toolbar>
    <FormSetupContract v-if="contract" :data="contract" @onSubmit="onSubmit" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: "user-authenticated",
  mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup-contract" },
    });

    this.find(this.$route.params.id);
  },
  computed: {
    ...mapGetters('contract', ['contract']),
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("contract", ["find", "update"]),
    async onSubmit(form) {
      try {
        await this.update({
          id: this.contract.contractId,
          ...form,
        });

        this.$toast.global.success({
          message: "บันทึกข้อมูลการตั้งค่าสัญญาสำเร็จเรียบร้อย",
        });

        this.$router.push({ name: "setup-contract" });
      } catch (e) {}
    },
  },
};
</script>
