<template>
  <v-data-table :headers="headers" :items="contracts">
    <template #top>
      <v-toolbar flat>
        <v-toolbar-title>ตั้งค่า - สัญญา</v-toolbar-title>
        <v-spacer />
        <v-btn color="warning" outlined class="orange lighten-5" :to="{ name: 'setup-contract-create' }">
          <v-icon left>add</v-icon>
          สร้าง
        </v-btn>
      </v-toolbar>
    </template>
    <template #item.branchAgency="{ item }">
      {{ item.company.name }} / {{ (item.branch) ? item.branch.name : "-" }} / {{ (item.agency)? item.agency.name: "-" }}
    </template>
    <template #item.startDate="{ item }">
      {{ item.startDate ? $dayjs(item.startDate).format("DD MMM YYYY") : "-" }}
    </template>
    <template #item.endDate="{ item }">
      {{ item.endDate ? $dayjs(item.endDate).format("DD MMM YYYY") : "-" }}
    </template>
    <template #item.actions="{ item }">
      <v-btn
        color="warning"
        class="orange lighten-5 mr-2"
        outlined
        :to="{ name: 'setup-contract-id', params: { id: item.contractId } }"
      >
        <v-icon left>edit</v-icon>
        แก้ไข
      </v-btn>
      <v-btn color="error" outlined @click="onRemove(item)"><v-icon left>delete</v-icon> ลบ </v-btn>
    </template>
  </v-data-table>
</template>

<script>
import { mapGetters, mapActions } from "vuex";

export default {
  data: () => ({
    search: "",
    headers: [
      {
        text: "เลขที่สัญญา",
        sortable: false,
        value: "contractCode",
      },
      {
        text: "ชื่อเรียกสัญญา",
        sortable: false,
        value: "name",
      },
      {
        text: "บริษัท / สาขา / แผนก",
        align: "left",
        sortable: false,
        value: "branchAgency",
      },
      {
        text: "วันที่เริ่มต้น",
        align: "center",
        sortable: false,
        value: "startDate",
      },
      {
        text: "วันที่สิ้นสุด",
        align: "center",
        sortable: false,
        value: "endDate",
      },
      { text: "ดำเนินการ", align: "center", value: "actions", sortable: false },
    ],
  }),
  async mounted() {
    this.setButton({
      type: "back",
      target: { name: "setup" },
    });

    this.get();
  },
  computed: {
    ...mapGetters("contract", ["contracts"]),
    isAllowDriver() {
      return (
        this.$auth?.user?.permission?.isAdmin ||
        ["contract_create"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        )
      );
    },
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("contract", ["get", "remove"]),
    async onRemove(contract) {
      if (confirm(`คุณต้องการที่จะลบสัญญา ${contract.contractCode} ใช่ไหม`)) {
        try {
          this.remove(contract.contractId);
          this.$toast.global.success({
            message: "ทำการลบข้อมูลสัญญา สำเร็จเรียบร้อย",
          });

          this.get();
        } catch (e) {}
      }
    },
  },
};
</script>
