<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-card class="pt-5">
      <v-card-text>
        <v-row justify="center">
          <v-col cols="12" md="8">
            <v-text-field
              label="ชื่อแผนก"
              outlined
              dense
              v-model="form.name"
              :rules="nameAgencyRules"
              required
            />
          </v-col>
          <v-col cols="12" md="8">
            <v-autocomplete
              v-model="form.branchId"
              :items="branches"
              :rules="nameResponsibleAgencyRules"
              item-text="name"
              item-value="branchId"
              label="สาขา"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="8">
            <v-autocomplete
              v-model="form.responsibleUserId"
              :items="users"
              :rules="nameResponsibleAgencyRules"
              item-text="name"
              item-value="userId"
              label="ชื่อผู้รับผิดชอบ"
              outlined
              dense
              required
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  data: () => ({
    valid: true,
    nameAgencyRules: [(v) => !!v || "กรุณากรอกชื่อแผนก"],
    nameResponsibleAgencyRules: [(v) => !!v || "กรุณากรอกชื่อผู้รับชอบ"],
    branchAgencyRules: [(v) => !!v || "กรุณาเลือกรูปแบบการจองรถ"],
    form: {
      name: null,
      branchId: null,
      responsibleUserId: null,
    },
    companyId: null,
    users: [],
  }),
  computed: {
    ...mapGetters('branch', ['branches']),
  },
  mounted() {
    this.companyId = localStorage.companyId ?? localStorage.companyId;
    this.branchId = localStorage.branchId ?? localStorage.branchId;

    this.getBranches({companyId: this.companyId});
    this.getUser();



    if (this.data) {
      this.form.name = this.data.name
      this.form.branchId = this.data.branchId
      this.form.responsibleUserId = this.data.responsibleUserId
    }

    if (localStorage.branchId) {
      this.form.branchId = localStorage.branchId;
    }
  },
  methods: {
    ...mapActions('branch', { getBranches: 'get' }),
    async getUser() {
      const apiUrl = "/users";
      const res = await this.$axios.get(apiUrl);
      this.users = res.data;
    },
    reset() {
      this.$refs.form.reset();
    },
    onSubmit() {
      const valid = this.$refs.form.validate()
      if (valid) {
        this.$emit('onSubmit', this.form)
      }
    },
  }
};
</script>
