<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="onSubmit"
  >
    <v-card class="py-5">
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.companyId"
              :rules="companyIdRules"
              :items="companies"
              item-text="name"
              item-value="companyId"
              label="ระบุบริษัท"
              outlined
              dense
              required
              @change="onChangeCompany"
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.branchId"
              :items="(form.companyId)? branches.filter(item => item.companyId == form.companyId): branches"
              item-text="name"
              item-value="branchId"
              label="ระบุสาขา"
              outlined
              dense
              @change="onChangeBranch"
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.agencyId"
              :items="(form.companyId && form.branchId) ? agencies.filter(item => item.branchId == form.branchId): agencies"
              item-text="name"
              item-value="agencyId"
              label="ระบุแผนก"
              outlined
              dense
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.contractId"
              :rules="contractIdRules"
              :items="contractsFiltered"
              item-value="contractId"
              label="สัญญา"
              outlined
              dense
              required
            >
              <template #selection="{ item }">
                {{ item.contractCode }} - {{ item.name }}
              </template>
              <template #item="{ item }">
                {{ item.contractCode }} - {{ item.name }}
              </template>
            </v-autocomplete>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              :items="carTypes"
              item-text="name"
              item-value="typeId"
              label="ประเภท"
              outlined
              dense
              v-model="form.typeId"
              :rules="typeIdRules"
              required
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.brandId"
              :rules="brandIdRules"
              :items="brands"
              item-text="name"
              item-value="brandId"
              label="ยี่ห้อ"
              outlined
              dense
              required
              @change="() => getModels(form.brandId)"
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.modelId"
              :rules="modelIdRules"
              :items="models"
              :disabled="!form.brandId || !models.length"
              item-text="name"
              item-value="modelId"
              label="รุ่น"
              outlined
              dense
              require
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              :items="colors"
              item-text="name"
              item-value="colorId"
              label="สี"
              outlined
              dense
              v-model="form.colorId"
              :rules="colorIdRules"
              required
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="form.cars"
          :item-class="({ isDeleted }) => (isDeleted ? 'grey' : '')"
          :hide-default-footer="true"
          disable-pagination
          dense
        >
          <template v-slot.no:item="{ item }" />
          <template #item.plateNumber="{ item }">
            <v-text-field
              v-model="item.plateNumber"
              :rules="plateNumberRules"
              outlined
              dense
              required
              class="mt-7"
            />
          </template>
          <template #item.plateProvince="{ item }">
            <v-text-field
              v-model="item.plateProvince"
              :rules="plateProvinceRules"
              outlined
              dense
              required
              class="mt-7"
            />
          </template>
          <template #item.actions="{ item, index }">
            <v-btn
              v-if="!item.isDeleted"
              color="error"
              outlined
              @click="onDelete(index)"
            >
              <v-icon>delete</v-icon>
              <strong>ลบ</strong>
            </v-btn>
            <v-btn
              v-else
              color="success"
              @click="onRestore(index)"
            >นำกลับ</v-btn>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn
          class=""
          color="success"
          rounded
          outlined
          @click="addCar"
        >
          <v-icon left>add</v-icon>
          <strong>เพิ่มรถ</strong>
        </v-btn>
      </v-card-text>
    </v-card>
    <v-card class="mt-4">
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5 shadow"
          type="submit"
          color="warning"
          large
          rounded
          outlined
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";

const FORM = {
  typeId: null,
  colorId: null,
  brandId: null,
  modelId: null,
  contractId: null,
  companyId: null,
  branchId: null,
  agencyId: null,
  cars: [],
};

export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false,
    },
  },
  data() {
    return {
      valid: true,
      typeIdRules: [(v) => v !== null || "กรุณาระบุประเภททรัพย์สิน"],
      plateNumberRules: [(v) => v !== null || "กรุณากรอกหมายเลขทะเบียน"],
      plateProvinceRules: [(v) => v !== null || "กรุณากรอกจังหวัด"],
      colorIdRules: [(v) => v !== null || "กรุณาระบุสี"],
      brandIdRules: [(v) => v !== null || "กรุณาระบุยี่ห้อ"],
      modelIdRules: [(v) => v !== null || "กรุณาระบุรุ่น"],
      contractIdRules: [(v) => v !== null || "กรุณาระบุสัญญา"],
      companyIdRules: [(v) => v !== null || "กรุณาระบุบริษัท"],
      branchIdRules: [(v) => v !== null || "กรุณาระบุสาขา"],
      agencyIdRules: [(v) => v !== null || "กรุณาระบุแผนก"],
      statusRules: [(v) => v !== null || "กรุณาระบุสถานะ"],
      form: {
        typeId: null,
        regisNumber: null,
        colorId: null,
        brandId: null,
        modelId: null,
        contractId: null,
        companyId: null,
        branchId: null,
        agencyId: null,
        status: null,
        userId: null,
      },
      headers: [
        {
          text: "ลำดับ",
          value: "no",
          sortable: false,
        },
        {
          text: "ทะเบียน",
          value: "plateNumber",
          sortable: false,
        },
        {
          text: "จังหวัด",
          value: "plateProvince",
          sortable: false,
        },
        {
          text: "ดำเนินการ",
          align: "center",
          value: "actions",
          sortable: false,
        },
      ],
      // branches: [],
      // companies: [],
      // agencies: false,
    };
  },
  computed: {
    ...mapGetters('company', ['companies']),
    ...mapGetters('branch', ['branches']),
    ...mapGetters("car", ["carTypes"]),
    ...mapGetters("brand", ["brands", "models"]),
    ...mapGetters("color", ["colors"]),
    ...mapGetters("contract", ["contracts"]),
    ...mapGetters("agency", ["agencies"]),
    contractsFiltered() {
      const form = this.form;
      if (form.companyId) {
        return this.contracts.filter(
          (item) => item.companyId == form.companyId
        );
      }

      return this.contracts;
    },
  },
  mounted() {
    this.form = {
      ...Object.assign(FORM, this.data || {}),
    };

    this.form.cars = [...(this.data?.cars || [])]
    this.$forceUpdate()
    this.getCompanies();
    this.getBranches()
    this.getType()
    this.getBrands()
    this.getColors()
    this.getAgency()
    this.getContracts()
    if (this.form.brandId) {
      this.getModels(this.form.brandId);
    }

  },
  watch: {
    contracts() {
      // this.contracts.forEach((item) => {
      //   this.companies.push(item.company);
      //   if (item.branch) {
      //     this.branches.push(item.branch);
      //   }
      //   if (item.agency) {
      //     this.agencies.push(item.agency);
      //   }
      // });
    },
  },
  methods: {
    ...mapActions("company", { getCompanies: "get" }),
    ...mapActions("branch", { getBranches: "get" }),
    ...mapActions("car", ["getType"]),
    ...mapActions("brand", { getBrands: "get", getModels: "getModels" }),
    ...mapActions("color", { getColors: "get" }),
    ...mapActions("contract", { getContracts: "get" }),
    ...mapActions("agency", { getAgency: "get" }),


    onChangeCompany() {
      this.form.branchId = null;
      this.form.agencyId = null;
    },
    onChangeBranch() {
      this.form.agencyId = null;
    },
    addCar() {
      this.form.cars.push({
        plateNumber: null,
        plateProvince: null,
      });
    },
    onDelete(index) {
      const car = this.form.cars[index];

      if (!car) {
        return false;
      }

      if (car.carId) {
        car.isDeleted = true;
      } else {
        this.form.cars.splice(index, 1);
      }

      this.$forceUpdate();
    },
    onRestore(index) {
      const car = this.form.cars[index];

      if (!car) {
        return false;
      }

      if (car.carId) {
        car.isDeleted = false;
      }

      this.$forceUpdate();
    },
    onSubmit() {
      const valid = this.$refs.form.validate();
      if (valid) {
        this.$emit("onSubmit", this.form);
      }
    },
  },
};
</script>
