<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-row justify="center" class="my-4">
      <v-col cols="12" md="10">
        <v-card  class="pt-4">
          <v-card-text>
            <v-row>
              <v-col cols="12" md="12" class="">
                <v-text-field
                  v-model="form.name"
                  :rules="nameRules"
                  label="ชื่อสาขา"
                  outlined
                  dense
                  required
                />
              </v-col>
              <v-col cols="12" md="12" class="">
                <v-select
                  v-model="form.responsibleUserId"
                  :items="users"
                  :rules="nameResponsibleBranchRules"
                  item-text="name"
                  item-value="userId"
                  label="ชื่อผู้รับผิดชอบ"
                  outlined
                  dense
                  required
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text v-if="user" class="border-bottom">
            <v-row>
              <v-col cols="12" md="12"  class="">
                <v-text-field
                  v-model="user.tel"
                  type="number"
                  label="เบอร์โทร"
                  outlined
                  dense
                  readonly
                />
              </v-col>
              <v-col cols="12" md="12"  class="">
                <v-text-field
                  v-model="user.email"
                  type="email"
                  label="อีเมล"
                  outlined
                  dense
                  readonly
                />
              </v-col>
            </v-row>
          </v-card-text>
          <v-card-text class="text-center">
            <v-btn
              :disabled="!valid"
              class="orange lighten-5 "
              type="submit"
              color="warning"
              outlined
            >
            <v-icon left>save</v-icon> <strong>บันทึกข้อมูล</strong>
            </v-btn>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  data: () => ({
    valid: true,
    nameRules: [(v) => !!v || "กรุณากรอกชื่อสาขา"],
    nameResponsibleBranchRules: [(v) => !!v || "กรุณากรอกชื่อผู้รับผิดชอบ"],
    form: {
      name: null,
      branchId: null,
      companyId: null,
      responsibleUserId: null,
    },
    users: []
  }),
  computed: {
    user() {
      return this.users.find(({ userId }) => userId === this.form.responsibleUserId);
    },
  },
  async mounted() {
    await this.getUser();
    if (this.data) {
      this.form.name = this.data.name
      this.form.responsibleUserId = this.data.responsibleUserId
    }
    if (localStorage.companyId) {
      this.form.companyId = localStorage.companyId ?? this.$auth.user.companyId;
    }else{
      this.form.companyId = this.$auth.user.companyId;
    }
    // console.log('Company ID: ' + this.form.companyId);
    // console.log('User Company ID: ' + this.$auth.user.companyId);
  },
  methods: {
    async getUser() {
      const apiUrl = "/users";
      const res = await this.$axios.get(apiUrl);
      this.users = res.data;
    },
    onSubmit() {
      const valid = this.$refs.form.validate()
      if (valid) {
        this.$emit('onSubmit', this.form)
      }
      localStorage.companyId = null;
    },
  },
};
</script>
