<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-text-field
      v-model="forms.name"
      :rules="name"
      label="ชื่อบริษัท"
      height="50"
      outlined
      dense
      required
    />

    <v-text-field
      v-model="forms.address"
      :rules="address"
      label="ที่อยู่"
      height="50"
      class="h-text"
      outlined
      dense
      required
    />

    <v-row>
      <v-col style="padding-right: 0px; text-align: right">
        <v-autocomplete
          v-model="forms.province"
          :items="allProvinces"
          :rules="provinceRule"
          item-text="name"
          item-value="userId"
          label="จังหวัด"
          height="50"
          required
          outlined
          dense
          @change="changeProvince()"
        />
      </v-col>
      <v-col>
        <v-autocomplete
          v-model="forms.amphoe"
          :items="allAmphoes"
          :rules="amphoeRule"
          item-text="name"
          item-value="userId"
          label="อำเภอ"
          height="50"
          outlined
          dense
          required
          @change="changeAmphoe()"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col style="padding-top: 0px; padding-right: 0px">
        <v-autocomplete
          v-model="forms.district"
          :items="allDistricts"
          :rules="districtRule"
          item-text="name"
          item-value="userId"
          label="ตำบล"
          height="50"
          outlined
          dense
          required
          @change="changeDistrict()"
        />
      </v-col>

      <v-col style="padding-top: 0px">
        <v-autocomplete
          v-model="forms.zipcode"
          :items="allZipCode"
          :rules="zipcodeRule"
          item-text="name"
          item-value="userId"
          label="รหัสไปรษณีย์"
          height="50"
          outlined
          dense
          required
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-autocomplete
          v-model="forms.responsibleUserId"
          :items="users"
          :rules="nameResponsibleRules"
          item-text="name"
          item-value="userId"
          label="ชื่อผู้รับผิดชอบ"
          height="50"
          outlined
          dense
          required
          @change="changeUserId()"
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col style="padding-right: 0px">
        <v-text-field
          v-model="forms.responsible_user.tel"
          label="เบอร์โทร"
          height="50"
          type="number"
          outlined
          dense
          disabled
          required
        />
      </v-col>
      <v-col>
        <v-text-field
          v-model="forms.responsible_user.email"
          label="อีเมล"
          height="50"
          type="email"
          outlined
          disabled
          dense
          required
        />
      </v-col>
    </v-row>
    <v-row>
      <v-col class="left">
        <p class="text-left"><strong>ต้องจัดรถยนต์</strong></p>
        <v-switch
          v-model="isArrange"
          :label="`${isArrange ? 'จัดรถยนต์' : 'ไม่ต้องจัดรถยนต์'}`"
          inset
        ></v-switch>
        <p ></p>
      </v-col>
    </v-row>
    <v-row class="d-flex justify-end">
      <v-col cols="12" sm="12" md="5" lg="5" class="mx-auto  text-center justify-center">
        <v-btn
          color="warning"
          :disabled="!valid"
          @click="validate"
          height="50"
          type="submit"
          class="orange lighten-5"
          outlined
          block
        >
          <v-icon left>save</v-icon>  บันทึก
        </v-btn>
      </v-col>
      <!-- </v-col> -->
    </v-row>
    <!-- </v-card> -->
  </v-form>
</template>
<script>
import { mapGetters, mapActions } from "vuex";
export default {
  middleware: "user-authenticated",

  data: () => ({
    valid: true,
    name: [(v) => !!v || "กรุณากรอกชื่อบริษัท"],
    address: [(v) => !!v || "กรุณากรอกที่อยู่บริษัท"],
    districtRule: [(v) => !!v || "กรุณากรอกตำบล"],
    amphoeRule: [(v) => !!v || "กรุณากรอกอำเภอ"],
    provinceRule: [(v) => !!v || "กรุณากรอกจังหวัด"],
    zipcodeRule: [(v) => !!v || "กรุณากรอกรหัสไปรษณีย์"],
    username: [(v) => !!v || "กรุณากรอกชื่อผู้รับผิดชอบ"],
    tel: [(v) => !!v || "กรุณากรอกเบอร์โทรศัพท์"],
    email: [(v) => !!v || "กรุณากรอกอีเมล"],
    nameResponsibleRules: [(v) => !!v || "กรุณากรอกชื่อผู้รับชอบ"],
    isArrange : true,
    isArrangeMessage : null,
    forms: {
      companyId: null,
      name: null,
      brands: null,
      zipcode: null,
      address: null,
      district: null,
      amphoe: null,
      province: null,
      responsibleUserId: false,
      responsible_user: {
        userId: null,
        name: null,
        tel: null,
        email: null,
      },
    },
    users: [],
    allProvinces: [],
    allAmphoes: [],
    allDistricts: [],
    allDistrict: [],
    allZipCode: [],

  }),
  async mounted() {
    this.setTitle("บริษัท");
    this.getUser();
    // const res = await this.$axios.get(
    //   `/companies/${this.$auth.user.companyId}`
    // );
    // this.forms = res.data;
    // if (this.forms.responsible_user === null) {
    //   this.forms.responsible_user.tel = "";
    //   this.forms.responsible_user.email = "";
    // }
    this.getAllProvinces();
    this.getAllAmphoes();
    this.getAllDistricts();
    this.getAllZipcode();
    this.setButton({
      type: "back",
      target: { name: "admin-company" },
    });
  },
  computed: {
    isAllowBussiness() {
      return ["company_create"].some((action) =>
        this.$store.getters['permissions'].includes(action)
      );
    },
  },
  methods: {
    ...mapActions([
      "dateFormat",
      "logout",
      "numberWithCommas",
      "setTitle",
      "setButton",
    ]),
    async validate() {
      this.$refs.form.validate();
    },
    async getUser() {
      const apiUrl = "/users";
      const res = await this.$axios.get(apiUrl);
      this.users = res.data;
    },
    async getAllProvinces() {
      // Province
      const apiUrlgetProvinces = "/districts/provinces";
      const resProvince = await this.$axios.get(apiUrlgetProvinces);
      for (let i = 0; i < resProvince.data.length; i++) {
        this.allProvinces.push(resProvince.data[i].province);
      }
    },
    async getAllAmphoes() {
      // Amphoe
      if (this.forms.province !== "") {
        const apiUrlgetAmphoes = `/districts/amphoes?province=${this.forms.province}`;
        const resAmphoe = await this.$axios.get(apiUrlgetAmphoes);
        for (let i = 0; i < resAmphoe.data.length; i++) {
          this.allAmphoes.push(resAmphoe.data[i].amphoe);
        }
      }
    },
    async getAllDistricts() {
      // district
      if (this.forms.amphoe !== "") {
        const apiUrlgetDistricts = `/districts?province=${this.forms.province}&amphoe=${this.forms.amphoe}`;
        const resDistricts = await this.$axios.get(apiUrlgetDistricts);
        for (let i = 0; i < resDistricts.data.length; i++) {
          this.allDistricts.push(resDistricts.data[i].district);
        }
      }
    },
    async getAllZipcode() {
      // Zipcode
      if (this.forms.district !== "") {
        const apiUrlgetZipcode = `/zipcode?province=${this.forms.province}&amphoe=${this.forms.amphoe}&district=${this.forms.district}`;
        const resZipcode = await this.$axios.get(apiUrlgetZipcode);
        for (let i = 0; i < resZipcode.data.length; i++) {
          this.allZipCode.push(resZipcode.data[i].zipcode);
        }
      }
    },
    changeProvince() {
      this.allAmphoes = [];
      this.allDistricts = [];
      this.allZipCode = [];
      this.forms.amphoe = null;
      this.forms.district = null;
      this.forms.zipcode = null;
      this.getAllAmphoes();
    },
    changeAmphoe() {
      this.allDistricts = [];
      this.allZipCode = [];
      this.forms.district = null;
      this.forms.zipcode = null;
      this.getAllDistricts();
    },
    changeDistrict() {
      this.allZipCode = [];
      this.forms.zipcode = null;
      this.getAllZipcode();
    },
    changeUserId() {
      const filterUser = this.users.filter(
        (item) => item.userId === this.forms.responsibleUserId
      );


      this.forms.responsibleUserId = filterUser[0].userId;
      this.forms.responsible_user.name = filterUser[0].name;
      this.forms.responsible_user.tel = filterUser[0].tel
      this.forms.responsible_user.email = filterUser[0].email;
    },
    async reset() {
      this.$refs.form.reset();
    },
    async onSubmit() {
      const body = {
        companyId: this.forms.companyId,
        name: this.forms.name,
        isActived: 1,
        sort: 1,
        responsibleUserId: this.forms.responsibleUserId,
        address: this.forms.address,
        province: this.forms.province,
        amphoe: this.forms.amphoe,
        district: this.forms.district,
        zipcode: this.forms.zipcode,
        isArrange : this.isArrange
      };
      const $u = this;
      await this.$axios
        .post(`/companies`, body)
        .then(function (res) {
          $u.$toast.global.success({
            message: "บันทึกข้อมูลการตั้งค่าบริษัทสำเร็จเรียบร้อย",
          });
          $u.$router.push({name:"admin-company"});
        })
        .catch(function (error) {
          console.log("An error has occurred." + error);
        });
    },
    goBack() {
      this.$router.push({ name: "admin-company" });
    },
  },
};
</script>

<style scope>
.pad {
  padding: inherit !important;
}

@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>

<style scoped>
@media only screen and (min-device-width: 200px) and (max-device-width: 325px) and (orientation: portrait) {
  .width-text {
    width: 180px;
  }
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 326px) and (max-device-width: 350px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 351px) and (max-device-width: 370px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 371px) and (max-device-width: 400px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 401px) and (max-device-width: 420px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 421px) and (max-device-width: 450px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 451px) and (max-device-width: 480px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 525px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
  .container {
    padding: 0px !important;
  }
}
@media only screen and (min-device-width: 526px) and (max-device-width: 550px) and (orientation: portrait) {
  .row {
    text-align: center !important;
  }
}
@media only screen and (max-device-width: 2000px) {
  .row {
    text-align: right;
  }
}
</style>
