<template>
  <v-form
    ref="form"
    v-model="valid"
    lazy-validation
    @submit.prevent="onSubmit"
  >
    <v-card class="py-5">
      <v-card-text>
        <v-row>
          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="form.contractCode"
              :rules="contractCodeRules"
              label="เลขที่สัญญา"
              outlined
              dense
              required
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-text-field
              v-model="form.name"
              :rules="nameRules"
              label="ชื่อเรียกสัญญา"
              outlined
              dense
              required
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
            class="date-picker"
          >
            <!-- <div class="border-picker">
            <VueCtkDateTimePicker
                v-model="form.startDate"
                :onlyDate="true"
                :range="false"
                :noLabel="true"
                :autoClose="false"
                :noShortcuts="true"
                :color="colors.MAIN_CI"
                :overlay="true"
                label="วันที่เริ่มสัญญา"
                format="YYYY-MM-DD"
                formatted="DD/MM/YYYY"
                :noClearButton="true"
                @is-hidden="dateStart()"
              />
              <div class="icon-picker">
                <v-icon color="#e79918">{{ icons.mdiCalendarMonth }}</v-icon>
              </div>
            </div> -->
            <!-- <span class="errorDate" ref="startDate" /> -->
            <DatePickerDialog
              v-model="form.startDate"
              label="* วันที่เริ่มสัญญา"
              format="DD/MM/YYYY"
              ref="startDate"
              required
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
            class="date-picker"
          >
            <DatePickerDialog
              v-model="form.endDate"
              :min="
                form.startDate
                  ? $dayjs(form.startDate).endOf('day').toISOString()
                  : null
              "
              label="* วันที่สิ้นสุดสัญญา"
              format="DD/MM/YYYY"
              ref="endDate"
              required
            />
            <!-- <div class="border-picker">
              <VueCtkDateTimePicker
                v-model="form.endDate"
                :onlyDate="true"
                :range="false"
                :noLabel="true"
                :autoClose="false"
                :noShortcuts="true"
                :color="colors.MAIN_CI"
                :overlay="true"
                :noClearButton="true"
                label="วันที่สิ้นสุดสัญญา"
                format="YYYY-MM-DD"
                formatted="DD/MM/YYYY"
                @is-hidden="dateEnd()"
              />
              <div class="icon-picker">
                <v-icon color="#e79918">
                  {{ icons.mdiCalendarMonth }}
                </v-icon>
              </div>
            </div>
            <span
              class="errorDate"
              ref="endDate"
            /> -->
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.companyId"
              :rules="companyIdRules"
              :items="companies"
              item-text="name"
              item-value="companyId"
              label="ระบุบริษัท"
              outlined
              dense
              required
              @change="onChangeCompany"
              @input="selectBranchesData(form.companyId)"
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.branchId"
              :items="branches"
              :disabled="!form.companyId"
              :loading="branches.length == 0 ? true : false"
              item-text="name"
              item-value="branchId"
              label="ระบุสาขา"
              outlined
              dense
              @change="onChangeBranch"
              @input="selectAgencyData(form.branchId)"
            />
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <v-autocomplete
              v-model="form.agencyId"
              :items="agencies"
              :disabled="!form.branchId "
              item-text="name"
              item-value="agencyId"
              label="ระบุแผนก"
              outlined
              dense
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text>
        <p>หมายเหตุ</p>
        <ul>
          <li>หาก สัญญา ผูกกับบริษัท ให้เลือกแค่บริษัท</li>
          <li>หาก สัญญา ผูกกับแผนก ให้เลือกแค่บริษัท และแผนก</li>
          <li>หาก สัญญา ผูกกับสาขา ให้เลือกแค่บริษัท, แผนก และสาขา</li>
        </ul>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";
import { mdiCalendarMonth } from "@mdi/js";

const FORM = {
  contractCode: null,
  name: null,
  startDate: null,
  endDate: null,
  companyId: null,
  branchId: null,
  agencyId: null,
};

export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false,
    },
  },
  data: () => ({
    icons: {
      mdiCalendarMonth,
    },
    valid: true,
    contractCodeRules: [(v) => v !== null || "กรุณากรอกเลขที่สัญญา"],
    nameRules: [(v) => v !== null || "กรุณากรอกชื่อเรียกสัญญา"],
    companyIdRules: [(v) => v !== null || "กรุณาระบุบริษัท"],
    form: {},
    colors: globals.COLORS,
  }),
  computed: {
    ...mapGetters("company", ["companies"]),
    ...mapGetters("branch", ["branches"]),
    ...mapGetters("agency", ["agencies"]),
    // branchesData() {
    //   return this.branches.filter(
    //     ({ companyId }) =>
    //       parseInt(companyId, 10) === parseInt(this.form.companyId, 10)
    //   );
    // },
    // agencies() {
    //   let agencies = this.branches
    //     .filter(
    //       ({ branchId }) =>
    //         parseInt(branchId, 10) === parseInt(this.form.branchId, 10)
    //     )
    //     .reduce((arr, item) => {
    //       arr = arr.concat(item.agencies);
    //       return arr;
    //     }, []);
    //   return agencies;
    // },
  },
  mounted() {
    this.form = FORM;
    if (this.data) {
      this.form = JSON.parse(JSON.stringify(this.data));
      this.$refs.startDate.date = this.form.startDate;
      this.$refs.endDate.date = this.form.endDate;
    }
    this.getCompanies();
    if(this.form.companyId) {
      this.getBranches({ companyId: this.form.companyId });
      if(this.form.branchId) {
        this.getAgency({ branchId: this.form.branchId });
      }
    }
  },
  methods: {
    ...mapActions("company", { getCompanies: "get" }),
    ...mapActions("branch", {
      // getBranches: "get" ,
      getBranches :"admin_get"
    }),
    ...mapActions("agency", {
      getAgency :"getById"
    }),
    onChangeCompany() {
      this.form.branchId = null;
      this.form.agencyId = null;
    },
    onChangeBranch() {
      this.form.agencyId = null;
    },
    async dateStart() {
      // สร้างฟังก์ชัน validation วันที่เริ่มสัญญา
      if (!this.form.startDate) {
        this.$refs.startDate.innerText = "ระบุวันที่เริ่มสัญญา";
        this.$refs.startDate.style.display = "block";
      } else {
        this.$refs.startDate.style.display = "none";
      }
    },
    async dateEnd() {
      // สร้างฟังก์ชัน validation วันที่สิ้นสุดสัญญา
      if (!this.form.endDate) {
        this.$refs.endDate.innerText = "ระบุวันที่สิ้นสุดสัญญา";
        this.$refs.endDate.style.display = "block";
      } else {
        this.$refs.endDate.style.display = "none";
      }
    },
    onSubmit() {
      const valid = this.$refs.form.validate();
      if (valid) {
        this.$emit("onSubmit", this.form);
      }
    },
    selectBranchesData(companyId) {
      this.getBranches({ companyId: companyId })
    },
    selectAgencyData(branchId) {
      this.getAgency({ branchId: branchId })
    }
  },
};
</script>


<style scope>
.errorDate {
  font-size: 12px;
  line-height: 12px;
  padding-left: 15px;
  margin-top: 10px;
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
  color: #ff5252 !important;
  caret-color: #ff5252 !important;
}
</style>
