<template>
  <div>
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation
      @submit.prevent="onSubmit"
    >
      <v-card outlined>
        <v-card-title> Data Company </v-card-title>
        <v-card-text class="mt-2">
          <v-row>
            <v-radio-group
              row
              class="ml-3"
              v-model="form.statusConAndAsset"
              @change="clearStatus"
            >
              <v-radio label="Contract" value="0"></v-radio>
              <v-radio label="Asset" value="1"></v-radio>
            </v-radio-group>
          </v-row>
          <v-row>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Branch"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.branchId"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Department"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.departmentId"
              ></v-select2>
            </v-col>
            <v-col
              cols="12"
              md="4"
              class="form-row"
              v-if="form.statusConAndAsset == '0'"
            >
              <v-select2
                taggable
                placeholder="Contract"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.contractId"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row" v-else>
              <v-text-field
                v-model="form.assetId"
                clearable
                hide-details
                label="Asset"
                outlined
                dense
              ></v-text-field>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-card outlined class="mt-2">
        <v-card-title> Data Car </v-card-title>
        <v-card-text class="mt-2">
          <v-row>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="PlateNumber"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.plateNumber"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Province"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.provinceId"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Type"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.typeId"
              ></v-select2>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Brand"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.brandId"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Model"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.modelId"
              ></v-select2>
            </v-col>
            <v-col cols="12" md="4" class="form-row">
              <v-select2
                taggable
                placeholder="Color"
                :options="[
                  'California',
                  'Colorado',
                  'Florida',
                  'Georgia',
                  'Texas',
                  'Wyoming'
                ]"
                v-model="form.colorId"
              ></v-select2>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>

      <v-row class="mt-1">
        <v-col class="text-center">
          <v-btn
            v-if="!statusEdit"
            color="success"
            width="130px"
            outlined
            rounded
            @click="addCar"
          >
            <v-icon left>add</v-icon>
            <strong>Add Car</strong>
          </v-btn>
          <v-btn
            v-else
            color="warning"
            width="130px"
            outlined
            rounded
            @click="updateCar()"
          >
            <v-icon left>edit</v-icon>
            <strong>Update Car</strong>
          </v-btn>
          <v-btn
            color="grey"
            width="130px"
            class="ml-2"
            outlined
            rounded
            @click="clearCar()"
          >
            <v-icon>mdi-close</v-icon>
            <strong>Clear</strong>
          </v-btn>
        </v-col>
      </v-row>
      <br />
      <hr />
      <br />
      <v-card outlined>
        <v-card-text>
          <v-data-table
            height="200"
            item-key="id"
            :header-props="{ 'disable-sort': true }"
            hide-default-footer
            :headers="headers"
            :items="cars"
            fixed-header
            :loading="loading"
            disable-pagination
          >
            <template #item.id="{ index }">
              {{ index + 1 }}
            </template>
            <template #item.special="{ item }">
              <v-col @click="addDataSpecial(item)">
                <v-icon v-if="item.special.length > 0" color="red" click=""
                  >mdi-check</v-icon
                >
                <v-icon v-else color="red" click="">mdi-close</v-icon>
              </v-col>
            </template>
            <template #item.action="{ item }">
              <v-col class="text-center">
                <v-btn color="light-blue" icon outlined @click="editCar(item)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <v-btn
                  class="ml-2"
                  color="red"
                  icon
                  outlined
                  @click="deleteCar(item.id)"
                >
                  <v-icon>delete</v-icon>
                </v-btn>
              </v-col>
            </template>
          </v-data-table>
        </v-card-text>
      </v-card>
      <v-card outlined class="mt-4">
        <v-card-text class="text-center">
          <v-btn
            :disabled="!valid"
            class="orange lighten-5 shadow"
            type="submit"
            color="warning"
            large
            rounded
            outlined
          >
            <v-icon left>save</v-icon>
            บันทึกข้อมูล
          </v-btn>
        </v-card-text>
      </v-card>
    </v-form>
    <modal
      v-if="statusOpenModal"
      :loading="loading"
      :form="formSpecial"
      @closeModal="closeModal"
      @submitModal="submitModal"
    />
  </div>
</template>
<style>
.form-row {
  padding-top: 0;
  padding-bottom: 12px;
  height: 52px;
}
fieldset {
  height: 40px;
}
</style>
<script>
import { mapActions, mapGetters } from "vuex";
import "vue-select/dist/vue-select.css";
import vSelect2 from "vue-select";
import paginate from "~/components/pagination/footer";
import modal from "~/components/Form/Modal/SpecialSettingCarModal";

const FORM = {
  id: "",
  plateNumber: "",
  provinceId: "",
  typeId: "",
  brandId: "",
  modelId: "",
  colorId: "",
  branchId: "",
  departmentId: "",
  contractId: "",
  assetId: "",
  statusConAndAsset: "0",
  special: []
};

export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  components: {
    vSelect2,
    paginate,
    modal
  },
  data() {
    return {
      valid: true,
      itemsPerPage: 10,
      page: 1,
      cars: [],
      loading: false,
      statusEdit: false,
      statusOpenModal: false,
      formSpecial: [],
      headers: [
        {
          text: "No.",
          sortable: false,
          align: "center",
          value: "id"
        },
        {
          text: "Vehicle REG.",
          sortable: false,
          align: "center",
          value: "plateNumber",
          width: "10%"
        },
        {
          text: "Type",
          sortable: false,
          align: "center",
          value: "typeId"
        },
        // {
        //   text: "Model",
        //   sortable: false,
        //   align: "center",
        //   value: "modelId"
        // },
        // {
        //   text: "Color",
        //   sortable: false,
        //   align: "center",
        //   value: "colorId"
        // },
        {
          text: "Branch",
          sortable: false,
          align: "center",
          value: "branchId",
          width: "15%"
        },
        {
          text: "Department",
          sortable: false,
          align: "center",
          value: "departmentId",
          width: "15%"
        },
        {
          text: "Contract",
          sortable: false,
          align: "center",
          value: "contractId",
          width: "13%"
        },
        {
          text: "Asset",
          sortable: false,
          align: "center",
          value: "assetId",
          width: "13%"
        },
        {
          text: "Special Setting",
          sortable: false,
          align: "center",
          value: "special",
          width: "10%"
        },
        {
          text: "Action",
          align: "center",
          sortable: false,
          value: "action",
          width: "15%"
        }
      ],
      // typeIdRules: [v => v !== null || "กรุณาระบุประเภททรัพย์สิน"],
      // plateNumberRules: [v => v !== null || "กรุณากรอกหมายเลขทะเบียน"],
      // plateProvinceRules: [v => v !== null || "กรุณากรอกจังหวัด"],
      // colorIdRules: [v => v !== null || "กรุณาระบุสี"],
      // brandIdRules: [v => v !== null || "กรุณาระบุยี่ห้อ"],
      // modelIdRules: [v => v !== null || "กรุณาระบุรุ่น"],
      // contractIdRules: [v => v !== null || "กรุณาระบุสัญญา"],
      // companyIdRules: [v => v !== null || "กรุณาระบุบริษัท"],
      // branchIdRules: [v => v !== null || "กรุณาระบุสาขา"],
      // agencyIdRules: [v => v !== null || "กรุณาระบุแผนก"],
      // statusRules: [v => v !== null || "กรุณาระบุสถานะ"],
      form: {
        id: "",
        plateNumber: "",
        provinceId: "",
        typeId: "",
        brandId: "",
        modelId: "",
        colorId: "",
        branchId: "",
        departmentId: "",
        contractId: "",
        assetId: "",
        action: "1",
        statusConAndAsset: "0",
        special: []
      }
      // headers: [
      // {
      //   text: "ลำดับ",
      //   value: "no",
      //   sortable: false
      // },
      // {
      //   text: "ทะเบียน",
      //   value: "plateNumber",
      //   sortable: false
      // },
      //   {
      //     text: "จังหวัด",
      //     value: "plateProvince",
      //     sortable: false
      //   },
      //   {
      //     text: "ดำเนินการ",
      //     align: "center",
      //     value: "actions",
      //     sortable: false
      //   }
      // ]
      // branches: [],
      // companies: [],
      // agencies: false,
    };
  },
  computed: {
    // ...mapGetters("company", ["companies"]),
    // ...mapGetters("branch", ["branches"]),
    // ...mapGetters("car", ["carTypes"]),
    // ...mapGetters("brand", ["brands", "models"]),
    // ...mapGetters("color", ["colors"]),
    // ...mapGetters("contract", ["contracts"]),
    // ...mapGetters("agency", ["agencies"]),
    // contractsFiltered() {
    //   const form = this.form;
    //   if (form.companyId) {
    //     return this.contracts.filter(item => item.companyId == form.companyId);
    //   }
    //   return this.contracts;
    // }
  },
  mounted() {
    // this.form = {
    //   ...Object.assign(FORM, this.data || {})
    // };
    // this.form.cars = [...(this.data?.cars || [])];
    // this.$forceUpdate();
    // this.getCompanies();
    // this.getBranches();
    // this.getType();
    // this.getBrands();
    // this.getColors();
    // this.getAgency();
    // this.getContracts();
    // if (this.form.brandId) {
    //   this.getModels(this.form.brandId);
    // }
  },
  watch: {
    contracts() {
      // this.contracts.forEach((item) => {
      //   this.companies.push(item.company);
      //   if (item.branch) {
      //     this.branches.push(item.branch);
      //   }
      //   if (item.agency) {
      //     this.agencies.push(item.agency);
      //   }
      // });
    }
  },
  methods: {
    clearStatus() {
      this.contractId = "";
      this.assetId = "";
    },
    addCar() {
      this.form.id = this.cars.length > 0 ? this.cars.length + 1 : 1;
      this.cars.push({ ...this.form });
      this.form.plateNumber = "";
    },
    editCar(data) {
      this.form = { ...data };
      this.statusEdit = true;
    },
    deleteCar(id) {
      this.cars.splice(
        this.cars.findIndex(item => item.id == id),
        1
      );
      this.statusEdit = false;
    },
    clearCar() {
      this.form = {
        id: "",
        plateNumber: "",
        provinceId: "",
        typeId: "",
        brandId: "",
        modelId: "",
        colorId: "",
        branchId: "",
        departmentId: "",
        contractId: "",
        assetId: "",
        statusConAndAsset: "0",
        special: []
      };
      this.statusEdit = false;
    },
    updateCar() {
      this.cars.splice(
        this.cars.findIndex(item => item.id == this.form.id),
        1,
        { ...this.form }
      );
      this.statusEdit = false;
    },
    addDataSpecial(data) {
      this.statusEdit = false;
      this.formSpecial = {...data};
      this.statusOpenModal = true;
    },
    submitModal(data) {
      this.cars.splice(
        this.cars.findIndex(item => item.id == data.id),
        1,
        { ...data }
      );
    },
    closeModal() {
      this.statusOpenModal = false;
    }
    // ...mapActions("company", { getCompanies: "get" }),
    // ...mapActions("branch", { getBranches: "get" }),
    // ...mapActions("car", ["getType"]),
    // ...mapActions("brand", { getBrands: "get", getModels: "getModels" }),
    // ...mapActions("color", { getColors: "get" }),
    // ...mapActions("contract", { getContracts: "get" }),
    // ...mapActions("agency", { getAgency: "get" }),
    // onChangeCompany() {
    //   this.form.branchId = null;
    //   this.form.agencyId = null;
    // },
    // onChangeBranch() {
    //   this.form.agencyId = null;
    // },
    // addCar() {
    //   this.form.cars.push({
    //     plateNumber: null,
    //     plateProvince: null
    //   });
    // },
    // onDelete(index) {
    //   const car = this.form.cars[index];
    //   if (!car) {
    //     return false;
    //   }
    //   if (car.carId) {
    //     car.isDeleted = true;
    //   } else {
    //     this.form.cars.splice(index, 1);
    //   }
    //   this.$forceUpdate();
    // },
    // onRestore(index) {
    //   const car = this.form.cars[index];
    //   if (!car) {
    //     return false;
    //   }
    //   if (car.carId) {
    //     car.isDeleted = false;
    //   }
    //   this.$forceUpdate();
    // },
    // onSubmit() {
    //   const valid = this.$refs.form.validate();
    //   if (valid) {
    //     this.$emit("onSubmit", this.form);
    //   }
    // }
  }
};
</script>
