<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-card>
      <v-card-text>
        <v-row>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.firstName"
              :rules="firstName"
              label="ชื่อ"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.lastName"
              :rules="lastName"
              label="นามสกุล"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.tel"
              :rules="tel"
              label="เบอร์โทร"
              type="number"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.branchId"
              :items="branches"
              label="สาขา"
              placeholder="เลือกสาขา"
              item-text="name"
              item-value="branchId"
              outlined
              dense
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.agencyId"
              :items="agencies"
              :disabled="agencies.length === 0"
              label="แผนก"
              placeholder="เลือกแผนก"
              item-text="name"
              item-value="agencyId"
              outlined
              dense
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-img
              v-if="form.photoUrl"
              :src="`${hostApi}/images/drivers/photo/${form.driverId}/${form.photoUrl}`"
              :lazy-src="`${hostApi}/images/drivers/photo/${form.driverId}/${form.photoUrl}`"
              max-height="250"
              max-width="250"
            />
            <v-file-input
              v-model="file"
              prepend-icon="mdi-cloud-upload"
              label="อัปโหลดรูปภาพ"
              accept="image/*"
              color="#e79918"
              outlined
              dense
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn
          :disabled="!valid"
          class="white--text"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon>save</v-icon>  บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import * as globals from "@/assets/globals";

const FORM = {
  prefix: null,
  firstName: null,
  lastName: null,
  tel: null,
  branchId: null,
  agencyId: null,
  image: null,
};

export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false,
    },
  },
  data: () => ({
    hostApi: globals.HOST_API,
    valid: true,
    driverId: null,
    firstName: [(v) => !!v || "กรุณากรอกชื่อ"],
    lastName: [(v) => !!v || "กรุณากรอกนามสกุล"],
    tel: [(v) => !!v || "กรุณากรอกเบอร์โทรศัพท์"],
    branchDriverRules: [(v) => v !== null || "กรุณาระบุสาขา"],
    agencyDriverRules: [(v) => v !== null || "กรุณาระบุแผนก"],
    fileDriverRules: [(v) => !!v || "กรุณาเลือกไฟล์อัพโหลด"],
    typesBranch: [],
    typesAgency: [],
    form: {},
    file: null
  }),
  computed: {
    ...mapGetters("branch", ["branches"]),
    agencies() {
      return (
        this.branches.find(
          ({ branchId }) =>
            parseInt(branchId, 10) === parseInt(this.form.branchId, 10)
        )?.agencies || []
      );
    },
    user() {
      return this.$auth.user;
    },
  },
  async mounted() {
    this.getBranches();
    this.form = {
      ...Object.assign(FORM, this.data || {}),
    };
  },
  methods: {
    ...mapActions("branch", { getBranches: "get" }),
    async validate() {
      this.$refs.form.validate();
    },
    async reset() {
      this.$refs.form.reset();
    },

    async onSubmit() {
      const valid = this.$refs.form.validate()
      if (valid) {
        this.$emit('onSubmit', { form: this.form, file: this.file })
      }
    },
  },
};
</script>

<style scope>
.between {
  display: flex;
  justify-content: space-between;
}
.pad {
  padding: inherit !important;
}
@media only screen and (max-width: 415px) {
  .box {
    box-shadow: none !important;
  }
  .pad {
    padding: inherit !important;
  }
  .inline {
    display: block !important;
  }
}
</style>
<style>
.hidden-sm-and-down .v-icon {
  color: #e79918 !important;
}
</style>

<style scoped>
.sty-btn {
  text-align: right;
}
.v-btn > .v-btn__content .v-icon {
  padding-right: 10px;
}
@media only screen and (min-device-width: 200px) and (max-device-width: 300px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .v-btn {
    width: 180px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 280px) and (max-device-width: 300px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 200px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 301px) and (max-device-width: 325px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 215px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 326px) and (max-device-width: 345px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 235px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 345px) and (max-device-width: 370px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 250px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 371px) and (max-device-width: 390px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 270px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 391px) and (max-device-width: 415px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 290px !important;
    height: 40px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 416px) and (max-device-width: 435px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 308px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 436px) and (max-device-width: 455px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 325px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 456px) and (max-device-width: 470px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 340px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 471px) and (max-device-width: 490px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 355px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 491px) and (max-device-width: 510px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-btn {
    width: 373px !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (min-device-width: 511px) and (max-device-width: 570px) and (orientation: portrait) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
@media only screen and (max-device-width: 1263px) {
  .row,
  .sty-btn {
    text-align: center !important;
  }
  .col-6 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .sty-col {
    height: 74px !important;
  }
}
</style>
