<template>
  <v-form ref="form" lazy-validation @submit.prevent="onSubmit">
    <v-card>
      <v-card-text>
        <v-select
          v-model="form.companyId"
          :items="companies"
          item-text="name"
          item-value="companyId"
          label="บริษัท"
          outlined
          dense
          hide-details="true"
        >

        </v-select>
      </v-card-text>
      <v-card-text class="border-bottom">
        <v-text-field
          v-model="form.name"
          :rules="nameRules"
          label="ชื่อ"
          outlined
          dense
          required
        />
      </v-card-text>
      <v-card-text>
        <v-simple-table class="table" v-model="resources">
          <template v-slot:default>
            <thead>
              <tr>
                <th class="text-left">เมนู</th>
                <th>
                  <v-checkbox
                    v-model="statusView"
                    label="ดูข้อมูล"
                    @change="toggleResourceActions('view', statusView)"
                  />
                </th>
                <th>
                  <v-checkbox
                    v-model="statusCreate"
                    label="สร้าง"
                    @change="toggleResourceActions('create', statusCreate)"
                  />
                </th>
                <th>
                  <v-checkbox
                    v-model="statusEdit"
                    label="แก้ไข"
                    @change="toggleResourceActions('edit', statusEdit)"
                  />
                </th>
                <th>
                  <v-checkbox
                    v-model="statusRemove"
                    label="ลบ"
                    @change="toggleResourceActions('remove', statusRemove)"
                  />
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in allowedResources" :key="index">
                <template v-if="item.name == 'ตั้งค่าทุกหน่วยงาน'">
                  <template v-if="isSuperAdmin">
                    <td>
                      <v-checkbox
                      v-model="checkList[index]"
                      :label="item.name"
                      :checked="isResourceChecked(item, checkList[index])"
                      @change="toggleResource(item, checkList[index])"
                    />
                    </td>
                    <td
                      v-for="key in ['view', 'create', 'edit', 'remove']"
                      :key="key"
                    >
                      <v-checkbox
                        v-if="item[key]"
                        v-model="form.actions"
                        :value="item[key]"
                      />
                    </td>
                  </template>
                  <template v-else>
                    <td>
                    </td>
                    <td
                      v-for="key in ['view', 'create', 'edit', 'remove']"
                      :key="key"
                    >

                    </td>
                  </template>
                </template>
                <template v-else>
                  <td>
                    <v-checkbox
                      v-model="checkList[index]"
                      :label="item.name"
                      :checked="isResourceChecked(item, checkList[index])"
                      @change="toggleResource(item, checkList[index])"
                    />
                  </td>
                  <td
                    v-for="key in ['view', 'create', 'edit', 'remove']"
                    :key="key"
                  >
                    <v-checkbox
                      v-if="item[key]"
                      v-model="form.actions"
                      :value="item[key]"
                    />
                  </td>
                </template>
              </tr>
            </tbody>
          </template>
        </v-simple-table>
      </v-card-text>
      <v-card-text class="text-center">
        <v-btn color="warning" class="orange lighten-5" outlined type="submit">
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { it } from "date-fns/locale";
import { mapActions, mapGetters } from "vuex";
export default {
  props: {
    data: {
      type: Object,
      default: () => null,
    },
  },
  data() {
    return {
      nameRules: [(v) => !!v || "กรุณากรอกชื่อ"],
      form: {
        name: null,
        companyId: false,
        isAdmin: false,
        actions: [],
      },
      checkList:[],
      resources: [],
      statusView: false,
      statusCreate: false,
      statusEdit: false,
      statusRemove: false,
    };
  },
  computed: {
    ...mapGetters('company', ['companies']),
    ...mapGetters("permission", ["permissions", "allowedResources"]),
    isSuperAdmin() {
      return this.$auth?.user?.permission?.isAdmin ||
        ["manages_all"].some((action) =>
          this.$store.getters["permissions"].includes(action)
        ) ;
    },
  },
  mounted() {
    this.resources = [...this.allowedResources];
    this.get();
    this.getCompany();
    this.setButton({
      type: "back",
      target: { name: "admin-permission" },
    });

    if (this.data) {
      this.form.name = this.data.name;
      this.form.isAdmin = this.data.isAdmin;
      this.form.actions = this.data?.actions?.map(({ code }) => code) || [];
    }
  },
  methods: {
    ...mapActions(["setButton"]),
    ...mapActions("permission", ["get"]),
    ...mapActions('company', {getCompany : 'get'}),
    isResourceChecked(resource, status) {
      const actions = [
        resource.view,
        resource.create,
        resource.edit,
        resource.remove,
      ].filter((r) => r);

      return actions.every((action) => this.form.actions.includes(action))
    },
    toggleResource(resource, status) {
      // console.log(resource);
      const actions = [
        resource.view,
        resource.create,
        resource.edit,
        resource.remove,
      ].filter((r) => r);


      if (!status) {
        // //false
        this.form.actions = this.form.actions.filter((action) => {
          return !actions.includes(action);
        });
      } else {
        //true
        this.form.actions.push(
          ...actions.filter((action) => !this.form.actions.includes(action))
        );
      }
    },
    toggleResourceActions(actionName, status) {
      const actions = this.resources.map((resource) => resource[actionName]);

      if (!status) {
        this.form.actions = this.form.actions.filter(
          (action) => !actions.includes(action)
        );
      } else {
        this.form.actions.push(
          ...actions.filter((action) => !this.form.actions.includes(action))
        );
      }
    },
    onSubmit() {
      const valid = this.$refs.form.validate();

      if (valid) {
        this.$emit("onSubmit", this.form);
      }
    },
  },
};
</script>
