<template>
  <v-form ref="form" v-model="valid" lazy-validation @submit.prevent="onSubmit">
    <v-card class="py-5">
      <v-card-text class="border-bottom">
        <v-row >
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.firstName"
              :rules="firstName"
              label="ชื่อ"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.lastName"
              :rules="lastName"
              label="นามสกุล"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.email"
              :rules="email"
              label="อีเมล"
              type="email"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.tel"
              :rules="tel"
              type="tel"
              label="เบอร์โทร"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.username"
              :rules="username"
              label="ชื่อผุ้ใช้งาน"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-text-field
              v-model="form.password"
              :rules="form.userId ? [] : password"
              type="password"
              label="รหัสผ่าน"
              placeholder="ตั้งรหัสผ่าน"
              outlined
              dense
              required
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.permissionId"
              :items="permissions"
              :rules="permissionId"
              :disabled="permissions.length === 0"
              label="สิทธิ์การใช้งาน"
              placeholder="เลือกสิทธิ์การใช้งาน"
              item-text="name"
              item-value="permissionId"
              outlined
              dense
            />
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="border-bottom mt-4 pb-10">
        <v-row>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.branchId"
              :items="branches"
              label="สาขา"
              placeholder="เลือกสาขา"
              item-text="name"
              item-value="branchId"
              outlined
              dense
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-autocomplete
              v-model="form.agencyId"
              :items="agencies"
              :disabled="agencies.length === 0"
              label="แผนก"
              placeholder="เลือกแผนก"
              item-text="name"
              item-value="agencyId"
              outlined
              dense
            />
          </v-col>
          <v-col cols="12" md="6">
            <v-img
              v-if="form.signatureUrl"
              :src="`${hostApi}/images/users/signature/${form.userId}/${form.signatureUrl}`"
              :lazy-src="`${hostApi}/images/users/signature/${form.userId}/${form.signatureUrl}`"
              max-height="128"
              max-width="128"
            />
            <template v-else>
              <v-btn
                color="#e79918"
                outlined
                block
                rounded
                @click="() => $refs.imagePicker.click()"
              >
                <v-icon>mdi-cloud-upload</v-icon>
                อัพโหลดลายเซ็นต์
              </v-btn>
              <input
                ref="imagePicker"
                :v-decorator="form.signature"
                type="file"
                accept="image/*"
                hidden
              />
            </template>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="text-center mt-4">
        <v-btn
          :disabled="!valid"
          class="orange lighten-5"
          type="submit"
          color="warning"
          outlined
        >
          <v-icon left>save</v-icon>
          บันทึกข้อมูล
        </v-btn>
      </v-card-text>
    </v-card>
  </v-form>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import * as globals from "@/assets/globals";

const FORM = {
  userId: null,
  firstName: null,
  lastName: null,
  username: null,
  password: null,
  email: null,
  tel: null,
  positionId: null,
  branchId: null,
  agencyId: null,
  companyId: null,
  permissionId: 1,
  signature: [],
}

export default {
  props: {
    data: {
      type: Object,
      default: () => null,
      required: false
    }
  },
  data: () => ({
    valid: true,
    hostApi: globals.HOST_API,
    firstName: [(v) => v !== null || "กรุณากรอกชื่อ"],
    lastName: [(v) => v !== null || "กรุณากรอกนามสกุล"],
    username: [(v) => v !== null || "กรุณากรอกชื่อผู้ใช้งาน"],
    password: [(v) => v !== null || "กรุณากรอกรหัสผ่าน"],
    email: [(v) => v !== null || "กรุณากรอกอีเมล"],
    tel: [(v) => v !== null || "กรุณากรอกเบอร์โทรศัพท์"],
    positionId: [(v) => v !== null || "กรุณากรอกตำแหน่ง"],
    permissionId: [(v) => v !== null || "กรุณาระบุสิทธิ์การใช้งาน"],
    fileUserRules: [(v) => v !== null || "กรุณาเลือกไฟล์อัพโหลด"],
    form: {},
    signatureUrl: null,
  }),
  computed: {
    ...mapGetters("branch", ["branches"]),
    ...mapGetters("permission", ["permissions"]),
    agencies() {
      return (
        this.branches.find(
          ({ branchId }) =>
            parseInt(branchId, 10) === parseInt(this.form.branchId, 10)
        )?.agencies || []
      );
    },
    user() {
      return this.$auth.user;
    },
  },
  mounted() {
    this.getBranches();
    this.getPermissions();
    this.form = {
      ...Object.assign(FORM, this.data || {})
    }
  },
  methods: {
    ...mapActions("branch", { getBranches: "get" }),
    ...mapActions("permission", { getPermissions: "get" }),
    onSubmit() {
      const valid = this.$refs.form.validate();
      if (valid) {
        this.$emit("onSubmit", this.form);
      }
    },
  },
};
</script>

